[2019-08-28 22:50] staceypark commented on #474
The issue is resolved but needs documentation and is referenced in #531 s02 document

[2019-08-28 22:50] #474 closed

[2019-08-28 22:56] staceypark commented on #478
@jamesmrollins thanks for updating label definitions & actions for your workgroup's labels like we decided at the last Support Workgroup Thurs meeting.

@TomRust @dlounsbu @branscombj @saveth @dlounsbu @lzim @jessfroe
Please review the above list of labels used as dependency checks and their corresponding definitions for the below criteria by COB Fri, so we can review & assign definitions during t

[2019-08-28 22:57] jessfroe commented on #552
@branscombj @TomRust @dlkibbe
The team has fallen a bit behind on video review.
Let's start with S07 - Jane, could you review S07 AGG and CC?
Tom, can you review S07 MM and PSY?
Debbie, can you review S07 SP? And, potentially turn to S06 SP as well? (to keep the assignment of videos equal)
Due date is 9/3/2019 ( next Tuesday)

FYI @lzim @staceypark

[2019-08-28 23:04] lzim commented on #390
@staceypark The major exception to the rule about only fixing the “typos” in the SEE guides is if there have been major changes to the actual data UI.

So, is it true that none of these new Data UI details are described incorrectly in the SEE guides? Including the .gifs and screenshots? I would find that surprising!

[2019-08-28 23:06] branscombj commented on #552
@jessfroe I'll work on it. I'm just looking for anything in the pop-ups that's wonky or incorrect, or anything in the screen shots that doesn't match the latest sim UI - right?

[2019-08-28 23:11] lzim commented on #557
@jessfroe that is what we do now, but we may need more after all.

[2019-08-28 23:19] lzim commented on #583
Here are my recommended edits:

“Include Screenshot If browser inspector code by: Right-clicking in any browser > select Inspect Element > select Console."

[2019-08-28 23:23] staceypark commented on #390
@lzim you're right and I should have been more clear.
Based on my review of the Session 2 & 3 SEE guides, the content in terms of text won't need any changes.

But the gifs & screenshots for the SEE and cheatsheets will need to be updated in general due to the many changes to the data UI including the tabs, buttons, SP transfer, etc. (Issue #469)

[2019-08-28 23:26] staceypark commented on #509
need updates to gifs based on data UI changes in #469 #390

[2019-08-28 23:27] staceypark commented on #531
Need updated screenshots based on data UI changes in #469 #390

[2019-08-28 23:27] staceypark commented on #556
Will need to check videos for data UI changes in #469 #390

[2019-08-28 23:28] staceypark commented on #555
Will need to check videos for data UI changes in #469 #390

[2019-08-28 23:29] staceypark commented on #510
Need to update gifs for data UI changes in #469 #390

[2019-08-29 02:50] lzim commented on #396
@TomRust @staceypark @branscombj @dlounsbu @dlkibbe @jessfroe

Yes, we should encourage the IND worlds in the Done/Do review. I believe we do for each session, correct?

Given that, I do think that it is a fine proposal to chat them in their individual world and see who responds...Tom and Jane, would you want to pilot it tomorrow for Friday and see how it works?

😸

[2019-08-29 02:57] lzim commented on #487
@holbrooa @TomRust @staceypark @jessfroe

So, this would go in the **session 2 cards** of the **document_tracker.**
One for the **detail_facilitate** column and one in the **dissemiante_scientists_va** column.
I'll link to this issue in each of those places.

[2019-08-29 03:02] lzim commented on #471
@jessfroe @dlkibbe @branscombj @staceypark

Jessilyn, let me know if you need any time on this checklist at our meeting tomorrow.
I believe that it is generally good, but may also want to integrate some elements of the other **document_tracker** columns, such as the links to relevant issues. Only this case, it should refer perhaps to the relevant SEE card in the **detail_learner** column.

Does th

[2019-08-29 03:03] lzim commented on #476
@saveth I believe we can close this, yes?

[2019-08-29 03:04] lzim commented on #430
@staceypark and @holbrooa Do we have this adequately documented in other issues?
Should this issue be closed?

[2019-08-29 03:06] lzim commented on #457
@staceypark @jamesmrollins I believe that this issue can be closed is that right?

[2019-08-29 03:16] lzim commented on #451
@staceypark @jamesmrollins @jessfroe

Do we leave this issue in done until the documentation is complete?  Will that be the workflow?
Very soon, of course, we want to produce the documentation while new features are in TEST, so that everything is released at once the 1) documentation for training, and 2) release to PROD.

Just want to make sure the workflow is clear. Let me know if this needs **Wo

[2019-08-29 03:20] lzim commented on #475
@staceypark @jessfroe

Stacey, I have asked Jessilyn to help us with more developed training materials for 1) HQ and 2) Team PSD before she shifts her time in the next few weeks.

Jessilyn, should we use this issue #475 to work on this?

[2019-08-29 03:23] lzim commented on #462
@holbrooa and @saveth

Do we need to discuss where this fits in our overall priority list? On Monday, I know we prioritized documentation very heavily. Let me know if we need meeting time to cover this.

Thanks!

[2019-08-29 03:30] lzim commented on #496
@branscombj @dlkibbe @jessfroe @staceypark

- I believe that we would like to make sure each checkmark is crossed off on the card by the point person for the column.

- Then, once the pull request is merged, the review will add a comment that closes the issue. The merged pull request will say " this closes issue #XXX" and it will close the card. 👍

[2019-08-29 03:35] lzim commented on #480
@staceypark @branscombj @dlkibbe @dlounsbu @TomRust @jessfroe

We should have an account set up for this soon. We need to figure out how the team cards would work and exactly what details we would add as the team's card moves across the columns of the **team_tracker**

[2019-08-29 03:38] lzim commented on #395
@staceypark Will you please test this tomorrow/Thursday and update James?

[2019-08-29 03:44] lzim commented on #571
@saveth @holbrooa @staceypark

I've added the CONSORT reporting requirements that came up on Tuesday to the OSF project. We can talk about this during the quant_workgroup meeting.

https://osf.io/z7y8m/wiki/consort/

[2019-08-29 03:48] lzim commented on #558
@jessfroe @dlkibbe @branscombj

Can we close Issue #471 and handle these card by card as our standardized checklist?

Thanks!

Lindsey

[2019-08-29 03:51] lzim commented on #564
@dlounsbu @staceypark @jessfroe

David, can you update me on this manuscript since last week? I'd like to divvy up tasks with you and Steve and get this one out the door.

Stacey and Jessilyn, didn't we finalize the checklist for each of these manuscripts?
Are we ready to populate the cards with it, or do we need to discuss it at HQ tomorrow?

Thanks!

Lindsey

[2019-08-29 04:00] lzim commented on #531
@staceypark @jessfroe

- Stacey, please add the issues to the **template** as I just updated it (above) to include 474, 469 and 390.
- We do NOT want it buried in the thread, we want it added to the top checklist for the **document_tracker** card.

Make sense?

[2019-08-29 04:05] lzim commented on #552
Thanks @branscombj

@jessfroe  I'd like to clarify this tomorrow during our meetings, but I believe we want each checkbox on the session card in the documentation to be checked off to know that it is closed. That way, everyone is following a standard checklist.

The SEE card for the corresponding session should have all the relevant Issue #s in the checklist that reference "bugs" or "features" tha

[2019-08-29 04:19] lzim commented on #390
@staceypark and @jessfroe

Reviewing issues like this one, we need to clarify at least 3 things at the **workgroup leads** meeting and in the **tracker/workflow SOP.**

1) How to use the **checklist** in the **document_tracker** to provide a standard review.
- For the #390 example, the .gifs should only be checked off when they are a) updated, or b) reviewed to ensure that they don't need updating

[2019-08-29 04:29] lzim commented on #352
So, @branscombj @staceypark @jessfroe @dlkibbe @TomRust @dlounsbu

It looks like #352 is the meta-issue on these tasks that we've now divvied up into the **document_tracker.**

I expect we may be able to close this issue, unless, there is anything on this list that has not be captured in our new workflow.

I still see that we need to clarify at least 3 things at the **workgroup leads** meeting and

[2019-08-29 05:51] jamesmrollins commented on #397
@lzim this will take 8-10 hours to complete the changes above.  Do we have permission to proceed?

[2019-08-29 05:58] lzim commented on #397
Yes @jamesmrollins!

[2019-08-29 06:02] jamesmrollins commented on #395
Hi @lzim. @staceypark and I already tested this using a Menlo Park computer.  Whatever was preventing Edge from working must have been resolved, as the Edge browser worked fine. This issue can be closed.

[2019-08-29 06:04] jamesmrollins commented on #457
Hi @lzim.  Yes, the SIM UI group's work is complete.

[2019-08-29 06:31] jamesmrollins commented on #397
@hirenp-waferwire you are cleared to begin development of the changes described above. thanks, James

[2019-08-29 10:41] lzim commented on #395
Thanks James, then I will close this Issue.

[2019-08-29 10:41] #395 closed

[2019-08-29 10:42] #457 closed

[2019-08-29 11:40] lzim commented on #298
@jamesmrollins Can this issue be closed?

I'm looking at all the issues under the 1.8 Sprint Milestone and hoping that they can be closed.
Thanks!
🏃‍♀

FYI: @staceypark

[2019-08-29 11:41] lzim commented on #306
@jamesmrollins Can this issue be closed?

I'm looking at all the issues under the 1.8 Sprint Milestone and hoping that they can be closed.
Thanks!
🏃‍♀

FYI: @staceypark

[2019-08-29 11:41] lzim commented on #309
@jamesmrollins Can this issue be closed?

I'm looking at all the issues under the 1.8 Sprint Milestone and hoping that they can be closed.
Thanks!
🏃‍♀

FYI: @staceypark

[2019-08-29 11:43] lzim commented on #314
@holbrooa Is this adjunct definition in Model Parameters?

If it has been incorporated in the Master Crosswalk, then @jamesmrollins can this issue be closed?

I'm looking at all the issues under the 1.8 Sprint Milestone and hoping that they can be closed.
Thanks!
🏃‍♀

FYI: @staceypark

[2019-08-29 11:44] lzim commented on #320
@jamesmrollins Can this issue be closed?

I'm looking at all the issues under the 1.8 Sprint Milestone and hoping that they can be closed.
Thanks!
🏃‍♀

FYI: @staceypark

[2019-08-29 11:47] lzim commented on #410
@jamesmrollins @staceypark @jessfroe

I'm cross-referencing the original issue for this, which wasn't placed on the **feature_tracker** **Participatory Learning, Design and Research #339 - https://github.com/lzim/teampsd/issues/339**

[2019-08-29 11:55] lzim commented on #294
@jessfroe (and FYI: @staceypark)

Will you please add the **MTL Video Post-Production milestone** https://github.com/lzim/teampsd/milestone/22 to each card in the **document_tracker?**

That way as @branscombj and @dlkibbe go through the **describe_learner** column for the **SEE guides** and the **depend_products** column for videos, we will know what % of the videos have been reviewed and how man

[2019-08-29 12:12] lzim commented on #557
@jessfroe and @staceypark

I should be clearer because this is under the **depend_products** column.
Yes, @jessfroe for the purposes of our videos, **pointing folks to the mtl.how session 1 learner folder for the cheatsheet is sufficient.**

- @staceypark This does not go in this card, **CHEATSHEETS** go in the **document_team** column of the **document_tracker** under the **s01** card #532 here:

[2019-08-29 12:16] lzim commented on #532
@staceypark Please move the updates about the Adobe Connect Cheatsheet here?
**_- Can this be completed by COB so that the TAS have it tomorrow?_**

1. Include a section specific to **MTL Facilitators** (as compared to learners) about force not sharing
2. Add browser specific instructions and screenshots for the steps of getting connected, and re-joining later, using Chrome, Explorer, Safari and F

[2019-08-29 14:01] #371 closed

[2019-08-29 14:03] holbrooa opened #594 "WAVE1_Teams Data UI: Propagation subroutine and folders on mtl.how"
**1. Add description:**
Need to add code and sharepoint infrastructure for propagating the data ui. The copy of the file that gets dropped into each facility's folder needs to have been run to get their clinics, but be blank in terms of patient data and model parameters.

<< Paste screenshots here>>

**2. Click on the right:**
a. **Projects** - assign to **issue_tracker.**
b. **Assignee** - assign

[2019-08-29 14:03] holbrooa commented on #430
Yeah, let's close this one. There is only one idea missing at this point, the propagation code, but I think that should be a separate issue: https://github.com/lzim/teampsd/issues/594

[2019-08-29 14:03] #430 closed

[2019-08-29 14:06] lzim commented on #430
Great, thanks @holbrooa

[2019-08-29 14:19] lzim commented on #580
**Morning Y'all 3 Things:**
@TomRust @dlkibbe @jessfroe @staceypark
**1. Working with Team 2 tomorrow, please do note for the TAS that we made this language change to "AND" based on TAS feedback, and this is now in PROD**

![and_sp](https://user-images.githubusercontent.com/7454688/63947795-757cdd80-ca2c-11e9-9e5e-2acdd5fa50bc.jpg)

@branscombj @dlkibbe @tomrust @staceypark and @jessfroe

**2. We

[2019-08-29 14:40] holbrooa commented on #587
@staceypark @jamesmrollins I haven't had the chance add code to the SP parameter query to do anything about the zero wait times. On the data end, here's what's happening:

I calculate almost everything in **days**, then convert to weeks for the models, then round to our chosen level of precision for each parameter.  Using that system means that **"same-day" visits** (actually pretty common in real

[2019-08-29 14:54] jessfroe commented on #471
@lzim yes, I'll close this issue and reference video review in the respective document_tracker cards.

FYI @branscombj @dlkibbe @TomRust

[2019-08-29 14:54] #471 closed

[2019-08-29 15:19] jamesmrollins commented on #320
@lzim yes, this can be closed.

[2019-08-29 15:30] lzim commented on #587
@jamesmrollins

We added the **Master Crosswalk** label

- @TomRust and @holbrooa implement the floor and details above in SP, we need it tracked.
- Add @TomRust to the **quant_workgroup** meeting on 9/5 to review any remaining "floor" issues.

[2019-08-29 15:45] dlkibbe commented on #552
yes, I can review S07 SP And S06 SP
@lzim @branscombj @jessfroe @staceypark

[2019-08-29 15:55] #487 closed

[2019-08-29 16:05] saveth opened #595 "Update tt report for Team Data Table (tt1) - 9/6"
**1. Add description:**
Check TeamData Tables in sim and update tt-report that are related to the following issues:

- [x] #445
- [x] #451
- [x] #457

<< Paste screenshots here>>

**2. Click on the right:**
a. **Projects** - assign to **issue_tracker.**
b. **Assignee** - assign relevant team members.
c. **Labels**- review and select all potential _MTL_ dependencies.
d. **Milestones** - select the

[2019-08-29 16:09] saveth commented on #451
Per our Support Workgroup meeting this morning, @jamesmrollins do you want to close this issue since it's now cross-referenced in the document tracker and I've created issue #595 to track my dependencies on this issue?

[2019-08-29 16:09] dlkibbe commented on #396
In addition to what has already been suggested, another option is to create a short email template that is automatically sent to each team lead just after session 5 that is short and supportive, i.e.
"You and your clinic team can review and play with your team's data in your own simulation world. Just log in to mtl.how/sim and choose [TEAM_ind]. Contact [MTL email] if you have any questions."

@To

[2019-08-29 16:19] saveth commented on #476
This is done and was reported in https://meet.lucidmeetings.com/meeting/224872

[2019-08-29 17:34] holbrooa commented on #462
Code is written for this, but I'm still squashing bugs.  I'm also doing my best to document more thoroughly as I go, so when the code is fully done and ready to be handed off, there will be documentation already available at the same time. That's slowing me down, obviously, so I'm not quite hitting the deadline of having this done today. I'm going to leave the due date as is, but just know that th

[2019-08-29 17:50] #388 closed

[2019-08-29 17:54] holbrooa opened #596 "(Due Date to be updated) prototype Data UI: Use PC diagnoses from Jodie for SP instead of using stop codes"
**1. Add description:**

Integrate Jodie's MH diagnoses instead of using stop codes to track patients transferring to/from PC for the SP model.

<< Paste screenshots here>>

**2. Click on the right:**
a. **Projects** - assign to **issue_tracker.**
b. **Assignee** - assign relevant team members.
c. **Labels**- review and select all potential _MTL_ dependencies.
d. **Milestones** - select the depend

[2019-08-29 18:05] holbrooa opened #597 "10/4 Splashpage: For the September update, propagate a list of sta6a codes with plain English division names"
**1. Add description:**

Need to be able to point people to some kind of sta6a lookup. Either in the data UI itself (unlikely because of the dependency on other documentation) or as a separate list in a folder on the splash pages.

<< Paste screenshots here>>

**2. Click on the right:**
a. **Projects** - assign to **issue_tracker.**
b. **Assignee** - assign relevant team members.
c. **Labels**- re

[2019-08-29 18:08] holbrooa commented on #596
The plan is to have just the prototype done for the quant meeting with Tom, so that we can look at some preliminary results and get Tom's perspective on any potential issues. Then, with both this PC change and the zeros nailed down (hopefully that's just documentation on the data UI end), the data UI can be wrapped back up and I'll push a new version with both changes.

[2019-08-29 18:10] saveth commented on #476
Tree analysis needs to be reworked for Omnibus EBP Reach with 16 VAMC total and slide deck needs to be updated with this new analysis per Lindsey's request:

Lindsey met with Shannon W.S. - She recommended that we DO oversample for Medical Centers, but not 8 clinics versus 40, perhaps 16 versus 32, if this would provide stable estimates, and enable comparisons of Medical Centers vs. CBOCs in the l

[2019-08-29 19:08] saveth commented on #595
@holbrooa @jamesmrollins I'm updating the tt report for Psy Team Data Table and I noticed a mismatch that I hope one of you could explain. I believe the sim is pulling the wrong value (it's pulling from the cell above):
![image](https://user-images.githubusercontent.com/12439059/63968838-5e9eb100-ca55-11e9-8794-f06bceed01d1.png) ![image](https://user-images.githubusercontent.com/12439059/63968897-

[2019-08-29 19:21] saveth commented on #595
@jamesmrollins the crosswalk shows that we're using the correct label across the different platforms. @TomRust, perhaps the Vensim model is pulling the incorrect cell for the Appointment Supply (75th percentile)? It should be C36 instead of C35?

[2019-08-29 20:27] staceypark opened #599 "Add SDS (5) & SIRC (2) talks to PCPDB based on SDS program; and add instructions in HQ osf on how to do this as - Due 8/29 COB"

[2019-08-29 22:47] jamesmrollins commented on #595
@TomRust @saveth @holbrooa  Yes, that is the problem.  I checked the current version of the model, Appointment Supply (75th Percentile) and it is currently mapped to C35.

[2019-08-29 23:05] staceypark opened #600 "meta_describe"
# Meta Describe Checklist

## 1. Link to the document, add relevant team members to the card, and add workflow decisions.
- [x] Add the link the current draft of the documentation for the issue
- [x] Add all related workflow decisions here:
1. SEE guide decisions:
- Numbering and main content on the SEE guides cannot change as these are already shown in the videos.
- Only edits that address errors

[2019-08-29 23:21] saveth commented on #595
Awesome! Thanks for checking @jamesmrollins! @TomRust can you update the Vensim for Psy to pull in Appointment Supply (75th Percentile) from the correct cell, D36? Thanks!

[2019-08-29 23:35] staceypark opened #601 "meta_detail"
# Meta Detail Checklist

## 1. Link to the document, add relevant team members to the card, and add workflow decisions.
- [ ] Add the link the current draft of the documentation for the issue
- [ ] Add all related workflow decisions here:
1.  SAY guide decisions:
- SAY guides are not meant to be read during the intersession prep or live co-facilitation session. They should be read as a "how to" gu

[2019-08-29 23:36] staceypark opened #602 "meta_document"
# Meta Document Checklist

## 1. Link to the document, add relevant team members to the card, and add workflow decisions.
- [ ] Add the link the current draft of the documentation for the issue
1. Need to create documentation on VA Skype use for non-VA TeamPSD facilitators #489
- [ ] Add all related workflow decisions here:
1.
2.
3.

## 2. Link to issues that must be edited in the document in the

[2019-08-29 23:38] staceypark opened #603 "meta_disseminate"
# Meta Disseminate Checklist

STORY 4: "QA/GH Standards in Team PSD Manual"  deliver sprints on time without stress.

## 1. Link to the document, add relevant team members to the card, and add workflow decisions.
- [ ] Add the link the current draft of the documentation for the issue
- [ ] Add all related workflow decisions here:
1.
2.
3.

## 2. Link to issues that must be edited in the document i

[2019-08-29 23:39] staceypark opened #604 "meta_depend"
# Meta Depend Checklist

## 1. Link to the document, add relevant team members to the card, and add workflow decisions.
- [ ] Add the link the current draft of the documentation for the issue
- [ ] Add all related workflow decisions here:
1.
2.
3.

## 2. Link to issues that must be edited in the document in the **issue_tracker** and **feature_tracker.** _(use the # for the link to the issue)_
- [

[2019-08-30 00:15] lzim commented on #580
@staceypark @jessfroe

This issue can be closed, when linked in each column of the **document_tracker.**

[2019-08-30 00:18] lzim commented on #587
@TomRust and @holbrooa

Based on our call this morning, does this go back to development -> and testing for the **model workgroup?**

- Based on decisions at this morning's workgroup leads meeting this can be closed as long as the documentatino is tracked i nthe **document_tracker**, but we need to meet on 9/5 to talk about implementing "floors" on the model side, which is why I think it goes back

[2019-08-30 00:25] lzim commented on #392
It looks like this is sitting in **done** because I need to determine the permissions for our non-VA facilitators.

@jessfroe We can close this when it is linked to the DART card in the **document_tracker**

@staceypark can answer any questions if you have them. ❓

Thanks!

[2019-08-30 00:47] lzim commented on #401
@jamesmrollins I was checking that this actually moved to PROD as I see it's been in the DONE column, and I'd like to close it. Can you confirm that this edit is in PROD 🙏 ?

@staceypark and I grabbed this data file and MM and I wasn't able to get the data to load. Then the Sim hung, so I couldn't check this.

Let's close this, if the Sim is reading the data file below, and has the diagram edit ab

[2019-08-30 02:10] lzim commented on #476
@saveth

I do not believe tree analyses are related to this recommendation. Rather, we need to evaluate the likely confidence intervals for main effects in tests of specific aims (Powered for 5% improvement in EBP reach) if we wanted to compare Medical Center and CBOCs and had a 16/32 split instead of 24/24.

[2019-08-30 02:21] lzim commented on #294
Thanks @jessfroe for your work on this today 🏆

Based on the week-by-week plan we crafted at the HQ meeting, which you will populate to the **depend_products** column, we expect we will release to EES fully reviewed videos in batches of 6 videos each Friday COB, until all have been throughly reviewed on 10/18.

Jessilyn, will you please put the due dates on the **depend_products** column, review i

[2019-08-30 05:52] jamesmrollins commented on #595
@TomRust @saveth I remapped the variable to cell c36 and uploaded an updated file to PROD.

[2019-08-30 06:13] jamesmrollins commented on #401
@lzim the addition of the polarity on the causal arrow has been added to PROD.  With regard to the error in running file 640a0_team2_2019_08_01.xlsx, I believe there is an issue handling zeroes.  The data has many zeros, and I believe it is destabilizing the model. @TomRust we should look at this more closely.  I ran the data file above and it threw a floating point error.

**Data Screen Capture:*

[2019-08-30 06:14] #456 closed

[2019-08-30 06:15] #411 closed

[2019-08-30 06:18] #451 closed

[2019-08-30 06:18] #420 closed

[2019-08-30 12:44] #320 closed

[2019-08-30 14:35] lzim opened #605 "09/20: R21 RedCap Pre, Mid Post Evaluation"
**1. **R21 RedCap Post-evaluation (Sept 2019) hq** goes with
- R21 Booster Wrap Meetings w/tt reports (Sept 2019) facilitate_workgroup

- Described in #hqhuddle 08/31/2019 regarding **new r21_project_nce milestone**

**2. Click on the right:**
a. **Projects** - assign to **issue_tracker.**
b. **Assignee** - assign relevant team members.
c. **Labels**- review and select all potential _MTL_ dependen

[2019-08-30 14:59] jessfroe opened #606 "IIR ART (Clinical Trials) registration"
ART documentation checklist

## 1. Link to the document and add relevant team members to the card.
- [x] Add the link the current draft of the documentation for the issue:

**To edit the registration:** http://art.puget-sound.med.va.gov/ChooseProject.cfm (internal to VA server).

**To view the posted registration on CT:** https://clinicaltrials.gov/ct2/show/NCT04208217?term=NCT04208217&rank=1

##

[2019-08-30 15:00] jessfroe opened #607 "R01 Clinical Trials registration"
CT documentation checklist

## 1. Link to the document and add relevant team members to the card.
- [x] Add the link the current draft of the documentation for the issue:

**To edit the registration:** https://register.clinicaltrials.gov/

**To view the posted registration on CT**:

## 2. Link to issues that must be edited in the document in the **issue_tracker** and **feature_tracker.** _(use the

[2019-08-30 15:01] jessfroe opened #608 "August IIR JIT"
JIT documentation checklist

## 1. Link to the document and add relevant team members to the card.
- [ ] ] Add the link the current draft of the documentation for the issue:

## 2. Link to issues that must be edited in the document in the **issue_tracker** and **feature_tracker.** _(use the # for the link to the issue)_
- [ ] Issue #451
- [ ] Issue #
- [ ] Issue #

## 3. Team Review
- [ ] Fidelity

[2019-08-30 15:02] jessfroe opened #609 "IRB"
IRB documentation checklist

## 1. Link to the document and add relevant team members to the card.
- [ ] Add the link the current draft of the documentation for the issue:

## 2. Link to issues that must be edited in the document in the **issue_tracker** and **feature_tracker.** _(use the # for the link to the issue)_
- [ ] Issue #451
- [ ] Issue #
- [ ] Issue #

## 3. Team Review
- [ ] Fidelity -

[2019-08-30 15:03] jessfroe opened #610 "Document R21 DART"
DART documentation checklist

## 1. Link to the document and add relevant team members to the card.
- [ ] Add the link the current draft of the documentation for the issue:
**Work for this being tracked on** lzim/mtl_code#7

## 2. Link to issues that must be edited in the document in the **issue_tracker** and **feature_tracker.** _(use the # for the link to the issue)_
- [ ] Issue #451
- [ ] Issue

[2019-08-30 15:08] lzim commented on #401
**_URGENT FOR 9:30AM TAS Training & Work around Labor Day Holiday - TEAMPSD_** @staceypark @jamesmrollins @holbrooa @tomrust @branscombj @dlkibbe @dlounsbu
@jessfroe @jamesmrollins

It looks like Team 2 is working with a **team Data for Sim UI** file (name in my screenshot above) that doesn’t have any MM data values.

1. Reminder to _MTL Facilitators_ that this is the new feature we decided on at

[2019-08-30 15:11] jessfroe commented on #605
@lzim just to be extra clear. I am adding the pre, mid, and post evaluations as surveys on REDCap. Are we continuing with use of VA REDCap for all REDCap projects?
And, are these evaluations the learner completes, or the facilitators? I'm not sure I know exactly what is being referenced.

[2019-08-30 15:12] dlkibbe commented on #401
With regard to @lzim comment "Will you both make sure that @branscombj @dlkibbe @TomRust @staceypark @holbrooa @saveth are TRAINED on the new meta cards that were decided on at yesterday's Support Workgroup Leads meeting?" Can a 20-minute training session on this be done on Tuesday or Wednesday next week? Enjoy your island time @lzim

[2019-08-30 15:17] jessfroe commented on #401
@dlkibbe that's a fantastic idea. From @lzim comment, I'm not sure if she wanted this done ASAP, as in today...Lindsey? Is it urgent, or did you mean you wanted us to find some time to orient those folks in the nearest possible future?

[2019-08-30 15:21] lzim commented on #401
@jessfroe - **URGENT** in this case, from my point of view, is **preventing re-work**
- We want to TRAIN, so that folks work with awareness of
1. **new features** and/or
2. **new processes** for managing these new features in their workflow.

Sounds like a great idea @dlkibbe - @staceypark and @jessfroe
- Can you work on the materials and scheduling for this, please? 👍

[2019-08-30 15:22] holbrooa commented on #401
"Was the feature also added to the latest working version of the Data UI that the drop-down selection that you make will be auto-populated in the filename?"

Yes. The file name comes out like "640_TeamName_All_2019_08_30"   ...assuming you're using the most recent version, from either the final datafiles folder on the shared drive or the master dataUI folder on sharepoint.

I think the documentati

[2019-08-30 15:24] jessfroe commented on #401
@lzim for sure, I knew it was urgent, just wasn't clear on if we were trying to fit it in today or early next week per @dlkibbe suggestion about Tuesday or Wednesday.
So, it sounds like we are trying to schedule this for Tuesday?
Just want to make sure I am crystal clear! 💯

[2019-08-30 15:40] lzim commented on #401
Thanks @jessfroe
Yes, the development and scheduling of a training of Team PSD members on the **meta_cards** and **weekly_schedule** for documentation, etc. can wait until next week.

**For TODAY:**
1. **Team PSD Facilitators** should be aware of this zeros issue, because when I came back from my New Mexico trip, they were VERY confused about this, thought the zeros were a bug and asked if it had

[2019-08-30 15:56] jessfroe commented on #401
@lzim
I appreciate the feedback and clarity! Thanks so much. I will try to find a time for us and nail down the content of the meeting so it is quick and efficient.

RE: the other information, that makes perfect sense.
@staceypark and I will work together to minimize or mitigate confusion that might occur. If the zeros issue pops up again today, I am confident we know how to accurately describe th

[2019-08-30 16:07] lzim commented on #605
Thanks @jessfroe Right, I believe we can move over to VA RedCap for everything, unless I'm missing some reason that we shouldn't??
- I think it's easier to migrate and do all our work in one place, and _these are NOT research data, they are formative evaluation/QI data._

**Learners complete these evaluation forms:**
- The pre and made evaluation forms were originally completed with paper-and-penc

[2019-08-30 16:09] jamesmrollins commented on #401
Hi @lzim , sorry for the late  response, I was getting my Dad to the airport.  With respect to error handling on the zeroes issue.  I thought we had decided to "Zero proof" the models, as this issue has been identified before.

I don't know, but educated guess, is that the SIM UI would have a problem throwing a specific error message, since the error is at the server level.  In other words, the ve

[2019-08-30 16:14] lzim commented on #401
Thanks @jamesmrollins

FYI: @staceypark @TomRust @jessfroe @holbrooa

I hope you had a great family visit this week!

- Right, need to fully diagnose the problem, but I can possibly link it to a facilitation issue that happened with Team 2, which is why I tried to outline that above for **facilitators.**

- I'm not sure what **"zero-proof"** means? I recall this too, but I'm wanting to link it wit

[2019-08-30 16:16] jessfroe commented on #401
@dlkibbe our Tuesday is pretty jam-packed next week, with our only available time at 2:00p PST, which is past normal work hours for you EST folks. Should we shoot for something Wednesday before the intersession prep? What do you think?
@branscombj @TomRust @holbrooa @saveth

[2019-08-30 16:22] jamesmrollins commented on #401
@lzim Vensim models at times are sensitive to zero values, because mathematically you can't divide by zero.  So often, @TomRust will use a "Zidz" function, which will return a zero instead of an error, when division by zero is indicated by the model relationship.

[2019-08-30 16:24] branscombj commented on #294
@lzim @jessfroe @Bowlied @AnnHier @dlkibbe It sounds like the plan is to have the videos finalized/quality-checked but not piloted in time for accreditation before launch. We could potentially let participants in the r01/iir teams choose to view them without credit or sign up as pilot testers and get credit - but this might affect the research, providing incentive for some individuals who might do

[2019-08-30 16:28] lzim commented on #294
Right @branscombj I'm going to work on this piece with EES after we get the
1. **document_tracker** schedule implemented across all the columns
2. **Updated schedule table posted here** by @jessfroe

[2019-08-30 16:30] lzim commented on #401
Yes, @jessfroe Get it on the books, and work on preparing the materials.
It will be hard for everyone to make it, regardless.

So, the best we can do is
1. **get it scheduled,**
2. **prepare well**
3. **circulate materials**
4. **record the training**.

[2019-08-30 17:52] jessfroe commented on #294
Here is the video review schedule:
FYI @branscombj @dlkibbe @lzim

|   Date   |  Videos   |
| - | - |
| 9/6 | S06, S05 (as many as possible)
| 9/13 | S07, rest of S05
| 9/20 | S08, S04
| 9/27 | S09, S03
| 10/4 | S10, S02
| 10/11 | S11, S01
| 10/18 | S12

**Just posting my email here for clarity**
HQ made some decisions yesterday regarding the MTL Video review schedule, and found a way to streamlin

[2019-08-30 18:52] dlkibbe commented on #401
@lzim I'm OK with 5 pm eastern on Tuesday but @branscombj @TomRust and @dlounsbu may not be available. Wednesday morning I'm in a meeting with GA Dept of Education right up until our MTL call.

[2019-08-30 19:00] branscombj commented on #401
I'm ok with 5pme Tuesday also @jessfroe @TomRust @dlkibbe @dlounsbu @lzim

[2019-08-30 20:33] jessfroe commented on #483
@lzim To loop you in to the conversation I had with Team 2 during co-facilitation practice today, the fidelity rating items are still quite unclear for folks.
I was hoping that, when we orient the team to the VA REDCap link for the fidelity ratings next week, we can further discuss the questions in the way you have done before in qual, clearly linking the questions to mechanism of change across th

[2019-08-30 20:37] lzim commented on #401
@jessfroe and @staceypark Why don't we block out both Tuesday at 2PM Pacific and Wednesday at 8AM, since this **training session** is so important.

- These are **meta** or cross-cutting workflow issues, and there is new Monday HQ workgroup leads meeting this week, so hopefully, we can also catch @dlounsbu @TomRust @holbrooa @saveth @jamesmrollins if we offer two options.

Thanks @branscombj and @

[2019-08-30 20:39] lzim commented on #483
Yes, @jessfroe we definitely can! Thanks for the heads up and tracking this.
- Perhaps you could let me know the nature of the questions?
- And, this is probably a **meta_detail** #601 part of the guide that @TomRust and I can produce.

[2019-08-30 20:41] lzim commented on #294
Thanks @jessfroe !!!

Let's also work with @staceypark to put together a complete table of the **document_tracker** schedule for the **training** meeting next week, since this is only covering the **depend_videos** and not the other columns.

👍

[2019-08-30 22:07] jamesmrollins commented on #588
@lzim @staceypark We have figured out a way to do away with the world-team mapping.  Since we now only have one team per group/world then we can use the "events" field for the team common name, reflected in the Sim UI header.

For the Facilitator drop down, critical for navigating through the individual group/world, we will build the drop down menu directly from the user assignment table.

This wi

[2019-08-30 22:32] #595 closed

[2019-08-30 22:42] staceypark opened #612 "9/4 PSY: Patients in Care >3mo's stock value changed"
1. @branscombj & Claire who are facilitating Team 2/PSY this week noticed that the Stock value for **Patients in Care >3 Months** in PSY went from 80 patients on Wednesday to 95 patients today. We did not change the data file at all either on the front or the back end on the sim.

![image](https://user-images.githubusercontent.com/31089501/64054568-6b4a0480-cb3c-11e9-9357-06380021f330.png)

We wil

[2019-08-30 22:47] jamesmrollins commented on #612
@staceypark which model parameters file? Was this upon start up or after a run?  If a run, was it base case or an experiment?  If an experiment, was it fresh or a reload from a previous experiment?  If fresh, what were the settings?  If previous, what is the experiment name?

[2019-08-30 23:03] staceypark commented on #476
@lzim @saveth I've added a 9/24 deadline as that is the next co-I meeting. Please update if incorrect.

[2019-08-30 23:09] staceypark commented on #489
closing this from feature_tracker and added to meta_document card #602  to track as a need for within TeamPSD documentation across all sessions.

[2019-08-30 23:09] #489 closed

[2019-08-30 23:18] staceypark commented on #410
thanks @jessfroe . I added it to all of our meta column cards except describe_learners as I don't think we need to change the SEE guides for this.

@lzim @jamesmrollins Can we close #339 since it is already referenced in this issue and use this #410 issue to discuss updates? Also, what should be the due date for this? Launch? 2 weeks before launch for testing?

[2019-08-30 23:20] staceypark commented on #322
@jamesmrollins What is the latest on this and @lzim what due date makes sense for this?

[2019-08-30 23:23] jamesmrollins commented on #322
@staceypark I wouldn't put a due date on this yet, as its feasibility is still up in the air.  I reached out HID last week via email and contacted the people I was working with in April.  They are totally blowing me off.  My next step is to engage with the National Help Desk to find a VA POC and see if I can find a foothold there.  Am also going to start making some phone calls to HID to follow up

[2019-08-30 23:24] jamesmrollins commented on #410
@jamesmrollins OK with me.

[2019-08-30 23:27] staceypark commented on #464
@saveth @lzim when are we hoping to have the site selection list frozen?
(that will inform the due date on this)

[2019-08-30 23:30] staceypark commented on #433
r21 pilot worlds have all been organized and experiments re-run and saved.
however, teams may not be able to pull up prior experiments & their data files will not run that the experiments were based on due to all of the model changes.

This needs to be revisited closer to launch when we will be frozen for national rollout.

[2019-08-30 23:33] staceypark commented on #475
@lzim @jessfroe I think we need to list (and eventually flesh out) all these items in the guide @jessfroe is working on. Or I can move it to the OSF project for hq training and then close this issue.

[2019-08-30 23:43] staceypark commented on #612
file name:  640a0_team2_2019_08_01.xlsx
no runs. they should have "saved" to keep the text but not "save & reset" since they haven't run basecase yet.

[2019-08-30 23:49] jamesmrollins commented on #612
@staceypark , @saveth discovered that Appointment Supply (75th Percentile) was incorrectly mapped last week to C35.  It was changed to C36 last night, resulting in a higher stock value for Patients in Care for more than 3 Months. The value in the sim is consistent with the value in the client version of Vensim.

[2019-08-31 00:05] staceypark commented on #612
@jamesmrollins thanks for getting to the bottom of this! In the future, please alert the facilitators when these types of changes are being made overnight, so that we know to expect potentially changing values.

 @branscombj , @TomRust , @dlounsbu , @lzim @jessfroe @dlkibbe
I added the update on this to the Wednesday facilitation meeting so we can let the TAS know.

[2019-08-31 00:05] #612 closed

[2019-08-31 00:05] lzim commented on #588
@jamesmrollins and @staceypark

I’m sorry, but I’m not sure I am track the experience for the
1. **learner**
- what Stacey and I last discussed, after selecting the world at log-in, seeing  “individual” for any individual world and “team name” for team world. Am, I right about how that world work?

and

2. **facilitator**
- sounds like part of a drop down selection in Epicenter, but no downloading

[2019-08-31 00:09] staceypark commented on #588
@lzim from my understanding, yes to both

since we control the "event name" we can make the learner see whatever we want.
In line with what you and I discussed I believe the decisions were to use:
1. "specific team name i.e. 640a0_mpd_team2" in the team world
2. "Individual World" for all of the individual worlds regardless of the team.

[2019-08-31 00:10] jamesmrollins commented on #588
@lzim and @staceypark

Regarding 1 - Yes, the learner would see two worlds possibly, the team/world and the individual group/world.  The login drop down is created by the code scanning the user listing in Epicenter for that group.
Regarding 2 - Correct, there will no further use for the world-team-mapping for neither the label nor the Facilitator Dashboard drop down.  The Facilitator Dashboard dro

[2019-08-31 00:16] staceypark commented on #423
@saveth @holbrooa can this be closed? it's been in functional testing for quite some time.
and if not, when do we expect this to be done?

[2019-08-31 00:16] staceypark commented on #421
@saveth @holbrooa can this be closed? it's been in functional testing for quite some time.
and if not, when do we expect this to be done?

[2019-08-31 00:18] staceypark commented on #425
@lzim @saveth @jessfroe should we review this again at the 9/3 manuscript meeting along with the mentee & gmb papers?

[2019-08-31 00:27] staceypark commented on #444
@jamesmrollins this is in done but the "i" information error (refer to @lzim & @TomRust's last two comments) is still incorrect in PROD:

![image](https://user-images.githubusercontent.com/31089501/64056856-53c64800-cb4b-11e9-96e4-c32e70908c20.png)

[2019-08-31 00:30] lzim commented on #322
Thanks for staying with this @jamesmrollins and for following up @staceypark

[2019-08-31 00:34] staceypark commented on #419
@holbrooa has already implemented the save clinic list function.
I linked it to all of the documentation columns that it may affect & as such will close the issue.

[2019-08-31 00:34] #419 closed

[2019-08-31 00:39] staceypark commented on #440
cross-ref linked on all related documentation issues (session 2 & 3 detail, describe, document, & depend)

[2019-08-31 00:39] #440 closed

[2019-08-31 00:41] lzim commented on #410
@staceypark there are dependencies for learner/facilitator documentation and likely other documentation dependencies that we should brainstorm about with this issue.

@lzim @jamesmrollins Can we close #339 since it is already referenced in this issue and use this #410 issue to discuss updates? Also, what should be the due date for this? Launch? 2 weeks before launch for testing?

@staceypark @jess

[2019-08-31 00:45] staceypark commented on #446
- added this to the meta_depend column since it will show up in all videos for session 5-12.
- gifs have already been updated so does not need to go in describe.
- adding to only s05 for detail since facilitators don't need to explain it every time & only adding to s05 for document where they first see the sim cheatsheet since the cheatsheet doesn't change per session.

[2019-08-31 00:45] #446 closed

[2019-08-31 00:46] lzim commented on #464
@staceypark and @saveth

ASAP: Literally as soon as we possibly can, like ideally BEFORE the next co-I meeting.

All our other work hinges on this being final (protocols manuscripts, trial registration, union notification, contacting the sites to get started, etc...) 🤓

This

[2019-08-31 00:47] staceypark commented on #583
@lzim sure sounds good! I think you have to edit the template.

[2019-08-31 00:49] lzim commented on #433
@staceypark, I don’t know what you mean?

We need tt1-3 of what we did in the R21 a year ago (as complete as we have it).

and

We need working data files and worlds now in case they start to use it again when we meet with them.

As the **r21_nce milestone** indicates we need to f/u with these teams in Sept (this month) as it will be their 12-month f/u.

[2019-08-31 00:50] staceypark commented on #478
@TomRust @dlounsbu @branscombj @saveth @dlounsbu @lzim @jessfroe
Please provide feedback or confirm above list & definitions before our 2pm Pacific / 5pm Eastern Workflow Update meeting. If there are no further comments after that, I will just roll with the above and update the labels to say so.

[2019-08-31 00:54] staceypark commented on #490
cross-ref linked to all meta column cards
we'll provide more orientation on meta column cards at the Tues 9/3 workgroup leads meeting.

[2019-08-31 00:54] #490 closed

[2019-08-31 00:55] lzim commented on #475
@staceypark I do like the checklist for tracking, but I’m wondering if it is really a **meta_document_team column** list.

Meaning the **MASTER** for Training and SOP are on **OSF.**

But, the need to “flesh” out the SOP and Trainign materials together are really the **document_team** column of the **document_tracker**

[2019-08-31 00:55] staceypark commented on #580
linked #490 in the document_tracker which details the same issue.

[2019-08-31 00:55] #580 closed

[2019-08-31 01:05] staceypark commented on #401
@lzim @dlounsbu @dlkibbe @branscombj @TomRust @jessfroe @jamesmrollins
I just checked the two files (640a0_team2_2019_08_01.xlsx and 640_a0_team4_2019_08_12.xlsx) and **_they are both fully parameterized files / have all params tabs filled._**

I believe that Team 2 has mostly 0's in their MM because they're a Psychotherapy team so they wouldn't be doing any MM, right? Their other tabs are better

[2019-08-31 01:05] lzim commented on #612
I added the update on this to the Wednesday facilitation meeting so we can let the TAS know.

@jamesmrollins thanks for tracking this down
@staceypark is SO right! 👌🏽

In **lean** terms, finding an incorrectly mapped variable, is a **stop the line, andon pull.**

- In our _MTL_ case, it means an alert has to go out ASAP, so that training doesn’t continue until folks are 1) notified of the issue, a

[2019-08-31 01:10] staceypark commented on #392
I just linked it to the DART card #610

[2019-08-31 01:10] #392 closed

[2019-08-31 01:14] staceypark commented on #415
checked PROD & looks fixed.

[2019-08-31 01:14] #415 closed

[2019-08-31 01:14] lzim commented on #588
Let’s hold off until next week @staceypark, until I am clearer than this:  “Yes, the learner would see two worlds possibly, the team group/world and the individual group/world.”

My hesitation on implementation is related to the training we provide in the **depend_products** videos, and my understanding of what @staceypark described about the dependency.

Glad there is an improvement option to add

[2019-08-31 01:15] staceypark commented on #429
@holbrooa where are we on this?

[2019-08-31 01:16] lzim commented on #588
Note: I would add the **documentation** label if I could, but I don’t seem to be able to from my phone 📱

[2019-08-31 01:17] jamesmrollins commented on #444
@staceypark the "i" information is now correct.

[2019-08-31 01:20] lzim commented on #612
@staceypark and @jessfroe

If this weren’t a holiday weekend, I would recommend an immediate update the next AM and NOT wait until Wed.

- We added all the TAS to GitHub, but they will need more **training** for them to catch GitHub this way.

FYI @tomrust @branscombj @dlounsbu @dlkibbe

- We may need to implement this in the **team_tracker** as an **andan_alert** for that week’s team meeting or s

[2019-08-31 01:23] lzim commented on #421
and if not, when do we expect this to be done?

@staceypark this has dependency with **meta_disseminate_scientists_va**

[2019-08-31 01:25] lzim commented on #425
No. Priority is the proportion of CBOC and Medical Center analyses for site selection and the two manuscript we need out the door!

[2019-08-31 01:26] jamesmrollins commented on #588
@lzim @staceypark Just to be clear in communication - this will simplify management of what appears in the drop down.  Currently, the Sim already presents the learner with all drop down group/worlds where they are listed as a End User.  So no change there.  What is changed, is the way we are putting the label up in the header of the Sim UI.  Instead of referring to the world-team-mapping, we are n

[2019-08-31 01:28] lzim commented on #583
@staceypark

Right! I meant to do that this week but, ran out of time.

Let’s keep this open until I finish it!

[2019-08-31 01:32] lzim commented on #478
@staceypark I am okay proceeding, you’ve waited long enough for people to weigh in.

We can refine if we find what you have now needs any  ore action steps or point people specified

[2019-08-31 01:33] jamesmrollins commented on #612
@lzim I notified @saveth @TomRust and @holbrooa about the root cause of the problem.  I only corrected it, and notified the same, when no one had acted on it at 11pm last night.

I agree an ANDON alert would be effective - Indeed, we need to create an ANDON list add that to the policy and communicate it to everyone.

[2019-08-31 01:35] lzim commented on #401
Good use of field knowledge about the team @staceypark!!

- Yes, sounds like you’re right about 1.
- 2 won’t work according to the post by @jamesmroims above
- 3 we’ll need @tom rust on this!

[2019-08-31 01:53] lzim commented on #588
Thanks @jamesmrollins

- Right, drop-down at log-in same for learner. My question is the convention for the Sim UI Nav Bar, now that it’s event name instead of team-world mapping.
- I proposed to @staceypark “Individual World” across the board for all learners in **Ind** world, and team name, as always for **Team** world.
- We emphasize the old way where individual world lists the learner’s name t

[2019-09-02 18:48] jessfroe commented on #475
@lzim @staceypark I think leaving this issue open to track the development of training materials is beneficial.
Including the training development in the document tracker would also help. We could include the checklist in the meta card?

[2019-09-03 14:20] staceypark opened #613 "Week of 9/3 #hqhuddle"
#hqhuddle

- [x] 1. Update GH dependency check label definitions #478
- [x] 2. welcome & orient Rita to the team
- [x] 3. orient team to changes in SOP including new meta column cards: #600 #601 #602 #603 #604
- [x] 4. PCSPDB due today #599
- [x] 5. Prep for MTL Facilitate this week
- [ ] Resolve Issue #401 of error with zeroes in Params file
- [x] #483 VA REDCap
- [x] #480 team tracker

[2019-09-03 14:47] swapmush commented on #78
I am having trouble with updated Mac OS Mojave and getting updated version of R 3.6.1 to work. This may be a problem unique to my computer, when I find fix, I will post in case others run into same issue.

[2019-09-03 14:54] lzim commented on #613
@staceypark @jessfroe

Do each of you have a specific list of training items for Rita today?

- Stacey, you’ll sit out on Qual today. Does it make sense for Rita to train on basics w/you during Qual?
- Or, should she join Qual and get her bearings with Jessilyn?

[2019-09-03 15:14] staceypark commented on #613
@lzim @jessfroe
I think makes more sense for her to sit out of qual with me and I can orient her to our platforms, mapping, etc

[2019-09-03 16:02] saveth commented on #476
@lzim We don't have a large enough sample size to accommodate the additional comparison between CBOC and VAMC (at an 80% power and an alpha of 0.05) between the two arms in each study. The minimum requirement would be 15-20 sites in each arm, and our current study design is only for 12 sites for each arm.

[2019-09-03 17:03] jessfroe opened #614 "Fidelity Coding Operational Definitions"
**Hi Qual Workgroup!**

Per our conversation during our 9/03 qual workgroup meeting, here are the **Fidelity Codes** we are utilizing.

Our responsibilities for the next week are to nail down the operational definitions of the following codes using Oetzel et al., (2013 & 2018) as guides, and subsequently utilize these codes with the master_r21_train RQDA project.

Let's hash these out in the comme

[2019-09-03 17:27] staceypark commented on #425
@lzim please provide feedback on this before the 9/5 quant meeting for review during meeting

[2019-09-03 17:32] staceypark commented on #401
@jamesmrollins @TomRust is there an update on the zeroes issue (point 3 above)?
Is this something we can fix before tomorrow or do we need to create a new data file that won't have zeroes for MM so we can practice systems stories at tomorrow's 9:30a Pacific / 12:30p Eastern co-facilitation meeting?

FYI: @lzim @branscombj @dlkibbe @dlounsbu

[2019-09-03 18:22] staceypark commented on #613
@ritahitching

[2019-09-03 18:36] holbrooa commented on #421
Yeah, let's close it. @lzim @saveth @staceypark

Same for https://github.com/lzim/teampsd/issues/423

[2019-09-03 18:36] #421 closed

[2019-09-03 18:36] holbrooa commented on #423
Yeah, let's close it. @lzim @saveth @staceypark

Same for https://github.com/lzim/teampsd/issues/421

[2019-09-03 18:36] #423 closed

[2019-09-03 18:44] saveth opened #615 "Due TBD: EBP Reach Dose calculation"
**1. Add description:**
Once Andrew is done with #462 and hands over the data, then the data needs to be validated, setup for analysis and EBP Reach Dose needs to be calculated.

<< Paste screenshots here>>

**2. Click on the right:**
a. **Projects** - assign to **issue_tracker.**
b. **Assignee** - assign relevant team members.
c. **Labels**- review and select all potential _MTL_ dependencies.
d.

[2019-09-03 18:50] staceypark opened #616 "9/30 Unable to upload new users to Epicenter"
**1. Add description:**
@jamesmrollins we are trying to create a sim login for @ritahitching (our new HQ member) on Epicenter. I tried to add her to 640a0_mpd_team4_ind and got the error "Username may only contain [a-z], [0-9], hyphen (-), or underscore (_)" (sorry GitHub is not letting me attach screenshots for some reason). Has there been a new Epicenter update that changed requirements for user

[2019-09-03 18:53] staceypark commented on #613
@ritahitching and I covered the following

1. mtl.how
2. mtl.how/team
3. mtl.how/demo
4. mtl.how/facilitate - Epicenter account created and added to TeamPSD projects
5. mtl.how/sim - Error in adding new users (see Issue #616 )
6. mtl.how/lucid - Account created under PAVIR email address
7. mtl.how/live
8. mtl.how/osf - Account created under PAVIR email address & added to SOP project
9. mtl.how/ref

[2019-09-03 18:57] saveth commented on #571
Here are the open dependencies:

- [ ] #462
- [ ] #615

[2019-09-03 19:11] jamesmrollins commented on #616
@staceypark I sent @ritahitching a team 4 invite as an individual invite.  Let's see if that works.  The special character prohibition has always been there as far as I remember.

[2019-09-03 19:18] jessfroe commented on #614
Here is the operational definition for #7 which we discussed during our qual_workgroup meeting:

**7. build_capacities_strengths**

-  Team has the resources it needs to meet its aims. (What does it mean to have capacity?)

-  Facilitators are helping the team to maximize their existing local resources in this statement (sentence). (A capacity building quality to the process.)

-  Facilitators are

[2019-09-03 19:25] staceypark commented on #616
we are getting an error message:
"there is a problem with your session. please sign out from epicenter and try again"

[2019-09-03 19:29] jessfroe commented on #604
**Video Review Schedule**

|   Date   |  Videos   |
| - | - |
| 9/6 | S06, S05 (as many as possible)
| 9/13 | S07, rest of S05
| 9/20 | S08, S04
| 9/27 | S09, S03
| 10/4 | S10, S02
| 10/11 | S11, S01
| 10/18 | S12

[2019-09-03 19:31] jamesmrollins commented on #616
@staceypark I just ran the experiment below and it worked ok, even with the special character.  I assigned the user to the worlds and was able to login with both.

![image](https://user-images.githubusercontent.com/30132017/64202667-8cfe0100-ce46-11e9-9c96-3495feeaf1e8.png)

Regarding the error message in last thread, there may have been a server communication error, which can come from a multitud

[2019-09-03 19:33] jessfroe commented on #601
**Detail Documentation Review Schedule - SAY Guides**

|   Date   |  Videos   |
| - | - |
| 9/6 | S07, S05
| 9/13 | S08, S04
| 9/20 | S09, S03
| 9/27 | S10, S02
| 10/4 | S11, S01
| 10/11 | S12

[2019-09-03 19:34] jessfroe commented on #600
**Describe Documentation Review Schedule - SEE Guides**

|   Date   |  Session |
| - | - |
| 9/6 | S07, S05
| 9/13 | S08, S04
| 9/20 | S09, S03
| 9/27 | S10, S02
| 10/4 | S11, S01
| 10/11 | S12

[2019-09-03 19:42] staceypark commented on #616
@jamesmrollins she's still experiencing the same error

[2019-09-03 19:49] jessfroe commented on #614
@dlounsbu @swapmush @lzim @teampsdkathryn
I'm going to start brainstorming some additional definitions. I'll continue to use the same format as above, including the information from Oetzel et al. (2013 and 2018) and expanding with additional MTL specific definitions:

**4. local_control**
- Alignment with CBPR principles, with a partner focus. Develops individual partner capacity and equitable par

[2019-09-03 21:13] jamesmrollins commented on #616
@staceypark I think we have identified the problem - We cannot use the same user name for Epicenter Member and End User.  I think if we use a different email, we should be ok.  Please have @rhitching call me soonest, and I will see if we can correct the problem.  Cheers! James

[2019-09-03 22:49] jessfroe commented on #600
@lzim I updated the schedule table for describe, detail and depend, and populated the meta cards for each column with the same schedule. I also added the due dates to each card.

Let me know if you were envisioning something different!

[2019-09-03 22:56] jessfroe commented on #613
@staceypark @lzim @ritahitching

I am getting ready to leave so I wanted to give an update on where I was able to get to in my work today:
1. Updated documentation schedule table for the describe (#600), detail (#601), and depend (#604) column
2. Began working on the fidelity rating operational definitions on #614

I still need feedback on the team_tracker_template before I am able to populate the

[2019-09-03 23:40] #478 closed

[2019-09-04 00:10] jamesmrollins commented on #588
@lzim yes, I believe we can put the individual's name in the NAV bar with the new concept; thus, keep with what is in the training video.  Let me verify with @hirenp-waferwire.

[2019-09-04 00:45] staceypark commented on #613
@lzim on issue #401 - what is the cofacilitation plan tomorrow esp given Jane’s email?

If we are still walking through systems stories, we won’t be able to 0 proof the models by tomorrow but I checked the team4 data file this morning against all modules and it doesn’t throw the same 0 error that the team2 file did. So we could use that.

[2019-09-04 02:06] lzim commented on #616
@jamesmrollins @staceypark

This is a constraint that Forio creates since the Team PSD Co-Facilitators were trained.

It is likely to be a big headache for the TAS who, I believe, never created Faciliator/Epicenter Admin accounts. Right, Stacey?

[2019-09-04 05:18] jamesmrollins commented on #588
@lzim I have verified with DEV that we can use pull the user's name from the multiplayer assignments listing and display it in the user's Sim UI Nav bar.  Do you want me to proceed with development?  Thank you, James

@staceypark FYSA

[2019-09-04 12:50] lzim commented on #78
@swapmush

Did you ask @saveth about this? She is an R and Mac user?

[2019-09-04 12:57] lzim commented on #476
Thanks @saveth

Let’s talk about this at our site selection meeting tomorrow and review the ‘crtsize’ ‘icc’ analyses used to estimated the design effect for our Cluster Randomized trials.

You’re right we never proposed hypotheses or powered to detect differences between CBOCs and Medical Centers. Rather, to reduce bias we simply proposed stratified block randomization to balance trial arms on CBO

[2019-09-04 13:09] lzim commented on #401
Is this something we can fix before tomorrow or do we need to create a new data file that won't have zeroes for MM so we can practice systems stories at tomorrow's 9:30a Pacific / 12:30p Eastern co-facilitation meeting?

- Stacey remembered that Team 2, as a PCT, likely doesn’t have MM data.
- So, if we expanded to review MM it should be with Team 4, a BHIP, instead.
- Tom, do we have any modeling

[2019-09-04 13:24] lzim commented on #600
Thanks @jessfroe FYI: @staceypark

1. I’ve added the left hand column **training schedule** and added the weekly **disseminate** milestone tasks.

2. I’ve also edited the schedule above to reflect that we need all documentation point persons to wrap up documentation (i.e., close all cards) for all columns in the tracker to meet our **r01_iir_launch** milestone.

3. The only lag is the **depend** c

[2019-09-04 13:36] lzim commented on #613
@staceypark

Right, I just posted the same about using Team 4 on issue #401. Although, I also do hope @tomrust can weigh in on this.

- Also, @tomrust did you make progress with the s06 SAY guides, which you were editing to further flesh out systems stories.

[2019-09-04 13:42] lzim commented on #583
Done. Closes #583

[2019-09-04 13:42] #583 closed

[2019-09-04 13:48] lzim commented on #601
@jessfroe and @staceypark

Please cross-ref issue #600 **meta_describe** and populate the combined schedule in each column.
It will be easier across the team to keep track of all the relevant weekly documentation deadlines across columns/point persons according to the Master training schedule. Thanks!

[2019-09-04 13:49] lzim commented on #602
Please cross-ref issue #600 **meta_describe** and populate the combined schedule in each column.
It will be easier across the team to keep track of all the relevant weekly documentation deadlines across columns/point persons according to the Master training schedule. Thanks!

[2019-09-04 13:50] lzim commented on #603
@jessfroe and @staceypark

Please cross-ref issue #600 **meta_describe** and populate the combined schedule in each column.

It will be easier across the team to keep track of all the relevant weekly documentation deadlines across columns/point persons according to the Master training schedule. Thanks!

[2019-09-04 13:50] lzim commented on #604
@jessfroe and @staceypark

Please cross-ref issue #600 **meta_describe** and populate the combined schedule in each column.

It will be easier across the team to keep track of all the relevant weekly documentation deadlines across columns/point persons according to the Master training schedule. Thanks!

[2019-09-04 14:01] lzim commented on #613
@staceypark and @jessfroe

- Jessilyn is out today (for Team PSD) today
- Stacey will you populate my edited Master Documentation schedule Issue #600 across the **document_tracker** columns please?
- Stacey, **for this morning’s training,** I also need a table of exactly who has
1. Attended each _MTL Facilitate_ training session.
2. Co-Facilitated each session (i.e., the pairs, the session, the te

[2019-09-04 14:04] lzim commented on #614
@jessfroe

FYI: @staceypark
This is @jessfroe’s, but she is out (for Team PSD) today.

Yes, we need to go back to the **qual_workgroup** Lucid Meeting where we pulled out each fidelity item from the revised **fidelity_training** checklist in *mtl_facilitate_workgroup** and add the operational definitions. Cross-ref #613

[2019-09-04 14:10] lzim commented on #588
@jamesmrollins and @staceypark

Yes, if this under the hood improvement creates no learner-facing changes. Then, yes, please proceed. 🤗

[2019-09-04 14:16] staceypark commented on #613
@lzim
@tomrust said yesterday the model won’t be ready by today because they need to test and validate.

Ok I’ll populate the schedule and get a table put togethet

[2019-09-04 14:54] lzim commented on #613
@staceypark

- I think maybe an #hqhuddle for the week, that we work with throughout each day may make the most sense, because not all items across the team are resolved within the day.
- Thanks re: Table - Can you turn the table creation into a “teachable moment” for orienting Rita to Lucid this AM?
- what did you train her in yesterday, please include the HQ training updates in the #hqhuddle iss

[2019-09-04 14:59] staceypark commented on #613
@lzim Check the fourth comment from the top. I can add more detail to that if that's what you mean?

[2019-09-04 15:05] staceypark commented on #602
**Documentation Schedule**

|   Date   |  Co-Facilitator Training | Describe/Detail/Document | Depend | Disseminate
| - | - | - | - | - |
| 9/6 | Systems Stories | S07, S05 | S06, S05 (as many as possible) | DART Mod
| 9/13 | No Facilitate Meetings | S08, S04 | S07, rest of S05 | IIR IRB
| 9/20 | s07 | S09, S03| S08, S04 | IIR JIT
| 9/27 | s08 | S10, S02 | S09, S03 | R01 CT
| 10/4 | s09 | S11, S01

[2019-09-04 15:07] staceypark commented on #603
**Documentation Schedule**

|   Date   |  Co-Facilitator Training | Describe/Detail/Document | Depend | Disseminate
| - | - | - | - | - |
| 9/6 | Systems Stories | S07, S05 | S06, S05 (as many as possible) | DART Mod
| 9/13 | No Facilitate Meetings | S08, S04 | S07, rest of S05 | IIR IRB
| 9/20 | s07 | S09, S03| S08, S04 | IIR JIT
| 9/27 | s08 | S10, S02 | S09, S03 | R01 CT
| 10/4 | s09 | S11, S01

[2019-09-04 15:53] swapmush commented on #614
**1. clear_engagement** 
-  Team has the resources it needs to meet its aims. (What does it mean to have capacity?)
-  Facilitators are helping the team to maximize their existing local resources in this statement (sentence). (A capacity building quality to the process.)
-  Facilitators are working to build capacity for participatory learning for simulation (BUILD); make improved decisions under c

[2019-09-04 15:54] jessfroe commented on #600
@lzim thanks! That makes perfect sense to have all that information in one place.
@staceypark it looks like you updated all of the schedules, correct? Thank you!

[2019-09-04 15:59] jessfroe commented on #613
@lzim thanks for getting back to me re: team_tracker. I can focus on orienting the team to the REDCap project this week, then. Ignore my other comment on my pull request! I didn't sort through my notifications effectively enough this AM 🙈

[2019-09-04 16:00] jessfroe commented on #613
Also - are we using the same GitHub thread for one week? Or, starting a new thread each day? Or, never starting a new thread?

[2019-09-04 16:36] TomRust commented on #401
@lzim @jamesmrollins  @staceypark @branscombj @dlkibbe @dlounsbu

I updated the model to allow for this many zeros, and sent it off to James.  I also updated CC, as it has the same equations.

[2019-09-04 16:39] jamesmrollins commented on #401
@lzim @jamesmrollins  @staceypark @branscombj @dlkibbe @dlounsbu
I will move to Test and test in SIM UI.  Will update when complete.

[2019-09-04 16:41] jamesmrollins commented on #588
@hirenp-waferwire we are approved to implement this change in TEST.  Thank you, James

[2019-09-04 16:49] staceypark commented on #303
Session | 2 | 3 | 4 | 5 | 6
--- | --- | --- | --- | --- | --- |
Date | 7/19 | 8/2 | 8/9 | 8/23 | 8/30
Co-F | Gayle, Debbie | Theresa, David | Lindsey, David| David, Gayle | Jane, Claire
Team | Lindsey, Theresa, John | Debbie, Gayle, Jessilyn, Jay | Jane, Debbie, Matt, Stacey | Jessilyn, Theresa, Stacey, Jay | Gayle, Jessilyn, David
Prep | Lucid | Lucid | Adobe | Adobe no audio | not backed |
Live

[2019-09-04 16:57] branscombj commented on #303
Hey @staceypark this  is awesome! Thank you for tracking. I do think it's helpful to have a reality check on who's done what.

[2019-09-04 16:57] staceypark commented on #613
@jessfroe I think we're finding it makes more sense to do 1 per week

[2019-09-04 17:29] jessfroe commented on #613
@staceypark that makes perfect sense. Petition to say "week of" in the title?
@lzim @ritahitching

[2019-09-04 18:51] branscombj commented on #303
Team | Session | Date | Gayle | Theresa | Claire | John | Jay | Matt | Marcia | Jane | Debbie | David | Lindsey | Tom | FAC total | tm total
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
2 | 2 | 7/19 | FAC | tm |   | tm |   |   |   |   | FAC |   | tm |   | 2 | 3
4 | 2 | 7/19 |   |   | FAC |   |   |   | tm |   |   |   |   | FAC | 2 | 1
2 | 3 | 8/2 | tm | FAC |  

[2019-09-04 19:52] jamesmrollins commented on #401
@lzim @jamesmrollins @staceypark @branscombj @dlkibbe @dlounsbu

I replaced the CC and MM model files in the TEST session.  Then I conducted testing with the 640a0_team2_2019_08_01 file with both.  MM appears to be running fine, and consistent with the Vensim client version with same parameters file.  CC, on the other hand, is throwing an error that I cannot determine the cause at this point.  The

[2019-09-04 20:21] jamesmrollins commented on #401
@lzim @jamesmrollins @staceypark @branscombj @dlkibbe @dlounsbu

@TomRust indicated to me via email, that he fixed a model-data floor issue for MM and CC and issued a v2 for 4 SEP updates.  MM tests out ok, while CC still throws the error. l updated PROD with MM model.  Will still seek solutions with DEV on the CC model.

[2019-09-04 21:43] staceypark commented on #591
@lzim @saveth I've added this to the quant meeting tomorrow. It sounded like we needed more discussion time on this.

[2019-09-04 23:14] staceypark commented on #616
@jamesmrollins we resolved it for @ritahitching (by the way her handle is first and last name)
and I've linked it to #602 in the document tracker for me to update in the facilitate cheatsheet, but @lzim  is right in that this will pose an issue for all of the IC (Implementation Consultants / formerly TAS).

[2019-09-04 23:16] #469 closed

[2019-09-04 23:18] staceypark commented on #613
- [ ] Need to create a poll for TIDIRH for LZ & JD Smith

[2019-09-04 23:20] lzim commented on #613
@jessfroe

We realized at today's meeting that we need to put the correct (most up-to-date) video links in the **depend_products** column. Will you please put the correct link in each issue card please?

- [ ] Link the most current video links in each session card for the **depend_products** column.

Thanks!

[2019-09-04 23:39] staceypark commented on #613
- [ ] @staceypark schedule manuscript planning meeting with @lzim

[2019-09-04 23:48] lzim commented on #613
@ritahitching @jessfroe

-[ ] Please add images to Gravatar so that you have images on GitHub, etc.
-[ ] Please also add yourselves and your images to https://mtl.how/team

I will take a photo of you, if you need one that works on the site 📸

[2019-09-05 00:11] staceypark commented on #615
@saveth please add the deadline at the beginning of the issue instead of the end, as the template instructs you to do. this helps us immediately see prioritization across the tracker

[2019-09-05 00:15] staceypark commented on #588
@jamesmrollins @lzim
great that nothing changes for the learner but I will need to update the facilitate cheatsheet to **remove** the instructions on world team mapping. I've already linked this issue to the meta document card #602 to address that.

[2019-09-05 00:17] staceypark commented on #433
at our f/u with the r21 teams we will give them:
1. Complete tt1-3 for each team
2. team and individual worlds
3. fresh data pull that will work with the updated models

[2019-09-05 00:21] lzim commented on #613
@jessfroe
 **#fidelityfridays & team_tracker (this week):**
- [ ] _updated fidelity training checklist_: get the question items with their associated operational definitions together.
- [ ] ask you to turn SAY guides into “1-pager” or “overview checklists” the way that I did with you and Tom last week, **starting with s07**.
- [ ]  key part of the team_tracker. Let’s talk about this tomorrow.

@lz

[2019-09-05 00:22] staceypark commented on #396
@TomRust @staceypark @branscombj @dlounsbu @dlkibbe @jessfroe
Just to be clear, is this something we also need to change in the documentation of the SAY guides?

[2019-09-05 00:24] staceypark commented on #414
@jamesmrollins I believe this issue has been resolved and can be closed. If so, please close it.

[2019-09-05 00:25] #439 closed

[2019-09-05 00:30] ritahitching opened #619 "The US map on TeamPTSD home page - speed of slides"
**1. Add description:**

The slides on the home page of the US map move to fast for me - also testing my first issue @lzim and @staceypark
<< Paste screenshots here>>

**2. Click on the right:**
a. **Projects** - assign to **issue_tracker.**
b. **Assignee** - assign relevant team members.
c. **Labels**- review and select all potential _MTL_ dependencies.
d. **Milestones** - select the dependent mi

[2019-09-05 00:34] lzim opened #620 "2/14 Sim UI: Forio -> Gravatar is blocked"
**1. Access to Gravatar shows resource is blocked:**

I was unable to add a .jpg .png or .gif of the issue from my VA machine.
There is an issue with posting screenshots on GitHub, that apparently began yesterday.

Instead, I've copied my Inspector > Console text below:

send @ jquery-3.2.1.js:9455
2gravatar.com/avatar/f7f3a78d2a2cf1645688acdb7f460138?&d=404:1

spplay.html:1

---------------------

[2019-09-05 00:36] #577 closed

[2019-09-05 03:59] jamesmrollins commented on #620
@lzim Acknowledged.  I will investigate ways for the Sim UI to re-interrogate the gravitar server, so that the image is eventually displayed.  The error indicates a problem with their end, which does happen from time-to-time.

[2019-09-05 04:03] #444 closed

[2019-09-05 04:12] jamesmrollins commented on #616
@lzim @staceypark based on your comments above, this issue does not seem resolved to me.  I need to understand why this will cause a problem for the TAS facilitators, especially if we haven't registered their membership in Epicenter.  Can we talk a little more on this please?  Thanks,
James

[2019-09-05 04:38] lzim commented on #616
Agreed @jamesmrollins I don’t think it is resolved.
Will you add #616 to tomorrow’s Support Workgroup Leads meeting, please?

First, the TAS are now calling themselves the “ICs” per @staceypark’s comment above.

The Team PSD Co-Facilitators were grandfathered in to retaining the same username for the Sim UI and MTL Facilitate (Epicenter).

The ICs have already had to develop several username/passw

[2019-09-05 04:41] lzim commented on #613
Welcome to GitHub @ritahitching 🥳

I re-opened the “Week of 9/3 #hqhuddle” issue until we get through the end of the week. 😄

FYI: @staceypark and @jessfroe

[2019-09-05 04:44] lzim commented on #620
Thanks @jamesmrollins!

Yes, this has happened intermittently since the beginning. But, it is becoming more frequent, which is why I opened the issue: 1) we do want to created updated .gifs and .jpgs with “presence” (i.e., with team member’s images), and 2) we also are getting ready to launch with frontline staff who will never meet some of us face-to-face.

[2019-09-05 04:49] jamesmrollins commented on #401
@lzim @staceypark @TomRust @branscombj @dlkibbe @dlounsbu

Somehow, the "If Existing Pt RVI then New Pt Starts =" and "If New Pt Start Rate then RVI=" variables were changed back to a previous version.  They are now corrected and the sim runs fine.  I have updated CC in TEST and PROD and put in another pull request.

[2019-09-05 04:50] lzim commented on #619
Thanks @ritahitching 👍🏽

Note: I added to this issue the details from
2. Click on the right instructions to a) add @staceypark and b) add this to the **issue_tracker**

[2019-09-05 04:54] jamesmrollins commented on #619
@ritahitching @staceypark @lzim The slide dwell time can be adjusted in the maintenance page for the Demo page.  We should probably get together so I can provide an orientation.

[2019-09-05 04:56] #414 closed

[2019-09-05 04:58] lzim commented on #591
Thanks @staceypark  This really needs to be during the site selection meeting with @saveth
We have much to discuss, and likely won’t have enough **quant_workgroup** time on it. But, if we do have time, we can try to cover some of this ⏲

[2019-09-05 04:58] #314 closed

[2019-09-05 04:59] #298 closed

[2019-09-05 04:59] #306 closed

[2019-09-05 04:59] #309 closed

[2019-09-05 05:08] lzim commented on #396
Cross-ref in the **meta_detail** card of the **document_tracker** #601

Closes this issue #396

[2019-09-05 05:12] lzim commented on #619
Thanks @jamesmrollins!

Yes, it would be great to have you provide an orientation.
We did know that the time could be adjusted, and we are just getting Rita’s feet wet with creating an issue and practicing. 🤸🏼‍♂️

[2019-09-05 14:02] lzim commented on #613
@staceypark I believe @ritahitching needs help with how to open a pull request for her bio

- [ ] GH pull requests

[2019-09-05 14:14] lzim commented on #425
FYI HQ:

From yesterday’s Intersession Prep:

- [ ] Need to put the training schedule prominently in the **team_tracker**

- [ ] Need to link issue #303 in the top of each _MTL Facilitate_ Training

- [ ] Re-name the 3 weekly Facilitate Sessions (M/W/F) according to what will be covered that week (s07: _Modeling to Learn_ base case)

- [ ] Cancel next week’s meetings, BUT...

- [ ] 1. First, back-

[2019-09-05 14:15] lzim commented on #613
@staceypark @jessfroe @ritahitching

FYI HQ:

From yesterday’s Intersession Prep:

- [ ] Need to put the training schedule prominently in the **team_tracker**

- [ ] Need to link issue #303 in the top of each _MTL Facilitate_ Training

- [ ] Re-name the 3 weekly Facilitate Sessions (M/W/F) according to what will be covered that week (s07: _Modeling to Learn_ base case)

- [ ] Cancel next week’s me

[2019-09-05 14:25] staceypark commented on #613
@jessfroe @ritahitching
We’ve learned that the adobe connect videos can’t be backed overnight since the system reboots sometimes and can’t be backed while we use adobe connect.

Let’s make sure we all use our machines today during the day to back up the missing ones to make sure we have all of them.

[2019-09-05 15:16] jessfroe commented on #475
Adding some extra granularity for the training manual:
- [ ] Both facilitator epicenter and HQ epicenter management. Team & Demo Sites
- [ ] Site dashboard (e.g. adding team bio and photo to the team map)

[2019-09-05 15:18] staceypark commented on #616
@jamesmrollins will reach out to Forio to see if we can get an exception for the entire VA project for users using same email for the backend Epicenter and the front end Sim UI

[2019-09-05 15:27] staceypark commented on #339
Cross-referencing Issue #410 where we also discuss the Participate Button.
@lzim  wanted to keep #339 open over #410 as this thread discusses the participatory research and language for the participate button.

[2019-09-05 15:27] #410 closed

[2019-09-05 15:56] staceypark opened #622 "redcap_qa_roles_definitions wk2 QA PROD support from James"
**Andon Policy for Immediate TEAM ACTIONs (pre-launch)**

1. Contact HQ (Lindsey & Stacey; Stacey can make a call if Lindsey is unavailable)

2. Call an immediate meeting to identify and implement the fix.

3. Team PSD will conduct a post-mortem to manage specific learner impacts team-by-team.

[2019-09-05 15:56] staceypark opened #623 "wk3 export_tt_check"
**Andon Policy for Immediate TEAM ACTIONs (pre-launch)**

1. Contact HQ (Lindsey & Stacey; Stacey can make a call if Lindsey is unavailable)

2. Call an immediate meeting to identify and implement the fix.

3. Team PSD will conduct a post-mortem to manage specific learner impacts team-by-team.

[2019-09-05 15:56] staceypark opened #624 "sim_ui_qa_roles_definitions"
**Andon Policy for Immediate TEAM ACTIONs (pre-launch)**

1. Contact HQ (Lindsey & Stacey; Stacey can make a call if Lindsey is unavailable)

2. Call an immediate meeting to identify and implement the fix.

3. Team PSD will conduct a post-mortem to manage specific learner impacts team-by-team.

[2019-09-05 15:56] staceypark opened #625 "5/29: model_check_procedure"
**Andon Policy for Immediate TEAM ACTIONs (pre-launch)**

1. Contact HQ (Lindsey & Stacey; Stacey can make a call if Lindsey is unavailable)

2. Call an immediate meeting to identify and implement the fix.

3. Team PSD will conduct a post-mortem to manage specific learner impacts team-by-team.

[2019-09-05 15:56] staceypark opened #626 "wk1 sep_epic Update facility_data_qa testing procedures and documentation"
**Andon Policy for Immediate TEAM ACTIONs (pre-launch)**

1. Contact HQ (Lindsey & Stacey; Stacey can make a call if Lindsey is unavailable)

2. Call an immediate meeting to identify and implement the fix.

3. Team PSD will conduct a post-mortem to manage specific learner impacts team-by-team.

[2019-09-05 15:56] staceypark opened #627 "nov_epic story13 & story4 Review VA GitHub Guides Bring Data UI QA into GitHub"
**3.5.3.1 Andon Alerts**

**Team PSD uses Andon Principles to manage bug reports and triage the issue as soon as possible.
Team PSD follows three core ideas when addressing an andon.**

1. **Scope** - Analyze the impact of the issue and determine who the critical users are that need to be informed.
2. **Alert** - As soon as scoping is complete inform the impacted users of the issue and how to trac

[2019-09-05 16:13] saveth commented on #424
From agenda item ( https://meet.lucidmeetings.com/meeting/225154), still need to be discussed:

1. At what level(s)?
    1. Coverage (anyone with any templates/ prescription)
        -  with AUD
        -  without AUD

    2. Initiation (anyone who starts an EBPsy template, EBPharm Dep follows sail coverage, any AUD, OUD)
        -  with AUD
        -  without AUD
    3. Dose (anyone who complete

[2019-09-05 16:24] staceypark commented on #613
@ritahitching and I went through how to Invite folks on Lucid as a "Series Attendee" and she added herself to all of the meetings as practice (except MTL Facilitate 3 meetings which @jessfroe will do and we already discussed).

@lzim @jessfroe @ritahitching
I noticed that our adobe connect videos are named a little differently each time making it terribly confusing to pinpoint a specific session's

[2019-09-05 16:34] staceypark commented on #613
@ritahitching @jessfroe and I are all backing up different Adobe Connect meetings.
@jessfroe - Wed 9/4 prep session
@ritahitching - Fri 8/30 demo session
@staceypark - Wed 8/28 prep session

[2019-09-05 16:48] staceypark opened #628 "t04"
## Co-Facilitation Schedule

Week | Session | #manuscriptmondays | Wed Intersession Prep  | Fri   Co-Facilitation Practice
--- | --- | --- | --- | ---
Oct 7-9-11 | S10  | MM, JF, TS out |MM, JK, TS out | TS MH out  |  
Oct 14-16-18 | S11 & 12 | Holiday  | LZ, DL, DK, MM out   | LZ, DL, TS, MM out   |
Oct 21-23-25 | Splashpage Facilitation Tasks/Sim UI Facilitation Dashboard | MH out | MH out | MH

[2019-09-05 17:01] jessfroe commented on #613
@lzim I did not see the bullet point re: linking the videos directly in the cancellation. Could I instead link the videos to the follow-up from tomorrow's #fidelityfriday?

[2019-09-05 17:03] jessfroe commented on #613
@staceypark I agree we need a hashtag and have been trying to think of good "w" words to do so...we work every day so I'm not sure if we want to do working? Its going to be tough to come up with something for that one! Especially one that is related to what we do on Wednesdays.

[2019-09-05 17:25] staceypark commented on #613
😄 true we definitely do work everyday! work-in-progress wednesdays? ugh but that's so long

[2019-09-05 17:31] staceypark commented on #613
- [ ] Need to cancel 9/24 co-I meeting as Craig is giving the D&T Director Job Talk & reschedule to Tues 10/1 @jessfroe can you do this

[2019-09-05 17:42] ritahitching commented on #613
Lindsey and I came up with the suggestion of **WikiWednesday** or **WorkboxWednesday** - thoughts @lzim @jessfroe @staceypark

[2019-09-05 17:49] staceypark commented on #613
Please update the staff tree with your information. Refer to the email for the actual link.
- [ ] @jessfroe  Add information to NCPTSD Staff tree
- [ ] @ritahitching   Add information to NCPTSD Staff tree

[2019-09-05 18:09] jessfroe commented on #613
@ritahitching @staceypark @lzim
Hmm I'm just not totally partial to the Wednesday hashtags currently. Also, neither of those options seem to address what we are actually doing that day.
Why does it have to be on the W day! 😭

[2019-09-05 18:14] jessfroe commented on #613
Also, can I just say...it is SO satisfying to click on these little check boxes when I am finished with a task!! Very reinforcing 🤣

[2019-09-05 18:30] staceypark commented on #613
@jessfroe @lzim  for the REDCap fidelity tracker, what granularity do we need when they are submitting their fidelity ratings? Specifically, do different team ratings need to be separated like in the MTL menu when viewing results immediately after submitting? I can talk about it more at the HQ meeting @1pm.

[2019-09-05 18:50] staceypark commented on #613
- [ ] track all of the serial numbers for new monitors and give list to NCPTSD admin (Mary & Doug) as well for move upstairs

[2019-09-05 18:51] jessfroe commented on #613
@staceypark not sure, that would probably be a call you need to make

[2019-09-05 18:59] saveth opened #630 "9/9 R01/IIR Patient Panel and Provider type"
**1. Add description:**
From the Quant meeting today (https://meet.lucidmeetings.com/meeting/225810), create new graphs/analysis:

1) Examine the number of patients by CBOC/VAMC
2) Type of Provides by CBOC/VAMC

<< Paste screenshots here>>

**2. Click on the right:**
a. **Projects** - assign to **issue_tracker.**
b. **Assignee** - assign relevant team members.
c. **Labels**- review and select all

[2019-09-05 19:01] saveth commented on #476
Once #630 is complete then final decision will be made on sampling of VAMC/CBOC. Currently, there's a strong favor for 16VAMC to 32 CBOC.

[2019-09-05 19:05] staceypark commented on #596
- [ ] Need to rerun Team4 data after this PC change is implemented

[2019-09-05 19:36] lzim commented on #401
https://meet.lucidmeetings.com/lucid/meeting/226166

[2019-09-05 19:38] lzim commented on #587
@TomRust and @lzim met about this on 9/5: https://meet.lucidmeetings.com/lucid/meeting/226166

- [ ] Tom will follow up with the questions we have for @holbrooa when he's back in the office
- [ ] Lindsey will consider this with Andrew at the Monday AM Workgroup Leads meeting to see where it fits with other priorities.

FYI: @staceypark

[2019-09-05 19:46] staceypark commented on #613
- [ ] pull requests with Rita for updating mtl.how 1.8 models and bio

[2019-09-05 21:17] staceypark commented on #613
- [ ] mtl.how/demo links: mtl live & mtl video intro update links

[2019-09-05 22:59] jessfroe commented on #613
@lzim @staceypark @ritahitching
Alright HQ, I'm off for the day. Here are my needs during the huddle -
- [ ] Lindsey provide feedback on the new REDCap branching logic and questions so that I can finish the fidelity ratings ASAP in the morning - Stacey can you link this? I can't find it and I have to go.

- [ ] Lindsey review pull request for the fidelity rating checklist - https://github.com/lzim

[2019-09-05 23:06] staceypark commented on #613
- [ ] add document tracker link and instructions to top of issue #294 to give clarity

[2019-09-05 23:16] ritahitching commented on #613
### Adobe Recordings List
#### List of recordings from Lucid Meeting

Adobe | Sound  |  Backed Up
------------- | -------------|  -------------|
s06_interssion_prep  | Yes |
s06_demo_08_30_2019 | Yes |
s06_intersession_prep | Yes |
manuscript_monday_group_supervision_s06_systems_story | Yes | Yes |
s05_demo | No |
2019_08_21_team2_intersession_prep | No |
s05_group_supervision_manuscript_mondays |

[2019-09-05 23:32] staceypark opened #632 "2/10 MTL Fidelity May F2F Evaluation results"
**1. Add description:**
Need to look at results from May F2F to help guide facilitator training

<< Paste screenshots here>>

**2. Click on the right:**
a. **Projects** - assign to **issue_tracker.**
b. **Assignee** - assign relevant team members.
c. **Labels**- review and select all potential _MTL_ dependencies.
d. **Milestones** - select the dependent milestone.

--------------------------------

[2019-09-05 23:47] lzim commented on #613
@jessfroe @staceypark @ritahitching

Hurray!

- [x] [mtl.how/fidelity](https:mtl.how/fidelity) is live 🎆
- [ ] Need to remove the "Dr." from the _MTL Facilitator_ list and just alphabetize by first name.
- [ ] Need to populate team 2 and 4 through the RedCap Survey

thanks!

[2019-09-05 23:50] jamesmrollins commented on #616
@lzim @staceypark @jessfroe @ritahitching
I spoke with Forio today.  They indicated that it would be possible to flag our session so we can have a single log-in for both MTL group/world and Epicenter level interactions.  However, they would need to push it in conjunction with a server update scheduled for later this month.  I will advise when this is in place.  Thanks, James

[2019-09-06 00:01] lzim commented on #613
HQ

We want to send the 000 video for Wed 09/05/2019 Intersession Prep in the Lucid Follow-up Email ASAP this morning.

Lindsey

[2019-09-06 00:08] staceypark opened #633 "Evaluating REDCap survey results for MTL Facilitator Fidelity"
**1. Add description:**
In relation to the solution for #483, when using REDCap for both the MTL menu and Facilitator fidelity ratings, we use a specific survey queue logic to enable the survey completers to be able to look at the results live for their specific needs.

For example, for the MTL menu, this allows the clinic team to look at their own survey menu results for their team and no other t

[2019-09-06 03:42] lzim commented on #613
Hey @jessfroe I noted your pull request #631 - Let’s make sure we’re clear about the distinctions for s11 and s12 within the APPLY phase (s9-12) _**BEFORE**_ you populate further.

Let’s touch base first thing 🌅

[2019-09-06 04:01] lzim commented on #613
## #hqhuddle for Friday AM

@jessfroe

- Let’s turn to this tomorrow after #fidelityfridays tomorrow I will help with the **s07_checklist** and the **team_tracker**

@staceypark

- NOTE: I need to send the serial #s to PAVIR, and we should track any equipment that Team PSD uses that we may worry the movers may skip.
- We may need to spend an hour on Friday afternoons scanning/shredding and getting

[2019-09-06 04:02] lzim commented on #616
Great news! Thanks @jamesmrollins 💥

[2019-09-06 04:04] lzim commented on #633
@staceypark and @jessfroe

Stacey, Rita and I discussed this at the end of day #hqhuddle.

Please cross-ref #613 and #631 and we’ll talk about this first this AM Friday 9/6/2019 **BEFORE** propagating.

Thanks!

[2019-09-06 04:11] lzim commented on #613
P.S....

LOVING the #fidelityfriday agenda in Lucid great work HQ 🚀

[2019-09-06 04:39] lzim opened #634 "9/6: New Team PSD project > psych_tracker"
1. Issue Workflow for **psych_tracker** project
- [ ] propose to use the same issue
- [ ] create a label &
- [ ] have James triage **psych_tracker** issues from the **issue_tracker** to the **psych_tracker**

@jamesmrollins this was #3 in “New Business” for today’s Support Workgroup Leads meeting. However, we didn’t get to due to the Andon discussion (prevention & policy).

- Basically, I talked t

[2019-09-06 11:32] branscombj commented on #600
@staceypark Could you remind me here (in the schedule above) when on the end date these are supposed to be completed by - COB Fridays? Thanks!

[2019-09-06 13:07] jessfroe commented on #613
@lzim I can send out the recording this morning when I get in. Should I clarify the meaningful work the facilitators should be doing during that time?

Also, now that we discussed emails, would you like me to revisit the grant meeting reschedule?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-06 13:32] lzim commented on #613
FYI HQ: @branscombj asked some great questions on pull request: **Update mtl_session07_see.md #635**

Need to cover a few of them today re: .gifs.

[2019-09-06 13:37] lzim commented on #613
Morning @jessfroe 🐔 (meant to be a rooster)
- The message (and formatting) of the email you send this morning should be:

“As we discussed on Wednesday during this intersession prep meeting, today we will divvy up to practice telling causal systems stories. The details are in the record below.

Also, we spent a fair bit of time on Wednesday focusing on _MTL resources_ principles for co-facilitator

[2019-09-06 13:41] lzim commented on #613
@staceypark cross-ref PR #636

I need your help on how to handle edits/PR across TeamPSD and MTL.
I’m not current on what was decided and how it works and cannot advise.

Can we please document this for the team, so that everyone is clear.
It may be something that goes in Team PSD > Resources > GitHub guide (re: Pull Requests)?

[2019-09-06 13:52] lzim commented on #613
All **HQ** @staceypark @jessfroe @ritahitching

- Need to clarify across **document_tracker** that if there are .gifs needed they need to be tracked in the **document_tracker** **session cards** under checklist item 5.

- Jane created several in PR, but that will hide them from other documenters across the **document_tracker**

- We need those .gif needs to be added to the session card as a **chec

[2019-09-06 13:54] lzim commented on #600
Right @branscombj

- COB Friday is the target for everything in the row for that date.

[2019-09-06 14:37] jamesmrollins commented on #620
@lzim @staceypark @jessfroe @ritahitching we implemented a bit of code that will re-attempt, although not indefinitely, to re-establish connection with the Gravatar server, if one isn't established during the initial loading of the web page. Please advise me right away, with appropriate console screen capture, if the Gravatar fails to load in the future.  Thanks, James

[2019-09-06 14:41] dlkibbe commented on #553
**Session 6 Video – Aggregate Review**
Pop up 0:27 seconds:  Open the learner guide at mtl.how vs. learner **_see_** guide
Pop up 5:48: 1) Leave pop-up longer; 2) It says “See sim UI cheat sheet at mtl.how for how to Save” vs. the correct location “See sim UI cheat sheet at mtl.how in S06 learner folder for how to Save”

9:00 - LZ is explaining what's unique about AGG model. Should there be a pop-

[2019-09-06 14:56] jamesmrollins commented on #634
@lzim thank you.  I am a little unclear about the first three items on the checklist in the issue template.  Let me confirm your meaning:

1.  We will use the same issue disposition determination process currently in use for issues.  All new issues will go into the issue_tracker triage section.
2.  James will be the point person for determining priorities of items in the issue_tracker triage secti

[2019-09-06 14:58] lzim commented on #620
@lzim @staceypark @jessfroe @ritahitching we implemented a bit of code that will re-attempt, although not indefinitely, to re-establish connection with the Gravatar server, if one isn't established during the initial loading of the web page. Please advise me right away, with appropriate console screen capture, if the Gravatar fails to load in the future. Thanks, James

- Will do @jamesmrollins

 H

[2019-09-06 15:01] jessfroe commented on #613
🌞

- Just so I'm *crystal* clear, when you say complete link, are you referencing the pathway to the 000 folder in Team PSD? Or, is there another place we are saving them?

 - Got it, thanks! Should I reach out to them, or will you discuss the 10/4 meeting with them and relay the information to me?

[2019-09-06 15:02] dlkibbe commented on #553
**Session 6 Video – Care Coordination**
Pop up 0:50:  Open the learner guide at mtl.how vs. learner see guide
Pop up 5:13: Remove pop-up “Arrow: level of (tail) influences level of (point)”
Pop up 11:22: Suggested edit: It says “Review “I” for diagram variables” – should it read “Review “i” for diagram variable definitions
Pop up 14:48 Suggested edit: it says “Review “i” for experiment variables”

[2019-09-06 15:06] lzim commented on #613
@jessfroe

For the link, you are right re: 000 just want to make sure it has the full path not d:/ or something unique to your own server mapping.
-  If you’re still unsure, I’m trying to wrap up a call now and should be in my office in just a few minutes.

Let’s talk about the rescheduled meeting on the Monday A.M. work or leads meeting next week.
Since the email already went out, there is no nee

[2019-09-06 15:10] lzim commented on #613
**HQ**

- tt_teampsd: Our celebration should be the completion of the MTL 1.8 release milestone.
- We also need to start to circulate details about the Team PSD fall party. We will likely want to send out a separate invitation, but also may want a Calendar icon or some other way to denote upcoming events in the team.

[2019-09-06 15:32] dlkibbe commented on #553
Session 6 Video – Medication Management
Pop up 0:52:  Open the learner guide at mtl.how vs. learner see guide at mtl.how
Pop up 6:08: 1) Leave pop-up longer; 2) It says “See sim UI cheat sheet at mtl.how for how to Save” vs.
It should say “See sim UI cheat sheet at mtl.how in S06 learner folder for how to Save”
Pop-up 7:53 - Question relevant to all videos: It says “Data UI – last 2 years, sim UI

[2019-09-06 15:51] lzim commented on #613
**HQ:**

- [ ] Reschedule VAPOR for 9/24 separate from the Grants/Co-I meeting.

[2019-09-06 16:02] staceypark commented on #613
Adobe Connect recording naming convention:
2 digit session number_teamname_topic (mm, w, ff)_date

i.e. s06_t2_mm_2019_09_06

[2019-09-06 16:04] staceypark commented on #613
- [ ] 8/30 adobe connect session needs to be backed up

[2019-09-06 16:05] dlkibbe commented on #553
**Session 6 Video – Psychotherapy Management**
Pop up 0:52:  Open the learner guide at mtl.how vs. learner see guide at mtl.how
Add Pop up 6:09: Every MTL model examines Patients & Appointments
Pop up 6:48:  See learner guide at mtl.how for all these steps vs. “Session 6 learner see guide at mtl.how shows all the steps”
Pop-up 7:10 - Question relevant to all videos: It says “Data UI – last 2 years

[2019-09-06 16:59] ritahitching commented on #303
**Possible addition to the Training Manual**

Recording options: Lucid (audio only) or Adobe (audio & visual) or Skype (audio only)
Recording issues: Ensaure breakout sessions occur in Skype - as Adobe is only able to record the meeting host's screen / audio
Hosting & Scheduling Meetings: Use Lindsey account
Attending Meetings: Use own account

Each Lucid meeting invitation needs to include #303 `

[2019-09-06 17:01] branscombj commented on #303
It wouldn't break anything if we renamed this issue OMHSP IC Training (vs. TAS)? I need all the reinforcement I can get to make the switch!

[2019-09-06 17:06] ritahitching commented on #475
**Possible addition to the Training Manual**

Recording options: Lucid (audio only) or Adobe (audio & visual) or Skype (audio only)
Recording issues: Ensaure breakout sessions occur in Skype - as Adobe is only able to record the meeting host's screen / audio
Hosting & Scheduling Meetings: Use Lindsey account
Attending Meetings: Use own account

Each Lucid meeting invitation needs to include #303 `

[2019-09-06 17:06] ritahitching commented on #475
**Possible Addition to Training Manual**

Acronyms & Hash Tags - facilitate communicate and search

1. hqhuddle (meeting between HQ members)

1. tt (team time reports)

1. mm (manuscript mondays)

1. ff (fidelity fridays)

1. # and session number (#0008) to keep track of tasks

**Trackers:**

1. issues_tracker

1. features_tracker

1. document_tracker

1. manuscript_tracker

[2019-09-06 17:23] branscombj opened #637 "PSY model diagram question"
Claire's question today makes me wonder if it's a bad idea that the last stock - pts > 3 months - is not in the default view. I wonder if we should show the stock and flow of that in the default view, but still have the causal arrows come up in the complexity reveal?
@lzim @TomRust @dlkibbe @dlkibbe @staceypark

[2019-09-06 17:26] TomRust commented on #587
new version that fixes this corner case sent to James.

[2019-09-06 17:36] staceypark commented on #587
@TomRust @jamesmrollins please use pull requests to send out updated models instead of emails

[2019-09-06 17:43] dlkibbe opened #638 "PSY Model Diagram "i" information"
**1. Add description:**
Psy Model - I'm logged in to my individual world and Gayle was logged into her individual world and noticed this issue with the "i" information.
It appears the descriptive text in the "i" information at the very bottom of the screen for the "Continuing Treatment Rate (After 3 Months) from Visit 2 to 7 is from the "i" box should be switched with the "i" information to the ri

[2019-09-06 18:27] staceypark commented on #613
- [ ] could we add the video links to the team_tracker as well?

[2019-09-06 21:05] ritahitching commented on #613
@ritahitching
- [ ] label inside and outside of the box (number and serial number) and take a photo - 16 monitors - create a spreadsheet.
- [ ] document ports for monitors - touch screen - requires a USB and video chord - check HTMI and SVGA
- [ ] test all monitors with commensurate stations of mtl team
- [ ] use stations that are mapped consult with @staceypark

[2019-09-06 21:15] staceypark commented on #613
gifs for next week
- [ ] update guides and update the cards as an example
- [ ] give example of how to do it, and try to do a gif (with new monitors) based on Jane's comments
- [ ] then train orient

hq training
- [ ] train @jessfroe & @ritahitching on OSF file check in/check out
- [ ] @jessfroe add hq manual to OSF
- [ ] @ritahitching add/update training needs in the manual

[2019-09-06 21:18] saveth commented on #591
@lzim This information is in the current slide deck (Eligibility_pres_2019Sept_initiate_noAUD.html) as of Sept. 6, 2019 on slide 60-63.

[2019-09-06 21:22] saveth commented on #630
@lzim This information is in the current slide deck (Eligibility_pres_2019Sept_initiate_noAUD.html) as of Sept. 6, 2019 on slide 17-19. The CBOC are substantially smaller than the VAMC with an average patient size of ~300. If just barely have enough clinics in our study design to capture a 5% difference.

[2019-09-06 21:32] staceypark commented on #613
- [ ] 9/6 mtl facilitate f/u email w/ @ritahitching including the video link and reminder that next week meetings are cancelled

[2019-09-06 21:51] jamesmrollins commented on #638
Hi @dlkibbe , it should be fixed now.  I was backwards in the model-popup-information.xlsx file.  Thanks, James

[2019-09-06 22:05] jamesmrollins opened #639 "9/9 Update models in SIM UI"
**1. Add description:**
Test the update the SP, CC and MM models to handle "corner cases" in the SIM UI.  Promote to PROD if it works ok.

<< Paste screenshots here>>

**2. Click on the right:**
a. **Projects** - assign to **issue_tracker.**
b. **Assignee** - assign relevant team members.
c. **Labels**- review and select all potential _MTL_ dependencies.
d. **Milestones** - select the dependent mi

[2019-09-06 22:08] staceypark opened #640 "9/17 Cannot upload screenshots using snipping tool onto GitHub Issue"
1. We have been using the Snipping Tool to capture screenshots for pasting GitHub issues. Recently we noticed that this no longer works.

Also, Issue #357  relies on VA clinicians being able to use this screenshot function.

**2. Click on the right:**
a. **Projects** - assign to **issue_tracker.**
b. **Assignee** - assign relevant team members.
c. **Labels**- review and select all potential _MTL_

[2019-09-06 22:55] dlkibbe commented on #638
Thanks @jamesmrollins

[2019-09-07 00:29] lzim commented on #637
@branscombj

We can talk about this on Monday during the Workgroup Leads meeting.
But, I am...

1. very reluctant to re-open design changes of any kind at this point (for many reasons, esp. something like this), and
2. believe that the actually action of “revealing the complexity” serves exactly the function it’s supposed to serve in session 06:  It reveals what’s getting in the way, the system dy

[2019-09-07 00:47] lzim commented on #634
Hi James,

Sorry about the lag, it’s been a full day!
This is my first volley of thinking through the SOP, so we can get it set up.

- Right, that is what I am proposing

- Specifically, all Team PSD work group leads are still responsible for triage & priorities overall.
- But, you would pull any psych_tracker issues into that tracker.
- While “ptool” was our working name for this for a while, I w

[2019-09-07 00:52] lzim commented on #553
Thanks for your thorough review, @dlkibbe!

Are you able to check off the boxes in the **s06_CHECKLIST** if/when you can confirm that you’ve completed the standard review? Thanks!

Have a great weekend 🌻

[2019-09-07 00:53] lzim commented on #303
Done!

[2019-09-07 00:58] lzim commented on #475
**HQ** @staceypark @jessfroe @ritahitching

I’m thinking this is not a feature, but simply a key part of the **document_tracker** **document_team** column.

In other words, it’s about producing the documentation for “how to” do things in the team.

[2019-09-07 01:03] lzim commented on #630
@saveth

Thank you!  This is a very important finding that we did not have before.
I’m very glad Craig mentioned this, and that you were able to evaluate it.

My understanding of the SOP is that we won’t close issues until they have been reviewed by the requester.

I’ll take a look at slides 17-19, see if I have more questions, and then run it by the Craig and the co-Is, ideally next week before w

[2019-09-07 01:04] #591 closed

[2019-09-09 14:32] staceypark opened #642 "Week of 9/9 #hqhuddle"
@lzim @jessfroe @ritahitching morning hq!
**Cross-ref: #613**

@staceypark
- [x] mtl.how/demo links: mtl live & mtl video intro update links
- [x] pull requests with Rita for updating bio
- [ ] schedule manuscript planning meeting with @lzim
- [ ] make sure all SOP edits are updated in OSF

_gifs_
- [x] give example of how to do it, and try to do a gif (with new monitors) based on Jane's comments

[2019-09-09 14:32] #613 closed

[2019-09-09 14:40] lzim commented on #642
Great!

Thanks @staceypark 🤘🏾

Happy Monday HQ @ritahitching and @jessfroe 😎

[2019-09-09 14:46] holbrooa commented on #429
I think what I've implemented here is working, but parts of it I can't test myself. So it's been hanging out in testing. I will need someone else to help with getting this ticket closed, but I'm not sure exactly who I'll need.

[2019-09-09 14:47] lzim commented on #642
Thanks @staceypark 🤘🏾

Happy Monday HQ @ritahitching and @jessfroe 😎

After Workgroup leads, I’m going to try hard to make it an all day #manuscriptMonday day for me

[2019-09-09 15:14] staceypark commented on #640
@holbrooa can you check this issue from Boston and @saveth can you test from virtual login?

[2019-09-09 15:16] saveth commented on #640
@staceypark just tested, the snipping image won't paste

[2019-09-09 15:17] jessfroe commented on #642
@ritahitching @lzim @staceypark good morning 🌞

I'll add that my priorities today 9/9 are
- [ ] Qual fidelity rating operational definitions
AND
- [ ] Qual coding for meeting tomorrow morning

Also, FYI, I have a doctor's appt **tomorrow** that was unexpectedly rescheduled in San Jose at 2:15p. It shouldn't take long, so I can continue working after the appointment if there are items I am able to

[2019-09-09 15:18] holbrooa commented on #640
Nope. Doesn't work for me either.

[2019-09-09 15:22] staceypark commented on #587
@jamesmrollins is testing new models right now & related to #401

[2019-09-09 15:22] staceypark commented on #401
@TomRust submitted models & @jamesmrollins is testing
#587

[2019-09-09 15:28] staceypark commented on #429
@lzim will give all facilitators same access to data UI that she has.
@holbrooa needs to test with persons with only provider access (@lzim will work with Dexter to test this).

Time outs will become inevitable so @holbrooa will need to write an updated message to the end user as LSV requirements become more strict.

[2019-09-09 15:30] jessfroe commented on #642
I'm also linking #613 so we can easily access the previous huddle. In case we want to reference it for any reason.

[2019-09-09 15:34] staceypark commented on #486
@holbrooa can you add updates on estimate of time left for your issues to help prioritize your work for the week?

[2019-09-09 15:46] staceypark commented on #637
@branscombj we created a new column in the feature tracker called "future_releases" where we will collect ideas like these that are not "essential fixes" to hold off until future releases.

Our priority right now is getting to a robust freeze on documentation, materials, and user interfaces to get ready for launch.

[2019-09-09 15:51] staceypark commented on #475
- [ ] training on how to login as Lindsey to manage Lucid meetings as HQ & workgroup leads

[2019-09-09 16:39] branscombj commented on #637
Good idea! For this specific idea, though, I think @lzim has explained good reasons against it, so I'm fine with that. Thanks, @staceypark !

[2019-09-09 17:07] lzim commented on #642
# HQ Decisions Re: #hqhuddle and priorities

## 1. @staceypark "week of" will
- Use point person headers
- (optional) of sub-headers of possibly related tasks, e.g., "training"

## 2. Number in order of priority - (top 3 things that need to be done by lunch)
- Don't worry about anything (ordering of priorities, etc.) that doesn't have to be done by lunch.

## 3. Re-assess at the mid-day #hqhuddle

[2019-09-09 17:46] holbrooa commented on #486
This requires some long-running queries, so I am planning on working on it mostly at the end of my days, then letting it run into the evening. I would estimate at least a couple evenings of that. Should be good by Thursday.

[2019-09-09 17:50] holbrooa commented on #596
I've been getting buggy results for this. I'm hoping to have it all sorted tomorrow. Since you have a specific team you want to rerun with this change, perhaps I can use that as part of my testing. We can run it later this week and see what the results look like.

[2019-09-09 18:26] jamesmrollins opened #643 "9/13: Develop Leadership Outgoing Message"
**1. Add description:**
Develop a PowerPoint presentation to elicit support from site leadership.

<< Paste screenshots here>>

**2. Click on the right:**
a. **Projects** - assign to **issue_tracker.**
b. **Assignee** - assign relevant team members.
c. **Labels**- review and select all potential _MTL_ dependencies.
d. **Milestones** - select the dependent milestone.

------------------------------

[2019-09-09 18:58] lzim commented on #642
Hi HQ!

I wanted to give you all a heads up pre-lunch, that I've squeezed in a meeting with Craig and Tom from 12noon-1PM.

- Please either: 1) mid-day #hqhuddle without me, or 2) skip the huddle and proceed with what we discussed this morning.

- I'll be ready for a COB #hqhuddle at 4PM.

Thanks!

Lindsey

[2019-09-09 18:58] jamesmrollins opened #644 "9/17: Demo Site Not Allowing Login"
**1. Add description:**
I was trying to access the MTL demo but kept running into the error when trying to play the simulation: “The expiration date for group(account=va, project=va-psd-demo, group=team_mtl_demo-jan-2019) has passed”

<< Paste screenshots here>>

**2. Click on the right:**
a. **Projects** - assign to **issue_tracker.**
b. **Assignee** - assign relevant team members.
c. **Labels**-

[2019-09-09 19:01] jamesmrollins commented on #644
@lzim @staceypark @jessfroe I THINK, but am not sure, this may be a duplicate record issue.  If a user registers for a demo session, and the days expire, you cannot force more days in the Admin screen.  The user has to be deleted from the Admin screen AND Epicenter End Users.  Then they can register again.  I have made these correction and have asked Dexter to try again.  I will inform you of the

[2019-09-09 19:02] jessfroe commented on #642
Thanks for the heads up, @lzim
@staceypark @ritahitching I am okay working on the items we've already discussed and huddling at 4:00p. Let me know what you think.

[2019-09-09 19:28] jamesmrollins commented on #639
@saveth I am finished with the update of the models in the TEST session of the SIM UI.  Please let me know when you are done with your functions, and then I can finish the process of updating the model code in GitHub.

@TomRust when I get clearance from @saveth I will send you an updated copy of the CC model.  The variable names for the learning mode settings were incorrect in one of them.  The up

[2019-09-09 19:39] jessfroe commented on #614
Hi @lzim, could you let me know if I'm on the right track and have accurately interpreted what we discussed earlier?
I put a question mark after the ones I was _really_ not sure about.

**clear_engagement**
Facilitators established relationships, built trust, and created processes for action.
(?)

**partner_for_change**
We recognized the need to partner to create change and improvement.

**transpa

[2019-09-09 19:59] saveth commented on #639
@jamesmrollins what should I be looking out for in the export file?

[2019-09-09 20:16] jamesmrollins commented on #397
@saveth @TomRust @staceypark Fellow Leads 😁

I am trying to test the Facilitator Dashboard in TEST.  Would y'all do me a big favor?

1.	1.  Login to the TEST environment, and choose the facilitator_test_ind world.
2.	2.  Open a module and Run an experiment.  Any experiment is fine.
3.	3.  Save the experiment.  Any name is fine.

This should only take about 10 minutes, tops. I promise! 🤞

[2019-09-09 20:23] jamesmrollins commented on #639
@saveth .  Since there were no model variable changes, only formula changes, there should be no changes to the export.  So you can go on that, or login and run a module to the end and export.  Then see that it runs OK in your code.  If any exceptions, then we can correct.  I would recommend that latter.

Thanks
James

[2019-09-09 20:26] saveth commented on #639
@jamesmrollins I can click on the export in the sim, but in the test environment, the export button doesn't work. I've tried the export from the the expanded "Output and Text" and it does nothing. This is for mm.

[2019-09-09 20:31] jamesmrollins commented on #639
@saveth did you save it first?  BTW, which export button did you use?

[2019-09-09 21:13] ritahitching commented on #642
### ***Screen Tracking Details***

- Photos sent via email to LZ
- cc NCPTSD Admin Doug & Mary - @lzim do you want me to email them?
- Update as monitors are tested
- Screens supplied with HDMI & VGA ports & Video & USB

| Box Number  | Serial Number |User Name|Tested|
| ------------- | ------------- | ------------- |------------- |
| 1 | K1LMTF136062 |LZ  | Yes|
| 2 | K1LMTF136061  |LZ|Yes|
| 3 |

[2019-09-09 21:44] saveth commented on #639
@jamesmrollins I've reviewed cc, mm, and sp as you've requested. I've updated my code for sp export files. Therefore, we can now check off my dependency on this issue. 😄

[2019-09-09 22:28] staceypark commented on #506
@branscombj @dlkibbe

I created a new gif for Step 3 according to this change. The new gif I uploaded is still called the "sim_ui_sections" like before so it changed in all instances of this gif.

I already created an updated gif called "sim_ui_login.gif" a while back to address this. It looks like I hadn't updated it everywhere though. In my most recent pull request, I updated this gif under step

[2019-09-09 22:33] jessfroe commented on #642
@staceypark @lzim
When you say rename the M/W/F meetings to correspond to the weekly material, does that mean instead of "Manuscript Monday", "Intersession Prep", and "MTL Live Co-facilitation Practice", all of the meetings would be named "s07: _Modeling to Learn_ base case"?
Or, would it be "Manuscript Monday - S07, _Modeling to Learn_ base base"?
Or, something I am not even thinking about?

[2019-09-09 22:40] staceypark commented on #642
@jessfroe @lzim I think this would make the most sense to me:
#manuscriptmonday - s07: Modeling to Learn base case
#fidelityfriday - s07: Modeling to Learn base case

our poor wednesday still has no alliterative name though

[2019-09-09 22:50] jessfroe commented on #642
@staceypark I do like using the hashtags! I can start incorporating those at least on Mon/Fri.

[2019-09-09 23:06] jamesmrollins commented on #639
@saveth thanks!

@lzim @staceypark @jessfroe  With your permission, I would like to promote to PROD.  I don't believe we have any other dependencies.  Thanks James

[2019-09-09 23:19] ritahitching commented on #642
### **Meetings** Attendanc

| Monday  | Tuesday |Wednesday| Thursday| Friday|
| ------------- | ------------- | ------------- |------------- | ------------- |

[2019-09-10 00:26] lzim commented on #639
Great, makes sense to promote this.

@TomRust and @staceypark have these been uploaded as the current SP, CC and MM MTL 1.8 models at https://mtl.how?

[2019-09-10 00:34] lzim commented on #642
**#manuscriptmonday - s07: Modeling to Learn base case**
**#fidelityfriday - s07: Modeling to Learn base case**

@jessfroe I agree with @staceypark

Let’s put the session details at the end after the session we’ll be focusing on, like in the bolded examples above. **_Please do the same for Wednesday, it’s ok that it does haven’t a catchy hashtag_**. 😢

Why? **We WILL be keeping #intersessionprep m

[2019-09-10 00:40] lzim commented on #640
UPDATE **TeamPSD Workgroup Leads** (and Team PSD members documenters)

@staceypark @ritahitching @jamesmrollins @TomRust @jessfroe @saveth @holbrooa @branscombj @dlkibbe

FYI: We are not currently able to use any file uploads on GitHub, this includes upload of model files (.mdl) @TomRust or anything else, including snips. _That means in issues, or in pull requests._

NEXT STEPS:
1. We captured ima

[2019-09-10 00:42] lzim commented on #642
@staceypark

- [ ] Alert GitHub to problems with PR and Issues with the Inspector Console screen shots

[2019-09-10 00:44] lzim commented on #429
@lzim

**Cross ref #429**

- [ ] Add _MTL_ Co-Facilitators to the Operations Access Permissions list for this CDW workgroup
- [ ] Test provider permissions with residents on Tuesday 9/10.

[2019-09-10 00:48] lzim commented on #637
Okay, let’s do this:

1. I’ll close this specific issue and remove it from the new **future_releases** column of the **feature_tracker**
2. We’ll keep this new column, move to a release-based model according principles @staceypark outlined above:

[2019-09-10 00:48] #637 closed

[2019-09-10 00:55] lzim commented on #596
Okay, thanks @holbrooa!

- [ ] **Coordinate with @TomRust and @staceypark** to test **Team 4** on **9/5 prototype Data UI: Use PC diagnoses from Jodie for SP instead of using stop codes #596**
- **NOTE**: _This testing should be done by COB Thursday, if we want to prepare for using any updated data for session 7 the following week._
- I won’t be able to test, I’ll be at a conference
- _We may **NO

[2019-09-10 01:00] lzim commented on #614
**Fo Sho** @jessfroe!
💣

This is what I meant to start from our **facilitator fidelity ratings** and our **CBPR theory of change** survey items.

We’ll work on this tomorrow starting at 8AM Pacific - see you there @teampsdkathryn @dlounsbu @swapmush

[2019-09-10 01:49] ritahitching commented on #642
Resources Wish List
- To be added to Resources after initial list is complete

@lzim @staceypark @jessfroe
**Books

[2019-09-10 04:48] jessfroe commented on #642
@lzim @staceypark
Sounds great, thanks for the feedback. I will start populating the meetings with the new titles tomorrow.
👍🏼

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-10 05:48] jamesmrollins commented on #339
Hi @lzim .

**Situation**
In discussion of the design for the data collection algorithm and screens, DEV pointed out that we will **already know the user's email**, by virtue of them logging in either to the sim, or by requesting a demo login. We need the email in order to notify them that we have received their issue.  If they want to join, we can also follow up.

The only exception to the above,

[2019-09-10 14:02] lzim commented on #339
@jamesmrollins

- Great point that learners have already provided their email.

But, given that is the case, can’t we simply say:

**Recommended edit:** “We will use your email to confirm receipt of your message and to contact you for any necessary followup. We will not share your email with anyone outside VA Team Participatory System Dynamics (Team PSD)."

- We don’t need the button on the demo l

[2019-09-10 16:48] jessfroe commented on #614
**Per qual meeting 9/10/2019:**
- Overlapping coding is okay: these codes are **not mutually exclusive**
- Code by **speaker**
- To what extent is the **facilitator** engaging in the **theory of change**
- Probably won't have much coding of the teams - we are interested in the _extent_ to which the _facilitator_ engages in the participatory principles

- Potential to look at the whole session as a

[2019-09-10 17:10] staceypark commented on #475
mtl.how/live Video & Audio Recordings -
1. Hit record & make sure the red button is showing at the top right
2. Make sure everyone has their speakers off and then turn on the microphone
3. Note: the webcam and the phone speaker need to be near each other

[2019-09-10 17:32] jessfroe commented on #614
@lzim before I populate the table of PARTNER/BUILD/APPLY with the codes within each phase, can you confirm that my codes are corresponding to the correct statements? Otherwise I am not sure that I will put them underneath the correct phase.
Thanks! 😸

[2019-09-10 17:39] staceypark commented on #462
@holbrooa I moved the due date to the beginning following our convention of Title = due date + description.

Like we discussed at the Workgroup Leads meeting yesterday, #462, #615, and #424 are our top priority as we need them done to submit our protocols for the grants prior to launch.

You & @saveth will be at the AI conference starting 9/18 (and you have to travel out here) so we need these don

[2019-09-10 17:45] staceypark commented on #424
@saveth @holbrooa Your top priority is to finish #462, #615, and #424 as we discussed at the Workgroup Leads meeting yesterday, which we need to submit our protocols prior to launch.

You will both be at the AI conference starting 9/18 so these need to be done by 9/16 or they aren't delayed another 2 weeks.

[2019-09-10 17:45] staceypark commented on #615
@saveth Like we discussed at the Workgroup Leads meeting yesterday, #462, #615, and #424 are our top priority as we need them done to submit our protocols for the grants prior to launch.

You & @saveth will be at the AI conference starting 9/18 so we need these done by latest next Monday 9/16 as our top priority.

[2019-09-10 17:51] jessfroe commented on #614
Phase | Code | Fidelity Rating
| - | - | -
| **PARTNER** |  |
|  | clear_engagement | Facilitators established relationships, built trust, and created processes for action. |
| | partner_for_change | We recognized the need to partner to create change and improvement.|
| | transparency |We were clear about the purposes or goals of this improvement effort. We made VHA data resources in this effort t

[2019-09-10 17:52] jessfroe commented on #614
FYI @lzim I populated the table with my current understanding of the code and their corresponding Fidelity Q. Please let me know if I need to adjust it at all.

[2019-09-10 18:03] saveth commented on #615
@staceypark @lzim I noticed that you've changed the due date to be next week. This is NOT feasible. @holbrooa hasn't even provided me with the data and I need at least a month to validate and code the analysis. We spent over 4 months validating and coding the EBP Initiate data, so I can't do this in a week assuming I get the data now.

[2019-09-10 18:07] staceypark commented on #506
@branscombj @dlkibbe I've updated the gif guide (https://github.com/lzim/teampsd/tree/master/resources/gif_guide) to include step by step instructions on recording your screen using either PowerPoint or Screenomatic and converting to gifs using ezgif.

Note: As mentioned in the gif guide, when updating existing gifs, you want to keep the ***same name*** for the file name. This way when you delete

[2019-09-10 18:08] staceypark commented on #642
- [ ] Get Steve Lindley a github account

[2019-09-10 18:30] branscombj commented on #506
@staceypark Got it!

[2019-09-10 18:31] holbrooa opened #648 "wk4 june_epic MTL Manual Edits - Suicide Prevention and Stepped Care floors and episode counts"
@TomRust and @holbrooa are meeting to discuss emergent SP parameter issues.

1. **High-symptom proportions are limited to user-selected SMH team**
Currently, high-symptom proportions are very low, because patients are categorized as high-symptom based on being stepped up to the SMH team that the user selected. In real life, many patients are stepped up to other SMH teams, so categorizing those pat

[2019-09-10 19:04] jessfroe commented on #642
@lzim @staceypark @ritahitching
If we are huddling after lunch at 1:30, I will miss the huddle. Sorry about that.
Please include any tasks for me on the thread and I will turn to them after my doctor's appointment.

I am working on changing the names of the M/W/F meetings, as well as editing the S07 checklist a bit.

[2019-09-10 19:53] jessfroe opened #650 "s01_resources"
**Important Links**

## Platforms
mtl.how/lucid
mtl.how/teampsd
mtl.how/live
mtl.how/live
mtl.how/fidelity

## Guides & Checklists
**SEE guide:** https://github.com/lzim/mtl/blob/master/session01/s01_learner/mtl_session01_see.md

**SAY guide:**

**SAY checklist:**

**Cheatsheet:**
https://github.com/lzim/mtl/blob/master/session01/s01_learner/mtl_how_live_cheatsheet.pdf

**Pre Checklist:**
https://

[2019-09-10 19:53] jessfroe opened #651 "s02_resources"
**Important Links**

## Platforms
mtl.how/lucid
mtl.how/teampsd
mtl.how/live
mtl.how/data
mtl.how/fidelity

## Guides & Checklists
**SEE guide:** https://github.com/lzim/mtl/blob/master/session02/s02_learner/mtl_session02_see.md

**SAY guide:**

**SAY checklist:**

**Cheatsheet:**
https://github.com/lzim/mtl/blob/master/session02/s02_learner/mtl_how_live_cheatsheet.pdf

**Pre Checklist:**
https://

[2019-09-10 19:54] jessfroe opened #652 "s03_resources"
**Important Links**

## Platforms
mtl.how/lucid
mtl.how/teampsd
mtl.how/live
mtl.how/data
mtl.how/fidelity

## Guides & Checklists
**SEE guide:**
https://github.com/lzim/mtl/blob/master/session03/s03_learner/mtl_session03_see.md

**SAY guide:**

**SAY checklist:**

**Cheatsheet:**
https://github.com/lzim/mtl/blob/master/session03/s03_learner/mtl_how_data_cheatsheet.pdf

**Pre Checklist:**
https://

[2019-09-10 19:55] jessfroe opened #653 "s04_resources"
**Important Links**

## Platforms
mtl.how/lucid
mtl.how/teampsd
mtl.how/live
mtl.how/menu
mtl.how/fidelity

## Guides & Checklists
**SEE guide:**
https://github.com/lzim/mtl/blob/master/session04/s04_learner/mtl_session04_see.md

**SAY guide:**

**SAY checklist:**

**Cheatsheet:**
https://github.com/lzim/mtl/blob/master/session04/s04_learner/mtl_how_sim_cheatsheet.pdf

**Pre Checklist:**
https://g

[2019-09-10 19:55] jessfroe opened #654 "s05_resources"
**Important Links**

## Platform
mtl.how/lucid
mtl.how/teampsd
mtl.how/live
mtl.how/data
mtl.how/facilitate
mtl.how/sim
mtl.how/fidelity

## Guides & Checklists
**SEE guide:**
https://github.com/lzim/mtl/blob/master/session05/s05_learner/mtl_session05_see.md

**SAY guide:**

**SAY checklist:**

**Cheatsheet:**
https://github.com/lzim/mtl/blob/master/session05/s05_learner/mtl_how_sim_cheatsheet.pdf

[2019-09-10 19:56] jessfroe opened #655 "s06_resources"
**Important Links**

## Platforms
mtl.how/lucid
mtl.how/teampsd
mtl.how/live
mtl.how/facilitate
mtl.how/sim
mtl.how/fidelity

## Guides & Checklists
**SEE guide:**
https://github.com/lzim/mtl/blob/master/session06/s06_learner/mtl_session06_see.md

**SAY guide:** https://github.com/lzim/mtl/blob/master/session06/s06_facilitator/mtl_session06_say.md

**SAY checklist:** https://github.com/lzim/mtl/bl

[2019-09-10 19:57] jessfroe opened #656 "s07_resources"
**Important Links**

## Platforms
mtl.how/lucid
mtl.how/teampsd
mtl.how/live
mtl.how/facilitate
mtl.how/sim
mtl.how/fidelity

## Guides & Checklists
**SEE guide:** https://github.com/lzim/mtl/blob/master/session07/s07_learner/mtl_session07_see.md

**SAY guide:** https://github.com/lzim/mtl/blob/master/session07/s07_facilitator/session07_say.md

**SAY checklist:** https://github.com/lzim/mtl/blob/m

[2019-09-10 19:57] jessfroe opened #657 "s08_resources"
**Important Links**

## Platforms
mtl.how/lucid
mtl.how/teampsd
mtl.how/live
mtl.how/facilitate
mtl.how/sim
mtl.how/fidelity

## Guides & Checklists
**SEE guide:** https://github.com/lzim/mtl/blob/master/session08/s08_learner/mtl_session08_see.md

**SAY guide:** https://github.com/lzim/mtl/blob/master/session08/s08_facilitator/mtl_session08_say.md

**SAY checklist:** https://github.com/lzim/mtl/bl

[2019-09-10 19:58] jessfroe opened #658 "s09_resources"
**Important Links**

## Platforms
mtl.how/lucid
mtl.how/teampsd
mtl.how/live
mtl.how/facilitate
mtl.how/sim
mtl.how/fidelity

## Guides & Checklists
**SEE guide:** https://github.com/lzim/mtl/blob/master/session09/s09_learner/mtl_session09_see.md

**SAY guide:** https://github.com/lzim/mtl/blob/master/session09/s09_facilitator/mtl_session09_say.md

**SAY checklist:**
https://github.com/lzim/mtl/bl

[2019-09-10 19:59] jessfroe opened #659 "s10_resources"
**Important Links**

## Platforms
mtl.how/lucid
mtl.how/teampsd
mtl.how/live
mtl.how/facilitate
mtl.how/sim
mtl.how/fidelity

## Guides & Checklists
**SEE guide:**
https://github.com/lzim/mtl/blob/master/session10/s10_learner/mtl_session10_see.md

**SAY guide:** https://github.com/lzim/mtl/blob/master/session10/s10_facilitator/mtl_session10_say.md

**SAY checklist:** https://github.com/lzim/mtl/bl

[2019-09-10 20:00] jessfroe opened #660 "s11_resources"
**Important Links**

## Platforms
mtl.how/lucid
mtl.how/teampsd
mtl.how/live
mtl.how/facilitate
mtl.how/sim
mtl.how/fidelity

## Guides & Checklists
**SEE guide:** https://github.com/lzim/mtl/blob/master/session11/s11_learner/mtl_session11_see.md

**SAY guide:** https://github.com/lzim/mtl/blob/master/session11/s11_facilitator/mtl_session11_say.md

**SAY checklist:** https://github.com/lzim/mtl/bl

[2019-09-10 20:00] jessfroe opened #661 "s12_resources"
**Important Links**

## Platform

mtl.how/lucid
mtl.how/teampsd
mtl.how/live
mtl.how/facilitate
mtl.how/sim
mtl.how/fidelity

## Guides & Checklists
**SEE guide:** https://github.com/lzim/mtl/blob/master/session12/s12_learner/mtl_session12_see.md

**SAY guide:**
https://github.com/lzim/mtl/blob/master/session12/s12_facilitator/mtl_session12_say.md

**SAY checklist:** https://github.com/lzim/mtl/bl

[2019-09-10 20:03] staceypark commented on #496
@branscombj I moved your gif suggestions to the checklist at the top under the gifs bullet. As we mentioned in #506 s07_describe, questions and edits on gifs should be tracked on their respective card in the document_tracker.

You also asked a question about:

I think it makes sense to say Home page since this corresponds to the "Home" button on the sim navigation bar at the top. @lzim @dlkibbe -

[2019-09-10 20:09] dlkibbe commented on #496
"Home page" makes sense to on the "Join Current Session" page. Also, want to reconfirm we are calling the next page the "main model diagram." @staceypark @branscombj @lzim

[2019-09-10 20:55] jamesmrollins commented on #397
Thank you @saveth and @TomRust for your help testing.  The facilitator dashboard appears to be working correctly with its new features.  DEV is done, unless something comes up.

[2019-09-10 20:57] jamesmrollins commented on #588
@staceypark since you have a card started on this, I will move this to the "done' pile.  When documentation is GTG, then we can promote to PROD.

[2019-09-10 20:58] branscombj commented on #496
@dlkibbe @staceypark @lzim Concur: first page after login is HOME - It's where any Home button takes you. Next page after you hit Play is the Sim UI MAIN PAGE. It's not the "main model diagram" because the diagram is only a part of the page. We've just been referring to it as the Main Page. (I can't think of anything better and this works for me.)

[2019-09-10 22:10] ritahitching commented on #642
@lzim @staceypark @jessfroe
Show link to training manual - so that I can update / add content, please.

[2019-09-10 22:16] lzim commented on #424
@saveth !

Thanks for these questions.
FYI: @holbrooa and @staceypark

_EBP Reach R21_
1. P-chart: a) Omnibus EBP Reach (initiate), b) Omnibus EBP Reach (continuity)
2. X-bar chart: Days from intake to first EBP.

_Clinic_
- sta6a
- for now, let’s not worry about anything at a lower level of aggregation, e.g., a team, as in the past that has been unstable.

- Yes, we need it for all the definition

[2019-09-10 22:39] lzim commented on #644
@jamesmrollins and @staceypark (removing Jessilyn)

- Dexter and I just went through this again, and I mistakenly did not catch him before he re-registered under the 3 day testing window.

I propose we do this:

1. Prompt people to alert them that they want to enter a course code if they have one, and/or
2. Prompt to alert them that it will time-out after 3 days if they do not have a course code,

[2019-09-10 22:42] saveth commented on #615
@staceypark @lzim Glad we were able to talk this afternoon to clarify things. I've updated the template above to include the time line and details on what I anticipate will need to happen to accomplish this task.

[2019-09-10 22:46] lzim opened #663 "ASAP MTL Demo: Learning Mode not updated at mtl.how/demo"
**1. Add description:**
@jamesmrollins Dexter and I were in **demo** and noticed that the **MM** module had the old **Learning Mode.**
- Haven't tested CC

**2. Click on the right:**
a. **Projects** - assign to **issue_tracker.**
b. **Assignee** - assign relevant team members.
c. **Labels**- review and select all potential _MTL_ dependencies.
d. **Milestones** - select the dependent milestone.

--

[2019-09-10 22:56] lzim commented on #644
NOTE @jamesmrollins

It is a bummer that we're having a GitHub screenshot problem...:cry:

But, I also note that Dexter doesn't have the warning that he's having a user time-out error until he's well into the Sim UI.

- Also fun...
- We found that when I logged into PROD at the same time, as myself, it switched Dexter's instance in a separate browser window of Chrome, over to me in my Individual w

[2019-09-10 22:59] saveth commented on #615
@holbrooa promised that he will provide the data by COB 9/11.

[2019-09-10 23:02] lzim commented on #642
@lzim

- [ ] 1. Dexter's Demo Account deleted [again] set him up with course code, or talk with @staceypark about pros of adding him to one of our _MTL Facilitate_ training teams.
- SIRC2019

- [ ] 2. Once Dexter creates a free GitHub log-in; add him as a Team PSD Contributer

- [ ] 3. Have Dexter sign the NCPTSD Research Scope of Practice

- [ ] 4. Test Data UI permissions at next meeting

[2019-09-10 23:10] saveth commented on #424
@lzim thanks for providing the information regarding what level of EBP measures and what time period you're interested in.

@holbrooa Can you provide information on the following:
1) update on the estimated time to pull the data for this issue
2) what format will the data be in and how it'll look so that I can estimate my time and estimate the type of coding I might need to do to finish my end of

[2019-09-10 23:33] lzim commented on #642
# Mid-day #hqhuddle

@staceypark
- [ ] Tracking **quant_workgroup** - need details and cost estimate re: **EBP reach continuity**
- Need to confirm that there isn't any wrinkles/changes that shift in any way from what proposed

_R01/IIR Launch_ Science
- [ ] Manuscripts **R01/IIR Protocols**
- **R01** https://osf.io/8pzxu/
- **IIR** https://osf.io/p7g8f/

- [ ] **Create a Checklist:** Review what

[2019-09-10 23:39] saveth commented on #424
@lzim will we need individual p-chart for each sta6a for the R01/IIR? If so, we will need to finalize our site selections to determine which sites we will need to generate p-charts for.

[2019-09-11 00:10] lzim commented on #614
Yes @jessfroe - the table looks great!

NOTE: I edited above one thing, which is that we are coding by **TEAM MEETING NOTE**
- We made the change during the meeting.

Thanks!

FYI: @swapmush @dlounsbu @teampsdkathryn

[2019-09-11 00:16] lzim commented on #397
@jamesmrollins @saveth @TomRust Thanks!!!!!

@staceypark and @ritahitching
This needs to be in the **document_tracker** and documented for training.
- Does it go in the **detail_facilitate** _and_ **team_document** columns?

[2019-09-11 00:20] lzim commented on #642
@staceypark @jamesmrollins @jessfroe @ritahitching

- I don’t want the training re: TEAM and DEMO sites to get lost...
- Based on the issues I had with Dexter today, I continue to feel we need a full DEV > TEST > PROD for DEMO...

@staceypark Although I’ve wanted to get to it.
- [ ] I still haven’t updated the MTL SEE guide link on https://mtl.how/demo which should point to https://mtl.how
- [ ] W

[2019-09-11 00:25] lzim commented on #642
@ritahitching

Can you format this like a typical weekly calendar:

| Monday | Tuesday | Wednesday | Thursday | Friday
| - | - |- | - | -
| meeting | meeting | meeting | meeting | meeting

[2019-09-11 00:29] lzim commented on #615
Thanks @saveth @holbrooa and @staceypark for staying on top of this.

- For @holbrooa’s piece of this: I would rank #615 for the _R01 protocol_ and trial registration - **EBP Reach Dose/Course** higher than #424 p-chart update for the _R21 preliminary findings_

- We do need @saveth to be able to going on this ASAP, esp. if this something she is worried may take an additional month...

[2019-09-11 00:33] lzim commented on #424
- For @holbrooa’s piece of this: I would rank #615 for the _R01 protocol_ and trial registration - **EBP Reach Dose/Course** higher than #424 p-chart update for the _R21 preliminary findings_

- We need:

- Updated **p-charts*** and **x-bar** charts for the **R21 preliminary findings** manuscript.
- This can be _after_ the details for the **launch of the R01** - we need our trial registration and

[2019-09-11 00:44] lzim commented on #648
@TomRust @holbrooa @saveth and @saveth

- Thanks. I will review these in more detail. But...
- Consistent with **workgroup_leads** meeting yesterday, this is a lower priority than getting @holbrooa’s piece of #615 to @saveth as she anticipates several weeks worth of work to complete this.
- We can turn to this after the **EBP Continuity Dose** piece is resolved. We need that for the **R01** & **II

[2019-09-11 01:24] swapmush commented on #563
@lzim

posting message here because there is no record of chat on OSF - sorry if I am re-repinging you.

[2019-09-11 03:05] jamesmrollins commented on #640
@lzim @staceypark  I called the help desk on this one to see if it is a security policy.  It is not - in fact the help desk uses it for troubleshooting too.  I can paste and upload into GitHub just fine, so I don't believe it is a Github issue.  A working hypothesis is a security policy that is preventing the use of these functions. The other theory, according to Microsoft, is a corrupt registry.

[2019-09-11 03:10] jamesmrollins commented on #663
@lzim @saveth @staceypark @TomRust @jessfroe @branscombj @ritahitching the versions of the app for the DEMO site are behind. I plan to get this updated as my first order of business tonight.  I apologize for any inconvenience.

[2019-09-11 03:30] jamesmrollins commented on #644
@lzim can you verify the captions for what is going on in these captures please?  My guesses are below.  We can also discuss in Thursday's meeting. I agree, I think we need better prompts for the user so they can understand what is going on with respect to seminar codes and having links to log back in.  I think that a pop up and an email would probably work best.

This is what happened when you lo

[2019-09-11 13:42] lzim commented on #640
Thanks @jamesmrollins

@staceypark please keep us posted on your progress with this one 1) via GH, then 2) VA. We all use this several times each day.

- Very promising that it can/will be resolved quickly if VA NSD uses GH for this same purpose.

[2019-09-11 13:49] lzim commented on #644
@jamesmrollins

You are correct re: screenshot 2 and screenshot 3.

The first shot is related to my comment that
1. Dexter logged in to DEMO in Chrome on my VA machine
2. We ran into errors on DEMO, and did not log out.
3. On the same VA machine, in a separate Chrome window, I logged into PROD Team 4 Individual World as myself.
4. When we toggled back to the DEMO page, it had adjusted Dexter’s DEM

[2019-09-11 13:51] lzim commented on #644
@jamesmrollins and @staceypark

- **Are there any fixes to the DEMO confusion that could be implemented _before_ we present at SIRC on Saturday?**

[2019-09-11 14:17] ritahitching commented on #642
@lzim re: meeting attendance - I'll reorder

[2019-09-11 15:13] jamesmrollins commented on #644
@lzim **Yes**.  The site should be working properly now.  The Group, to which everyone is assigned, had expired in July (see below).  We reset it to never expire.  I tested it this morning and it works ok.  We also updated it to the latest sim version, and have added these sites to our update checklist - so that should never happen again either.

![image](https://user-images.githubusercontent.com/

[2019-09-11 15:16] lzim commented on #642
**HQ** @staceypark @ritahitching @jessfroe
- **OLD Business please add for tomorrow’s Support Workgroup leads meeting**

_Re: SOP, Workgroup Leads, Cost (time) estimates & Due Dates_

- Stacey, I believe the conversation we had with Savet yesterday was productive, and illuminated a few aspects of the SOP that really need to be nailed down.
- I have recommendations that I believe will reduce issues

[2019-09-11 15:18] lzim commented on #644
@jamesmrollins & @staceypark

- yes

- what if we start with two weeks for now?

- great 👍🏾

- Right, I will.

[2019-09-11 16:10] jamesmrollins commented on #639
@saveth @staceypark @lzim @TomRust @jessfroe @ritahitching

I have updated all files to latest version in all instances of the simulation (DEV/TEST/PROD, and DEMO DEV/TEST/PROD)

Under the direction of @TomRust , I have cleaned up the model_workgroup directory removing out-of-date files.  I updated the models to the latest and added a model parameters file, so a person would have everything they n

[2019-09-11 16:11] saveth commented on #462
@holbrooa would you be able to provide any information on what the data structure or the column names will be like for the file you'll be providing to me? I would like to get a sense of how I should be thinking of the coding for #615. Thanks.

FYI: @lzim @staceypark

[2019-09-11 16:12] jamesmrollins commented on #663
@lzim @saveth @staceypark @TomRust @jessfroe @branscombj @ritahitching the CC and MM models are now updated in the DEMO site.

[2019-09-11 16:17] ritahitching commented on #642
@lzim completed  OSF: https://osf.io/adfx3/

[2019-09-11 16:17] holbrooa commented on #462
@saveth I'll end up with patient-level information tracking who hits completer status when. So what structure do we want for your analysis? Same as the initiate data, where I aggregate by sta6a and month for cy2018? That would make sense to me if it's part of the same analysis.

[2019-09-11 16:21] lzim commented on #642
@ritahitching thanks, but can you be more specific? I’m not sure which OSF task you mean in the hq training project at the link 😆

[2019-09-11 16:24] saveth commented on #462
@holbrooa Since @lzim wants the EBP Dose measure to be in line with the EBP Initiate Calculation, then we do want it to be aggregated to the Sta6a level. Will this be similar to the EBPsy Initiate sheet or more like the BaseAndRx sheet? I'm assuming that the denominator will be the same, we're using the denominator from the BaseAndRx sheet that you've already provided?

[2019-09-11 16:27] holbrooa commented on #462
I'm picturing just another column, or six columns if we want one per type of completer, on the EBPsy sheet. But will that work for what you need to do?

[2019-09-11 16:31] ritahitching commented on #642
@lzim :see_no_evil:
link to OSF: https://osf.io/adfx3/
 https://osf.io/adfx3/wiki/Typical%20Weekly%20Meeting%20Calendar%20Attendees/

[2019-09-11 16:39] saveth commented on #462
@holbrooa If you're planning on just updating the comparator data file, then a column of EBPDosePatients would be appropriate. With regards to the EBPharm Dose:

-  Depression: I'm assuming this would be the sail43h and sail 47h numerators? Is this correct?
- AUD and OUD: are these the same people as those in the Initiate or are they a separate count, therefore new variables?

[2019-09-11 16:59] holbrooa commented on #462
@saveth I think that's correct about the depression patients. I'm not sure yet about the AUD and OUD dose (the scripts we got are formatted very differently) but I'll let you know.

[2019-09-11 17:09] lzim commented on #462
@holbrooa and @

Very glad to see some action on this “issue” and I hope that #615 and #462 are being tracked well, despite being separated FYI: @staceypark

- I’m not sure I understand the operational definition of the phrase: “...are these the same people as those in Initiate...” Seemingly what is important according to how the tests of specific aims were written is what 1) EBP Reach (Initiate)

[2019-09-11 17:16] ritahitching commented on #642
@lzim @jessfroe @staceypark
I started the **TeamPSD Training Manual Draft V 0.1** in **OSF** using the word document @jessfroe started. If there are any existing additional resources that you'd like me to add please email them to me or direct me as to where I can find them on GitHub or TeamPSD folder - don't want to reinvent the wheel. :pray:
https://osf.io/adfx3/wiki/TeamPSD%20Training%20Manual%2

[2019-09-11 17:27] saveth commented on #462
@lzim @holbrooa As indicated in https://osf.io/z7y8m/wiki/home/ , the definition of AUD and OUD Initiate in the grant and how we operationalize these variables are counting anyone who has a prescription for AUD or OUD.

Given that the grant define course for EBPharm as anyone who has enough refills for a guideline-recommended trial for each medication, I do not know if this mean if they are counti

[2019-09-11 17:29] staceypark commented on #642
@lzim sounds good I can show @ritahitching where to find those

[2019-09-11 17:33] holbrooa commented on #462
@lzim One bit of logic to double-check here, since you're monitoring:

In general, the main way EBP completers get captured is "X visits (with a template) in Y days" type of logic. For the purpose of these completers, I'm not using the concept of graduation, i.e. if you hit the threshold but continue getting more visits, that's ok, you still get credit. So then I have to "throw out" those subseque

[2019-09-11 17:39] lzim commented on #462
Right @saveth these are exactly the types of data structure and other details, that I am seeking clarity about too.

Except that, given that the unit of observation and analysis in the grant is **sta6a** each **month...**

1.  it should be less critical whether a monthly sta6a observation for EBP Reach Initiate and EBP Reach Course are the same people for any given month.
- Albeit, at an under spe

[2019-09-11 17:41] lzim commented on #462
@holbrooa

Our messages crossed in the ether...reading your post now on the runway...and will try to get a reply to you before I lose internet in the air ✈️

[2019-09-11 17:58] swapmush commented on #563
@lzim
Manuscript Updates:
1. Added activities that trainees engaged in during the 6 month period
2. New introduction section and brief background on Team PSD

What is needed:
1. LZ account
2. authorship agreement (should I fill out and resend to contributors?)
3. More information on disciplines that are synthesized in Team PSD / historical context of Team PSD up to training period
4. Not sure if t

[2019-09-11 17:59] lzim commented on #462
@saveth and @holbrooa

- Right. I believe your recap is accurate, and drawn from the grant.
- But, it is just underspecified (meaning, also underspecified in the grant) for _the role of time in the EBP Course numerator/denominator_ and the issues that are discussed above by @holbrooa and I.

- Naturally, the maximum denominator is the eligible EBP diagnostic cohort for a sta6a, and the numerator i

[2019-09-11 18:04] holbrooa commented on #462
@lzim

- Roger

- Technically, neither. I mean this exact idea from the first sentence above: **X visits (with a template) in Y days**  We know they often work on multiple templates in the same visit, so we can't just count templates. And in fact that's why the policy definition specifies templates completed on different days. So I filter to visits with a template, then I count those visits.

- Th

[2019-09-11 18:04] lzim commented on #563
Great, thanks @swapmush

We both likely need to revisit the Team PSD guides for using our Zotero library and APA style, etc. in a .md file
- Can uoubhelp us with this @staceypark?

- I’ll add today
2. authorship agreement (should I fill out and resend to contributors?)
- Let’s do that as we ask them to read a final version before submission

- I can add

- Let’s aim to wrap up our edits to circula

[2019-09-11 18:08] lzim commented on #462
@holbrooa

This all sounds very on track to me.

- good re: how handling templates and visits

- Right

- no ned for this now

- great 👍🏾

If you have enough to proceed with this, then go for it 😃

[2019-09-11 18:12] saveth commented on #462
@holbrooa I'm glad to hear that you got what you need to pull EBPsy Dose. Do you have enough info to operationalize the query for EBPharm Dose? If so, can you clarify for me on how we are counting EBPharm AUD and OUD?

[2019-09-11 18:14] lzim commented on #462
For @saveth’s question, and given @holbrooa’s double-checking.

So, it sounds like removed EBP Course folks (to avoid double-counting in subsequent months) will be handled via removal from both numerator _and_ denominator (in subsequent months), to ensure an accurate EBP Course proportion for any given sta6a month.

[2019-09-11 18:14] lzim commented on #462
BTW: Obviously still on the tarmac 😂

[2019-09-11 18:17] saveth commented on #462
@holbrooa @lzim Based on the comments above, it sounds like I will be getting new numerators and new denominators variables for EBP Dose calculation, which is separate from the EBP Initiate calculation. Is this correct?

[2019-09-11 18:18] holbrooa commented on #462
@saveth re: **AUD and OUD: are these the same people as those in the Initiate or are they a separate count, therefore new variables?** I'm not sure I'm following this question. If you mean new columns in the data table, then yeah. I will have new columns for each kind of completer. As for the same people, yes sort of. I mean, of course you have to get some of the drug (our initiate def) in order t

[2019-09-11 18:18] lzim commented on #462
Yes, I believe so. Based on the discussion above, but also conceptually both the numerator and denominator have to be different for EBP Course

[2019-09-11 18:24] holbrooa commented on #462
@saveth I'm trying to get EBPsy correct and to you first. Today, if at all possible (but these queries will take a long time). So I might have to come back to some of these ebpharm questions later.

@lzim I'm not understanding the concept that causes the denominator to have to be different for EBP Course. Might have to follow up once you're back on the ground.

[2019-09-11 18:32] saveth commented on #462
@holbrooa that's what I was originally thinking you'll produce. New columns with the EBP Dose counts of patients and we're using the same denominators (diagnostic cohort) for our reach. However, @lzim seems to suggests that how EBP Dose should be calculated will be different from how EBP Initiate was calculated, therefore requiring a different set of numerator and denominator for each month.

[2019-09-11 18:44] staceypark commented on #462
it sounds like we need to hold until @lzim provides more clarification so @holbrooa can give the correct pieces to @saveth ?

[2019-09-11 20:01] holbrooa commented on #462
My scripts are running. Fingers crossed. Re-reading this thread, I see now where I missed what @lzim was saying about the new denominators. I hadn't thought of removing those patients from the denominator. I'm trying to wrap my head around how that would work.

[2019-09-11 20:39] lzim commented on #462
@saveth @holbrook @staceypark

On the ground at SEA!

It’ll be a minute before I get to a place where I could talk to any of you about this.

But, where on a surface level (grant overview level), it makes sense to consider the exact same eligible diagnostic cohort denominator with either a...
1. EBP Reach Initiate numerator (to get a proportion/%) _or_ a...
2. EBP Reach Course numerator (to get a

[2019-09-11 21:06] holbrooa commented on #462
Ok. Sounds like maybe we should talk about it tomorrow. For now, I've put a new data file in the folder for @saveth and I will add the pharm columns either tonight or in the morning, depending on whether or not my queries for that finish.

[2019-09-11 22:11] lzim commented on #462
@saveth and @holbrooa

Okay, sure, thanks for all the work to clarify this today. It would be great for you to discuss at the meeting and document your further considerations/decisions in this issue.

I can provide remote support💻, but only via online/text as I have SIRC responsibilities all day tomorrow.

This is the question I’m considering with you both:

- Given how the query is run, if the _e

[2019-09-11 22:14] lzim commented on #462
Looping in @staceypark ☝🏽

[2019-09-11 22:36] staceypark commented on #462
By "translate" do you mean we need another equation?

[2019-09-11 23:26] lzim commented on #462
@staceypark

No, this statement (also note the EXCEPTION) should’t be considered in isolation of the overall thread from today.

Your quote from me is just one part of my multi-bullet attempt to describe what the potential issue is that I am attempting to clarify/resolve.

[2019-09-12 00:38] staceypark commented on #642
@lzim I created a CONSORT checklist for each grant in its respective OSF project.
I had some questions & notes about each which you can find at the top of each checklist.

**r01 consort checklist**: https://osf.io/8pzxu/wiki/consort_checklist/
**iir consort checklist**: https://osf.io/p7g8f/wiki/consort_checklist/

[2019-09-12 15:31] jessfroe opened #664 "RQDA r21_master projects code changes (DUE 9/12)"
@dlounsbu @swapmush @teampsdkathryn @lzim

Hi Qual workgroup,

Per our conversation in our meeting Tuesday 09/10, we need to update the fidelity codes within the **master_r21_train** and **master_r21_test** RQDA projects.

Instead of using the likert scale (1 - 5) codes, we are instead utilizing a **yes/no** dichotomous rating scale.
I (@jessfroe) will work on updating the projects by **COB today*

[2019-09-12 16:30] holbrooa opened #667 "Due TBD: Data UI adaptation to CCI - rollout unknown in FRE"
We don't know exactly when yet, but CDW is changing the way data are stored in a significant way. Without getting into technical details, all existing queries will work, but there might be major performance hits.  They don't have a date for the rollout on the FRE that we're using, but it will be within the next couple months, I think. They are rolling it out onto the first server this Saturday 9/1

[2019-09-12 20:55] ritahitching opened #669 "9/16/2019 Adding Rita Hitching, Jessilyn Froelich, & Ren Kramer headshots to team mtl.how website"
**1. Add description:**

Add Rita Hithcing Bio to mtl.how website
<< Paste screenshots here>>

**2. Click on the right:**
a. **Projects** - assign to **issue_tracker.**
b. **Assignee** - assign relevant team members.
c. **Labels**- review and select all potential _MTL_ dependencies.
d. **Milestones** - select the dependent milestone.

---------------------------------------------------------------

[2019-09-12 22:49] saveth opened #672 "TBD: p-chart data pull"
**1. Add description:**

In order to help to help clarify the request in #424, this issue is broken out into a number of tickets to differentiate the various "asks" and "due date".

We need the data to be pulled for EBP Initiate and Dose (numerator and denominator) for each sta6a and each month from April 2014 to today for the following conditions:

|Condition | Reach |
|-- | -- |
|with AUD | Omni

[2019-09-12 23:12] saveth opened #674 "wk3 R21 Tests of Specific Aims xbar charts and pcharts"
4/3/20 Update: Need to generate the xbar charts for the dataset Andrew provided that was used for the p charts. Barring any result from #1248 that would lead to a change in data, then both the xbar and pcharts would need to be remade

________________________________________
In order to help to help clarify the request in #424, this issue is broken out into a number of tickets to differentiate the

[2019-09-12 23:27] saveth opened #675 "WAVE1 Updates for the R01_IIR tt3"
**1. Add description:**
In order to help to help clarify the request in #424, this issue is broken out into a number of tickets to differentiate the various "asks" and "due date".

Once @holbrooa provides the data #672 and  p-charts for the R21 is done #674, then we need p-charts for clinics in the R01_IIR to be used in the tt-report with the following specs:

1. EBP Reach for Initiate and Dose as

[2019-09-13 13:41] lzim commented on #644
@jamesmrollins

- I was rethinking the issue of _not_ asking for names. Given some of the registration confusion we’ve had, I started to wonder if having a name that we can associate with active/registered emails may sometimes be key to helping people who get stuck in some way.
- Maybe I can ask you about that in person today!

![image](https://user-images.githubusercontent.com/30132017/64828129-f

[2019-09-13 14:34] lzim commented on #675
@saveth @staceypark @holbrooa @ritahitching

- Please note the policy from yesterday’s **Support Workgroup Leads** meeting: **_We do NOT want to assign due dates outside of meetings._**
- We can briefly discuss this on Monday, but as I mentioned in the prior issue on this (Cross-ref #424) this will not be due until much farther in the future than this. _Likely not until 4/01/2020 at the earliest._

[2019-09-13 15:07] ritahitching commented on #642
@staceypark @lzim
Currently populating mtl.how/team_tracker resource cards with links S01-S06
Note S02 has 2 versions of the cheatsheet: I used the most recent version

1. mtl_how_data_cheatsheet.pdf	updated **4 months ago**
2. mtl_how_live_cheatsheet.pd updated **14 days ago**

[2019-09-13 15:30] lzim commented on #642
Happy Friday HQ! 🏖

#### _Top 3 Priorities for things LATE or due COB_

**_1. quant_workgroup_**
- [ ] EBP Course data
- Cross-ref **Original Issue ** #462 **9/16 EBPsy and EBPharm course data** - LZ will try to manage this thread and provide guidance today.
- Cross-ref #615 **EBP Reach Dose calculation** THIS IS DUE ASAP, some components may be completed now, unfortunately still has the October D

[2019-09-13 15:34] staceypark commented on #642
FYI @lzim GitHub is not working in VA. I double checked on all the browsers just in case

[2019-09-13 15:37] lzim commented on #642
FYI: @staceypark

- I was concerned this may be the immediate result of the NSD ticket
- However, @ritahitching is using GitHub, please explain?

@ritahitching - glad you mentioned this - please STOP (quote references below) 😄
- We do NOT necessarily need to fully populate the **team_tracker** _prototype_ for those sessions
- @jessfroe created **resource_cards**  but we said we would NOT go back a

[2019-09-13 15:42] lzim commented on #642
@staceypark

- Re: GitHub down:  You’ll need to open another NSD help desk ticket with the additional issue and cross-ref your original ticket.

[2019-09-13 15:45] lzim commented on #642
@staceypark and @ritahitching
- Before working on WiFi...you need to work as hard as you can to resolve this issue ASPA on behalf of the team.
- **IF NO ONE FROM TEAM PSD can use GitHub from VA today** then priorities have shifted:
1. make sure to get a new NSD ticket going on the NEW issue ASAP
2. follow-up with the GitHub folks you contacted first earlier in the week _BEFORE_ opening an NSD Help

[2019-09-13 15:47] staceypark commented on #642
@lzim we're both using wifi/data but ok I'll reach out to GitHub and NSD as my first thing

[2019-09-13 16:01] lzim commented on #462
@holbrooa and @saveth

I’m sorry about the delay responding to these questions...it was getting quite confusing to track with the level of **issue_incoming** I was fielding across the team yesterday.

- Other sources of meds for **OUD EBPharm** may indeed be key if they are receiving methadone at a methadone clinic, but otherwise have visits managed in VA outpatient care. For methadone, this is co

[2019-09-13 16:04] lzim commented on #462
...working on thinking through the denominator issue now...

[2019-09-13 16:48] staceypark commented on #642
I updated the GH ticket with the newest issue (still have not heard back), created a new ticket with NSD, and updated James ticket on #640 with the issue as well.

They did tell me James's ticket got assigned to someone yesterday but could not tell me who.

[2019-09-13 16:51] staceypark opened #676 "test issue upload snip"
**1. Add description:**

<< Paste screenshots here>>

**2. Click on the right:**
a. **Projects** - assign to **issue_tracker.**
b. **Assignee** - assign relevant team members.
c. **Labels**- review and select all potential _MTL_ dependencies.
d. **Milestones** - select the dependent milestone.

![image](https://user-images.githubusercontent.com/31089501/64879986-08f90580-d60c-11e9-96b9-cee668959cd

[2019-09-13 16:51] #676 closed

[2019-09-13 17:11] lzim commented on #462
@holbrooa and @saveth

- Agreed that this is the key issue that we are working to clarify:

- Our scientific audience reviewing the designs and results of a cluster randomized trial (CRT) are principally concerned with unbiased estimation of the difference between our two trial arms due to the intervention received in each arm (MTL vs. AF/uQI) - i.e., a phase III superiority CRT design. Therefore,

[2019-09-13 17:20] staceypark commented on #640
Issue seems to have self-resolved.
@jamesrollins please close your helpdesk ticket asap. I cannot close it for you.

[2019-09-13 17:24] jamesmrollins commented on #640
@staceypark Need NHD number please 😁

[2019-09-13 17:27] holbrooa commented on #462
@lzim @saveth The example you give for expected description of tests makes a lot of sense. And it seems to me that that means we can't use option 2.

[2019-09-13 17:30] jamesmrollins commented on #640
@lzim @staceypark Ticket is now closed. 👍

[2019-09-13 17:31] #640 closed

[2019-09-13 17:34] ritahitching commented on #642
@lzim your 2 monitors are installed - need to test them. Are you remote logging in?

[2019-09-13 17:52] staceypark commented on #496
@dlkibbe @branscombj @lzim why don't we say "Play" page or just Play since that's what that page is called from the nav bar

[2019-09-13 18:06] staceypark commented on #553
@dlkibbe just want to follow-up on @lzim comment and confirm that the checklist above was completed?

[2019-09-13 18:08] staceypark commented on #552
Reminder that video review for s07 is due COB today.
Looks like @jessfroe assigned @branscombj AGG & CC and @dlkibbe SP.

Were you guys able to look through the videos following the checklist above?

[2019-09-13 18:14] staceypark commented on #558
@branscombj @dlkibbe reminder that s05 video review is also due today.
Based on the schedule, we've been working on these over the past two weeks.

Both s07 & s05 are due today, but since we are doing s07 next week for training, if the video review is behind, I would recommend starting with s07 first.

fyi: @jessfroe @lzim

[2019-09-13 19:02] ritahitching commented on #642
@LZ @staceypark  @jessfroe  the Resources Wish List is now located in the:
TeamPSD/Pavir Expenses/Upcoming Expenses/ teamPSDwishlist.xls

[2019-09-13 19:09] staceypark commented on #642
@ritahitching thanks for working on this! can you make sure to name the folder and document using all lowercase and underscores following teampsd naming convention to make all of our files machine & human readable.

[2019-09-13 19:16] dlkibbe commented on #558
Working on it! Thanks @staceypark

[2019-09-13 19:18] staceypark commented on #642
@lzim document tracker:

- depend: I pingged on the 3 issues. It looks like we only have S06 (almost done) so far.
- SAY: @TomRust won't be back until Tuesday, so we won't have his pieces before that.
- SEE: s05 & s07 are done from Jane/Debbie's end. I'm updating the gifs right now so that I can completely close the issue. s06 we said on the issue that @jessfroe would take a stab at aligning the S

[2019-09-13 19:47] swapmush commented on #563
@staceypark  Ill use cite keys now for first paragraph now. I will ping you when I'm done.

[2019-09-13 19:58] swapmush commented on #563
@lzim I mentioned that we created youtube videos, I will take a stab at from reviewing the unlisted YouTube videos? I can turn to this in later this afternoon.

[2019-09-13 20:22] lzim commented on #462
Busy with the conference and just getting a chance to turn back to this:

We’re considering **the role of the 8+ visits (with a template) in 180 days logic when we have 12-month average EBP reach observation periods**

- In specifying the **Specific Aims** analyses, I was trying to lift out the purpose of estimating a **12-month** period EBP reach estimate for 1) pre/post intervention, and 2) init

[2019-09-13 20:52] ritahitching opened #677 "isqi_jgim"

[2019-09-13 20:55] ritahitching opened #678 "r21_agg_ha - https://osf.io/4xzkp/"

[2019-09-13 20:58] ritahitching opened #679 "r21_cc_jgim - https://osf.io/c24xz/"
## **Manuscript Tracker Issue Template**

_This checklist will ensure all manuscript components are completed as issues move through the manuscript_tracker._

**Please ensure all checklist items are covered for each manuscript.**

### 1. OSF

- [ ] OSF Project created, and project linked to **manuscript_tracker**

- [ ] Relevant documents uploaded to OSF file & Markdown (.md) wiki's set up (Master

[2019-09-13 21:28] ritahitching opened #680 "r21_cc_jgim - https://osf.io/c24xz/"

[2019-09-13 21:29] ritahitching opened #681 "r21_debate_impsci - https://osf.io/dwhe2/"
## **Manuscript Tracker Issue Template**

_This checklist will ensure all manuscript components are completed as issues move through the manuscript_tracker._

**Please ensure all checklist items are covered for each manuscript.**

### 1. OSF

- [ ] OSF Project created, and project linked to **manuscript_tracker**

- [ ] Relevant documents uploaded to OSF file & Markdown (.md) wiki's set up (Master

[2019-09-13 21:30] staceypark commented on #563
@lzim @swapmush
Swap raised a question about how to address citekeys for citations that have multiple references i.e. " (Halvorson et al., 2015; Wanberg, Welsh, & Hezlett, 2003)"

Put them all in one bracket, separated by a semicolon like below:
[@halvorson2015changing;@wanberg2003mentoring]

[2019-09-13 21:31] ritahitching opened #682 "r21_facilitate1_gmb - https://osf.io/mjdx7/"
## **Manuscript Tracker Issue Template**

_This checklist will ensure all manuscript components are completed as issues move through the manuscript_tracker._

**Please ensure all checklist items are covered for each manuscript.**

### 1. OSF

- [ ] OSF Project created, and project linked to **manuscript_tracker**

- [ ] Relevant documents uploaded to OSF file & Markdown (.md) wiki's set up (Master

[2019-09-13 21:31] ritahitching opened #683 "r21_facilitate2_mentees - https://osf.io/w7rnb/"
## **Manuscript Tracker Issue Template**

_This checklist will ensure all manuscript components are completed as issues move through the manuscript_tracker._

**Please ensure all checklist items are covered for each manuscript.**

### 1. OSF

- [ ] OSF Project created, and project linked to **manuscript_tracker**

- [ ] Relevant documents uploaded to OSF file & Markdown (.md) wiki's set up (Master

[2019-09-13 21:34] ritahitching opened #684 "r21_facilitate3_12sessionplan -https://osf.io/qtuw9/"
## **Manuscript Tracker Issue Template**

_This checklist will ensure all manuscript components are completed as issues move through the manuscript_tracker._

**Please ensure all checklist items are covered for each manuscript.**

### 1. OSF

- [ ] OSF Project created, and project linked to **manuscript_tracker**

- [ ] Relevant documents uploaded to OSF file & Markdown (.md) wiki's set up (Master

[2019-09-13 21:35] ritahitching opened #685 "r21_iop - https://osf.io/myva9/"

[2019-09-13 21:36] staceypark commented on #563
@swapmush can you do the rest of the paper too and now that we've tested it, can you put the version with cite keys in the master_manuscript wiki page

[2019-09-13 21:37] ritahitching opened #686 "r21_mbc - https://osf.io/grvbd/"
## **Manuscript Tracker Issue Template**

_This checklist will ensure all manuscript components are completed as issues move through the manuscript_tracker._

**Please ensure all checklist items are covered for each manuscript.**

### 1. OSF

- [ ] OSF Project created, and project linked to **manuscript_tracker**

- [ ] Relevant documents uploaded to OSF file & Markdown (.md) wiki's set up (Master

[2019-09-13 21:38] ritahitching opened #687 "r21_mentee_first_person_ajcp - https://osf.io/6brn3/"
## **Manuscript Tracker Issue Template**

_This checklist will ensure all manuscript components are completed as issues move through the manuscript_tracker._

**Please ensure all checklist items are covered for each manuscript.**

### 1. OSF

- [ ] OSF Project created, and project linked to **manuscript_tracker**

- [ ] Relevant documents uploaded to OSF file & Markdown (.md) wiki's set up (Master

[2019-09-13 21:38] ritahitching opened #688 "r21_mm_jama - https://osf.io/zwq46/"

[2019-09-13 21:39] ritahitching opened #689 "r21_protocol_impsci - https://osf.io/2tg8s/"
## **Manuscript Tracker Issue Template**

_This checklist will ensure all manuscript components are completed as issues move through the manuscript_tracker._

**Please ensure all checklist items are covered for each manuscript.**

### 1. OSF

- [ ] OSF Project created, and project linked to **manuscript_tracker**

- [ ] Relevant documents uploaded to OSF file & Markdown (.md) wiki's set up (Master

[2019-09-13 21:40] ritahitching opened #690 "r21_psy_jccp - https://osf.io/87chm/"
## **Manuscript Tracker Issue Template**

_This checklist will ensure all manuscript components are completed as issues move through the manuscript_tracker._

**Please ensure all checklist items are covered for each manuscript.**

### 1. OSF

- [ ] OSF Project created, and project linked to **manuscript_tracker**

- [ ] Relevant documents uploaded to OSF file & Markdown (.md) wiki's set up (Master

[2019-09-13 21:41] lzim commented on #563
Thanks to you both!

I will return to this, so do keep me posted 😁

[2019-09-13 21:42] ritahitching opened #691 "r21_qual_cfir -https://osf.io/5abtd/"
## **Manuscript Tracker Issue Template**

_This checklist will ensure all manuscript components are completed as issues move through the manuscript_tracker._

**Please ensure all checklist items are covered for each manuscript.**

### 1. OSF

- [ ] OSF Project created, and project linked to **manuscript_tracker**

- [ ] Relevant documents uploaded to OSF file & Markdown (.md) wiki's set up (Master

[2019-09-13 21:43] ritahitching opened #692 "r21_qual_mtl_fidelity - https://osf.io/q9wsa/"
## **Manuscript Tracker Issue Template**
​
_This checklist will ensure all manuscript components are completed as issues move through the manuscript_tracker._​
​
**Please ensure all checklist items are covered for each manuscript.**​
​
### 1. OSF​
​
- [ ] OSF Project created, and project linked to **manuscript_tracker**​
​
- [ ] Relevant documents uploaded to OSF file & Markdown (.md) wiki's set u

[2019-09-13 22:01] ritahitching opened #694 "r21_qual_systems_thinking - https://osf.io/36syr/"
## **Manuscript Tracker Issue Template**
​
_This checklist will ensure all manuscript components are completed as issues move through the manuscript_tracker._​
​
**Please ensure all checklist items are covered for each manuscript.**​
​
### 1. OSF​
​
- [ ] OSF Project created, and project linked to **manuscript_tracker**​
​
- [ ] Relevant documents uploaded to OSF file & Markdown (.md) wiki's set u

[2019-09-13 22:03] staceypark commented on #506
to get us ready for next week, I went ahead and did the gifs for this one.
guide updated at mtl.how as well

[2019-09-13 22:03] #506 closed

[2019-09-13 22:04] ritahitching opened #695 "r21_r01_iir_procedures - https://osf.io/z7y8m/"
## **Manuscript Tracker Issue Template**
​
_This checklist will ensure all manuscript components are completed as issues move through the manuscript_tracker._​
​
**Please ensure all checklist items are covered for each manuscript.**​
​
### 1. OSF​
​
- [ ] OSF Project created, and project linked to **manuscript_tracker**​
​
- [ ] Relevant documents uploaded to OSF file & Markdown (.md) wiki's set u

[2019-09-13 22:05] ritahitching opened #696 "r21_sp_nejm - https://osf.io/r6m2e/"
## **Manuscript Tracker Issue Template**
​
_This checklist will ensure all manuscript components are completed as issues move through the manuscript_tracker._​
​
**Please ensure all checklist items are covered for each manuscript.**​
​
### 1. OSF​
​
- [x] OSF Project created, and project linked to **manuscript_tracker**​
​
- [ ] Relevant documents uploaded to OSF file & Markdown (.md) wiki's set u

[2019-09-13 22:05] lzim commented on #564
@dlounsbu

Have you done all the work you can on OSF?
I’m reviewing it now.

[2019-09-13 22:07] ritahitching opened #697 "r21_vapor_ajcp - https://osf.io/jh69y/"
## **Manuscript Tracker Issue Template**
​
_This checklist will ensure all manuscript components are completed as issues move through the manuscript_tracker._​
​
**Please ensure all checklist items are covered for each manuscript.**​
​
### 1. OSF​
​
- [x] OSF Project created, and project linked to **manuscript_tracker**​
​
- [x] Relevant documents uploaded to OSF file & Markdown (.md) wiki's set u

[2019-09-13 22:09] ritahitching opened #698 "ro1_iir_launch_master_project_plan - https://osf.io/bsdgp/"
## **Manuscript Tracker Issue Template**
​
_This checklist will ensure all manuscript components are completed as issues move through the manuscript_tracker._​
​
**Please ensure all checklist items are covered for each manuscript.**​
​
### 1. OSF​
​
- [ ] OSF Project created, and project linked to **manuscript_tracker**​
​
- [ ] Relevant documents uploaded to OSF file & Markdown (.md) wiki's set u

[2019-09-13 22:10] staceypark commented on #564
FYI: @lzim @dlounsbu
@swapmush raised a question about how to address citekeys for citations that have multiple references i.e. " (Halvorson et al., 2015; Wanberg, Welsh, & Hezlett, 2003)"

Put them all in one bracket, separated by a semicolon like below:
[@halvorson2015changing;@wanberg2003mentoring]

[2019-09-13 22:12] #562 closed

[2019-09-13 22:18] saveth commented on #462
@holbrooa @lzim  below is a clear explanation of the formulae I have in mind.

***in Data file MDD43h = sail43h***
***in Data file MDD47h = sail47h***

For calculation of **SAIL MDD** formula is:

Na = number of patients who received 84 days of antidepressant medication
Nb = number of patients who received 180 days of antidepressant medication
Td = any patient diagnosed (dx) with depression (MDD)

[2019-09-13 22:26] lzim commented on #462
- @saveth absolutely we do (see my post above from this morning)

[2019-09-13 22:26] staceypark commented on #496
@branscombj I see you added some potential dependencies for the video depend column
Please remember to cross-ref the issue under #2 in the related depend_products card, in this case #558  s05_depend. I went ahead and did it for you

[2019-09-13 22:30] lzim commented on #462
- Yes @saveth

EBPharm Reach Dose = (Na + Nb) /Pd

[2019-09-13 22:31] ritahitching commented on #642
@lz @jessfroe @staceypark
I contributed some to the Team PSD Training Guide but it needs more materials added to it in OSF hqtraining https://osf.io/adfx3/

[2019-09-13 22:34] staceypark commented on #496
@branscombj Yes, but it would show all the folders for everyone and I believe that is not something we want to be shown publically, which is why I stopped right before that.

[2019-09-13 22:45] lzim commented on #462
So, based on my post above...

Depression EBPharm Reach Course = (Given Td, **Nb**/Pd)

- Pd = in any given month is the number of patients diagnosed with MDD
- Td = in any given month any patient dx with MDD and newly treated with an antidepressant (same Td from sail measure above)
- **Nb** = in any given month, number of patients who received Rx for 180 days (same Nb from sail measure above)

FY

[2019-09-13 22:56] dlkibbe commented on #552
@lzim  @branscombj  – **Session 7: Base case of no new decisions - Aggregate Module**
0:27 seconds Pop up:  Edit pop up – it says “Open the learner guide at mtl.how” vs. should say “Open the learner see guide…”
In video LZ emphasizes 2 important actions – may want to have pop-ups to emphasize those:
1.	New Pop up at 1:37 – “Stake a Claim” – hypothesize what you expect to happen
2.	New Pop up at 2:

[2019-09-13 22:56] dlkibbe commented on #552
@lzim  @branscombj  – **Session 7: Base case of no new decisions - Psychotherapy Module**
Move pop up at 0:47 seconds back to 0:27 seconds. Edit pop up at 0:47 – it says “Open the learner guide at mtl.how” vs. should say “Open the learner see guide…”
Move pop up at 2:20 seconds back to 1:54 seconds where the action occurs
3:08 - Suggestion - Add a new pop-up 3:08 - “Run a base case” – a simulation

[2019-09-13 22:57] dlkibbe commented on #552
@lzim  @branscombj  – **Session 7: Base case of no new decisions - Suicide Prevention Module**
0:10 Should blue bar in video say “Measurement based Care and Suicide Prevention” vs. just “Suicide Prevention”?
Edit pop up at 0:23 – it says “Open the learner guide at mtl.how” vs. should say “Open the learner see guide…”
2:10 – LZ is saying “we’re in the suicide prevention module” – do you want to add

[2019-09-13 23:00] saveth commented on #462
@lzim Based on your clarification:

- we now have clarification of the EBPharm Reach for Depression for Initiation and Dose. Yay! 👍
- Given the updated formula, you've provided, this means I'll need to to revised all the calculations and analyses I've done for EBP Reach Initiate involving EBPharm Depression.

@lzim What about the formulae I've outlined for EBPsy Dose?

[2019-09-13 23:14] staceypark commented on #496
updated at mtl.how

[2019-09-13 23:38] dlkibbe commented on #552
@lzim  @branscombj  – **Session 7: Base case of no new decisions - Medication Management Module**
say “Open the learner see guide…”
In video LZ emphasizes 2 important actions – may want to have pop-ups to emphasize those:
1.	New Pop up at 3:32  – “Stake a Claim” – hypothesize what you expect to happen
2.	New Pop up at 4:17 – “Run a base case” – a simulation where you’ve made no new clinic decision

[2019-09-13 23:42] lzim commented on #462
@saveth I keep trying to return to this, but it is a VERY busy conference for me. 💃🏻
FYI @holbrooa and @staceypark

- @saveth please do NOT revise all the calculations you have used **_for the purposes of site selection._**
- Let’s talk about this at Monday’s **Workgroup Leads Meeting** before you proceed with this conclusion.

- I want to clarfiy with @holbrooa your **Depression EBPharm** formula

[2019-09-13 23:53] saveth commented on #462
@lzim 😌 Glad to hear we don't have to redo everything for site selection and that what we're discussing now is for analysis of the AIMS.

[2019-09-14 00:05] lzim commented on #462
@saveth @holbrooa @staceypark

Editing @saveth‘s formulas, which has several misunderstandings (or potential for misunderstanding) and also needs further discussion:
dx = in any given month, patients with PTSD, Depression or AUD on a visit in that sta6a
Ts = in any given month, “True Initiation of EBPsy” - **first EBPsy template on a visit, corrected by @holbrooa’s logic that addresses multiple te

[2019-09-14 00:42] ritahitching commented on #642
@lzim @staceypark @jessfroe
My carryover task into week commencing Sep 16 is:
1. finish populating fidelity survey
- all others done.

I'm holding a  :wine_glass: - have a great weekend everyone, and thanks for your help during my first full week.

[2019-09-14 00:43] staceypark commented on #507
updated at mtl.how

[2019-09-14 00:43] #507 closed

[2019-09-14 16:44] jamesmrollins commented on #644
Hi @lzim .  Sorry for the confusion. The drawing above is actually missing the name fields.  We currently collect names, so no worries.  I will update the drawing.  See you in a little while.

[2019-09-14 18:25] lzim commented on #644
@jamesmrollins

Okay! So they were just missing. I noticed that, but had approved the design, so I wanted to update that I’d like to keep the name fields.

[2019-09-15 05:56] swapmush commented on #564
@lzim @staceypark

Hey!

I've made edits to: Background / Context on Team PSD section & Training activities section after review of the unlisted youtube videos.
 I also made some edits to the discussion section and added citekeys for all citations in the manuscript.

Thanks

[2019-09-16 01:35] jamesmrollins commented on #644
@lzim  and @hirenp-waferwire FYI - The issue I reported above where the web pages were not loading correctly was resolved.  If you ever have an issue where the web pages are cross-loading, you can resolve it by clearing your cache of cookies.  Sometimes the cookies get corrupted and cause abnormal browser behavior.

[2019-09-16 01:42] staceypark commented on #534
mtl_how_sim cheatsheet updated.
mtl_how_facilitate cheatsheet needs updating after #616 and #588 are closed.

[2019-09-16 01:43] staceypark commented on #529
mtl_how_sim cheatsheet updated.

[2019-09-16 01:44] staceypark commented on #528
mtl_how_sim cheatsheet updated and uploaded to mtl.how

[2019-09-16 01:49] jamesmrollins commented on #644
@hirenp-waferwire please see below for MTL DEMO site changes:

1.  Changes to the MTL DEMO Website:

![image](https://user-images.githubusercontent.com/30132017/64930836-18817580-d7e9-11e9-888e-41041b20190d.png)

2. Changes to the Registration Pop Up.  Please change the default time for access to 14 days for a registration, and 90 days for a coded registration.  When user clicks "Run" please send

[2019-09-16 13:49] lzim commented on #564
@swapmush, I’m Going to spend some time on this, this afternoon. Stay tuned 📺

[2019-09-16 14:01] dlkibbe opened #704 "SP-MBC Module - Order of Team Data Table Variables"
**1. Add description:**
Minor thing - Suicide Prevention & Measurement-based Care Module
I believe the order of the variables in the team data table does not match the order of the variables descriptions in the "i" descriptive table. For a learner it might be easier if the "i" information is listed in the order that the variable appears in the MBC team data table and the Stepped Care data table. E

[2019-09-16 14:41] staceypark opened #705 "Week of 9/16 #hqhuddle"
cross-ref #642
@lzim

**mtl facilitate materials**
- [ ]  s05 - #497 - SAY: No input from Tom, yet - Need s05_checklist - LZ will produce
- [ ]   s06 - $518 - SAY: Tom added Systems Stories - LZ will add fidelity intro - have a s06_checklist (LZ will rename the file)
- [ ]   s07 - #517 - SAY: Tom was supposed to add BC details, but hasn’t yet - LZ will add _fidelity_intro - have a s07_checklist

*

[2019-09-16 14:56] lzim commented on #705
Thanks @staceypark!

For after **Workgroup Leads:**

- [ ] Touch base re: EBP Reach w/**quant_workgroup**

- [ ] I’d like to make sure the pre/post emails are included in the **document_tracker** schedule.

- [ ] **team_tracker** demo - s07 group supervision today

[2019-09-16 14:57] lzim commented on #705
@ritahitching

Good morning:

- [ ] SIRC travel remitted to PAVIR

[2019-09-16 15:21] holbrooa commented on #486
Back-end upgrade is done. Propagation started last night and should finish sometime this morning. Once it's done, I'll spot check a few to make sure there's nothing glaringly wrong, and then close this issue.

[2019-09-16 15:50] #698 closed

[2019-09-16 15:54] dlkibbe commented on #552
@lzim @branscombj - *Session 7: Base case of no new decisions - Care Coordination Module*

*General comment:* it would be helpful for the learner throughout the videos where we explore a balancing or a reinforcing loop to have a basic definition pop up on the screen and ensure this is in the say guides as well.
Edit timing of pop up – move from 0:48 to 0:22 – it says “Open the learner guide at mtl

[2019-09-16 16:23] jamesmrollins commented on #704
@dlkibbe see below for the appropriate order. Please indicated your approval/disapproval.

@lzim this is a minor change that will only take 1 hour (see labor estimate in issue template).

![image](https://user-images.githubusercontent.com/30132017/64975321-97b38f80-d863-11e9-845e-116122d879e1.png)

[2019-09-16 16:34] holbrooa commented on #462
In the meeting, we decided to use Andrew's option 1 from above, where we count completers exactly once in the month where they first meet the completion criteria. This is how the current comparator dataset is, and the definitions are in the defs tab.

[2019-09-16 16:51] dlkibbe commented on #704
Yes, @jamesmrollins - this is what makes sense to my learning brain. Thank you.

[2019-09-16 16:53] jamesmrollins commented on #616
@hirenp-waferwire this looks good! Please see minor edits below.

1.  MTL Demo Registration eMail (this applies to both 2 week and 90 day versions).

![image](https://user-images.githubusercontent.com/30132017/64976024-342a6180-d865-11e9-9e92-4b6cc79c0f05.png)

2.  Since a course code was offered, the expiration should be 90 days.  The email should also reflect this period of expiration.  Is it po

[2019-09-16 16:59] jamesmrollins commented on #644
@hirenp-waferwire this looks good! Please see minor edits below.

1.  MTL Demo Registration eMail (this applies to both 2 week and 90 day versions).

![image](https://user-images.githubusercontent.com/30132017/64976024-342a6180-d865-11e9-9e92-4b6cc79c0f05.png)

2.  Since a course code was offered, the expiration should be 90 days.  The email should also reflect this period of expiration.  Is it po

[2019-09-16 17:32] jamesmrollins commented on #616
@staceypark @ritahitching can you try registering Rita using the same email for both the member and the End User level in Epicenter and report your findings please?  Thank you, James.

P.S. The result should be that Rita is able to use the same email based username for both her membership to the project level and as an end user.

[2019-09-16 17:33] jamesmrollins commented on #704
@lzim I would like to put this into tonight's pull with DEV.  Thanks, James

[2019-09-16 18:52] ritahitching commented on #616
@jamesmrollins do you have time to walk me through the process of adding me to the website today or tomorrow?

[2019-09-16 19:33] staceypark commented on #587
models updated at mtl.how

[2019-09-16 19:33] #587 closed

[2019-09-16 19:37] staceypark commented on #638
@dlkibbe can you check if this is fixed correctly in the sim and click "close" below if the issue has resolved?

[2019-09-16 19:38] staceypark commented on #639
@jamesmrollins I updated the models at mtl.how.
I think this can be closed.

[2019-09-16 19:53] saveth commented on #462
In the meeting (https://meet.lucidmeetings.com/lucid/meeting/224690 ), we've decided how w're calculating EBPsy and EBPharm Initiate is fine. For course/dose:

**EBPsy Course = EBPsy complete / EBPsy diagnostic cohort**, where
- EBPsy complete refers to the sta6a/month when the person complete the EBPsy treatment (they initiate dose  treatment within the prior 6 months)
- EBPsy diagnostic cohort i

[2019-09-16 20:02] dlkibbe opened #707 "Spelling correction - Suicide Prevention & Measurement-based Care"
**1. Add description:**
Model diagram, "i" information for GMH Effect of Patient Load on Care Quality:
Detremental should be spelled "detrimental"
In the phrase "There is no limit to the detremental effect..."

![image](https://user-images.githubusercontent.com/31182258/64989290-34455400-d89b-11e9-9fd9-fd4b212a60b5.png)

<< Paste screenshots here>>

**2. Click on the right:**
a. **Projects** - ass

[2019-09-16 20:16] staceypark commented on #705
@ritahitching
- [ ] tt report

[2019-09-16 20:53] lzim commented on #462
DECISIONS MADE:

#1. We will use the "true initiation" or first eligible script or visit/template as our EBP Reach Initiate definition for any given sta6a month, as we have been.

- EBPharm - Denominators include diagnosis on visit OR eligible med.

- Depression EBPharm - 

(i.e., includes 3 unique criteria for the depression numerator not accounted for in OUD and AUD:

1. not seen for depresion w

[2019-09-17 14:22] AnnHier commented on #294
Hi @jessfroe, I think our graphic designer used the same font that was given us in the original "Test don't guess" slide, but I could be wrong - I don't have an eye for fonts!  Do you want to change the entire slide's fonts "Modeling to Learn" along with "Test. Don't guess" to (if I remember correctly) Myriad Pro?  Or just "Test. Don't guess." ? Thanks!

[2019-09-17 14:32] lzim commented on #339
@jamesmrollins

I know we identified radio buttons to collect structured data, not just open text data from our participate button.

However, there are two functions that we have yet to address that are top of mind for our consideration

1. The ability to **upvote feature requests** submitted by others.

2. Development of a shared **community of practice** space - a message board beyond email - th

[2019-09-17 15:57] ritahitching commented on #705
please send me the costs for SIRC travel to submit to PAVIR

[2019-09-17 16:24] jessfroe commented on #294
@lzim do we have any reference point for @AnnHier and her team to use for the outro sequence?
It should be Myriad Pro, and that might be a variation, but it looks as though it is bold when it shouldn't be.

[2019-09-17 16:40] staceypark commented on #497
@TomRust welcome back! Looks like we are behind on updating documentation.
Please add your piece to the Session 05 SAY guide by COB today.

[2019-09-17 16:42] staceypark commented on #517
@TomRust Please add your piece to the Session 07 SAY guide by COB today. We are doing session 07 this week for the MTL facilitate training and need all documentation updated before we train.

[2019-09-17 17:02] saveth commented on #674
@lzim Can you please clarify the pre/post -conditions for the R21 sites? In #424, you listed:

Clinic 1
- Pre: April 2014-March 2015
- Post: Sept-Aug 2019

Clinic 2
- Pre: Oct 2016-Sept 2017
- Post: Oct-2018-Sept 2019

_Do you mean?_
**Clinic 1**
- **Pre: April 2014-March 2015** (we have been using the mixed condition Nov 2014 - Oct 2015 since data didn't exist until Nov. 2014)
- **Post: Sept 2018

[2019-09-17 17:14] staceypark commented on #705
- [ ] f/u with rachel kimerling for TeamPSD GitHub

[2019-09-17 17:58] #599 closed

[2019-09-17 18:00] #695 closed

[2019-09-17 18:01] lzim commented on #559
**Next Steps determined at Manuscript Meeting on 9/17/2019**
https://meet.lucidmeetings.com/lucid/meeting/226990

- [ ] @ritahitching will review the CONSORT Table and Fill-in anything labeled "MISSING"
- [ ] @staceypark will add to the CONSORT Table anything that only has a location
- [ ] @saveth will draft the CRT CONSORT-Ext Diagram
- [ ] @lzim and co-I's review at 10/1 Co-I Meeting (Reschedule

[2019-09-17 18:01] lzim commented on #561
**Next Steps determined at Manuscript Meeting on 9/17/2019**
https://meet.lucidmeetings.com/lucid/meeting/226990

 @ritahitching will review the CONSORT Table and Fill-in anything labeled "MISSING"
 @staceypark will add to the CONSORT Table anything that only has a location
 @saveth will draft the CRT CONSORT-Ext Diagram
 @lzim and co-I's review at 10/1 Co-I Meeting (Rescheduled from 9/24 meeting)

[2019-09-17 18:37] lzim commented on #705
@ritahitching Thanks!
The receipts are in Team PSD in the pavir_expenses folder under SIRC > post_sirc
- Just need to fill out the form with the Lyft Rides and the daily per diem for 9/11-9/15, which is already available on Issue #354
- Then send it to me for signature and assignment of the account.

@staceypark can you please show Rita how do do this?

Thanks!

[2019-09-17 18:43] lzim commented on #294
@jessfroe and @AnnHier

Thanks, yes, we can make sure the “Test. Don’t Guess” illustrator file is uploaded here: https://github.com/lzim/teampsd/tree/master/resources/logos
We have other _MTL_ logos that do have the .ai file uploaded there, which can be checked for the exact Myriad Pro font used.

At the same time, as @jessfroe points out it does look like the outro font may be Myriad Pro, but not

[2019-09-17 18:52] lzim commented on #705
#hq huddle mid-day:

- [ ] @staceypark add t02 and t04 s06 details to the **team_tracker**
- [ ] @staceypark inventory the open issues that would fall to Tom/**model_workgroup**
- [ ] @staceypark & @ritahitching work to clear Lindsey’s schedule to focus on SAY and manuscripts w/Tom through Monday 9/30

@lzim today:
- [ ] coordinate with Tom on S07 SAY file for tomorrow’s #375 #intersessionprep
- [

[2019-09-17 19:55] staceypark commented on #628
## Session 6

####  1. Provide team-specific rationale for building capacity for participatory learning from simulation
- [ ] **Team-specific rationale**:

#### 2. Team lead shares Chrome and logs in to the Team world at **mtl.how/sim**
- [x] **Question text from s4-S5**: How do we get more therapy provided to the Veterans we see?  What if we bring our pts in weekly?  What are some changes we can

[2019-09-17 19:55] staceypark commented on #628
## Session 7

####  1. Provide team-specific rationale for running a base case with no new decisions.
- [ ] **Team-specific rationale**:

#### 2. Team lead shares Chrome and logs in to the Team world at **mtl.how/sim**
- [ ] **Question and Hypothesis text from s6**:

#### 3. Use session 6 complexity reveal (feedback loop) to explain the likely
#### _Team Priority Causal Loop covered with this team

[2019-09-17 19:56] staceypark commented on #582
## Session 6

####  1. Provide team-specific rationale for building capacity for participatory learning from simulation
- [ ] **Team-specific rationale**:

#### 2. Team lead shares Chrome and logs in to the Team world at **mtl.how/sim**
- [x] **Question text from s4-S5**: How can we get more pts through a full course of quality PSY? (added in s6, because was not covered in s5)

#### 3. Introducing

[2019-09-17 19:56] staceypark commented on #582
## Session 7

####  1. Provide team-specific rationale for running a base case with no new decisions.
- [ ] **Team-specific rationale**:

#### 2. Team lead shares Chrome and logs in to the Team world at **mtl.how/sim**
- [ ] **Question and Hypothesis text from s6**:

#### 3. Use session 6 complexity reveal (feedback loop) to explain the likely
#### _Team Priority Causal Loop covered with this team

[2019-09-17 20:02] staceypark commented on #679
looks like there's a duplicate for this. closing one of them.

[2019-09-17 20:12] staceypark commented on #705
Issues inventory related to Tom/**model_workgroup**
Manuscripts:
#696 r21_sp_nejm
#690 r21_psy_jccp
#688 r21_mm_jama
#686 r21_mbc
#685 r21_iop
#680 r21_cc_jgim
#678 r21_agg_ha

Issues:
#648 SP: floors and episode counts
#596 9/5 prototype Data UI: Use PC diagnoses from Jodie for SP instead of using stop codes

SAY guides: #601 metal detail; #497, #512 - #522 (s1-12)

[2019-09-17 20:23] ritahitching commented on #705
@LZ @staceypark
### **One off Meetings and Occasional Recurring**

**Week commencing Sep 16**
1. **Tuesday 9/17/2019**
-  8:00am OHT Tom Russ
- 3:00pm PAVIR Budget

2. **Wednesday 9/18/2019**
- 12:00pm VINCI Happy Hour

3. **Friday 9/20/2019**
- 8:00am Hospital Home Proposal

**Week Commencing 9/23/2019**

1. **Monday 9/23/2019**
- 1:00pm Stanford Quality Council

2. **Tuesday 9/24/2019**
- 12:00p

[2019-09-17 22:49] lzim commented on #642
Monday | Tuesday | Wednesday | Thursday | Friday
-- | -- | -- | -- | --
8AM Workgroup Leads |   |   |   |  
9AM-12noon #manuscriptmondays |   |   |   |  

[2019-09-18 00:18] lzim commented on #705
**#hq end of day huddle**

@lzim
- [ ] Download final IIR to Team PSD
- [ ] Add residents to mtl.how/data Residents folder

@ritahitching @staceypark
- [ ] Work with Lucid to try to recoup the **Manuscript Meetings**

@staceypark
- [ ] Update OSF Cheatsheet to inlude PC Instructions; how to fix citekeys that aren't using Team PSD format
- [ ] Reschedule Ella on JIT until 10/3
- [ ] Schedule Joann

[2019-09-18 00:26] lzim commented on #705
For the Reference Table:

**R01** |   |   |  
-- | -- | -- | --
Reference Number | CiteKey | Full Reference
1 | [@elbogen2013are] | Elbogen EB, Wagner HR, Johnson   SC, et al. Are Iraq and Afghanistan veterans using mental health     services? New data from a national random-sample survey. Psychiatr Serv.   2013;64:134–141.
  |   |   |  
  |   |   |  
**IIR** |   |   |  
Reference Number | CiteKey

[2019-09-18 04:33] jamesmrollins commented on #339
@lzim I will get on this.  I think there are several apps that we can model.  Something of a wiki that allows voting and discussion threads. I have been also thinking that we need an admin screen similar to what we have for the TeamPSD/MTL Demo site, were we can download database records, and perhaps put in custom flag-messages that flash on the screen during login and encourages people to navigat

[2019-09-18 13:05] lzim commented on #339
@jamesmrollins

I’m not sure whether the GitHub Wiki function can do any of this? But, as always, I am interested in fitting things in to our existing platforms (GitHub or Forio) if we can

[2019-09-18 13:21] lzim commented on #644
@jamesmrollins & @staceypark

I was just reviewing the Google Analytics traffic and session data for mtl.how/sim (aka PROD).

All of these moves here are a step in the right direction for DEMO, but I’m wondering if we would also benefit from gaining data-based insights about how interacting with mtl.how/demo is working for users.