[2020-01-25 01:49] staceypark commented on #885
@ritahitching I think there was a misunderstanding here - it would be helpful to note which ones we are paying for annually and which monthly so that we know how to setup our system for updating them.
For example, Zotero is a yearly subscription while Rebrandly is a monthly one.

[2020-01-27 03:04] jamesmrollins commented on #898
Hi @lijenn
These items are edited by my DEV team, so there is no place for you to edit.  If you find anything like this in the future, screen capture it, and highlight the error using the highlighter in the Snip Tool. What is the typo you are concerned about above?  Is it the "t" in "to?"  If so, I will address it.  It is supposed to be a single sentence - didn't quite come out right.

[2020-01-27 03:15] jamesmrollins commented on #775
Hi Everyone!  Here is the updated table and the link to the prototype.  I am currently having DEV do some work break down and estimating. Hope to have in place by our meeting.

**Updated Tutor Scripts Table**
[tutor_pop_up_scripts_01_26_20.docx](https://github.com/lzim/teampsd/files/4115382/tutor_pop_up_scripts_01_26_20.docx)

**Updated Tutor Prototype**  _Beware, there are some dead ends.  If tha

[2020-01-27 03:28] jamesmrollins commented on #853
@ritahitching this is complete.  I also updated Mr. Pichardo's headshot.

[2020-01-27 16:32] branscombj commented on #747
general questions - suggest replacing

with
* Who developed _Modeling to Learn_?
* How is _Modeling to Learn_ funded? (and put all the NCPTSD/QIICs support in addition to all the research grants)

[2020-01-27 16:35] dlounsbu commented on #747
Hi @staceypark

Your list of questions for the wiki is comprehensive.  Agree with Lindsey that, maybe, you can keep lists of questions for each section to no more than 6.

I would add one quest for the Community of Practice section, specifically, "What is the community of practice?"; "How information I contribute to Community of Practice processed?" ("Who views it?" and/or "How will it be used?").

[2020-01-27 16:53] #907 closed

[2020-01-27 17:00] ritahitching opened #911 "1/27 #hqhuddle"
Cross ref #907
# HQ Monday Jan 27

### Milestones
- [x] **Rita and Jenn** PAVIR Requisitions (Jenn: waiting for Nga's response)
- [x] **Rita** - finish graphics for GMB paper - David in town and planning to finish writing with Lindsey this week.

### Action Items (in Lucid)
- [x] **Lindsey** SAMSHA Budget Justification
- [x] **Lindsey** MHOC Crosswalk & Matt Boden Check-in
- [ ] **Lindsey** Statis

[2020-01-27 17:02] branscombj commented on #811
I'm not sure how to keep this straight on Github, but the real MTL RED POST-TESTS for review are here: https://github.com/lzim/teampsd/tree/kibbed-red-part2

The MTL RED BROCHURES and SEE GUIDES are here: https://github.com/lzim/teampsd/tree/branscombj-red-part1

[2020-01-27 18:28] ritahitching commented on #601
Meeting Monday Jan 27 - #ManuscriptMonday
YAML header - You should document when you make edits, but please retain the record of prior edits.
Lucid meeting: https://meet.lucidmeetings.com/lucid/meeting/239235

[2020-01-27 22:28] lijenn opened #912 "1/28 #hqhuddle"
Cross ref #911
# HQ Tuesday Jan 28

### Milestones
- [ ] **Rita and Jenn** PAVIR Requisitions (Jenn: waiting for Nga's response)
- [ ] **Rita** - finish graphics for GMB paper - David in town and planning to finish writing with Lindsey this week.

### Action Items (in Lucid)
- [x] **Lindsey** SAMSHA Budget Justification
- [ ] **Lindsey** MHOC Crosswalk & Matt Boden Check-in
- [ ] **Lindsey** Stati

[2020-01-27 22:31] lijenn opened #913 "1/29 #hqhuddle"
Cross ref #912
# HQ Wednesday Jan 29

### Milestones

### Action Items (in Lucid)

### Emergent Issues (2 hours/day Stacey & Lindsey; 1 hour/day Rita and Jen)

[2020-01-27 22:34] lijenn opened #914 "1/30 #hqhuddle"
Cross ref #913
# HQ Thursday Jan 30

### Milestones

### Action Items (in Lucid)

### Emergent Issues (2 hours/day Stacey & Lindsey; 1 hour/day Rita and Jen)

[2020-01-27 22:37] lijenn opened #915 "1/31 #hqhuddle"
Cross ref #914
# HQ Friday Jan 31

### Milestones

### Action Items (in Lucid)

### Emergent Issues (2 hours/day Stacey & Lindsey; 1 hour/day Rita and Jen)

[2020-01-28 15:54] lijenn commented on #911
# HQ Tuesday Jan 28

### Milestones
- [ ] **Rita and Jenn** PAVIR Requisitions (Jenn: waiting for Nga's response)
- [ ] **Rita** - finish graphics for GMB paper - David in town and planning to finish writing with Lindsey this week.

### Action Items (in Lucid)
- [ ] **Lindsey** SAMSHA Budget Justification
- [ ] **Lindsey** MHOC Crosswalk & Matt Boden Check-in
- [ ] **Lindsey** Statistician Positio

[2020-01-28 15:54] #913 closed

[2020-01-28 15:54] #914 closed

[2020-01-28 15:55] lijenn commented on #911
# HQ Wednesday Jan 29

### Milestones

### Action Items (in Lucid)

### Emergent Issues (2 hours/day Stacey & Lindsey; 1 hour/day Rita and Jen)

[2020-01-28 15:55] lijenn commented on #911
Cross ref #913
# HQ Thursday Jan 30

### Milestones

### Action Items (in Lucid)

### Emergent Issues (2 hours/day Stacey & Lindsey; 1 hour/day Rita and Jen)

[2020-01-28 15:55] lijenn commented on #911
# HQ Friday Jan 31

### Milestones

### Action Items (in Lucid)

### Emergent Issues (2 hours/day Stacey & Lindsey; 1 hour/day Rita and Jen)

[2020-01-28 15:55] #915 closed

[2020-01-28 15:57] #912 closed

[2020-01-28 21:53] branscombj commented on #775
@jamesmrollins @dlkibbe I have made suggestions in track changes; mainly cutting words for brevity. [tutor_pop_up_scripts_01_26_20.jb.docx](https://github.com/lzim/teampsd/files/4124799/tutor_pop_up_scripts_01_26_20.jb.docx)

[2020-01-29 14:48] dlkibbe commented on #775
Thanks @jamesmrollins and @branscombj for all the work on this file. I have made some edits and added a couple of comments for your consideration.
[tutor_pop_up_scripts_01_26_20.jb.dk.docx](https://github.com/lzim/teampsd/files/4128625/tutor_pop_up_scripts_01_26_20.jb.dk.docx)

[2020-01-29 15:37] branscombj commented on #775
Great, @dlkibbe !
@jamesmrollins I have accepted changes into a clean document that represents Debbie's and my combined edits. We should ask the team (HQ & QIICs) to review while in the sim UI to make sure everything looks good in actual practice. Most of my edits were made only referring to the Word table and there could be some nuances relative to live use that should be fixed.
[tutor_pop_up_scr

[2020-01-29 15:54] jamesmrollins commented on #775
Thanks @branscombj @dlkibbe , for the edits!  I have to present the tutorial function again to the QIICS in a few hours, so I may not be able to update these in time.  But I will try and get as far as I can.  ~James

[2020-01-29 16:05] jamesmrollins commented on #775
FOR RELEASE DECISION:

- [x]  **Tutor Prompts table editing completed**

- [x] **DEV Estimate Complete.**  40 DEV Hours for Tutor prompts as specified in prototype, for CC, MM, AGG, PSY and SP.  No main diagram builds included in first sprint. 30 DEV Hours for admin panel to update tutor prompt text. Estimated delivery to TEST by 2/17.

- [ ]  **QIICS Review**

**Release?**
- [ ]   Yes

- [ ]  No

[2020-01-29 16:12] branscombj commented on #775
@jamesmrollins @staceypark @dlkibbe  Is it true that we will be able to tweak text for these relatively simply in the future if we need to? It seems like the basic design, functionality, guiding principles about this feature are pretty much agreed upon and that maybe any further, minor text edits shouldn't hold up PROD?

[2020-01-29 16:15] jamesmrollins commented on #775
@branscombj @dlkibbe @staceypark  I agree that it shouldn't.  Whether or not it is editable, is dependent on whether the PI agrees to the additional 30 hours of DEV time for the admin panel.  However, the text you provided is clean and I think will stand up to scrutiny.  I am editing the prototype as we speak 😁

[2020-01-29 16:21] jamesmrollins commented on #864
FOR RELEASE DECISION

- [x] **QIICS Review Complete.**

- [x] **DEV Complete**  Will need to point "I Need Help" to the Wiki FAQ when migrating and update logos shown in the previous post.

- [ ] Outgoing Email Messages Edited and Complete.  This still needs to be work shopped.  Again, this is editable and should not delay release.

- [ ] **WIKI FAQ Complete** This still in draft. However, we shou

[2020-01-29 16:27] jamesmrollins commented on #886
@lzim there are 22 of these bitmapped images in the FAQ.  Will take roughly 3 hours for me to process the graphics into SVG and then roughly the same for DEV to place on the page and adjust for dynamic resolution.

- [ ] 3 Hours design time

- [ ] 3 Hous DEV time

- [ ]  Release for DEV?

[2020-01-29 19:35] ritahitching commented on #775
Notes for MTL Launch Meeting Jan 29

**Tutor Function**
- Tutor Function development - 40 hours
-  Admin Panel development for tutor function - 30 hours
- These two items are independent of each other and can be developed separately.
- These two items are independent of each other and can be developed separately.

**Action Items: James**
James: Will incorporated Jane & Debbie's comments on the tab

[2020-01-29 22:45] jamesmrollins commented on #775
**@branscombj @dlkibbe Here is an updated table that I hope captures the nuances between the models.** Also added your suggested tutor prompts offered during the meeting.  I also ad-libbed one following the same style. Please take a look. I added a column for videos, but don't know about video links.  Can you put in those links? I will share with DEV tonight to update the estimate.

[tutor_pop_up_

[2020-01-30 16:14] staceypark commented on #775
Including recommendations and decisions from 2/22 meeting for tracking:
1. @jamesmrollins will build out a table with all the tutor prompts for @branscombj and @dlkibbe review

2. The "hover" function suggested for the Sim UI Tutor is not 508 compliant. The computer cannot "read" or recognize a hover function for folks that are using assistive technology. We use the "i" information schema as this

[2020-01-30 16:26] lzim commented on #883
@jamesmrollins

This was simply an attempt to upload an image from within the VA domain.

[2020-01-30 16:36] #883 closed

[2020-01-30 16:39] lzim commented on #853
@ritahitching

Will you please upload Ash's photo to GitHub so that James can add to the mtl.how/team website?

Thanks!

FYI: @jamesmrollins

[2020-01-30 16:41] staceypark commented on #886
Below approved during Thurs 1/30 Support Workgroup meeting

[2020-01-30 17:05] ritahitching commented on #853
@jamesmrollins @staceypark @lzim
Hi James, Good morning. Will you please update mtl.how/team with details of our latest team member:

1. **Ash Nazarizadeh SQL Programmer Data Analyst** You can find his headshot (pending pull request approval from Stacey) at **https://github.com/lzim/teampsd/tree/master/resources/headshots**.
2. Ash's information on the mtl.how/team map should match everyone's at H

[2020-01-31 00:11] lzim commented on #911
@ritahitching @lijenn @ritahitching

#hq tips 😺

- Let's take 5 minutes first thing AM tomorrow to make sure Jenn can schedule in Outlook, okay?
- Please note that my schedule is full tomorrow with the only exception of 2-2:30PM. If you're going to try to schedule someone, then put it in my Outlook calendar right away to protect the time. Otherwise it will be gone.
- Also, I need to be cc'd on any

[2020-01-31 00:23] jamesmrollins opened #918 "Syllabus: Administrator Training"
### Introduction

The table below outlines key concepts and activities we will be cover each week, to prepare you to be a competent administrator of the enterprise platforms we use to manage Team PSD.  Team PSD uses Forio Epicenter (https://forio.com/products/epicenter/) to develop and distribute the simulation user interface (Sim UI), and GitHub  (https://github.com/lzim/teampsd/) manage changes

[2020-01-31 01:50] staceypark commented on #911
@lzim Below is the delegation plan & implications we discussed:

For each workgroup, this will be the point person:
1. HQ - Stacey
2. Quant - Anthony
3. Sim/Model - Anthony
4. Facilitate - Rita & Jenn
5. VAPOR - Jenn
6. EES - Rita & Jenn
7. Co-I/Manuscript - Stacey
8. Qual - Jessilyn
9. Support WG - Anthony
10. Workgroup Leads - Stacey

Each point person is responsible for:
A. Meeting Management
1

[2020-01-31 02:21] staceypark commented on #911
@lzim Plan for tomorrow's first hour of MTL Facilitate meeting:
1. Present questions on #747 for Feedback
2. Show where the Wiki will be at mtl.how: https://github.com/lzim/mtl/wiki
3. Demonstrate the search function in the Wiki

[2020-01-31 17:18] #825 closed

[2020-01-31 17:25] #853 closed

[2020-01-31 17:27] lijenn commented on #898
Closing this issue and merging it to #864 for continuation over there.

[2020-01-31 17:27] #898 closed

[2020-01-31 17:27] lijenn commented on #864
crossref: #898 SIM UI Cookies Typo (issue closed and merged here at #864)

Not sure where to find and how to edit the Cookies Pop-Up typos on the mtl.how/test log-in page.

<img width="771" alt="Screen Shot 2020-01-21 at 9 56 37 AM" src="https://user-images.githubusercontent.com/59668647/72829840-68a79300-3c34-11ea-9f73-828e1320c932.png">

Hi @jamesmrollins

**For SIM UI Cookies Typos/Language:**

[2020-01-31 17:37] ritahitching commented on #897
@jamesmrollins
Hi James, will you please finish up these final updates to the mtl.how/team website:

**Map:**
1: Update in the map Kathryn Azevedo Mendoza name is incorrect it currently says: Katherin Azevedo-Mendoza
2: Extra floating head of Stacey in West Coast section of the map
3. Add Anthony Pichardo and Ash Nazarizadeh
4. Andrea L. Nevedal photo is located in the East Coast section of the ma

[2020-01-31 18:24] jamesmrollins commented on #897
@ritahitching please get Stacey to merge Ash's photo so I can process.  Thanks

[2020-01-31 18:29] staceypark commented on #747
@branscombj @dlkibbe + HQ member will get back the meeting time in the upcoming MTL Facilitate meetings (Mon 2/3, Wed 2/5, Fri 2/7, Mon 2/10, Wed 2/12) to work on populating the mtl.how GitHub wiki with answers.

For questions with existing answers in our resources, the answers should be populated with links that point the learner to the richer resource. For example, for the question "What are the

[2020-01-31 19:22] ritahitching commented on #564
@lzim will you please **review** in Illustrator the graphic for the GMB paper in our shared **TeamPSD** drive in the **Manuscripts** folder.
thanks!
Rita

[2020-01-31 19:30] staceypark commented on #747
What is Modeling to Learn?
answer
Who facilitates Modeling to Learn?
asnwer
Who developed Modeling to Learn?
How is Modeling to Learn funded?
What is Modeling to Learn Red vs. Modeling to Learn Blue?

[2020-01-31 20:34] jamesmrollins opened #921 "4/16 SIM UI Design Review and Development Policy and Process - DRAFT"
**1. Add description:**

**1.0 Problem**
Projects are getting bottled up on the test server.  Consider multiple TEST project instances in Epicenter.  The intent is to create pathways from DEV to PROD that have different velocities.  For example, if a small bug occurs and needs to be corrected, it can go through DEV to a TEST-Fast instance and straight through to PROD.  However, if there is a more

[2020-01-31 21:44] branscombj commented on #747
@dlkibbe @staceypark and I agreed that the only time a link would be all that's given is if there is a 100% congruence between the question and the linked resource; e.g., Where can I find Modeling to Learn videos? Otherwise, the wiki needs a short answer _plus_ a link to a resource; e.g., "What are the main units of the sim UI?" would not ONLY point to a see guide, because that would require the p

[2020-01-31 22:08] staceypark opened #922 "1/31 Stacey - Markdown"
# Markdown Language

## Training Objectives:
Upon completion of this module, the learner will be able to:

1. Use pieces of Markdown code for basic formatting of text
2. Produce tables and graphics using Markdown
3. Understand the difference between the "Code View" and "Formatted View" of text when using Markdown

## Point of Contact: Stacey Park

## Full Instructions
TeamPSD uses Markdown, a mark

[2020-01-31 22:08] staceypark opened #923 "1/31 Ash - Markdown"
# Markdown Language

## Training Objectives:
Upon completion of this module, the learner will be able to:

1. Use pieces of Markdown code for basic formatting of text
2. Produce tables and graphics using Markdown
3. Understand the difference between the "Code View" and "Formatted View" of text when using Markdown

## Point of Contact: Stacey Park

## Full Instructions
TeamPSD uses Markdown, a mark

[2020-01-31 22:08] anthonycpichardo opened #924 "2020_01_31 Anthony - Markdown"
# Markdown Language

## Training Objectives:
Upon completion of this module, the learner will be able to:

1. Use pieces of Markdown code for basic formatting of text
2. Produce tables and graphics using Markdown
3. Understand the difference between the "Code View" and "Formatted View" of text when using Markdown

## Point of Contact: Stacey Park

## Full Instructions
TeamPSD uses Markdown, a mark

[2020-01-31 22:08] lijenn opened #925 "1/31 Jennifer - Markdown"
# Markdown Language

## Training Objectives:
Upon completion of this module, the learner will be able to:

1. Use pieces of Markdown code for basic formatting of text
2. Produce tables and graphics using Markdown
3. Understand the difference between the "Code View" and "Formatted View" of text when using Markdown

## Point of Contact: Stacey Park

## Full Instructions
TeamPSD uses Markdown, a mark

[2020-01-31 22:08] lrollins33 opened #926 "1/31 Lucy - Markdown"
---

---

# Markdown Language

## Training Objectives:
Upon completion of this module, the learner will be able to:

1. Use pieces of Markdown code for basic formatting of text
2. Produce tables and graphics using Markdown
3. Understand the difference between the "Code View" and "Formatted View" of text when using Markdown

## Point of Contact: Stacey Park

## Full Instructions
TeamPSD uses Markdo

[2020-01-31 22:11] ritahitching opened #927 "2020_1_31_rita_markdown"
# Markdown Language

## Training Objectives:
Upon completion of this module, the learner will be able to:

1. Use pieces of Markdown code for basic formatting of text
2. Produce tables and graphics using Markdown
3. Understand the difference between the "Code View" and "Formatted View" of text when using Markdown

## Point of Contact: Stacey Park

## Full Instructions
TeamPSD uses Markdown, a mark

[2020-01-31 22:51] anthonycpichardo commented on #924
##Markdown Pro
1. ___[x]Markdown___
2. is
    * SOOOOOO
3. fun
    * right?
    * right?

[2020-01-31 22:57] ritahitching commented on #927
## Great Training Stacey

1. - [x] ***Thank you for putting the training together.***
2. Really appreciate it.
   1. Wish I'd had before.
 3. Enjoy your weekend break, you deserve it.
 - Rest
- Relax

[2020-01-31 23:00] anthonycpichardo commented on #924
It's Friday | Today
-----------|--------
**Let's**|**Party**
[![mtl.how/demo](https://github.com/lzim/teampsd/blob/master/resources/icons/play.png?raw=true)](mtl.how/demo)|[![mtl.how/demo](https://github.com/lzim/teampsd/blob/master/resources/icons/done.png?raw=true)](mtl.how/team)

[2020-01-31 23:05] dlkibbe commented on #648
Hi @TomRust - An action item in Lucid says, "Also need to comb through an look for any mentions that states MTL units are "Patients" or "Appointments" because we also have the unit: "Episodes of Care" for SP." @branscombj and I went through the SP module and found 2 occurrences of Episodes of Care on the model diagram linking dials or rectangle measured in patients; 2 mentions of Episodes of Care

[2020-01-31 23:09] lrollins33 commented on #926
Exercise 1: In the space below, create a section of text with:
Level 2 header of any text
3 sentences of any text each separated by a carriage return and numbered as a numbered list.
Sentence 1 should be formatted as a task list item and the box should be checked off. The text of Sentence 1 should be both bolded and italicized.
Sentence 2 should have one sub-item of any text that is indented one l

[2020-01-31 23:15] staceypark commented on #923
## You can
***- [x] 1. You can***

2. italicize text
   1. italicize text

3. like this
  - italicize text
  - italicize text

[2020-01-31 23:21] ritahitching commented on #927
Bottom left and right quadrants should have any image found in mtl.how/teampsd.
The image in the bottom left quadrant should hyperlink to mtl.how/demo.
The image in the bottom right quadrant should hyperlink to mtl.how/team.

**Test Don't Guess** | **MTL**
------------ | -------------
<img src = "https://raw.githubusercontent.com/lzim/teampsd/teampsd_style/mtl_logo/mtl_testdontguess_sm.png" height

[2020-01-31 23:25] lijenn commented on #925
Exercise 1.

## Hi Stacey :)

1. - [x] ***Ni hao.***
2. I am hungry
   1. Can't wait to go home.
 3. I want ice cream.
 - Strawberry
- Matcha

Exercise 2.

Milk | Tea
------------ | -------------
**Taro** | **Coconut**
[<img src = "https://github.com/lzim/teampsd/raw/teampsd_style/teampsd_logo/team_psd_logo_sm.png" height="175" width="290">](https://forio.com/app/va/va-psd-demo/mtl_demo.html) | [<

[2020-01-31 23:34] lrollins33 commented on #926
Exercise 2: In the space below, create a 2 by 2 table with:
Top left and right quadrants should be bolded text of your choice.
Bottom left and right quadrants should have any image found in mtl.how/teampsd.
The image in the bottom left quadrant should hyperlink to mtl.how/demo.
The image in the bottom right quadrant should hyperlink to mtl.how/team.
Completed on: ________________ with ____________

[2020-01-31 23:39] staceypark commented on #923
First Header | Second Header
------------ | -------------
Content from cell 1 | Content from cell 2
 <img src = "https://github.com/lzim/teampsd/raw/teampsd_style/teampsd_logo/team_psd_logo_sm.png">![](mtl.how/demo) |<img src = "https://github.com/lzim/teampsd/raw/teampsd_style/teampsd_logo/team_psd_logo_sm.png">![](mtl.how/team)

[2020-01-31 23:54] #922 closed

[2020-02-01 00:07] lrollins33 commented on #926
https://mtl.how/live

SOP: https://github.com/lzim/teampsd/wiki/TeamPSD-Policy-&-Procedure-SOP
TeamPSD -repositories: https://github.com/lzim/teampsd/blob/master/resources/training_guides/github/repositories.md
Markdown - https://github.com/lzim/teampsd/blob/master/resources/training_guides/r/markdown.md
Labels Management - https://github.com/lzim/teampsd/blob/master/resources/training_guides/gith

[2020-02-01 00:17] jamesmrollins commented on #918
https://mtl.how/live

SOP: https://github.com/lzim/teampsd/wiki/TeamPSD-Policy-&-Procedure-SOP
TeamPSD -repositories: https://github.com/lzim/teampsd/blob/master/resources/training_guides/github/repositories.md
Markdown - https://github.com/lzim/teampsd/blob/master/resources/training_guides/r/markdown.md
Labels Management - https://github.com/lzim/teampsd/blob/master/resources/training_guides/gith

[2020-02-01 01:35] ritahitching commented on #897
@jamesmrollins we need the following changes please:

**Map:**
1:  **Kathryn Azevedo Mendoza** name is incorrect it currently says: Katherin Azevedo-Mendoza
2: Extra floating head of Stacey
3. Add Anthony Pichardo and Ash Nazarizadeh photo and title - to match others in Menlo Park.
**Anthony Pichardo Office of Mental Health and Suicide Prevention, Menlo Park, CA**
**Ash  Nazarizadeh Office of Ment

[2020-02-01 16:13] jamesmrollins commented on #897
Hi @ritahitching - sorry don't mean to drag this on.  Perhaps I have it right this time . . .

- [x] 1: Kathryn Azevedo Mendoza name is incorrect it currently says: Katherin Azevedo-Mendoza
- [x] 2: Extra floating head of Stacey
- [x] 3. Add Anthony Pichardo and Ash Nazarizadeh photo and title - to match others in Menlo Park.
   - Anthony Pichardo **VA -** Office of Mental Health and Suicide Preve

[2020-02-02 19:44] jamesmrollins commented on #864
@lijenn I will make the changes below:

![image](https://user-images.githubusercontent.com/30132017/73614147-596c0200-45b1-11ea-9e67-9d2ad0618548.png)

[2020-02-03 15:22] lijenn opened #928 "2/3 #hqhuddle"
Cross ref #911
Week of 2/3 - 2/7

[2020-02-03 15:31] #911 closed

[2020-02-03 15:34] staceypark commented on #928
# HQ Monday February 3

### Milestones
- [ ] **Jenn** SOP Project Registration: Transfer at least 1/3 of Guide onto GitHub TeamPSD Resources

### Action Items (in Lucid)
- [ ] **Jenn** Test dashboard & common functionality

### Emergent Issues (2 hours/day Stacey & Lindsey; 1 hour/day Rita and Jen)
- [ ] **Jenn** Schedule call Thad w/ LZ, SP, AP, AN

[2020-02-03 15:34] staceypark commented on #928
# Tuesday February 3

### Milestones

### Action Items (in Lucid)

### Emergent Issues (2 hours/day Stacey & Lindsey; 1 hour/day Rita and Jen)

[2020-02-03 15:35] staceypark commented on #928
# Tuesday February 3

### Milestones

### Action Items (in Lucid)

### Emergent Issues (2 hours/day Stacey & Lindsey; 1 hour/day Rita and Jen)

[2020-02-03 15:35] staceypark commented on #928
# Thursday February 3

### Milestones

### Action Items (in Lucid)

### Emergent Issues (2 hours/day Stacey & Lindsey; 1 hour/day Rita and Jen)

[2020-02-03 15:35] staceypark commented on #928
# Friday February 3

### Milestones

### Action Items (in Lucid)

### Emergent Issues (2 hours/day Stacey & Lindsey; 1 hour/day Rita and Jen)

[2020-02-03 17:13] lzim commented on #921
@lzim will review this issue on Wednesday 2/5

[2020-02-03 19:18] lzim opened #929 "New Idea from Participatory Learning"
testing the i have an idea!</br></br></br></br></br>

[2020-02-03 19:22] lzim opened #930 "New Issue from Participatory Learning"
testing the i have an issue</br></br></br></br></br>![image](https://s3.amazonaws.com/epicenter-asset/production/va/va-psd-test/1580757747591442060_img0.PNG) <br/>![image](https://s3.amazonaws.com/epicenter-asset/production/va/va-psd-test/1580757747591884070_img1.png) <br/>

[2020-02-03 20:14] ritahitching commented on #897
@jamesmrollins
This looks great. thanks!

[2020-02-03 20:14] #897 closed

[2020-02-03 20:17] #871 closed

[2020-02-03 21:52] ritahitching opened #931 "Due Discuss 2/14 Purchase WiFi Hotspot"
**1. Purchase WiFi team PSD**

Use the ATT 2TE model (https://www.att.com/buy/connected-devices-and-more/att-unite-express-2-black.html).
Purchased through ReqLogic an unlimited data plan with ATT - estimated cost of $100 monthly which included the WiFi hardware.
Data plan offers a main and guest plan. Main plans has a fixed password login that can support 8 devices simultaneously. The guest plan

[2020-02-03 21:54] ritahitching opened #932 "Audit of TeamPSD folder - to confirm any missing folders"
**1. Audit of TeamPSD folder - to confirm any missing folders:**

Audit of any possible missing folders from TeamPSD

-----------------------------------------------------------------------------------------
**Workgroups leads**
**Identify Constraints (check all that apply):**
- [ ]   Capacity
- [ ]   Cost
- [ ]   Schedule
- [ ]   Interference
- [ ]   Capability
- [ ]   Other (describe)

_Add esti

[2020-02-03 22:03] ritahitching opened #933 "TBD Apr/May 2020 - Data Scientist"
**Data Scientist Hire**

1. Decide on Essential and Necessary Skills
2. Summary of IIR, R01, R21 aims and methods section

-----------------------------------------------------------------------------------------
**Workgroups leads**
**Identify Constraints (check all that apply):**
- [ ]   Capacity
- [x]   Cost
- [ ]   Schedule
- [ ]   Interference
- [ ]   Capability
- [ ]   Other (describe)

_Add

[2020-02-03 22:31] lzim opened #934 "New Issue from Participatory Learning"
testing 'i have an issue' button</br></br></br></br></br>![image](https://s3.amazonaws.com/epicenter-asset/production/va/va-psd-test/1580769093641515156_img0.PNG) <br/>

[2020-02-03 23:22] lzim opened #935 "New Idea from Participatory Learning"
testing</br></br></br></br></br>

[2020-02-03 23:23] lzim opened #936 "New Issue from Participatory Learning"
testing</br></br></br></br></br>

[2020-02-03 23:41] lzim opened #937 "New Idea from Participatory Learning"
testing to see if the image will show up in the email </br></br></br></br></br>

[2020-02-03 23:46] lzim opened #938 "New Idea from Participatory Learning"
testing images in message texts</br></br></br></br></br>

[2020-02-03 23:47] lzim opened #939 "New Idea from Participatory Learning"
test 2 for image in message text</br></br></br></br></br>

[2020-02-03 23:52] lzim opened #940 "New Issue from Participatory Learning"
test 3 image in the message text </br></br></br></br></br>

[2020-02-04 00:05] ritahitching commented on #933
@lzim there's a summary of the Aims & Methods IIR, R01, R21 on our shared drive in the grants folder

[2020-02-04 17:35] staceypark opened #941 "r package for qual codebooks"

[2020-02-04 17:35] staceypark opened #942 "R Package for ICCs"

[2020-02-04 18:22] dlounsbu commented on #942
Hi Stacy: What does ICC stand for?

[2020-02-04 19:55] jamesmrollins opened #943 "Sim UI Meeting Management"
This issue is created to track meeting management tasks that include:

1.  Preparing SIM UI agenda items for Workgroup Leads Meeting.
2.  Preparing reports and budgets for Praxis Monthly Meeting.
3.  Preparing documents and related items not directly associated with another issue number.

[2020-02-04 20:21] jamesmrollins opened #944 "Ptools Research"
Activities related to this issue include:
1.  Background research on means and methods for providing routine patient reported outcomes information in a clinical setting.
2. Investigations into the topology and architectures supporting Cerner, outlined in HL7, FHIR, SMART APP and CDS Hooks.
3.  Statistical methods used to drive clinical reasoning and decision support in the IAPT and related program

[2020-02-04 20:22] jamesmrollins opened #945 "API Concept Development"
This issue captures activities related to the architectural and design activities associated with the development of the PsychTools API.

[2020-02-04 20:26] staceypark opened #946 "Participatory System Dynamics Training"
Webinar series/training to teach other research groups or scientists how to run *Modeling to Learn*.

@lzim to add possible grants at this OSF project to find this effort: https://osf.io/srkuw/

[2020-02-04 20:39] lijenn opened #947 "MTL National Outreach Webinar"
National outreach webinar to help and train people and sites not in our lists. but interested in learning MTL

[2020-02-04 22:51] jamesmrollins commented on #864
## Some PLDR requirements were missed:

1.  QIICs wanted the Community button to represent inviting members to the greater Community (upvote/downvote).
2.  Users should know if button presses are going to pull them out of the simulation.
3.  The "L" (learning) functionality of the PLDR should be in a navigation bar for the most part.

JMR Note:>> After review of the lucid meeting record, I found t

[2020-02-04 23:11] jamesmrollins opened #949 "Sim UI - Set up a TEST - Break/Fix Instance"
**1. Add description:**
Set up a TEST-Fast instance that will be used to make small changes ( 8 hours or less) to the Sim UI.  Rename current TEST instance TEST-Slow and use for larger changes that require development hours over 8 hours.

**2. Click on the right:**
a. **Projects** - assign to **issue_tracker.**
b. **Assignee** - assign relevant team members.
c. **Labels**- review and select all po

[2020-02-04 23:38] lzim commented on #864
January 15th - https://meet.lucidmeetings.com/meeting/239210

Community of Practice

- Underlying principle to empower users to answer each others questions and become increasingly self-sufficient.  Devise an ptions for users to meet own needs in real time without an email.

- Decisions:

1) We decided to change to "Team" for the "Chat" icon in the Nav bar

2) James will a) mock up a button that s

[2020-02-05 19:04] branscombj opened #950 "mtl_red_part_1"
# mtl_red_part_1 CHECKLIST

## 1. Link to the document and add relevant team members to the card.
- [x] Add the link the current draft of the documentation for the issue:
https://github.com/lzim/teampsd/blob/master/mtl_facilitate_workgroup/facilitator_say/mtl_red_part_1_say.md

## 2. Link to issues that must be edited in the document in the **issue_tracker** and **feature_tracker.** _(use the # fo

[2020-02-05 19:04] staceypark opened #951 "mtl_red_part_2"
# MTL Red Part 2 CHECKLIST

https://github.com/lzim/teampsd/blob/master/mtl_facilitate_workgroup/facilitator_say/mtl_red_part_2_say.md

## 1. Link to the document and add relevant team members to the card.
- [x] Add the link the current draft of the documentation for the issue:

## 2. Link to issues that must be edited in the document in the **issue_tracker** and **feature_tracker.** _(use the # f

[2020-02-05 23:36] lzim opened #952 "New Like from Participatory Learning"
testing<br></br></br></br></br></br>

[2020-02-05 23:40] lzim opened #953 "New Like from Participatory Learning"
image test</br></br></br></br></br>

[2020-02-05 23:47] lzim opened #955 "New Like from Participatory Learning"
image test</br></br></br></br></br>

[2020-02-05 23:49] lzim opened #956 "New Like from Participatory Learning"
image test 2</br></br></br></br></br>

[2020-02-06 00:02] lijenn commented on #864
@jamesmrollins  Just checked the cookies message! It looks better and makes a lot more sense! Thank you, James!

**PLDR button and dashboard and general functions** [will go over in Support WG 2/6/2020]

- [ ] **Issue 1**: **"paste your screenshot here" function** (issue only applies to **VA computers**).
   **Proposed solution**: Have a note/notice saying that you cannot copy and paste saved scre

[2020-02-06 16:29] lzim commented on #921
@lzim

**Definitions/Clarity about the alignment of these terms is still needed:**
1. "Instances" how many really needed for "Fast" and "Slow"
2. "Cost" per "instance" "project"
3. "Maintenance" who does this?
4. "Versioning" "releases" (e.g., MTL 1.6 , 1.7) versus DevOpps, Subversion, etc.
5. "Test" schedule risk - aren't some things tested by Support Workgroups, and others need other Workgroups

[2020-02-06 16:39] ritahitching commented on #928
@lzim
I added reviewing Steve’s moving spreadsheet to our HQ meeting agenda for today.

[2020-02-06 16:54] lzim commented on #921
**Summary**
1. We have updated the overall Team PSD SOP to better address monthly milestones and dependencies for moving features through dependent workgroup testing within existing meetings during the month
- Need to consider the overall "RTVM" better pin down the connection between the SOP and this Sim UI Development Policy and Process.
2. We will have a need to move things through "fast"
3. We

[2020-02-06 19:21] ritahitching commented on #928
**Update**
I followed up again with IT helpdesk on the ticket we submitted Jan 24 to install R, R Studio, and Microsoft SQL Server Management Studio - ticket remains open and without a triage a date. Sent Mary an email asking if she can request to have the ticket expedited.

[2020-02-06 19:25] ritahitching commented on #928
**Update**
Purchase WiFi hotspot for teamPSD
PAVIR does not provide support for phone line requisitions.  The recommendation is the PI purchase a line directly from a carrier (e.g. AT&T).  The PI is then reimbursed monthly through their paycheck up to the value of $50.  I have the forms for the paycheck reimbursement.

[2020-02-06 19:38] ritahitching commented on #932
**Update**
Purchase WiFi hotspot for teamPSD
PAVIR does not provide support for phone line requisitions.  The recommendation is the PI purchase a line directly from a carrier (e.g. AT&T).  The PI is then reimbursed monthly through their paycheck up to the value of $50.  I have the form for the paycheck reimbursement and added it to the HQ meeting agenda for review.

[2020-02-06 22:16] ritahitching commented on #890
@ritahitching contact QIICS confirming their needs for webcams & monitors

QIIC | Webcam (yes/no) | Monitor (0,1,2)
-- | -- | --
Theresa | 1 |  
Marcia |   |  
Gayle | 1 |  
John |   |  
Jay |   |  
Matt |   |  
David |   | confirm if 1 or 2 are needed
Jane |   |  
Debbie |   |  

[2020-02-07 16:30] ritahitching commented on #931
@lzim good morning 😄

**Purchase WiFi hotspot for teamPSD Update**
1. A summary of the various data plans can be found in our shared drive: folder **pavir expenses** then **wifi_hotspot**
2. Spoke with Luanne regarding the requisition I put in through ReqLogic for the WiFi hotspot (REQ#83973) and she provided the following recommendations: options are $40, $70 or $100
- ReqLogic does not provide r

[2020-02-07 19:19] ritahitching commented on #928
**Update** I submitted a request to expedite our IT helpdesk ticket #RITM1407475 with Mary's approval.  I'll  provide updates as I hear more.

[2020-02-07 19:21] ritahitching commented on #928
Update on WiFi purchase provided in #931 - data plans in shared drive.

[2020-02-07 19:35] ritahitching commented on #928
**Interview Data Scientist Position**
- Attendees Lindsey, Stacey, Ash, Anthony
-Time needed 1 hour
- Possible times

**Wednesday Feb 19**  1pm to 2pm or 2pm to 3pm
**Thursday Feb 20** 2pm to 3pm  or 3 to 4pm.

**Monday Feb 24** 1:30pm to 2:30pm
**Wednesday Feb 26**  1pm to 2pm or 2pm to 3pm

[2020-02-07 19:39] staceypark commented on #748
@branscombj @dlkibbe Did we get the CC & MM Learning Modes covered in the pop-ups? I wasn't sure if this got tracked???

[2020-02-07 19:47] branscombj commented on #748
I think @jessfroe sent over all of our popups/corrections to Ann in Excel? Could we search there?

[2020-02-07 19:52] branscombj commented on #748
@staceypark I am checking here https://osf.io/wzf7k/

[2020-02-07 19:55] branscombj commented on #748
OK @staceypark I think that Excel file in OSF was only some final edits - not all of them. Probably the easiest way to answer your question would be to look at the videos!

[2020-02-07 22:05] lrollins33 opened #961 "2020_02_07 Lucy - Issues and trackers"
---
title: "Issues"
author: "Team PSD"
date: "SP 2020_01_30"
output:
  github_document: default
  html_document: default
  pdf_document: default
  word_document: default
  ioslides_presentation: default
  slidy_presentation: default
  powerpoint_presentation: default
---

# Insert Title Here

## External links needed:
1. https://help.github.com/en/github/managing-your-work-on-github/creating-an-is

[2020-02-07 22:05] ritahitching opened #962 "2020_02_07_rita_issues_trackers"
# Issues & Trackers

## External links needed:
1. https://help.github.com/en/github/managing-your-work-on-github/creating-an-issue
2. https://github.com/lzim/teampsd/blob/master/.github/ISSUE_TEMPLATE/issue.md
3. https://github.com/lzim/teampsd/blob/master/issue_templates/document_tracker.md
4. https://github.com/lzim/teampsd/blob/master/issue_templates/mansucript_tracker/README.md

## Training Ob

[2020-02-07 22:06] lijenn opened #963 "2020_02_07 Jennifer - Issues & Trackers"
# Insert Title Here

## External links needed:
1. https://help.github.com/en/github/managing-your-work-on-github/creating-an-issue
2. https://github.com/lzim/teampsd/blob/master/.github/ISSUE_TEMPLATE/issue.md
3. https://github.com/lzim/teampsd/blob/master/issue_templates/document_tracker.md
4. https://github.com/lzim/teampsd/blob/master/issue_templates/mansucript_tracker/README.md

## Training Ob

[2020-02-07 22:06] staceypark opened #964 "2020_02_07_ash - Issues & Trackers"
# Insert Title Here

## External links needed:
1. https://help.github.com/en/github/managing-your-work-on-github/creating-an-issue
2. https://github.com/lzim/teampsd/blob/master/.github/ISSUE_TEMPLATE/issue.md
3. https://github.com/lzim/teampsd/blob/master/issue_templates/document_tracker.md
4. https://github.com/lzim/teampsd/blob/master/issue_templates/mansucript_tracker/README.md

## Training Ob

[2020-02-07 22:08] anthonycpichardo opened #965 "2020_02_07 Anthony - Issues and Trackers"
title: "Issues"
author: "Team PSD"
date: "SP 2020_01_30"
output:
github_document: default
html_document: default
pdf_document: default
word_document: default
ioslides_presentation: default
slidy_presentation: default
powerpoint_presentation: default
Insert Title Here
External links needed:
https://help.github.com/en/github/managing-your-work-on-github/creating-an-issue
https://github.com/lzim/team

[2020-02-07 22:14] anthonycpichardo commented on #921
# Discussions from 2020_02_07  Pull up

**Will not be presenting first draft on 2/10, will push back so we have time to review the content**

1. ## Define a meeting rhythm
     - Goal: improve timing of project releases and allow for appropriate scheduling
     - Does not need to be rigid as we need to allow for flexibility
     - Meetings should fall in line with milestones set at the first Monda

[2020-02-07 22:43] ritahitching opened #966 "F/up IT 3* per week (last date f/up 2/14) to Installation Request R, R Studio, and Microsoft SQL Server Management Studio"
**1. Software Installation**

Rita submit IT helpdesk ticket for Savet's old machine in Lindsey's office for R, R Studio, and Microsoft SQL Server Management Studio

-----------------------------------------------------------------------------------------
**Workgroups leads**
**Identify Constraints (check all that apply):**
- [ ]   Capacity
- [ ]   Cost
- [x]   Schedule - 3 times weekly - call  IT

[2020-02-07 22:44] ritahitching commented on #966
Update
I followed up again with IT helpdesk on the ticket we submitted Jan 24 to install R, R Studio, and Microsoft SQL Server Management Studio - ticket remains open and without a triage a date. Sent Mary an email asking if she can request to have the ticket expedited.

[2020-02-07 23:18] anthonycpichardo opened #967 "Splash Page - Missing Data"
**1. Add description:**
The splash page is missing data from the latest upload.

<< Paste screenshots here>>
 -Insert screenshot of the absence of data-

-----------------------------------------------------------------------------------------
**Workgroups leads**
**Identify Constraints (check all that apply):**
- [ ]   Capacity
- [ ]   Cost
- [ ]   Schedule
- [ ]   Interference
- [ ]   Capability

[2020-02-07 23:18] ritahitching opened #968 "Manuscript Tracker Training Homework"
Exercise 2: Create a new dummy card in the manuscript tracker. Make sure to follow each part of the template. You can look to other cards already created to make sure yours is correct. (For the OSF link, just use "mtl.how/osf").
Completed on: ________________ with _________________________

## **Manuscript Tracker Issue Template**

_This checklist will ensure all manuscript components are complete

[2020-02-07 23:20] #967 closed

[2020-02-07 23:20] lijenn opened #969 "(testing) 2020_02_07 SIM UI: PLDR Button Function Issue"
**1. Add description:**
There is an issues with the PLDR button function, specifically the "I have an idea" button.
It is not letting push through my comment.

<< Paste screenshots here>>

**2. Click on the right:**
a. **Projects** - assign to **issue_tracker.**
b. **Assignee** - assign relevant team members.
c. **Labels**- review and select all potential _MTL_ dependencies.
d. **Milestones** - se

[2020-02-07 23:20] lrollins33 opened #970 "I have a new bug."
**1. Add description:**
My husband bugs me. He's always hungry and bothering me for food.

![image](https://user-images.githubusercontent.com/58956452/74072856-16e56380-49bd-11ea-9f01-f3b7389f5047.png)

<< Paste screenshots here>>

**2. Click on the right:**
a. **Projects** - assign to **issue_tracker.**
b. **Assignee** - assign relevant team members.
c. **Labels**- review and select all potential

[2020-02-07 23:21] #969 closed

[2020-02-07 23:21] staceypark opened #971 "2020_02_02 - Monthly dashboard is down"
**1. Add description:**
Monthly dashboard is down

**2. Click on the right:**
a. **Projects** - assign to **issue_tracker.**
b. **Assignee** - assign relevant team members.
c. **Labels**- review and select all potential _MTL_ dependencies.
d. **Milestones** - select the dependent milestone.

-----------------------------------------------------------------------------------------
**Workgroups lead

[2020-02-07 23:22] ritahitching opened #972 "TMS Training"
**Update TMS Training:**

Allocate time next to update TMS training as part of compliance.
Paste certificates into shared dive.
Recommended time needed in TMS 2 hours

Training Record:
Practice
Exercise 1: Create a potentially realistic issue using the Issue Template. Make sure to complete all of the right hand side items of the issue based on the issue content you created. Be ready to explain you

[2020-02-07 23:22] #971 closed

[2020-02-07 23:23] #972 closed

[2020-02-07 23:29] #970 closed

[2020-02-07 23:31] anthonycpichardo commented on #965
@anthonycpichardo Do your homework and attach the link here

[2020-02-07 23:33] ritahitching commented on #962
Homework: https://github.com/lzim/teampsd/issues/968

Add links to other issues cards created in the different trackers or other activity on GitHub here

[2020-02-07 23:36] lrollins33 commented on #961
1. For exercise 2 create new dummy card in the team training tracker instead of the manuscript tracker.

[2020-02-07 23:56] lijenn commented on #963
1. For exercise 2 (homework), create new dummy card in the team training tracker instead of the manuscript tracker
2. Put a link to your hw (in this case, cards)/what you are bringing here in this comment section for next week's training!

[2020-02-07 23:56] ritahitching commented on #962
Homework: Creating a new branch

**_New Branch_** https://github.com/lzim/teampsd/tree/2020_02_07_rita_homework

Add links to other issues cards created in the different trackers or other activity on GitHub here

[2020-02-10 12:27] branscombj commented on #396
@staceypark @dlkibbe I do not see above and do not recall what we decided about facilitators coaching teams on use of sim UI chat. I see this issue is closed, but it is referenced in the Document Tracker meta- cards for the See and Say guides so I don't know if any changes are needed or not.

[2020-02-10 15:32] lijenn opened #976 "2/10 #hqhuddle"
Cross ref #928
Week of 2/10 - 2/14

[2020-02-10 15:33] lijenn commented on #976
# Monday February 10

### Milestones

### Action Items (in Lucid)

### Emergent Issues (2 hours/day Stacey & Lindsey; 1 hour/day Rita and Jen)

[2020-02-10 15:51] lijenn commented on #976
# Tuesday February 11

### Milestones

### Action Items (in Lucid)

### Emergent Issues (2 hours/day Stacey & Lindsey; 1 hour/day Rita and Jen)

[2020-02-10 15:52] lijenn commented on #976
# Wednesday February 12

### Milestones

### Action Items (in Lucid)

### Emergent Issues (2 hours/day Stacey & Lindsey; 1 hour/day Jen)

[2020-02-10 15:52] lijenn commented on #976
# Thursday February 13

### Milestones

### Action Items (in Lucid)

### Emergent Issues (2 hours/day Stacey & Lindsey; 1 hour/day Rita and Jen)

[2020-02-10 15:53] lijenn commented on #976
# Friday February 14 (Happy Valentine's!)

### Milestones

### Action Items (in Lucid)

### Emergent Issues (2 hours/day Stacey & Lindsey; 1 hour/day Rita and Jen)

[2020-02-10 16:15] #875 closed

[2020-02-10 16:22] lzim commented on #976
@ritahitching @lijenn

Re:

You're going to work with both Jane and @staceypark on getting trained for this.

[2020-02-10 17:01] lzim commented on #976
@staceypark staceypark the most urgently needed thing from you for this are the dates for the _MTL_ Launch national calls.

[2020-02-10 17:03] staceypark commented on #976
1. Tues 3/10 at 9am Pacific / 12Noon Eastern
1. Thurs 3/19 at 9am Pacific / 12Noon Eastern
1. Mon 3/23 at 10am Pacific / 1pm Eastern
1. Wed 3/25 at 8am Pacific / 11am Eastern

[2020-02-10 17:28] ritahitching commented on #966
Re-submitted an IT helpdesk ticket and expedited the process with Mary to to install R, R Studio, and Microsoft SQL Server Management Studio.

[2020-02-10 17:50] lzim commented on #976
@staceypark I've made the following edits and added them to my calendar.

I'd like to protect 90 total minutes for each of five calls & I've needed to move them to earlier in the month, as we need to really start with teams in the second half of March.
- 30 pre-meeting prep (Lindsey/Team only - set up)
- 30 min _mandatory_ **call start time**_ call providing orientation to _MTL_ Resources
- 30 min

[2020-02-10 17:59] lzim commented on #976
@staceypark Does this look okay? Do you see any issues?
Note: We should always lead with Eastern Time for anything National like this.

•	Tues 3/10/2020 12:30 Noon Eastern / 9:30am Pacific (30 minutes + Q &A)
•	Wed 3/11/2020  11:00am Eastern / 8am Pacific (30 minutes + Q &A)
•	Thurs 3/12/2020 2:30pm Eastern / 11:30am Pacific (30 minutes + Q &A)
•	Fri 3/13/2020 2:30pm Eastern / 11:30am Pacific (30

[2020-02-10 18:08] staceypark commented on #976
@lzim your cal says you're OOO 3/13. Are you not OOO then?

[2020-02-10 18:10] #932 closed

[2020-02-10 18:10] ritahitching commented on #931
**Update**
Purchase WiFi hotspot for teamPSD
PAVIR does not provide support for phone line requisitions.  The recommendation is the PI purchase a line directly from a carrier (e.g. AT&T).  The PI is then reimbursed monthly through their paycheck up to the value of $50.  I have the form for the paycheck reimbursement and added it to the HQ meeting agenda for review.

[2020-02-10 18:15] branscombj commented on #747
**General**

_What is Modeling to Learn?_

_Who facilitates Modeling to Learn?_

_Who developed Modeling to Learn?_

_How is Modeling to Learn funded?_

_What is Modeling to Learn Red vs. Modeling to Learn Blue?_

[2020-02-10 18:46] branscombj commented on #748
@staceypark I just looked at the final video for Session 05 CC and it does not have a popup about the popup you get when you click Start a New Session in CC. 😦

[2020-02-10 18:50] staceypark commented on #748
Same I just looked through the video too

[2020-02-10 18:55] branscombj commented on #748
If up to me, I'd put that in the issue tracker for a desired fix in MTL Video 2.0.

[2020-02-10 18:57] staceypark commented on #748
We also have other pop-ups that are going to be needed like all the PLDR changes...

[2020-02-10 19:05] branscombj commented on #748
Yes. A list of them might help our future selves figure out at what point to invest in edits - whether additional pop-ups, spliced video or audio, or whole new recording(s).

[2020-02-10 19:23] ritahitching commented on #885
@staceypark @lijenn
Please confirm that I can close this issue, pending a costing update on the Vensim.
I  created calendar reminders for all the vendors above on the outlook calendar and invited you both.
thanks!
Rita

[2020-02-10 19:32] ritahitching commented on #976
@staceypark @lijenn
Jenn and I am responsible for the Facilitate  Workgroup.

Are you both available Tuesday Feb 11 at 12pm (after the Center meeting) to discuss how to support the Facilitate Workgroup's milestones for Feb?
thanks!
Rita

[2020-02-10 19:40] #928 closed

[2020-02-10 19:44] ritahitching commented on #890
- **Done**
Email Claire, David, Gayle and Theresa asking for shipping address for their respective equipment needs.
- **Do**
Will email Debbie and Jay again, once they return from travel after 2/14 asking

[2020-02-10 19:45] branscombj opened #978 "3/20 MTL Facilitate and EES Support Needs"
@staceypark Here are some tasks and functions that the Facilitate &/or EES work group will need HQ's support on or will divvy up with HQ (@lijenn @ritahitching ) - for your consideration for training and prep prior to launch:

Apps administrative tasks and trouble-shooting:
- [x] data UI
- [x] sim UI (user and facilitator)
- [x] mtl.how/live (web conferencing)
- [x] audio conferencing
- [x] Lucid

[2020-02-10 20:08] branscombj commented on #747
mtl.how - I suggest not using branded links as section headings; what about "Resources"?

What is the main Modeling to Learn homepage?

).

Where can I find the Learner SEE guides?

Where can I find the Facilitator SAY guides?

Where are the cheatsheets and how can I print one?

Can anyone become a Modeling to Learn facilitator?

How do I become a Modeling to Learn facilitator?

[2020-02-10 20:14] staceypark commented on #978
@branscombj Thanks for this list! 😄
These are all items that @jamesmrollins and I plan to train on during our weekly Friday training sessions. We have been meeting at 3pm Pacific / 6pm Eastern to review the training for each week, but perhaps we can meet earlier and you can join that planning/review meeting, even if you don't join the training, to make sure we are on track?

[2020-02-10 20:31] branscombj commented on #978
@staceypark Sure, I could join y'all to review topics & progress on Friday afternoons. Unfortunately this Friday I'm booked until 4pm my time (and loathe to stay past 5 ❤️); the next three Fridays I'm free at 3:00, 2:30, and all day, respectively.

[2020-02-10 20:33] staceypark commented on #978
@branscombj whoops my bad I left out the day of the week.
We review the plan on Wednesday (@6pm Eastern - but can be earlier) and do the actual training on Friday (@4-7pm Eastern)

[2020-02-10 20:36] staceypark commented on #976
Thanks for asking about this. Jane is going to try and join James/I training planning meetings to make sure the Friday training is focused on meeting the Facilitate workgroup's needs by the time we launch. I don't think the three of us (you, Jenn, and I) need to have a separate meeting outside of training time about this.

[2020-02-10 20:48] branscombj commented on #978
@staceypark Ah! On Wednesdays I don't any have standing conflicts after MTL Facilitate Launch. So good this Wednesday and next. Then not available the following 2 Wednesday afternoons, then OK again.

[2020-02-10 20:50] branscombj commented on #747
Hi @staceypark I'm done with the 2 sections above!

[2020-02-10 21:16] ritahitching commented on #976
@lzim
Do you have an update on the posting of the Data Scientist PD with Pavir?
How can I help get the PD posted?
thanks,
Rita

[2020-02-10 21:27] branscombj commented on #748
OK to put this here, right?

mtl Session 12 Final1 – https://bcove.video/38xrxBz
mtl Session 11 Final1 – https://bcove.video/2EhzInn
mtl Session 10 Suicide Prevention Module Final1_1 – https://bcove.video/2PEAFLU
mtl Session 10 Psy Module Final1_1 – https://bcove.video/2thMmRh
mtl Session 10 Med Management Module Final1_1 – https://bcove.video/2EbU0ii
mtl Session 10 Care Coordination Module Final1

[2020-02-10 21:33] ritahitching commented on #885
@lzim

Will you please clarify how the **purchase** of the **Vensim** is made?
There are no details on ReqLogic or on our shared drive.
I was able to find details for the purchase of the Vensim in 2016 for $175 using the login in details for the Vensim in the shared drive .
thanks,
Rita

[2020-02-10 21:44] branscombj commented on #747
mtl.how/data

Note: This and others will need to link to the cheatsheet(s), once we have those in mtl.how. Since they are somewhat buried when they're just in the session folders, could we add links to them on the Red and Blue ReadMe pages?

**Data Resources**

_How do I get access to the data folders?_

) and select your VISN and Facility. You will see your data_UI folder at the bottom of the pag

[2020-02-10 21:49] lijenn commented on #976
@ritahitching Hi Rita, were you in charge of the Vapor videos? If so, where could I find these so I can see if they still need to be edited or updated (?) since the VAPOR videos are going to be in the pre/post emails.

[2020-02-10 21:54] ritahitching commented on #931
@lzim
I spoke with Mary Thornton at PAVIR and I can pick up a **no cost WiFi hotspot (hardware with unlimited data plan)**  for our team on  **Wednesday Feb 12**.
I am happy to go and pick up the WiFi when I go to work at the VA Palo Alto.
Please let me know if you are OK with this no cost solution.
thanks
Rita

[2020-02-10 21:58] ritahitching commented on #978
@staceypark @lijenn

I updated the agenda for **Friday's 2/14 Training** session to  include details of Jane joining to make sure the training is focused on meeting the **Facilitate Workgroup's** needs in time for the launch.
Please let me know if there anything else I should add/do.
thanks,
Rita

[2020-02-10 22:02] lijenn commented on #976
@lzim Hi Lindsey, regarding Elizabeth's sample program that I forwarded to you, I can be the point person for that.

Were you thinking of having
- just one sample program to let people know that the webinar will be happening with all the necessary info. on it or
- have a summarized program to be sent for each and every pre/post session email (i.e. program for pre-session would summarize what is to

[2020-02-10 22:05] staceypark commented on #978
@ritahitching No, that is not what Jane and I have agreed on yet. Please DO NOT update the training agenda (unless you have training-related questions you need addressed) as James/I (and now Jane) are running point for that to train *you* (and others) and determining what we will do.

Also, if you read Jane's message above, she specifically says she is NOT available this Friday during our training

[2020-02-10 22:10] ritahitching commented on #933
**Update**
-Possible interview times week commencing Feb 17
- Wednesday 19 for one hour between 1 to 2pm or 2 to 3pm
- Thursday Feb 20 for one hour between 2 to 4pm.

[2020-02-10 22:17] ritahitching commented on #978
Got, I'm sorry. I did not read this before changing the title.

[2020-02-10 22:20] staceypark commented on #429
ISSUE: Last time we tested this with M. Freeman CPRS permissions and it did not work.
We need to get to the bottom of this ASAP, with the launch coming up soon and the memo including mtl.how/data rolling out very soon

[2020-02-10 23:35] jamesmrollins commented on #921
Hi @anazariz @anthonycpichardo @staceypark @branscombj  - Below is the DRAFT Requirements Design and Development Procedure.  Feedback encouraged - Enjoy!  ~ James

[req_design_dev_procedure.docx](https://github.com/lzim/teampsd/files/4183549/req_design_dev_procedure.docx)

[2020-02-10 23:48] ritahitching commented on #976
@lzim
Please add me  and Jenn to the **vapor_videos_interview**s project on **OSF** so that we can work on the VAPOR videos pre and post emails.
thanks,
Rita

[2020-02-10 23:50] ritahitching commented on #870
VAPOR Videos
VAPOR Clips & Emails
OSF -VAPOR videos
OSF  vapor_videos_interviews
VAPOR videos folder "CLIPS" already mapped to their session
Total 12 sessions

**Task**
Separate into pre and post emails in mtl/faciliate workgroup
html code link - in markdown code
Videos currently on OSF - scope out with Lindsey's new location for videos (e.g. private video in our existing YouTube account).

[<img

[2020-02-11 02:07] staceypark commented on #748
@branscombj
I just spoke with Lindsey, and we are thinking that we only want to present edits to Elizabeth of critical changes (like the learning modes in CC & MM) that will make it confusing for frontline staff rather than all changes. For example, features like the Community/PLDR button should be clear enough that they don't need a pop up to explain them.

Could you think through other major dep

[2020-02-11 03:07] #874 closed

[2020-02-11 03:07] #878 closed

[2020-02-11 03:08] #877 closed

[2020-02-11 03:08] #879 closed

[2020-02-11 03:08] #882 closed

[2020-02-11 03:10] #887 closed

[2020-02-11 03:10] #893 closed

[2020-02-11 03:10] #956 closed

[2020-02-11 03:11] #955 closed

[2020-02-11 03:11] #953 closed

[2020-02-11 03:11] #952 closed

[2020-02-11 03:11] #940 closed

[2020-02-11 03:12] #939 closed

[2020-02-11 03:12] #938 closed

[2020-02-11 03:12] #937 closed

[2020-02-11 03:12] #936 closed

[2020-02-11 03:13] #935 closed

[2020-02-11 03:13] #934 closed

[2020-02-11 03:13] #930 closed

[2020-02-11 03:13] #929 closed

[2020-02-11 03:13] #902 closed

[2020-02-11 03:14] #901 closed

[2020-02-11 03:14] #894 closed

[2020-02-11 03:31] jamesmrollins commented on #864
Hi @lijenn - Thanks for your detailed feedback above.  Some of the issues you are having with photos and such are because you are not correctly configuring the system.  We will cover how to do this in MTL Demo and Team PSD Web Master training. With the remainder, we will consider these when we re-develop the PLDR capability.

@staceypark , I would like to collapse this issue with #339 and return a

[2020-02-11 03:43] jamesmrollins commented on #949
Hi @hirenp-waferwire.  Please configure a **MTL TEST-Break/Fix** project in Epicenter.

1. Leave Issue #339 https://github.com/lzim/teampsd/projects/7#card-26088770 Participatory Learning, Design and Research on MTL TEST. **This will be re-spec'd and redeveloped.** However, rest assured we will be using much of the current functionality.

2.  Leave Issue #775  https://github.com/lzim/teampsd/proje

[2020-02-11 16:30] #924 closed

[2020-02-11 18:03] #927 closed

[2020-02-11 18:04] #962 closed

[2020-02-11 18:56] ritahitching commented on #966
Continue to ask IT to triage ticket - ideal due date end of Feb 2020

[2020-02-11 18:59] anthonycpichardo commented on #633
Did the above meeting take place? Is quant analysis still needed on this?

[2020-02-11 19:04] anthonycpichardo commented on #667
@holbrooa Hi Andrew, was this completed? Is this related to the sql server partitions.

[2020-02-11 19:04] staceypark commented on #559
**Next Steps**
- [ ] Stacey will point David to the Fidelity rating items for Partner/Build/Apply on GitHub.
- [ ] David will reorganize the fidelity data from the two trainings (May Face to Face and QIICs) by correctly aligning the data by the factors.

[2020-02-11 19:05] ritahitching commented on #872
@staceypark did you hear anything back from Steve on this issue? thanks Rita

[2020-02-11 19:18] staceypark commented on #891
@lijenn thanks for working on the guides. I am closing this issue and cross-referencing it into the document tracker.

[2020-02-11 19:18] #891 closed

[2020-02-11 19:33] staceypark commented on #885
@ritahitching thanks for creating the outlook reminders. you can close this issue once the Vensim piece is resolved

[2020-02-11 19:40] #582 closed

[2020-02-11 19:40] #628 closed

[2020-02-11 19:41] staceypark commented on #632
@dlounsbu is working on this and we are tracking it as part of the analyses for the r01 manuscript in #559 .

[2020-02-11 19:41] #632 closed

[2020-02-11 19:44] staceypark commented on #633
I believe the analyses / evaluation needed for these results are all being done by @dlounsbu and we are tracking it as part of the r01 protocol manuscript analyses #559. As such I'll cross-ref it there and close this here.

[2020-02-11 19:44] #633 closed

[2020-02-11 19:50] staceypark commented on #620
@jamesmrollins I noticed you cross-referenced this in #949 as a sub-item to be completed together by 2/14. I updated the due date to match.

[2020-02-11 19:50] staceypark commented on #886
@jamesmrollins I noticed you cross-referenced this in #949 as a sub-item to be completed together by 2/14. I updated the due date to match.

[2020-02-11 19:50] staceypark commented on #797
@jamesmrollins I noticed you cross-referenced this in #949 as a sub-item to be completed together by 2/14. I updated the due date to match.

[2020-02-11 19:58] staceypark commented on #832
@anthonycpichardo this is almost done with the exception of my most recent instructions and question. The question (about whether we need OIT assistance or not for certain packages) can be tested by using the computer in Lindsey's room since that has a new tower and has not had OIT installation for these packages.

[2020-02-11 20:01] #865 closed

[2020-02-11 20:02] staceypark commented on #425
@lzim can we close this?

[2020-02-11 20:05] staceypark commented on #813
@jessfroe thanks!
@lijenn will you double check her work once you learn REDCap?

[2020-02-11 20:11] anthonycpichardo commented on #674
@staceypark Just want to verify that the ask here is still to generate xbar charts using the existing data

[2020-02-11 20:15] staceypark commented on #830
@anthonycpichardo can you create a model parameters file similar to how we did for James but with all modules? We have post "dummy" params files on our mtl.how repository for folks who want to download the models and parameters data and play with it themselves.

@lzim can help you with clinic selections needed to create it

[2020-02-11 20:20] #925 closed

[2020-02-11 20:20] #923 closed

[2020-02-11 20:20] #926 closed

[2020-02-11 20:30] anthonycpichardo commented on #833
@staceypark Were these recordings done prior to Savet leaving?

[2020-02-11 20:52] anthonycpichardo commented on #594
Looks like this is done and can be closed. Please confirm @holbrooa @staceypark

[2020-02-11 21:19] #425 closed

[2020-02-11 21:27] #650 closed

[2020-02-11 21:27] #651 closed

[2020-02-11 21:28] #652 closed

[2020-02-11 21:28] #653 closed

[2020-02-11 21:28] #654 closed

[2020-02-11 21:28] #655 closed

[2020-02-11 21:28] #656 closed

[2020-02-11 21:28] #657 closed

[2020-02-11 21:28] #658 closed

[2020-02-11 21:28] #659 closed

[2020-02-11 21:28] #660 closed

[2020-02-11 21:28] #661 closed

[2020-02-11 22:42] #480 closed

[2020-02-11 22:42] anthonycpichardo commented on #480
This is tracked in #841

[2020-02-11 22:54] staceypark commented on #931
@ritahitching I'm not sure why this is in the issue column (as well as some other issues) if this is not a product that exists that is "broken"

[2020-02-11 23:37] anthonycpichardo commented on #941
Idea is to create an R package that will build on the existing functionality of RQDA and add utility

[2020-02-11 23:47] staceypark commented on #798
@ritahitching I'm reopening this issue as I'm not sure that it's done.
Even if you are the "originator" for this issue by definition of who created this issue, you are not the "originator" in the sense that you are responsible for knowing and checking if the requirements/tasks for this item are finished to satisfaction.

@lzim I think something we need to still track:
- [ ] double check how sites

[2020-02-11 23:52] staceypark commented on #968
@ritahitching
Thanks for doing this as part of the homework!
Following our updated guidelines from Lindsey, let's turn to using what we learned about issues and trackers to assess our real open issues and workflow items.

I will note that however, given that we use labels as:
1) indicator of workgroup
2) dependency check

You are missing the "manuscript" label for this, following the SOP.

[2020-02-11 23:52] #968 closed

[2020-02-12 00:03] staceypark commented on #78
@lzim @jessfroe @dlounsbu @teampsdkathryn @swapmush
It looks like this got lost as we changed workflow tracking systems.
This issue was used for a while to track our systems thinking work. Where (if at all) does it make sense to place this issue?

I've placed it into the feature_tracker for now. But if it makes sense to close the issue, we can do that as well.

[2020-02-12 00:05] #303 closed

[2020-02-12 00:07] staceypark commented on #870
Cross-ref issue #315 where we have the diagram of how the interviews were coded and mapped.

[2020-02-12 00:07] staceypark commented on #315
cross-ref #870

[2020-02-12 00:07] #315 closed

[2020-02-12 00:10] #294 closed

[2020-02-12 00:16] staceypark commented on #206
Updated list of Videos:
1. mtl Session 1   Final1_1 – https://bcove.video/2PBJxli
2. mtl Session 2 Final1_1 –   https://bcove.video/2PGS6vo
3. mtl Session 3 Final1_1 –   https://bcove.video/38Buyk2
4. mtl Session 4 Final1_1 –   https://bcove.video/36E0XF7
5. mtl Session 5 Aggregate Module Final1_1 –   https://bcove.video/36xbi5t
6. mtl Session 5 Care Coordination Module   Final1_1 – https://bcove.

[2020-02-12 00:41] staceypark commented on #747
@branscombj would you be able to populate the rest of these before the MTL facilitate meeting tomorrow and I can fill these into mtl.how?

[2020-02-12 15:59] ritahitching commented on #933
@lzim **Received Ruth's Edits to PD: Review & Post**
I emailed Ruth asking what she needs from us to post the PD. She has resent her edits to the PD, and is available to talk Wednesday (2/12) before 3:30 pm, Thursday (2/13), anytime between 9 am – 3 pm, or Friday (9/14)  before 10 am - but you are OOF.
**Can we review today - 2/12** ? thanks Rita

[2020-02-12 16:26] jessfroe commented on #78
@staceypark as far as I know, systems_thinking_coding was completed a while ago and we have since moved on to fidelity_coding. It looks like some additional housekeeping tasks were being tracked here (see @swapmush 's comment about R) but I believe those have been resolved as well. I personally think this issue can be closed but I'll defer to @lzim @dlounsbu @teampsdkathryn @swapmush before we clo

[2020-02-12 17:05] anazariz opened #980 "2020_02_17-Splash Page Button Triage"
**1. Add description:**

We need to triage the splash page to better understand the problem and come up with a fix.
<< Paste screenshots here>>

**2. Click on the right:**
a. **Projects** - assign to **issue_tracker.**
b. **Assignee** - assign relevant team members.
c. **Labels**- review and select all potential _MTL_ dependencies.
d. **Milestones** - select the dependent milestone.

-------------

[2020-02-12 17:10] anazariz opened #981 "2020_02_27 + Splash Page Fix"
**1. Add description:**

Fixing the Splash Page based on triage from #980
<< Paste screenshots here>>

**2. Click on the right:**
a. **Projects** - assign to **issue_tracker.**
b. **Assignee** - assign relevant team members.
c. **Labels**- review and select all potential _MTL_ dependencies.
d. **Milestones** - select the dependent milestone.

-------------------------------------------------------

[2020-02-12 17:25] staceypark commented on #918
**Next Steps**
- [ ] @staceypark will update the syllabus to make sure all facilitate-related critical tasks are trained on by end of February
- [ ] On Friday 2/28, @branscombj @dlkibbe will join the training from 1-2pm Pacific / 4-5pm Eastern
- [ ] @staceypark will send the Lucid invitation for joining this meeting

[2020-02-12 17:28] staceypark commented on #747
@branscombj @dlkibbe will finish posting the answers to the COP questions by 2/19

[2020-02-12 18:01] jamesmrollins commented on #949
UPDATE:

1.  #620 Gravatar Issue can be closed - is now on PROD.
2.  Break-fix loop is set up:  https://forio.com/app/va/va-psd-test-breakfix/login.html

![image](https://user-images.githubusercontent.com/30132017/74362701-0565d800-4d7e-11ea-8a02-74533f26ccea.png)

[2020-02-12 18:47] ritahitching opened #982 "Deadline 2/21 LucidMeeting - calendar invitation and link are not working"
**LucidMeeting Broken Links:**

Follow up with LucidMeeting - that calendar invitation and link are not working - experiencing problems. Lindsey will send additional information.
-----------------------------------------------------------------------------------------
**Workgroups leads**
**Identify Constraints (check all that apply):**
- [ ]   Capacity
- [ ]   Cost
- [ ]   Schedule
- [ ]   Interf

[2020-02-12 18:55] branscombj commented on #601
Facilitator Manual Table of Contents

@lzim This is a kind of meta question - I wonder if we should revisit, flesh out, and implement [this](https://github.com/lzim/teampsd/blob/master/mtl_facilitate_workgroup/facilitation_guide/manual_toc.md):

It's a table of contents for an eventual facilitator manual that I started drafting a couple of years ago with the idea of ID'ing what I'd expect to see i

[2020-02-12 21:24] lijenn commented on #976
@lzim Just pinged you on Outlook to please sign check requests I emailed to you, thank you!

[2020-02-12 23:16] lijenn opened #983 "wk4 feb_epic: MTL Red Pre/Post emails: Add specific dates/time & co-facilitators & meeting links"
Add specific dates/time & co-facilitators & meeting links, & TMS course code.

[2020-02-12 23:24] lijenn commented on #963
1. Not dummy card, but actual workflow card: https://github.com/lzim/teampsd/issues/ 983

[2020-02-13 00:00] dlounsbu commented on #559
Codebook for Fidelity Checklist Items

[Fidelity_Rating_Items_Codebook.xlsx](https://github.com/lzim/teampsd/files/4195805/Fidelity_Rating_Items_Codebook.xlsx)

[2020-02-13 01:25] lzim commented on #339
@jamesmrollins

- Following up on the Workgroup Leads meet on Monday 2/3 - At the 1st Workgroup Leads meeting I protected an hour today to review PLDR, but I don't see any updated documentation of the requirements or design drafts on this thread.
- I think you were going to put that together based on @staceypark & my meeting with you last Tuesday 2/4? (see below)
- I asked @anthonycpichardo and @s

[2020-02-13 02:22] jamesmrollins commented on #339
Hi @lzim - Sorry, I wasn't clear I owed you something by today 😕.  My understanding was that we were going to establish a test-break fix instance, write a policy and then use the policy to re-develop PLDR as it has significantly changed and it would give us an opportunity to test out the policy. To that end, I did prepare a requirements document today, which is attached to this thread.  I also wro

[2020-02-13 17:50] #536 closed

[2020-02-13 17:51] #535 closed

[2020-02-13 17:54] #545 closed

[2020-02-13 19:20] #373 closed

[2020-02-13 19:29] staceypark opened #987 "pre/post emails across MTL Blue & MTL Red"
# Pre/Post Emails

## 1. Link to the document, add relevant team members to the card, and add workflow decisions.
- [x] Add the link the current draft of the documentation for the issue
- [pre_email template](https://github.com/lzim/teampsd/edit/rita_2020_03_19_email_template_issue_1176/mtl_facilitate_workgroup/pre_post_emails/pre_emails/mtl_live_pre_session01_template.md)
- [post_email template](

[2020-02-13 19:35] #356 closed

[2020-02-13 19:36] staceypark commented on #323
@lzim @jessfroe @swapmush @teampsdkathryn @dlounsbu
Should we keep this open for when we turn to CFIR? or should this be closed?

[2020-02-13 20:22] staceypark commented on #811
@branscombj @dlkibbe I've merged the pull request for the Red SEE, Red SAY, Red Post Test, and Red Brochures. As such, I am closing this.

[2020-02-13 21:23] lrollins33 opened #988 "Lucy_manuscript_homework"
**Manuscript Dummy Title: r22_ls_tt**

## **Manuscript Tracker Issue Template**
​
_This checklist will ensure all manuscript components are completed as issues move through the manuscript_tracker._​
​
**Please ensure all checklist items are covered for each manuscript.**​
​
### 1. OSF​
​
- [x] OSF Project created, and project linked to **manuscript_tracker**​
​
- [ ] Relevant documents uploaded to

[2020-02-13 23:51] dlounsbu commented on #559
Fidelity Rating Data (raw, clean)

[FIDELITY_F2F-EXPORT.xlsx](https://github.com/lzim/teampsd/files/4201993/FIDELITY_F2F-EXPORT.xlsx)

[FIDELITY_QIICs_EXPORT.xlsx](https://github.com/lzim/teampsd/files/4201996/FIDELITY_QIICs_EXPORT.xlsx)

[2020-02-13 23:52] jamesmrollins commented on #339
@lzim @staceypark  Here is the updated algorithm and RTVM.  I will start design documentation tomorrow. ~James

[Visio-participatory_design_algorithm_v2.pdf](https://github.com/lzim/teampsd/files/4201995/Visio-participatory_design_algorithm_v2.pdf)
[#339_participitory_learning_design_research_rtvm (1).xlsx](https://github.com/lzim/teampsd/files/4201998/339_participitory_learning_design_research_rt

[2020-02-14 03:48] branscombj opened #989 "Sim UI-More Info section content cut off"
**1. Add description:**

The content in the section describing the AGG module is cut off at the bottom of the section by the next blue bar.

![image](https://user-images.githubusercontent.com/29778290/74499722-9f2ea180-4eb2-11ea-8f74-d2ef05008427.png)

**2. Click on the right:**
a. **Projects** - assign to **issue_tracker.**
b. **Assignee** - assign relevant team members.
c. **Labels**- review and

[2020-02-14 04:09] branscombj opened #991 "Wording of AGG description in sim UI More Info page"
**1. Add description:**
The short blurb describing the AGG module in S04 Say was identical to that of CC. I modified slightly. We may want to modify the description used in other places. The one I know of is in the sim UI More Info page.
Here is what I proposed in #990 :
AGG shows how a variety of team decisions interact to affect your overall mix of services. You can explore trade-offs between de

[2020-02-14 16:13] staceypark commented on #976
@lzim
@anthonycpichardo @anazariz are not seeing the private repository. Did you have a chance to add them for Ash to review code today?

[2020-02-14 16:21] #931 closed

[2020-02-14 17:45] lijenn commented on #864
@jamesmrollins Hi James, @staceypark  has agreed with the collapse. We should continue with updates going back in #339 and moving that card into Work Breakdown. I can get this done!

[2020-02-14 17:48] lijenn commented on #339
- cross ref #864 (now closed)
- This issue is moved into Work_Breakdown

[2020-02-14 17:52] ritahitching commented on #931
I'm closing this issue as we have a WiFi hotspot from Pavir.

[2020-02-14 19:30] ritahitching commented on #508
@staceypark I noticed a spelling error and will create a pull request once I check all other sessions. thanks. Rita

[2020-02-14 20:29] #864 closed

[2020-02-14 23:39] anthonycpichardo opened #995 "MTL Red VS Blue Document"
**Description**
Create a Document displaying the differences between MTL Red and Blue for team members
* include nuances between iir and r01

[2020-02-15 00:11] staceypark commented on #682
Closing this card as it is a duplicate of #564

[2020-02-15 00:11] #682 closed

[2020-02-15 00:14] #352 closed

[2020-02-15 00:55] staceypark commented on #508
Closed with pull request #996

[2020-02-15 01:39] dlounsbu commented on #559
QICC BUILD CFA FINAL

FACTOR / SCALE COMPOSITION
 
F1   Q01     Q02   Q03   Q04
 
 
RELIABILITY ANALYSIS
 
Scale     Alpha    Omega
-----------------------
F1      0.666    0.670
 
 
SOLUTION
 
Indicator Analysis
 
Fac  Indi     Pat    Unique  Factors with which an indicator correlates   too
tor  cator    tern   ness    highly, and other indicator diagnostics.
-------------------------------------

[2020-02-15 01:40] dlounsbu commented on #559
FACTOR / SCALE COMPOSITION
--
 
F1   Q01     Q02   Q03   Q04
 
 
RELIABILITY ANALYSIS
 
Scale     Alpha    Omega
-----------------------
F1      0.666    0.670
 
 
SOLUTION
 
Indicator Analysis
 
Fac  Indi     Pat    Unique  Factors with which an indicator correlates   too
tor  cator    tern   ness    highly, and other indicator diagnostics.
--------------------------------------------------------

[2020-02-15 01:42] dlounsbu commented on #559
QIIC APPLY CFA FINAL

FACTOR / SCALE COMPOSITION
--
 
F1   Q01     Q02   Q03   Q04     Q05
 
 
RELIABILITY ANALYSIS
 
Scale     Alpha    Omega
-----------------------
F1      0.975    0.976
 
 
SOLUTION
 
Indicator Analysis
 
Fac  Indi     Pat    Unique  Factors with which an indicator correlates   too
tor  cator    tern   ness    highly, and other indicator diagnostics.
--------------------------

[2020-02-15 02:36] staceypark commented on #790
these edits have already been addressed at the current mtl.how

[2020-02-15 02:36] #790 closed

[2020-02-15 02:47] staceypark commented on #831
Closing this issue as I believe everyone has finished their fidelity coding

[2020-02-15 02:47] #831 closed

[2020-02-15 02:49] staceypark commented on #78
I resolved @swapmush issue with him already. I am going to go ahead and close this. Anyone can feel free to reopen if necessary.

[2020-02-15 02:49] #78 closed

[2020-02-15 02:52] dlounsbu commented on #559
F2F PARTNER CFA FINAL

FACTOR / SCALE COMPOSITION
--
 
F1   Q01     Q02   Q03   Q04     Q05
 
 
RELIABILITY ANALYSIS
 
Scale     Alpha    Omega
-----------------------
F1      0.890    0.895
 
 
SOLUTION
 
Indicator Analysis
 
Fac  Indi     Pat    Unique  Factors with which an indicator correlates   too
tor  cator    tern   ness    highly, and other indicator diagnostics.
-------------------------

[2020-02-15 02:54] dlounsbu commented on #559
F2F BUILD CFA FINAL

FACTOR / SCALE COMPOSITION
--
 
F1   Q01     Q02   Q03   Q04
 
 
RELIABILITY ANALYSIS
 
Scale     Alpha    Omega
-----------------------
F1      0.818    0.823
 
 
SOLUTION
 
Indicator Analysis
 
Fac  Indi     Pat    Unique  Factors with which an indicator correlates   too
tor  cator    tern   ness    highly, and other indicator diagnostics.
-----------------------------------

[2020-02-15 02:54] dlounsbu commented on #559
F2F APPLY CFA FINAL

FACTOR / SCALE COMPOSITION
--
 
F1   Q01     Q02   Q03   Q04     Q05
 
 
RELIABILITY ANALYSIS
 
Scale     Alpha    Omega
-----------------------
F1      0.896    0.903
 
 
SOLUTION
 
Indicator Analysis
 
Fac  Indi     Pat    Unique  Factors with which an indicator correlates   too
tor  cator    tern   ness    highly, and other indicator diagnostics.
---------------------------

[2020-02-15 02:59] staceypark commented on #888
thanks @lrollins33 and @jamesmrollins for working on this!
I accepted the pull request updating the documents and will close this issue.

[2020-02-15 02:59] #888 closed

[2020-02-15 03:00] #976 closed

[2020-02-15 03:11] dlounsbu commented on #559
So, my preliminary CFA is complete. The sample sizes for these analysis were tiny, so the results are not  stable. F2F: I analyzed each set of items for F2F PARTNER, BUILD and APPLY separately. QIIC: We did not collect PARTNER data, so there is only BUILD and APPLY analyses.

[2020-02-16 18:14] branscombj opened #998 "sim UI login hang-up"
**1. Add description:**
I'm proof-reading facilitator SAY guides. I logged in to the Test environment – because I was already assigned as a team member there vs Prod where I’m currently Facilitator – to check some labels and layout against descriptions in the guides. While there, I realized I needed to look at the Select Prior Experiments function, so I ran a bc. When I tried to save it, the sim U

[2020-02-16 18:15] branscombj commented on #998
Oh, hey, I just looked at the screenshot above and realized the url there is the prod one, not test. Let me try that.

[2020-02-17 11:24] #513 closed

[2020-02-17 11:25] #514 closed

[2020-02-17 11:25] #515 closed

[2020-02-17 15:45] lijenn commented on #983
at jane & debby:
Jane, I really love the guide you made that was sent in the email.

How about this as the body template?
- Program description: a small blurb for each of the 12 sessions
   - i.e Session 1: Team Vision - Teams will develop individual goals into a shared Team vision
- Registration: Pre-registration is only necessary if users want to receive credit. Must go through specific team lin

[2020-02-17 21:23] lzim opened #1003 "go_live"

[2020-02-17 21:24] lzim opened #1004 "teams_data"
_Modeling to Learn_ launch with teams (aka "**teams_data**")

[2020-02-17 21:27] lzim opened #1005 "april"
3/3. This epic is the third of 3 for the _MTL National Launch_ part of r01_iir_launch.

[2020-02-17 23:40] lzim commented on #748
Thanks, bit, that's not entirely what I meant @staceypark. We likely do need a list of MTL 2.0 edits like @branscombj proposed.

But, I'm VERY concerned that of our list CC & MM learning mode wasn't included, as I believe that may is likely the most confusing to handle, whereas the others are "upgrades" or "new features."

In fact, we're highly likely to hear about this very soon when our pilot re

[2020-02-17 23:44] lzim commented on #748
Note: This needs to be triaged to one pop-up for CC & one for MM as for the 2/21 due date.
Since there is no Learning Mode in AGG and MTL Video Pilot Reviewers are reviewing that module, we should be okay there.
I've assigned @staceypark

[2020-02-18 00:07] lzim commented on #966
Hi @ritahitching

I think that this could make more progress with greater detail on the issue ticket. I've approved the request, and I see it's been closed 3 times now, which is a good sign that that OIT doesn't have what they need to follow through on it.

[2020-02-18 17:03] dlounsbu commented on #559
@staceypark

Confirmatory Factor Analysis for the pilot fidelity ratings are found in OSF here https://osf.io/8pzxu/

If you want to remove the data files from this issue, feel free.

[2020-02-18 17:29] staceypark commented on #559
@dlounsbu
Thanks David! I've added the factor / scale compositions here as well: https://osf.io/8pzxu/wiki/cfa_fidelity/

[2020-02-18 18:10] anthonycpichardo commented on #830
Yeah I can do that when I have the clinic selection list.

@staceypark @lzim

[2020-02-18 18:52] anazariz commented on #950
Should "s02 CHECKLIST" be changed to "mtl_red_part_1_Facilitator_Say"?

[2020-02-18 20:42] lijenn commented on #870
@lzim Any updates/progress with Erin on uploading the VAPOR videos from OSF onto YouTube?

[2020-02-18 20:48] anthonycpichardo commented on #626
Splash Page documentation- how to run the process and things to be aware of. Document solutions to any issues that may arise.

@staceypark verify if this is accurate.

[2020-02-18 21:44] jamesmrollins commented on #998
Hi @branscombj .  I checked this out, and because I am the repair person, it didn't present a problem for me.  However, based on your description, I believe this was a server unavailable issue. This can happen for a variety of reasons, including internet traffic but should only be temporary.

  The easy way to check, is to right click with your mouse pointer on the browser window and select "inspe

[2020-02-18 22:12] jamesmrollins commented on #648
Discussed this issue with @TomRust last Friday.  We reviewed the episodes count issue and determined that if less than 1% of the total population of episodes of care is returned from the team data query, than the _sample size should be considered insufficient._  If the sample is insufficient, then the model should read the number as a zero; thereby, shutting down the flow in question and preventin

[2020-02-19 16:21] ritahitching commented on #890
Resend David an email asking for shipping address.

[2020-02-19 16:31] #522 closed

[2020-02-19 16:33] ritahitching opened #1009 "meta_describe"
# Meta Describe Checklist

## 1. Link to the document, add relevant team members to the card, and add workflow decisions.
- [ ] Add the link the current draft of the documentation for the issue
- [ ] Add all related workflow decisions here:
1. SEE guide decisions:
- Numbering and main content on the SEE guides cannot change as these are already shown in the videos.
- Only edits that address errors

[2020-02-19 16:34] branscombj commented on #601
@staceypark @lzim Do we want to use an MTL BLUE logo instead of MTL LIVE in the guides? We are using MTL RED logo in the Red guides.

[2020-02-19 16:37] ritahitching opened #1010 "s01_resources_mtl_blue"
**Important Links**

## Platforms
mtl.how/lucid
mtl.how/teampsd
mtl.how/live
mtl.how/fidelity

## Guides & Checklists MTL Blue
**SEE guide:**
https://github.com/lzim/mtl/tree/master/blue/session01

**SAY guide:**

**SAY checklist:**

**Cheatsheet:**

**Pre Checklist:**

**Post Checklist:**

[2020-02-19 16:41] ritahitching opened #1011 "s01_resources_mtl_red"
**Important Links**

## Platforms
mtl.how/lucid
mtl.how/teampsd
mtl.how/live
mtl.how/fidelity

## Guides & Checklists MTL Red
**SEE guide:**

**SAY guide:**

**SAY checklist:**

**Cheatsheet:**

**Pre Checklist:**

**Post Checklist:**

[2020-02-19 16:42] branscombj commented on #950
@staceypark @anazariz I'm not clear about his question, but the MTL Red Part 1 Facilitator SAY guide is [here ](https://github.com/lzim/teampsd/blob/master/mtl_facilitate_workgroup/facilitator_say/mtl_red_part_1_say.md); the s02-05 Checklists for MTL Blue need to be created. As well as checklists for MTL Red Part 1&2.

[2020-02-19 16:46] branscombj commented on #519
@dlkibbe edited S03 SAY to reflect this suggestion.

[2020-02-19 16:54] anazariz opened #1012 "mtl_red_part_1"
#  mtl_red_part_1 Checklist

https://github.com/lzim/teampsd/blob/master/mtl_facilitate_workgroup/learner_see/mtl_red_part_1_see.md

## 1. Link to the document, add relevant team members to the card, and add workflow decisions.
- [x] Add the link the current draft of the documentation for the issue
- [x] Add all related workflow decisions here:
1. SEE guide decisions:
- Numbering and main content

[2020-02-19 16:59] anazariz opened #1013 "mtl_red_part_2"
# mtl_red_part_2 Checklist

https://github.com/lzim/teampsd/blob/master/mtl_facilitate_workgroup/learner_see/mtl_red_part_2_see.md

## 1. Link to the document, add relevant team members to the card, and add workflow decisions.
- [x] Add the link the current draft of the documentation for the issue
- [x] Add all related workflow decisions here:
1. SEE guide decisions:
- Numbering and main content o

[2020-02-19 17:13] ritahitching commented on #890
Emailed Debbie and Jay asking to confirm their equipment needs and shipping information.

[2020-02-19 17:19] anthonycpichardo commented on #648
It would about 5 hours of effort on our end due to some research that @anazariz and I would have to do prior to making the change. @jamesmrollins

[2020-02-19 17:31] branscombj commented on #747
**Using the simulation user-interface**

_What is the difference between the modules - Care Coordination, Medication Management,_

_Psychotherapy, Aggregate, and Measurement Based Stepped Care & Suicide Prevention?_

_Can I experiment in more than one module in the sim UI?_

_What is the difference between the team and individual worlds?_

_How do I load new data into the sim UI?_

_Where does the

[2020-02-19 17:32] branscombj commented on #747
**Access to the simulation user-interface**

_Can I try out the simulation user-interface (sim UI) if I’m not in *Modeling to Learn*?_

_How can I get a tutorial of the sim UI?_

_Can I see the actual Vensim models running the sim?_

_I am having login issues at mtl.how/sim. What can I do?_

[2020-02-19 17:41] ritahitching commented on #933
@lzim do you have an update on the PD for the Data Scientist?
Please let me know how I can help.
thanks!

[2020-02-19 17:48] ritahitching opened #1014 "#HQ General Thread Week Feb 18 to 21"
**General Thread for Updates for HQ**

1. **Stacey** OOO Wednesday Feb 19
2. **Rita** OOO Wednesday Feb 19 after 10:30am

[2020-02-19 17:58] ritahitching commented on #885
@lzim will you please

[2020-02-19 17:58] #885 closed

[2020-02-19 18:08] anthonycpichardo commented on #594
@staceypark @lzim @holbrooa Following up to ensure this can be closed. This seems to be referring to the some completed modifications of mtl.how/data?

[2020-02-19 18:44] anthonycpichardo commented on #921
This looks good @jamesmrollins! I really think this process will be super helpful.

One thing to note will be any additions you might want to include with the integration of zenhub to our github workflow. Nothing major will really be changing so it may not be necessary--will be up to your discretion. We should be disseminating more info once we have the workspace set up

[2020-02-19 21:22] lzim commented on #521
@branscombj

@anazariz is our new "Andrew" 😸  and I asked him to look at the session 2 and 3 say guides.
He caught typos reflected in PR #1016 but he didn't mean to close the overall document card if the review checklist (above) isn't complete.

FYI: @staceypark

[2020-02-19 21:45] lzim commented on #950
Hi @branscombj 🤣

This is the same issue as a couple of others, which is that @anazariz reviewed this himself, but did not check off all the boxes for a complete document_tracker review.

Assigning back to you & let me know if you have any questions. Thanks!
FYI: @staceypark

[2020-02-19 21:48] lzim commented on #520
Hi @staceypark 🤣

This is the same issue as a couple of others, which is that @anazariz reviewed this himself, but did not check off all the boxes for a complete document_tracker review.

Assigning back to you & let me know if you have any questions. Thanks!
FYI: @staceypark

[2020-02-19 21:49] lzim commented on #951
Hi @staceypark 🤣

This is the same issue as a couple of others, which is that @anazariz reviewed this himself, but did not check off all the boxes for a complete document_tracker review.

Assigning back to you & let me know if you have any questions. Thanks!
FYI: @staceypark

[2020-02-19 22:50] lzim commented on #798
@anthonycpichardo

- One of the QIICs & I realized that there was a site listed as a CBOC in our site list that is actually an extension of the VAMC, which got us crosswalking data.
- As part of that process, @lijenn and I discovered a duplicate HCS in the site selection last week.
I need to determine what to do about this for the **r01_protocol_manuscript** #559  🎢

[2020-02-19 22:53] lzim commented on #559
Whoops, didn't mean to close 🤓

[2020-02-19 23:05] lzim commented on #594
@staceypark

@anthonycpichardo doesn't think this will block the guides described in #995  "for internal stakeholders."

- But, I felt it was blocked by #429 & added the dependency just now.
- I also wasn't sure whether the folders used in the Red and Blue condition were fully thought through regarding internal team set up (for **document_team**; also may mean .gif dependency for **detail_say** ❓

[2020-02-19 23:05] lijenn opened #1017 "Co-planning Meeting"
potential dates for the first two weeks of March (3/2-3/13)

**Travel/OOO Notices:**
Jay: DC in March 4-5 and on AL Feb 27 and March 10
Gayle: Feb 25-27
Jane: Feb 24-25 and March 5-8.
Claire: Travel on the week of 2/24 - 2/28.
Theresa: OOO 25-27
Matt: 3/2-3/3, 3/9-3/13, 3/30-3/31
Claire, Theresa, and Gayle: On travel for part or all of the week of 3/9 - 3/13

Jay Cohen:
608GC Somersworth VA Clinic

[2020-02-19 23:06] lzim commented on #594
one more thing...is this **go_live** if we don't solve permissions it may be **teams_data**

FYI: @staceypark @anazariz @anthonycpichardo

[2020-02-19 23:19] lzim commented on #648
@jamesmrollins and @TomRust

How would this zero be explained to the user?

@anthonycpichardo @anazariz

[2020-02-19 23:25] lzim opened #1018 "02/20 MTL Video AGG: Do QIICS have AGG Data?"
Hi @branscombj

What did you find? Do we need to upload AGG data for the MTL video reviewers?

Thanks!

Lindsey

[2020-02-19 23:26] lzim commented on #830
@staceypark What do you mean?

Thanks 😆

[2020-02-19 23:56] lijenn commented on #1017
@staceypark Hi Stacey 😄

Format is a bit off, I can fix this later tonight.

This is for the local co-planning meeting 1 where they meet with the local leaderships and figure out which teams to work with. They would then meet with the team sometime in March.

However, it was decided that anything through the 21st was too soon so the meetings need to be rescheduled either for next week (2/24 - 2/28

[2020-02-20 01:05] branscombj commented on #1018
@lzim oops the chat was hoppin today; guess my note got buried. The Team Data table and model variables were populated for Agg in Team 2 team world, and I ran a bc with reasonable results.

[2020-02-20 15:13] lzim commented on #1018
Thanks @branscombj !!

[2020-02-20 15:13] #1018 closed

[2020-02-20 15:17] lzim commented on #1017
Thanks @lijenn!

We have a team convention not to put any emails on GitHub. Would you keep the dates, location, & QIIC, but scrub the emails?

@staceypark

[2020-02-20 15:57] lijenn commented on #1017
@lzim @staceypark Right, thank you for reminding me! Removed them just now.

[2020-02-20 16:29] staceypark commented on #982
@lijenn can this be closed?

[2020-02-20 16:37] jamesmrollins commented on #339
@lzim the updated estimate for these changes is 15 DEV hours.

[2020-02-20 16:59] lzim commented on #339
@jamesmrollins

**Summary of PLDR review in meeting:**
1. "More info" icon - Book is okay, but remove lines.
2. "Bug" icon - Shape of bug icon is okay, but remove spots and line.

**Overall Algorithm for Movement**
1. I will double-check at 11AM today: Looks good and consistent with requirements above.

**Question**
EDIT to header: "Options for help with your question:"
EDIT: "See if someone alrea

[2020-02-20 17:14] lijenn commented on #982
@staceypark Am still in communication with Lucid. Will most likely be resolved today or no later by tomorrow. I can update the deadline right now.

[2020-02-20 19:15] staceypark commented on #339
EDIT "News Flash" to be called **"News"**

[2020-02-20 19:51] lzim opened #1019 "New Issue from Participatory Learning"
test</br></br></br></br></br>![image](https://s3.amazonaws.com/epicenter-asset/production/va/va-psd-test/1582228315225627388_img0.png) <br/>

[2020-02-20 19:53] #1019 closed

[2020-02-20 22:30] jamesmrollins commented on #339
Need to investigate the functionality of the Screenshot:

- Need drag and drop, so a user can drag file to window and it will post.
- Need to be able to put a file on the clipboard, as a file, and be able to paste it as a file.
- Need to be able to open an upload dialogue to upload a file.

[2020-02-20 23:46] jamesmrollins commented on #648
@lzim @TomRust @anthonycpichardo @anazariz  couldn't we put an explanation in the Team Data table? This assumes they are looking at the Team Data when they download it from the portal.

Otherwise, we are back to trying to figure out how to graphically warn them in the Team Data Table in the very busy Experiments Section, which could be accomplished by:

   - Color coding the table with an explanat

[2020-02-21 01:25] lzim commented on #339
Email mapping:

Email subject lines
MTL Idea
MTL Like
MTL Issue
MTL Help

1. "I have an idea" mtl.info@va.gov
2. "I like something" mtl.info@va.gov
3. "Report Issue" mtl.help@va.gov
4. "I need help" mtl.help@va.gov

Misc.

Examples of really simple icons - Let Lindsey know if you need my NounProject account.
Bug:
https://www.iconfinder.com/icons/1395221/bug_web_service_website_bug_icon

Vector Bug

[2020-02-21 16:39] branscombj commented on #521
@lzim Right, I need to study those referenced PRs to figure out what they may mean for the guide.

[2020-02-21 16:40] branscombj commented on #521
@staceypark I see that LZ accidentally assigned Amanda Phillips Martinez above. Could we remove her and Ursula Davis from the project to reduce inadvertencies?

[2020-02-21 19:30] jamesmrollins commented on #339
@lzim regarding the email header information that is auto-generated from the Epicenter API.  We don't have the ability to change that.  See conversation record below.

--------------------------------------------------------------------------------------
From:  Will Glass-Husain, Forio.com
Hi James,

The "from" email address cannot be changed.  We allow the name field to be set by the API but not

[2020-02-21 20:10] jamesmrollins commented on #339
@lzim Regarding the ability to select a file, copy it to the clipboard, as a file, and paste (see quote below), we are not technically able to accomplish that task.  However,  we can and will accomplish the ability to drag a file into the window to begin the upload.

[2020-02-21 20:58] lzim commented on #594
@staceypark and @lzim
Discussed this at #hqhuddle & Stacey will identify the chunks for documentation that need to stay in **go_live,** separate those that are for **teams_data,** & she will adjust the estimates for each issue tasks accordingly.

[2020-02-21 22:22] #982 closed

[2020-02-24 10:32] branscombj commented on #998
OK thanks, James. I will follow this advice if it happens again.

[2020-02-24 10:32] #998 closed

[2020-02-24 10:42] branscombj commented on #747
For the questions about the data UI above, @dlkibbe you have been working with the data UI more recently than I; could you take a stab at short, linked responses? @staceypark otherwise I may need to fill these in when we do the data UI review.

[2020-02-24 10:59] branscombj opened #1020 "MTL Demo home page needs review and edits"
**1. Add description:**
This page
https://forio.com/app/va/va-psd-demo/mtl_demo.html
![image](https://user-images.githubusercontent.com/29778290/75146538-556f6380-56c9-11ea-83d2-b4ae249723af.png)

1. Has some broken links - test all.
2. The MTL Live icon and line should probably be removed since now you go to How to get either Red or Blue, not just "the Live 12-session plan".

3. Also, above that

[2020-02-24 11:55] branscombj commented on #747
@dlkibbe The attached is a compendium of questions and answers I've completed so far. I made a few changes to the order and wording of questions vs @staceypark 's far above; and I used different group headings. Trying to make sections have fewer than 10 questions, as David suggested. I will not be able to work on this for the next couple of days, so if you have any time to continue, please do! Tha

[2020-02-24 16:01] ritahitching opened #1021 "wave1_teams Task: Ordering Cameras & Monitors"
Order cameras and monitors for Facilitators
List of requirements in issue #890
Shipping documentation can in TeamPSD folder.

[2020-02-24 16:03] ritahitching commented on #1021
Cross reference #890 - list of requirements and shipping documentation can be found there.

[2020-02-24 16:05] ritahitching opened #1022 "wave1_teams Task: Shipping Cameras and Monitors Facilitators"
Shipping of monitors and cameras to Facilitators - addresses in TeamPSD drive
Cross reference #890 list of requirements
Cross reference #1021 ordering status

[2020-02-24 16:14] #1014 closed

[2020-02-24 16:23] ritahitching commented on #890
Sent Debbie another email asking for confirmation of equipment needs and shipping address.
All other Facilitators have updated their equipment needs and shipping details.
Order to be placed as soon as Debbie responds if not sooner.

[2020-02-24 16:24] ritahitching commented on #1022
Waiting on response from Debbie - all other Facilitators have responded.

[2020-02-24 16:29] staceypark commented on #949
Completed per 2/24 workgroup leads meeting

[2020-02-24 16:29] #949 closed

[2020-02-24 16:51] staceypark commented on #648
@jamesmrollins @lzim @anthonycpichardo
I moved this to the current Epic, as I believe this will affect documentation for go_live.

Updates from James 2020/02/24 workgroup leads meeting:

1. Discussed with @TomRust.
2. Determined that if less than 1% of total episodes, measurement should be considered "0." That would effectively eliminate the given flow from the model.
3. Can apply this rule in eit

[2020-02-24 16:53] staceypark commented on #886
We decide to gather requirements for this issue at the Thursday Support Workgroups Meeting.

[2020-02-24 17:49] staceypark commented on #1020
@branscombj @jamesmrollins @ritahitching @lijenn
We will cover this as part of MTL DEMO Training next Friday March 6.

[2020-02-24 21:17] ritahitching commented on #966
@lzim
I checked Ash's machine in your office and R Studio and SQL have been installed.
I will close this issue.
thanks!

[2020-02-24 21:17] #966 closed

[2020-02-24 21:54] anazariz opened #1023 "6/20 +Microsoft Dynamics CRM - Phase II + 21"
**Functional Requirements (FR) for Microsoft Dynamics CRM**

Need the software to perform the following:
1. Map incoming service request emails (to **mtl.help@va.gov**) to facilitator and co-facilitator inboxes.
2. Report emails response cadence.
3. Scheduled emails.

[2020-02-24 22:19] anazariz commented on #1023
Microsoft Dynamics has the following Modules:

1. Finance and Operations
2. Retail
3. Talent
4. Sales
5. Customer Service
6. Project Service Automation
7. Field Service
8. Marketing

As Dynamics is a CRM platform, it lacks ITSM (IT Service Management) ServiceDesk functionality (similar to the Remedy, ServiceNow, and ZenDesk platforms) . The closest thing to a ServiceDesk in Dynamics is the Custome

[2020-02-24 23:34] staceypark commented on #1017
Dates have been set.
@lijenn will create the issues for the next steps.

[2020-02-24 23:34] #1017 closed

[2020-02-24 23:45] lijenn opened #1024 "wk4 Task: Co-planning Scheduling Sites"
- [x] Matt - 5 sites
- [ ] Marcia - 4 sites
- Reached out to Marica, no response yet.
- [ ] Theresa - 2 Sites
Dates have been sent, email tbd??
- [ ] Claire - 1 site

[2020-02-24 23:45] lijenn opened #1025 "5/1 Co-Planning Scheduling Sites (Rita)"
**Rita Scheduling**
652 - ~John~ Matt
No contact made as yet

**Rita Scheduling**
580 - ~John~ Gayle
No contact made as yet

**Rita Scheduling**
506 - Matt
~**Thurs 3/19 at 8AM Pacific**~
Cancelled due to COVID-19

**Rita Scheduling**
583 - Matt
~**Thurs 3/19 at 9am Pacific**~
Cancelled due to COVID-19

**Rita Scheduling**
VISN 8 - Theresa
**Fri 3/13 at 6:30am Pacific**
Call went ahead

[2020-02-25 18:31] ritahitching opened #1029 "Review See and Say Guides for Partner Phase S1 - S4"
**Review See and Say Guides for Partner Phase**

S1 and S2
S3 and S4

1. data_ui and team_data_table
2. A2 box information
3. History of clinics
4. Clinic stepped care
5. Clinic selection
6. Hidden control tab (remove from guide)
7. Use of Chrome (use disclaimer in forio/epicenter)
8. Power pivot and CPT codes

[2020-02-25 20:50] jamesmrollins commented on #789
Notes for meetings 2/3. 2/18. and 2/25
[psychotherapy_tool_project_mtg_feb_3_20.docx](https://github.com/lzim/teampsd/files/4252117/psychotherapy_tool_project_mtg_feb_3_20.docx)
[psychotherapy_tool_project_mtg_feb_18_20.docx](https://github.com/lzim/teampsd/files/4252118/psychotherapy_tool_project_mtg_feb_18_20.docx)
[psychotherapy_tool_project_mtg_feb_25_20A.docx](https://github.com/lzim/teampsd/

[2020-02-25 23:56] staceypark commented on #206
Hi @AnnHier. Could we get the title slides across all the sessions and modules with the animation of the red arrow coming in from the left. (these are the intro slides to each video with the session number above and the session topic under).

Thanks!! 🌻

FYI: @lijenn @lzim

[2020-02-26 00:11] staceypark commented on #987
For each version of *Modeling to Learn*, we need to update the "Modeling to Learn" logo to...

R01 "Red" email logos:
- [ ] pre/post session 1: "mtl part over data UI" (Dependency on @lzim to create these first)
- [ ] pre/post session 2: "mtl part 2 over data UI" (Dependency on @lzim to create these first)
- [ ] for remaining 20 emails, we will just use the "mtl red" logo found [here](https://gith

[2020-02-26 00:36] staceypark opened #1032 "Update logos in MTL Red & Blue SEE & SAY guides"
Update logos in MTL Red & Blue for both SEE & SAY guides according to the below:

1. R01 & IIR comparator arm RED SEE & SAY guides -
- [ ] Part 1 will have the logo: "mtl part 1 over data UI" (Dependency on Lindsey to create the logo)
- [ ] Part 2 will have the logo: "mtl part 2 over team data" (Dependency on Lindsey to create the logo)

2. BLUE SEE & SAY guides
- [ ] for all 12 sessions, use the

[2020-02-26 00:39] staceypark opened #1033 "Create new logos for MTL Red Comparator Arm to use in emails, videos, and guides"
1.  "mtl part 1 over data UI"
2. "mtl part 2 over data UI"
3. "mtl session 1... session 6 over data UI"
4. "mtl session 7...session 12 over team data"

[2020-02-26 00:41] staceypark commented on #1032
@ritahitching @lijenn let's divvy the work as:
Rita: Blue SEE Sessions 1-12
Jenn: Blue SAY Sessions 1-12

[2020-02-26 14:04] AnnHier commented on #206
Hi, Just responding to a question from @staceypark - do you just want the animations and opening music themselves?  What kind of files do you need?  Thanks!

[2020-02-26 18:12] staceypark commented on #980
1. Refresh Data connections on Splashpage do not work. Have narrowed the issue down to the SharePoint level, as it works in the SplashMothership.

[2020-02-26 20:41] staceypark opened #1034 "Second Wifi Hotspot"
**Ask PAVIR if we can get a second free wifi hotspot**

[2020-02-26 21:13] lijenn opened #1035 "DUE 2/28/20 - MTL Facilitate Workgroup - mtl.how Front Page Edits + Additions"
From the Wed. Feb. 26th MTL Facilitate Launch 2020 Meeting:

1) Currently, TMS MTL Video disclaimer say that the videos reflect the MTL 1.7 release and should still be really helpful (and they are accredited). But there are new & exciting features available now in MTL 2.0, which are reflected in the guides at mtl.how!

- [ ] Disclaimer needs to be at the top and reflect MTL 2.0
- [x] Can we also i

[2020-02-26 21:41] #963 closed

[2020-02-27 00:35] anthonycpichardo opened #1036 "Triage Data Connection Refresh"
Would like to remove the data refresh button from the splash page (mtl.how/data).

Goal is to prevent users from seeing the error if they happen to click the data refresh.

 Need to triage on splash page if this is possible

[2020-02-27 00:43] anthonycpichardo opened #1037 "Edge and Explorer Testing for Splash Page"
Does Edge work just as well as Explorer for testing, so we can inform users to pick their favorite between the two.

Validate all splash page functionality.

[2020-02-27 00:47] anthonycpichardo opened #1038 "Document Data Refresh Button Update From Splash Page"
Remove references in documentation that ask user to click the data refresh button on mtl.how/data.

**3. Once you hit "Submit new issue**, underneath the first comment:
viiii. **Add dependency** - assess for and add dependencies *blocking* & *blocked by* this issue

[2020-02-27 15:31] lzim commented on #1035
@lijenn

I could use your help with this. But, I will take the lead on the edits!
I'm going to assign myself.

Lindsey

[2020-02-27 15:32] lzim commented on #1035
@lijenn

I could use your help with this. But, I will take the lead on the edits!
I'm going to assign myself.

Would you please create a separate issue for the "map," also assign it to me for 5 points?

Thanks!

Lindsey

[2020-02-27 15:53] #965 closed

[2020-02-27 15:56] staceypark commented on #988
thanks @lrollins33 this looks great!

[2020-02-27 15:56] #988 closed

[2020-02-27 15:56] staceypark commented on #961
We are done with this and can be closed 😄

[2020-02-27 15:56] #961 closed

[2020-02-27 15:56] ritahitching commented on #1032
@staceypark @lijenn

logo to be fixed no link from the title slides for each session  (https://github.com/lzim/teampsd/tree/master/resources/title_slides)

Rita: Blue SEE Sessions 1-12

Jenn: Blue SAY Sessions 1-12

[2020-02-27 15:57] staceypark commented on #964
Trained and ready to be closed! 😃

[2020-02-27 15:57] #964 closed

[2020-02-27 16:04] lzim commented on #339
**TESTING BY LZ on 02/27/2020**

Lindsey reviewed the following in TEST

Tested and okay:

- Icons in Nav Bar look much better. I

- Community button works as intended when clicked.

- "Question button" in Community Diaglogue works as intended for taking users to GitHub, with Browser warner for GitHub user creation or checking Community of Practice."

Tested partially:

- Tutor function is working

[2020-02-27 16:06] staceypark opened #1039 "mtl.how/sim folder management for "MTL all""
**1. Add description:**

Create workflow for managing world creation requests by "MTL for all" teams

**2. Click on the right:**
i. **Pipelines** - prioritize in a TeamPSD (& Workgroup) pipeline
ii. **Assignee** - assign to an individual team member producing work for the issue
iii. **Label**- assign workgroup (lead) responsible for tracking the task
iv. **Projects** - assign to domain-specific Te

[2020-02-27 16:08] staceypark opened #1040 "mtl.how/data folder creation/management for "MTL all"
Create workflow for managing world creation requests by "MTL for all" teams

[2020-02-27 16:18] anthonycpichardo commented on #339
Switch the feedback from the Community Button for "grey out" verus dark.

[2020-02-27 16:25] staceypark opened #1041 "BACKLOG MTL Videos YouTube & Public Affairs"
@AnnHier we have a new function in our Simulation User-Interface called the "Tutor" function, for helping user walk through the platform. One piece of the "Tutor" function is a "video icon" that we want to link directly to the MTL Videos for learners to watch the video walkthrough.

In order to link the videos, we would need to post them to YouTube. Can we confirm that this is okay?

[2020-02-27 16:31] ritahitching commented on #1029
Review guides for changes attributed to MTL 2.0, including

Session S1 and S2 & S3 and S4

1. Requests - team world & team folder - **data_ui** and **team_data_table**
2. A2 box information
3. History of clinics
4. Clinic stepped care
5. Clinic selection
6. Hidden control tab (remove from guide)
7. Use of Chrome (use disclaimer in forio/epicenter)
8. Power pivot and CPT codes

Gifts
Add disclaimer

[2020-02-27 16:45] lijenn opened #1042 "DUE 2/28/20 - MTL Facilitate Workgroup - mtl.how Map"
From the Wed. Feb. 26th MTL Facilitate Launch 2020 Meeting:

- [ ] Need to create and add a "map" to help better orient Red and Blue users onto mtl.how front page.

Requirements:

Will appear in the middle of the page

- Landing Page Map to tell people where they get the guides.

- Map would answer this question Visually and with Links:

Is your clinical care team participating in MTL LIVE with a

[2020-02-27 16:53] staceypark commented on #747
Need to create pinned note:

[2020-02-27 16:58] AnnHier commented on #1041
@staceypark, I think that would be okay - but we need to check really quickly with Elizabeth Bowling.  Would you like EES to give you the video files for posting, or would you like us to post them for you?  Just let us know.

[2020-02-27 17:00] anthonycpichardo commented on #339
**QUESTIONS about MTL 1.7 and MTL 2.0 "Team Data Menu Maintenance" - Should it say "Team Data Dropdown..." (keep menu, keep maintenance? consider setup?)

- James will review the MTL Video Session 2 to minimize impact on the MTL Video or "MTL for All" learner group.

- mtl Session 2 Final1_1 – https://bcove.video/2PGS6vo

[2020-02-27 17:19] ritahitching commented on #1029
@lzim
I'm comparing the videos to the See guides for the partner phase. There is no instruction in the See Guide on how to find/access the guides themselves - which is mentioned in the videos.

1. Should we need to add a line to the See Guides to provide directions for learners on where/how to find all the Session Guides?

Something like:
**"Open any Internet browser window and go to mtl.how - whe

[2020-02-27 17:24] staceypark opened #1043 "Session 05 SEE & SAY Additions: 1) Episodes of Care, 2) Community Button, 3) Tutor, 4) Bug Reporting, 5) Learning Mode"
**1. Add description:**
We need updates in the MTL 2.0 SEE and SAY guides for session 5 describing:
1) Episodes of Care
From Debbie in #648

![image](https://user-images.githubusercontent.com/31182258/73580549-f0bb4300-4453-11ea-84e9-e1ea5c1b69c9.png)
![image](https://user-images.githubusercontent.com/31182258/73580567-fdd83200-4453-11ea-8975-6bb0eb9c1a71.png)

2) Community Button 
3) Tutor Button

[2020-02-27 17:28] anthonycpichardo opened #1044 "4/24: Quick Tip Loading Screen"
Replace the current loading screen "..." with a quick tip for users to improve their experience on the platform.

Note: This may move into the icebox

[2020-02-27 18:27] anthonycpichardo commented on #981
vizMeas vizDiag and vizEnc are missing buttons, need to go through the video and find them

[2020-02-27 18:35] anthonycpichardo commented on #981
Notes:
ScaleOfAction filter missing from vizMeas

[2020-02-27 18:40] anthonycpichardo commented on #981
Should be able to see data value when you hover over the dots

[2020-02-27 18:57] staceypark commented on #748
@lzim How's this?
Not sure where the line is of detail vs. length

**New! Learning Modes:**
Choose a Learning Mode to prioritize **Existing Patients Return-to-Clinic Visit Interval** or **New Patient Start Rate** for all your experiments through Session 12.

[2020-02-27 19:24] anthonycpichardo commented on #981
Look at Session 02 video's filter functions and take an inventory of which ones are missing:

- vizEncounter - missing Division

[2020-02-27 19:29] anthonycpichardo opened #1045 "Session 02 , 03 , 05 Discrepancies"
Session 02 and Part 1 Discrepancies
Update see and say guides to reflect the following:

1. Data - Refresh Connections" button needs to be taken out. All of that has been changed in terms of the data refresh workflow and but we are removing this from the Splashpage and guides, because they can no longer do that.

2. We no longer show an Excel sheet in the Splashpage. Interaction is through the gre

[2020-02-27 19:45] staceypark opened #1046 "Update CC & MM pop-ups in Sim"
**1. Add description:**
Related to the CC & MM pop-ups for the videos (#748), I noticed that we have outdated language in the pop-ups on the sim.

Our two files at mtl.how/data are now 1) data ui and 2) team data table.
The top text in both CC & MM pop-ups should be updated to say **"Team Data Table at mtl.how/data"** instead of "Team Data Table for Sim UI at mtl.how/data"

![image](https://user-i

[2020-02-27 20:34] anazariz commented on #1036
This issue should be closed. Data Refresh in the SplashMothership workbook is now performed via code attached to the Refresh button on the Control sheet.

Please close @anthonycpichardo

[2020-02-27 20:40] ritahitching commented on #890
Ready to close this issue and move to # 1021

[2020-02-27 20:40] #890 closed

[2020-02-27 20:43] anazariz commented on #980
Triage was performed on 2/26 with @anazariz , @anthonycpichardo  and @staceypark as follows:
1-SplashMothership was copied to prevent unintentional code change
2-A SQL Code walk-through was performed to understand the logic
3-Server segments of the SQL code was run on CDW to compare results with the results in various sheets of the workbook
A walk-through was conducted with Andrew to validate unde

[2020-02-27 20:58] jamesmrollins commented on #648
From Support Groups Meeting 2/27

- Agree that the exclamation point indicator on Issue #648 is good and sufficient for Sim UI Team Data Table.

- Need language for it, and detail in the SEE and SAY guides (session 3  Team Data and session 5 - Experiments section of the Sim UI).

- Would be great to add the parallel exclamation point to the Model Diagram for SP.

- Lindsey proposes that we need to

[2020-02-27 21:00] jamesmrollins commented on #339
What happens when GitHub is down? (API outages). Will the bug submitted be tracked on our end and then pushed to GitHub when the outage has ended? Will this be manual or automatic? Need to consider how we handle errors.

[2020-02-27 21:34] ritahitching opened #1047 "Compare SEE and SAY Guides S1 - S5 within and across sessions for continuity and consistency"
**Review See Say Guides **

Review See S1 - S5 for consistency within session and across sessions.

Content, wording, formatting, orientation and in consideration for changes from MTL 1.8 and MTL 2.0

[2020-02-27 21:37] ritahitching opened #1048 "Add Disclaimer to See Guides to Explain differences from MTL 1.8 version in videos"
**Disclaimer See Guides**

Add Disclaimer to See Guides S1 - S12

**Disclaimer:** If you are a self-directed learner, then some of the details in the guides may not apply to you.  These guides were developed for Facilitated _Modeling to Learn_ Live Team Meetings.

[2020-02-27 21:39] ritahitching commented on #1048
Pull request made.

[2020-02-27 21:40] staceypark commented on #1032
I'm not sure what you mean by this comment. Is there a specific ask here?

[2020-02-27 21:42] ritahitching commented on #1047
Pull request made for S1 to S5 in the guides.

Sessions 6 t0 12 still need checking.

[2020-02-27 21:42] staceypark commented on #559
@lzim asked this on OSF as well, but have we assigned who is creating the tables that are missing in the manuscript? I got the update from David that we can do a copy + paste process from word -> excel -> OSF wiki to manage the formatting.

And if no one has been delegated, should it be mine? I think it's an 1 or 2 Estimate task

[2020-02-27 21:44] lijenn opened #1049 "Blue SEE Guides S1-4 and Red SEE Guides Part 1 & 2: GIF and Links"
Nevermore
- A2 language
- Create Team Data button
- Get clinic list - Ash fixing function right now (Splash page issue)
1. Pull up old history of clinics (419?)
2. model_params tab
3. check if SP tabs is described in guides
3. power pivot drill down fidgets? (new feature not in guide or gifs)
4. Clinic tab --> 2 gray buttons
5. control tab will be hidden of we propagate all their data ui to their

[2020-02-27 21:46] #1012 closed

[2020-02-27 21:48] ritahitching commented on #1048
Disclaimer added and pull request made.

[2020-02-27 21:48] staceypark commented on #206
@AnnHier nvm we are good!

[2020-02-27 21:50] ritahitching opened #1050 "Update logos in MTL Blue SEE & SAY guides S1 - S12"
**Update logos in MTL Blue SEE & SAY guides :**

**Images**
1. Add disclaimer under all gifts that they refer to MTL 2.0 and may differ from videos (#1048)
2. For all 12 sessions, use the title slides logo found [here](https://github.com/lzim/teampsd/tree/master/resources/title_slides)
**Reminder:** These logos should remain "unclickable".
**Only update** the logo link within the brackets and leav

[2020-02-27 21:52] ritahitching commented on #1050
Sessions 1 and 2 done

[2020-02-27 21:59] anazariz commented on #667
This is a non-issue. This ticket has to do with the date partitions in CDW.  Andrew has already implemented dates in the scripts that take advantage of the partitions.

@anthonycpichardo  I recommend that we close this ticket. I will include the date formatting that will take advantage of the partition in my code documentation (front/back-end).

[2020-02-27 22:18] AnnHier commented on #206
@staceypark no worries! Thank you!

[2020-02-27 22:21] staceypark commented on #1011
@ritahitching @lijenn
I'm closing this because this is the work itself, not an issue task describing the work.
Also, this is supposed to be in the GitHub Private Tracker as stated in issue #841. If you need help on #841 ping me please.

[2020-02-27 22:21] #1011 closed

[2020-02-27 22:22] staceypark commented on #1010
@ritahitching @lijenn
I'm closing this because this is the work itself, not an issue task describing the work.
Also, this is supposed to be in the GitHub Private Tracker as stated in issue #841. If you need help on #841 ping me please.

[2020-02-27 22:22] #1010 closed

[2020-02-27 22:38] jamesmrollins opened #1052 "Separate Tracking of DEMO, TEAM & PROD SIM UI Web Pages in Google Analytics"
**1. Add description:**
Can Google Analytics be set up to track the MTL Demo and SIM UI webpages seperately?

<< Paste screenshots here>>

**2. Click on the right:**
i. **Pipelines** - prioritize in a TeamPSD (& Workgroup) pipeline
ii. **Assignee** - assign to an individual team member producing work for the issue
iii. **Label**- assign workgroup (lead) responsible for tracking the task
iv. **Proj

[2020-02-28 00:22] ritahitching opened #1053 "Compare SEE and SAY Guides S1 - S12 within and across sessions for continuity and consistency"
**Review See Say Guides **

Review SEE & SAY S1- S12 for consistent wording and number formatting across SEE & SAY guides

(merged details #1047)

[2020-02-28 00:58] anthonycpichardo commented on #1036
Misunderstanding Ash, This issue is to research and find out if we can remove the data refresh button from the splash page so that the users cannot click it. @anazariz

[2020-02-28 00:59] anthonycpichardo commented on #981
#980  Triage was performed on 2/26 with @anazariz , @anthonycpichardo and @staceypark as follows:
1-SplashMothership was copied to prevent unintentional code change
2-A SQL Code walk-through was performed to understand the logic
3-Server segments of the SQL code was run on CDW to compare results with the results in various sheets of the workbook
A walk-through was conducted with Andrew to validate

[2020-02-28 01:02] #980 closed

[2020-02-28 06:00] staceypark commented on #1038
@anthonycpichardo how (if at all) is the ask in this issue different than #1045 ?

[2020-02-28 06:04] staceypark commented on #1022
@ritahitching I notice that this issue # #1021 are in the "go_live" milestone, but the "team_data" epic. Given that for now, we decided that epics = milestones, I'm not sure why these are inconsistent.

Also I see both of these issues are in the "bug_tracker", but as we discussed before when getting oriented to ZenHub, we can have issue cards that are not applicable to any of the four trackers (a

[2020-02-28 17:04] ritahitching commented on #1025
#1017

[2020-02-28 17:47] staceypark commented on #1050
This task looks like it is for updating only the first logo in each guide that was previously "MTL Live". I'm not sure why this criterion is in here "Add disclaimer under all gifts that they refer to MTL 2.0 and may differ from videos" for this task as it is not applicable.

I believe that is a separate review? I thought gifs were on @lijenn plate?

[2020-02-28 17:52] staceypark commented on #1029
@ritahitching @lijenn
I'm not sure why the ask here sounds like Rita is universally adding a disclaimer to all the gifs, if 1) Gifs are on Jenn's plate and 2) as such only Jenn would know where to add the disclaimer.

[2020-02-28 17:57] staceypark commented on #1029
My stab at this question would be:
1. The learners are taught how to get to the guides in Session 01.
2. If they don't know how to get there anyways, I'm not sure how putting it in the See Guides would help them? They would already need to know how to get to the Guide to see this message you're proposing. If they do need that instruction, it would need to be elsewhere.
3. Remember, most platforms

[2020-02-28 18:12] staceypark commented on #512
@branscombj looks like everything got checked off here during your review so I will close.

[2020-02-28 18:12] #512 closed

[2020-02-28 18:12] staceypark commented on #516
@branscombj looks like you've checked off any remaining items during your recent review and pull request. closing this.

[2020-02-28 18:14] staceypark commented on #517
@branscombj Your recent pull request as well as others' ones closes this card.

[2020-02-28 18:14] #517 closed

[2020-02-28 18:14] staceypark commented on #518
@branscombj I believe your recent pull request checks off the remaining itesm to close this card.

[2020-02-28 18:14] #518 closed

[2020-02-28 18:29] staceypark commented on #841
@lijenn please add an estimate

[2020-02-28 18:33] staceypark commented on #830
@anthonycpichardo @lzim
We need to generate a dummy team data table file for MTL 1.8 & 2.0.
Do create this file with useful numbers, Anthony needs to know what set of clinics to choose to generate this data

[2020-02-28 18:38] staceypark commented on #1049
@lijenn I'm not sure what your task is based on your comment above?

[2020-02-28 18:53] anthonycpichardo opened #1054 "Purchase LucidCharts Account"
Acquire a Premium Account for Lucid Charts--requires filling out a req logic request.

Annual pricing option is cheapest

[2020-02-28 19:00] anthonycpichardo opened #1055 "3/12 Zenhub Map Document"
Map out our Zenhub workflow on LucidCharts and disseminate to the team.

[2020-02-28 19:11] staceypark opened #1056 "Update mtl.how/data cheatsheet"
Update cheatsheet for mtl.how/data which includes changes and updates to the Splashpage and Data UI

[2020-02-28 19:11] lijenn commented on #841
@staceypark Hi Stacey, I'm not too sure of what the task is so I am unable to estimate this.

More specifically:
- what is the private GH repo?
- resource cards?
- session fidelity details?

Also note the team_tracker short link does not seem to be working.

[2020-02-28 19:13] staceypark opened #1057 "Update mtl.how/sim cheatsheet"
Update mtl.how/sim cheatsheet to reflect recent changes related to Tutor, PLDR, SP

[2020-02-28 19:14] anthonycpichardo commented on #1038
One and the same. Closing this issue.

Duplicate of #1045

[2020-02-28 19:14] #1038 closed

[2020-02-28 19:22] ritahitching opened #1058 "2/28 Revise Goals 2020 to complete PAVIR review"
**Revise Goals for 2020:**

1. Revise 2020 goals using recommendations from Lindsey's email.
2. Send to Lindsey for review.
3. Finish by COB Friday 2/28

[2020-02-28 19:25] anthonycpichardo opened #1059 "Disable Links from MTL Part 1 and 2 see guides; update header logo in Red SEE & SAY guides"
- Disable the links on images in the MTL Red Part 1 and 2 see guides
- Update main "MTL Live" logo at the top of each guide to Part 1/Part 2 specific logos for SEE & SAY guides and checklists

[2020-02-28 19:26] ritahitching commented on #933
Update following HQ Meeting Thursday Feb 27 we have decided to wait on hiring the Data Scientist until the next Epic teams_data

[2020-02-28 19:31] ritahitching commented on #1021
Discuss at HQ meeting Thursday Feb 27 and at MTL Facilitate Launch Friday 2/28.
Waiting on budgetary confirmation from Lindsey.
Purchases to likely be made via Amazon.

[2020-02-28 19:42] ritahitching commented on #1022
@staceypark thanks for the instructions.
I updated issue #1021 and #1022 accordingly.

[2020-02-28 19:44] lzim commented on #648
**Meeting Summary**

Our goal is to make the learners aware when low counts used for estimates.
A key systems insight for facilitators is that teams will always find the highest leverage change focusing on where the patients are (i.e., stocks or flows).

Sometimes we may have estimates derived from very few observations.
We decided to set infrequently observed values to zero to avoid inflation of

[2020-02-28 19:48] staceypark commented on #1032
@ritahitching @lijenn It looks like you guys broke down this task further, since I see Rita made a card specific to working on Blue sessions 1-12 See and Say.

Jenn, if you're working on the rest, please make a new card for that and close this. As it stands right now, Rita has both this card and the Blue Sessions 1-12 SEE/SAY card in the "In Progress" column which is confusing.

[2020-02-28 19:50] staceypark commented on #1049
@lijenn I've also added a dependency for you. Your gifs as you discussed with Anthony yesterday cannot be fixed until they make all the changes in the Splashpage first.

[2020-02-28 19:54] staceypark opened #1060 "Blue SEE Guides S5-12: Gifs and Links"
Update incorrect gifs of sim UI for sessions 5-12, and ensure they don't link out
- [x] YAML S1-12 from 1.8 to 2.0
- [x] Disclaimer below gif: MTL 2.0. For MTL 1.7, click here. (here will hyperlink to 1.7 guide)
- [x] Add 2.0 function gifs/pngs (Session 5)
   - [x] community_button.gif
      - [x] drag_drop_community.gif
      - [x] snip_tool_community.gif
      - [x] upload_files_community.gif [i

[2020-02-28 19:56] ritahitching commented on #1050
@staceypark you divided #1032 Update logos in MTL Red & Blue SEE & SAY guides into

Rita: Blue SEE Sessions 1-12
Jenn: Blue SAY Sessions 1-12

Jenn asked me to add the disclaimer under every screen shot of the MTL Blue SEE Guides to demonstrate that they referred to MTL 2.0. and would differ from the video, while I was updating the main logo.

Please let me know if I should be stop adding the disc

[2020-02-28 19:58] staceypark commented on #1059
@anthonycpichardo I added one extra piece to this task, which is updating the logos

[2020-02-28 20:24] lzim opened #1061 "New Issue from Participatory Learning"
Modeling to Learn text is not italicized </br></br></br></br></br>![image](https://s3.amazonaws.com/epicenter-asset/production/va/va-psd-test/1582921438093733556_img0.png) <br/>

[2020-02-28 20:25] staceypark commented on #1032
@lijenn @ritahitching
I've assigned the Red to @anthonycpichardo on #1059.
Since the Blue is tracked on #1050 , I am closing this issue.

[2020-02-28 20:25] #1032 closed

[2020-02-28 20:32] staceypark opened #1062 "Blue Session 2, 3 SEE & SAY guides, Red Part 1 & 2 SEE & SAY guides"
update see and say guides to keep current with data UI and splashpage changes

[2020-02-28 20:56] #502 closed

[2020-02-28 23:37] ritahitching opened #1064 "2/28 tt_report_075"
**Week tt_report_075**

1. Updates from workgroup leads
2. Calendar updates
3. News item mtl.how/bug & Lindsey travel

[2020-02-28 23:47] ritahitching commented on #1025
1. Confirm that co-planning calls are in Lindsey's calendar
2. Changes to LucidMeeting Calendar

[2020-02-28 23:54] ritahitching opened #1065 "Due 3/4 Epicenter Training Homework - Review MTL Test"
**Epicenter Training Homework**

1.  Review MTL Test prior to next training session with James
2.  Login in https://forio.com/app/va/va-psd-test-demo/login.html
3. Make changes directly to MTL Test (will show up on: https://forio.com/app/va/va-psd-test-demo/mtl_demo.html)
4. Email James when done

Estimate 1 hour

[2020-02-29 00:40] staceypark commented on #429
**Summary of discussion**
CDWWork
- NDS = Here is who we ask for Operations permissions.
- VINCI = Here is who we ask for Research permissions.
- VIREC
- BISL = Of all the types of CDW SharePoints, we use the BISL one specifically.

1. We chose the BISL SharePoint because this one was supposed to help us with access for frontline staff permissions.
2. Then, the VA switched to LSV.
3. Now we are en

[2020-02-29 02:05] anthonycpichardo opened #1066 "Research Analytic Option for Sharepoint Splash Page"
Explore what options are available to monitor traffic and usage on our splash page. Determine work required to implement

[2020-02-29 02:32] anthonycpichardo opened #1067 "Bug label from SIM UI Removal"
As of the updated SOP we have removed the use of the bug label as a result bugs reported from the SIM UI should not include it.

Request is to stop adding the label to newly created issue cards from the API call made the SIM "report a bug" feature.

[2020-02-29 02:36] anthonycpichardo commented on #1067
Hi @jamesmrollins I could be off base on what I think is happening here so please let me know if I'm mistaken and I'll remove this issue card.

I believe the api call being made from the SIM whenever a bug is reported is including the addition of a "bug" label thus recreating the label that we've decided to delete.

@lzim @staceypark Bringing this to your attention as well in case you have thought

[2020-03-02 02:11] jamesmrollins commented on #989
@branscombj I recommend we close this issue as we will be redesigning this page.

[2020-03-02 16:53] anthonycpichardo commented on #339
@jamesmrollins Copying over the content from previous issue card.
Bug label is being recreated from sim ui

I could be off base on what I think is happening here so please let me know if I'm mistaken.

I believe the api call being made from the SIM whenever a bug is reported is including the addition of a "bug" label thus recreating the label that we've decided to delete.

[2020-03-02 16:54] #1067 closed

[2020-03-02 16:55] lijenn commented on #775
@jamesmrollins Not sure if we want to put the video's on YouTube due to the possibility of YouTube not addressing video buffering issues on BrightCove.

Here are the links to the videos on BrightCove. Could give the BrightCove links a try since you are testing soon.  https://github.com/lzim/teampsd/issues/206

[2020-03-02 16:56] ritahitching commented on #1048
@staceypark

Will you please confirm this is the exact wording for the disclaimer?
thanks-+

[2020-03-02 17:11] staceypark commented on #1060
@ritahitching I believe @lijenn is working on this issue. Did you guys reassign the workload?

[2020-03-02 17:26] ritahitching commented on #1060
@staceypark
@lijenn and I decided that I'd do the main logos and disclaimers for MTL 2.0 and MTL 1.8 at the top of each guide S1 - S12 for Blue SEE and SAY Guides, and @lijenn would do the images and links for the remainder of the guides.

[2020-03-02 17:31] ritahitching commented on #1050
Update Status

Session | Blue SEE Guides | Disclaimer Added | Main Logo Updated
-- | -- | -- | --
1 |   |   | Yes
2 |   |   | Yes
3 |   |   | Yes
4 |   |   | Yes
5 |   |   | Yes
6 |   |   | Yes
7 |   |   | Yes
8 |   |   | Yes
9 |   |   |  
10 |   |   |  
11 |   |   |  
12 |   |   |  
  |   |   |  

Session | Blue SAY Guides | Disclaimer Added | Main Logo Updated
-- | -- | -- | --
1 |   |   |  
2 |

[2020-03-02 17:39] jamesmrollins commented on #648
Hi @TomRust,
I know you are busy, so I will just put my inputs here.  In order for the simulation to turn on an exclamation point, it will need a signal from the model.  To that end I propose that we create a data variable structure in the example below.  I count about 50 data variables (not including “adjusted”), although I don’t think they are all related to this problem.

Variable Name | What i

[2020-03-02 18:07] lijenn opened #1070 "Due 3/4 Polish MTL DEMO Prod"
1.  Review MTL Demo Prod
2.  Login in https://forio.com/app/va/va-psd-demo/login.html
3. Make changes directly to MTL Prod (will show up on: https://forio.com/app/va/va-psd-demo/mtl_demo.html)
4. Notify James when done

Changes that have been made and are reflected on mtl.how/demo:
- Issue: **MTL Videos** hyperlinked icon has no link that displays all videos
Solution: Delete the MTL Videos icon an

[2020-03-02 18:10] staceypark opened #1071 "Update mtl.how/document map and reassign doc_tracker cards"
Remove all "clicks" from mtl.how/document tracker cards, excpet the pipeline which will be "Open Documents"

[2020-03-02 18:11] staceypark opened #1073 "Move mtl 1.7 SEE guides to mtl.how"
upload 1.7 SEE guides to mtl.how at the same level as "red" and "blue" folders.
Make sure release number is in YAML header.

[2020-03-02 18:15] staceypark opened #1074 "wk2 may_epic DUE COB 5/3 TEST QA: Review SAY checklists all sessions for Fidelity to Theory of Change"
**Discussed at hq_workgroup 4/4/21**
@staceypark
@lijenn
@lzim

_Need a working meeting Mon 5/3 PM:_
- [x] Align all 12 sessions s1-12 Red and Blue at mtl.how
- [ ] Standardize their abbreviated versions in the team_tracker.
- [ ] Slot into the session chapters of the _MTL Facilitator and Technical Manual_.

Note: Blue Sessions 2 & 3 and Red Part 1 & 2 should essentially have the same checklists,

[2020-03-02 18:26] ritahitching commented on #1064
tt_report sent - I'm closing this issue.

[2020-03-02 18:26] #1064 closed

[2020-03-02 18:36] branscombj commented on #1074
@staceypark - @dlkibbe  is back in the office. She is first going to attend to the Post-tests for sessions 11 and 12 that Elizabeth did not have, so the pilot testers can complete their work. Then she will turn to the Checklists for Red 1 & 2 and Blue 3,4,5. I am doing the Community of Practice Q&As.

[2020-03-02 18:39] branscombj commented on #1074
@staceypark @dlkibbe In addition, before we start any teams we will need to address feedback on the post-tests that warrants changes that we've gotten from pilot testers. Debbie is compiling that feedback from the pilot forms Elizabeth forwards.

[2020-03-02 19:01] ritahitching commented on #1050
@staceypark pull request made.
thanks,

[2020-03-02 19:06] ritahitching commented on #1048
Merge with #1050, pull request made.
I closed this issue.

[2020-03-02 19:06] #1048 closed

[2020-03-02 19:19] staceypark opened #1076 "Review Blue Session 1-12 SAY & SAY Checklist"
Make sure the SAY checklist matches in content for SAY guides for Sessions 6-12

[2020-03-02 20:03] lijenn commented on #339
@jamesmrollins Can we update the Bug icon text from "REPORT **ISSUE**" to "REPORT **BUG**"?

[2020-03-02 20:40] ritahitching commented on #1050
updating logo size to 175*420

[2020-03-02 21:15] staceypark commented on #1073
@lzim Because we have kept updating the gifs to keep the same name (to prevent having to change the link everywhere), we now have an issue in creating a "mtl 1.7" guide set. Our current set of gifs are already mismatched to the videos.

We have three options:
1. I can trace the history back to when the videos were created to find the version of the teampsd repository that has the right set of gifs

[2020-03-02 21:29] ritahitching commented on #1050
Pull request made and accepted.
I'll close this issue.

[2020-03-02 21:29] #1050 closed

[2020-03-02 21:33] ritahitching commented on #1076
1. New branch rita_2020_03_02_issues_1076
2. Compare S6 to S12  - each session with it's respective checklist.

[2020-03-02 22:20] staceypark opened #1079 "3/16: Resolve all Post Tests w/EES and Sessions 11 and 12"
Create MTL Live post-tests for sessions 11 & 12 and hand off to Elizabeth for MTL Video pilot review and for go_live

[2020-03-02 22:27] ritahitching commented on #1047
#merged with #1053 and closed

[2020-03-02 22:27] #1047 closed

[2020-03-02 22:29] dlkibbe commented on #1079
@staceypark  @ritahitching  @branscombj can you tell me where the video links are now? I went to the mtl.how/document to find them but the links aren't working? I need to see Session 11 and 12 videos to ensure the post-tests are comprehensive; using the say guides but need the videos to help me think about other knowledge questions.

[2020-03-02 22:37] ritahitching commented on #1065
Review mtl.how/demo (https://forio.com/app/va/va-psd-test-demo/mtl_demo.html)

I'm thinking of the "MTL for all" users primarily

**Introduction**
1: Add link to HSRD I01HX002521 (https://www.hsrd.research.va.gov/research/) ?
2. Sliders move too fast IMHO

**Modeling to Learn Section**
1. Icons don't link to mtl.how/live mtl.how/video mtl.how/facilitate or mtl.how/demo
2. There's only 2 versions m

[2020-03-02 23:31] ritahitching commented on #1053
**Todo**

1. Compare** S1 - S12 for MTL 2.0 and MTL 1.7
2. Compare titles and numbering match.
3. Differences should match 1.7 and create a new branch / pull request.

[2020-03-02 23:32] #1071 closed

[2020-03-02 23:37] #1009 closed

[2020-03-03 02:14] branscombj commented on #748
@dlkibbe the current video links

[2020-03-03 04:02] lzim opened #1081 "New Idea from Participatory Learning"
Blah Blah Blah</br></br></br></br></br>

[2020-03-03 04:03] lzim opened #1082 "New Issue from Participatory Learning"
This works pretty good.</br></br></br></br></br>

[2020-03-03 04:04] #1082 closed

[2020-03-03 04:04] #1081 closed

[2020-03-03 04:05] #1061 closed

[2020-03-03 04:06] jamesmrollins commented on #989
This will be cross referenced in the MTL More Information redesign.

[2020-03-03 04:06] #989 closed

[2020-03-03 04:07] jamesmrollins commented on #886
Cross reference #989 Section is cut off.

[2020-03-03 06:26] staceypark commented on #811
@branscombj Have we already sent the Comparator arm brochures to EES? I'm noticing the learning objectives are more different than they need to be

[2020-03-03 16:00] #1029 closed

[2020-03-03 16:34] anthonycpichardo commented on #1037
All splash functionality seems to be working just fine on Edge, also verified via web sources that sharepoint does support the use of Edge. Not sure how or if we want to change our message

@lzim  @staceypark

[2020-03-03 16:34] #1037 closed

[2020-03-03 16:37] ritahitching commented on #1053
@staceypark I have made a pull request for this issue.
thanks,

[2020-03-03 16:48] staceypark commented on #1079
@dlkibbe they are the ones at the very bottom of #206

[2020-03-03 16:57] staceypark opened #1084 "Examine Sessions 5-10 SEE, SAY, & SAY checklist for updated team data maintenance language"
In every instance that says "Team Data Menu Maintenance", we will now use **"Team Data Dropdown Maintenance"**
cross ref #339

[2020-03-03 17:11] lijenn commented on #1041
@lzim is currently reviewing the requirements and guidelines for getting YouTube videos up through the VA.

[2020-03-03 17:37] staceypark commented on #1053
@ritahitching great thanks! I merged the pull request for aligning the SEE guides.
Next, can you make sure the main numbered instructions match between the SEE and SAY guides? If they do not, the SAY should be edited to match the SEE.

[2020-03-03 17:41] ritahitching commented on #1084
@staceypark
pull request made for replacing "Team Data Menu Maintenance" with "Team Data Dropdown Maintenance" in S5 to S10 SEE, SAY, SAY Checklist.
thanks.

[2020-03-03 17:48] ritahitching commented on #1053
**branch** rita_2020_03_03_issue_1053_numbering

[2020-03-03 18:15] #1084 closed

[2020-03-03 19:13] anthonycpichardo commented on #798
@lzim Combing through issues to ensure we're on track. Is this something needed for go-live?

[2020-03-03 19:16] anthonycpichardo commented on #594
Where are we on this @staceypark ? Should this issue be moved to teams_data?

[2020-03-03 19:34] anthonycpichardo commented on #626
@staceypark can you verify what this issue card is for?

[2020-03-03 20:44] dlkibbe commented on #1079
Thank you @staceypark :-)

[2020-03-03 20:50] lijenn commented on #1020
@lzim Hi Lindsey, Jane brought up excellent thought-provoking suggestions here for the Demo page.

I wanted to ask if the audience that is brought to mtl.how/demo (people who have the codes from conferences, email interest, possibly MTL for All too (?), etc.) is aware of Red and Blue?

Asking this because if they are not aware of Red and Blue, would items 2 and 3 remain the same?

[2020-03-03 20:57] jamesmrollins opened #1088 "Re-schedule Monthly Meeting with Dr. Crowe"
**1. Add description:**
Need to re-establish monthly meeting between Dr. Zimmerman and Dr. Crowe.  It fell off the calendar last month for some reason.

**2. Click on the right:**
i. **Pipelines** - prioritize in a TeamPSD (& Workgroup) pipeline
ii. **Assignee** - assign to an individual team member producing work for the issue
iii. **Label**- assign workgroup (lead) responsible for tracking the t

[2020-03-03 21:06] jamesmrollins commented on #1065
Crossref with #1070

Hi @ritahitching.  Thank you for the very comprehensive review of your assigned web page!  I think this is thorough and I am going to share it with @lijenn and @lrollins33 , so they can coordinate their efforts as well.  Yes, I would like for you to collaborate with @lijenn and @staceypark determine the correct links and input them on the admin page.  Be sure to answer either

[2020-03-03 22:07] staceypark commented on #1088
@jamesmrollins @lijenn This was plated over to Jenn. I think she had a hard time reaching Chris?

[2020-03-03 22:09] jamesmrollins commented on #1088
@staceypark @lijenn .  I would recommend an introduction email so he knows who Jenn is, and then a quick follow up by Jenn tomorrow morning, as it is top of mind.  Also, he is EST, so is done by 2 PM our time.

[2020-03-03 22:15] #1059 closed

[2020-03-03 22:20] lijenn commented on #1088
@jamesmrollins @staceypark Yeah, I sent him an introduction email along with the request to select potential dates and times back in the 2nd week of February. He seemed really busy as he would respond to a few of my instant message greetings, but then never got back to me with a date/time.

Just saw the email you sent, James. I will send Dr. Crowe a follow up with potential date/times by tomorrow

[2020-03-03 22:54] ritahitching commented on #1053
To do:
1. Remove sub-numbering (lettering) in the SAY guides if not present in the SEE Guides.
2. Replace lettering with a bullet point.
3. Check formatting

[2020-03-03 23:23] staceypark commented on #1045
Closing this with merged #1086

[2020-03-03 23:23] #1045 closed

[2020-03-03 23:23] staceypark commented on #1062
cross ref #1045

[2020-03-03 23:28] staceypark commented on #1046
@jamesmrollins looks like this is done?

[2020-03-04 00:05] staceypark commented on #1079
@dlkibbe how are these coming?

[2020-03-04 00:05] staceypark commented on #1074
@dlkibbe how are these coming?

[2020-03-04 00:05] staceypark commented on #747
@branscombj how are these coming? will these be ready by tomorrow your COB?

[2020-03-04 15:23] branscombj commented on #811
@staceypark We have, but I don't think it's a problem to replace them, just let me know. I did make some edits to the See/Say guides for Red 1-2 vs Blue 02 and 03, including learning objectives, to account for the fact that they won't be doing S01 or S04 or any simulation, and for the fact that some who get Red will do each session 6 times. But it's fine if you think they could be more similar.

[2020-03-04 16:56] lijenn commented on #1065
@jamesmrollins @ritahitching Currently, all the links on Prod and mtl.how/demo as of right now should be correct with the exception of the MTL Live hyperlinked icon and issues Jane addressed in #1020. I am waiting on a decision from Lindsey that is tracked in that thread.

Please refer to #1070 for all the changes I have already made/currently still need to make. Thank you!

[2020-03-04 17:15] staceypark commented on #1065
thanks @lijenn
@lrollins33 and @ritahitching is that enough for you two to go off of?

[2020-03-04 19:30] staceypark commented on #1053
Closing this issue with pull request #1087

[2020-03-04 19:30] #1053 closed

[2020-03-04 19:50] #1088 closed

[2020-03-04 20:23] dlkibbe commented on #1079
@lzim @staceypark @branscombj @ritahitching @Bowlied
I had an email exchange with Elizabeth for clarification on post-test requirements. She indicates we could have 9 and 10 be true/false or MC and could keep the open-ended questions as post-test items 11 and 12. However, she cautioned on "adding too many fields for users to fill in. They have to complete and pass the post test, then complete the

[2020-03-04 20:37] branscombj commented on #1079
Hi @dlkibbe , I think we built in as much feedback as we felt we could to the evaluation, so I would  stick with the minimum required post-test questions for accreditation. I don't think "check all that apply" about value of MTL qualifies as a measurable post-test question since there's not a right and wrong answer. T/F questions are easier to come up with so I'd suggest using that kind if you sti

[2020-03-04 21:32] staceypark commented on #1079
Thanks @dlkibbe and @branscombj
I agree with Jane.
Let's stick with 10 knowledge Q's for the post-test that are measurable.

I think the evaluations and baseline/6 month surveys we are doing per the grant, will be enough space to give general feedback.

[2020-03-04 22:05] lijenn commented on #747
Few more questions and answers from a pilot reviewer:

_When should I use Internet Explorer or Chrome?_

_Are there different sign-on's in the Simulation User Interface? Individual and Team World?_

_Will I need a different log-in username and password for each World?_

_Can I use my PIV card to log-in to any of the worlds?_

[2020-03-04 22:06] anthonycpichardo commented on #981
Documentation being completed as part of #626

[2020-03-04 22:14] staceypark commented on #475
moving this to icebox as this is an inventory and #918 tracks what we need in the order we need it to hit our marks

[2020-03-04 22:22] lijenn commented on #1060
#1070
Update these in Prod Demo
- [ ] **.gifs on DEMO slider** (check #1060)
    - [ ] demo_reveals_gif_1.gif
    - [ ] demo_text_inputs_gif_2.gif
    - [ ] demo_experiments_gif_3.gif [NEED EXP FILE]
    - [ ] demo_alternatives_gif_4.gif [NEED EXP FILE]
    - [ ] Demo_graphic.jpg

[2020-03-04 22:24] lijenn commented on #1070
Closing this issue, items 5 and 6 will be completed in #1060 and #1020.

[2020-03-04 22:24] #1070 closed

[2020-03-04 22:24] anthonycpichardo commented on #626
Write a document that outlines the splashpage update process and how to catch any issues with the update

[2020-03-04 22:30] branscombj commented on #747
FYI @staceypark I am finding that I am able to edit the locked issues without unlocking them. Checked the specs:

- Other users can’t add new comments to this issue.
- You and other collaborators with access to this repository can still leave comments that others can see. _[and apparently edit subjects and content]_
- You can always unlock this issue again in the future.

[2020-03-04 22:34] staceypark commented on #594
cross-ref'ed to #1062 to track documentation needs. Moving to teams_data for actual propagation

[2020-03-04 22:50] staceypark commented on #1062
@lzim
ISSUE: We use multiple wordings for the model parameters. Specifically the data generated by clicking on the "Create Team Data Table" button is called "CCParams" "MMParams" ,etc.

PROPOSAL: Change everywhere to use "Team Data Table" language and call it "CCTable" or "CCDataTable"

@anthonycpichardo believes this will be an easy fix in the data UI.

FYI: @lijenn for data UI gifs

[2020-03-04 23:14] lzim opened #1091 "New Idea from Participatory Learning"
test</br></br></br></br></br>

[2020-03-04 23:22] staceypark commented on #1033
We will move guides over with the original MTL Red logo. And then fix the logo itself later as we make them.

[2020-03-04 23:25] staceypark commented on #1073
We will have gifs for both sets of MTL 1.7 and 2.0

[2020-03-04 23:27] branscombj commented on #747
@staceypark Where does the COP Guidelines document live? I'm trying to answer questions that are based on them. Plus we have the Before you Start alert at the top not linked to anything?

[2020-03-04 23:28] dlkibbe commented on #1074
Working on them...

[2020-03-04 23:29] staceypark commented on #1062
We will NOT change this

[2020-03-04 23:29] staceypark commented on #811
We do not need to change the learning objectives. Can close this again.

[2020-03-04 23:33] lijenn commented on #1020
From Support WG 3/4/20:
Can update this after other high priority go-live tasks are completed.

[2020-03-04 23:56] branscombj commented on #747
Question B. The long list of questions is daunting; although I realize it's sortable if people figure out where they can put in keywords. See the few (sort by Recently Updated) I added a grouping word to the front of the issue name and whether that seems worth it. I'm not sure the default order is alphabetical, so this is probably not all that helpful. Would be if they fell out in groups that way

[2020-03-05 00:08] branscombj commented on #747
Question C. These are not entered into mtl.how:

**Questions I'm not sure how to answer:**
1. How are the relationships between variables calculated?
2. Is Modeling to Learn mandatory?
3. Why was I removed from the Community of Practice?
4. How is the information I contribute to Community of Practice processed? Who views it and/or how will it be used?
5. I have a question that cannot be posted in

[2020-03-05 01:31] lijenn commented on #814
@lijenn @staceypark Reminder to email RedCap to get access.

[2020-03-05 02:33] branscombj commented on #747
Thanks @lijenn ! I've added these.

[2020-03-05 02:53] staceypark commented on #747
In the Wiki at mtl.how

[2020-03-05 02:55] staceypark commented on #747
Default order is by issue # in descending order, so having the keywords won't really help people unfortunately.

[2020-03-05 03:17] #1073 closed

[2020-03-05 03:17] branscombj commented on #747
@staceypark Oh yes, thanks! I added the link - wasn't able to make the Test Don't Guess graphic link to it (but it needs to link somewhere besides the image itself), so I just put it at the top of the comment box. Please see what you think.

[2020-03-05 03:32] staceypark commented on #747
@branscombj I can handle the data questions.

I think the "Questions on Questions" section can remain how you answered them for now.

For the "Questions I'm not Sure" - Some of them can be answered from the wiki where the guidelines are. The rest, I think we can just not answer for now.

[2020-03-05 03:37] branscombj commented on #747
@staceypark

Yes, now that you reminded me where to find the guidelines, I'll answer post any remaining ones I can answer with that.

Sorry this took me so long!! Thank you for finishing the data questions. See my additional notes in the original Question C. entry above and feel free to post those ones I wasn't sure about if you think they're right!

Thank you!! 🏅

[2020-03-05 05:32] lzim opened #1095 "New Issue from Participatory Learning"
Type in your issue here.</br></br></br></br></br>![image](https://s3.amazonaws.com/epicenter-asset/production/va/va-psd-test/1583386355417537629_img0.png) <br/>

[2020-03-05 05:33] #1091 closed

[2020-03-05 05:33] #1095 closed

[2020-03-05 05:36] lzim opened #1096 "New Issue from Participatory Learning"
Type in issue here.</br></br></br></br></br>![image](https://s3.amazonaws.com/epicenter-asset/production/va/va-psd-test/158338659137067568_img0.png) <br/>

[2020-03-05 05:36] #1096 closed

[2020-03-05 17:19] dlkibbe commented on #1074
I will have these done by tomorrow. I'm also noting other edits that may be required in Say guides so when I do the pull request you will see not only the addition of remaining checklists but also some edits to a few other documents.

[2020-03-05 18:22] #1062 closed

[2020-03-05 18:25] #1013 closed

[2020-03-05 20:09] lijenn commented on #1025
Updates @ritahitching
- Matt has been scheduled for Ann Arbor.
- Theresa's dates have been updated.

[2020-03-05 21:49] lzim opened #1101 "New Issue from Participatory Learning"
They are saying the screen function doesn't work . . . I don't believe them.</br></br></br></br></br>![image](https://s3.amazonaws.com/epicenter-asset/production/va/va-psd-test/1583444987344232311_img0.png) <br/>

[2020-03-06 00:40] staceypark commented on #1043
Included News flashes, andon alert, changes to chat -> team, and help -> more info.

[2020-03-06 01:15] lzim opened #1103 "New Idea from Participatory Learning"
I think...</br></br></br></br></br>![image](https://s3.amazonaws.com/epicenter-asset/production/va/va-psd-test/1583457313140110935_img0.png) <br/>

[2020-03-06 01:55] #1043 closed

[2020-03-06 15:25] lzim opened #1111 "New Like from Participatory Learning"
I liked...</br></br></br></br></br>![image](https://s3.amazonaws.com/epicenter-asset/production/va/va-psd-test/1583508317538851783_img0.PNG) <br/>

[2020-03-06 15:25] #1111 closed

[2020-03-06 15:25] #1103 closed

[2020-03-06 15:25] #1101 closed

[2020-03-06 16:41] staceypark commented on #1040
@lzim I've been mulling about this and #1039 (sim folder management).
Until we fix the LSV issue for the teams_data epic, even if we provide folders for folks, they won't be able to query their own data. If they can't query their own data, then they have nothing to put into the sim.

Option 1:
Stacey creates folders at mtl.how/data, asks for grids list, and creates both data_ui and team_data_table

[2020-03-06 17:33] ritahitching opened #1114 "Due Friday 3/6 Weekly tt_ report"
**Weekly tt Report**

1. create weekly tt_report
2. announcements
- go live
- move 3/13 t
3. Email to teampsd, QIICs and Non-VA members

[2020-03-06 17:35] ritahitching opened #1115 "Makes Copies of MTL Red and SEE Guides S1-S12 files to MTL 2.0"
**Copy MTL Red and S1-S12 SEE Guides & Create New Files in teampsd MTL 2.0:**

1. Create new branch : Rita 2020 03  06 mtl20 copy files
2. Copy files for
- MTL Red part 1
- MTL Red part 2
- S1-S12 for SEE Guides
3. Create new .md files in TeamPSD MTL 2.0
4. Update the Edited by to say March 2020
5. Make pull request
6. Estimate 1 hour & due by 3/6

[2020-03-06 17:37] ritahitching commented on #1114
Draft ready for review

[2020-03-06 17:41] ritahitching commented on #1115
@staceypark
I completed this issue #1115 and created a pull request issue #116

[2020-03-06 17:46] ritahitching commented on #1034
@lzim
I spoke with Mary at PAVIR and she will give us a second WiFi Hotspot. It should be available to pick up within the next 2 weeks, if not sooner. Mary will email me to let me know when the Hotspot is available for pick up. I'll go by PAVIR to pick it up as soon as I hear from Mary.
thanks,
Rita

[2020-03-06 18:23] ritahitching commented on #1065
@staceypark @lijenn @jamesmrollins @lrollins33

Yes, thank you - this is enough for me to continue with.

**I have updated the links for gifs to:**
1. mtl_demo
2. mtl_live
3.  mtl_how

**and the links to the videos for**
1. vapor
2. mtl_live
3. mtl s1 - 4

**I will wait on the decision to #1020 on:**
1. Removing MTL Live icon and line  to be replaced with MTL Red and MTL Blue
Click the icon to see

[2020-03-06 18:26] lijenn commented on #747
@branscombj

Hi Jane! I don't believe I have access to the MTL repo yet so I cannot edit it.

For question/issue card 87 (https://github.com/lzim/mtl/issues/87), could you please edit the answer to the question to follow the same wording as it shows on the log-in page for the Sim:

Thank you!

[2020-03-06 18:33] ritahitching opened #1118 "Makes Copies of MTL Red and SAY Guides S1-S12 files to MTL 2.0"
**Copy MTL Red and S1-S12 SAY Guides & Create New Files in teampsd MTL 2.0:**

1. Create new branch: rita_2020_03_06_mtl20_say_copy_files
2. Copy files for
- MTL Red part 1
- MTL Red part 2
- S1-S12 for SAY Guides
- Donot include Checklist
3. Create new .md files in TeamPSD MTL 2.0
4. Update the Edited by to say March 2020
5. Make pull request
6. Estimate 1 hour & due by 3/6

[2020-03-06 18:34] staceypark commented on #775
@jamesmrollins following up on @lijenn's last comment.
Please use #206 to populate the video links throughout tutor.

[2020-03-06 18:35] staceypark commented on #339
Thanks @lijenn and @jamesmrollins for getting this into test for the Gifs.
Can you remind me when everything will be moving to PROD?

[2020-03-06 18:44] staceypark commented on #1056
@lzim

This is partially done. Using Lucid Charts instead of R, because of how I can't get around the sizing in R, easily and the cheatsheets are mega tiny.

Two questions -
1. Master_DataUI file with pre-selection for facility -
- Was the expectation that the learner go get the data UI from here themselves and then customize it to their team? **Possible issues here with people screwing up the mas

[2020-03-06 18:47] staceypark commented on #1115
closed and done

[2020-03-06 18:47] #1115 closed

[2020-03-06 18:49] staceypark commented on #748
I've updated the documentation for Session 05 as part of #1043.
Jenn created gifs for this as part of #1060

[2020-03-06 18:49] #748 closed

[2020-03-06 18:51] staceypark commented on #1046
Changes have been pushed to TEST and looks correct.
@staceypark updated the documentation with #1043.
@lijenn updated the gifs with #1060

@jamesmrollins when is this going into PROD?

[2020-03-06 18:52] ritahitching commented on #1118
@staceypark
Please accept a pull request for this issue tracked in #1119

[2020-03-06 18:57] lijenn commented on #987
#983 I am still working on the EES Program details to get in these as well
#870 VAPOR Video Youtube links needed - Need Lindsey to get all the links public

[2020-03-06 19:06] ritahitching commented on #1114
@lzim will you please:
1. Review the announcements section of the tt_report? I emailed you the file and it is also in the shared drive (tt_075)
2. Confirm if you want the co-planning calls to be added to the Lucid Calendar?
thanks,
Rita

[2020-03-06 19:50] ritahitching opened #1120 "Due 3/12 MTL Blue Replace Header logo for S1 - S12 for Pre and Post Email"
** MTL Blue Replace Header logo for S1 - S12 for Pre and Post Email**

Larger overall tasks currently tracked in #987  among other tasks - break down of work cross referenced in  #983 #870

**To do:**
1. S1 - S12 for MTL Blue replace all 24 emails header logo
- 12 pre
- 12 post
2. Title slides logo found [here](https://github.com/lzim/teampsd/tree/master/resources/title_slides)
3. Add MTL Blue to

[2020-03-06 19:55] ritahitching commented on #987
Update on remaining tasks

Task | Assignee | Issue
-- | -- | --
Create MTL Red Logos | Lindsey | #1033
Vapor Videos to be made public on YouTube | Lindsey | #870
Integrate EES into Pre and Post emails | Jenn | #983
MTL Blue Replace Header logo for S1 - S12 for Pre and Post Email  (currently tracked within #870 | Rita | #1120

Once the MTL Red logos are ready, we will delegate the Red logo tasks

[2020-03-06 20:00] staceypark commented on #648
@jamesmrollins @lzim
Just touch based quickly with @TomRust who is hoping to turn to and resolve this on Monday.
Tom is aware of the documentation dependencies that are waiting on his work.

[2020-03-06 20:02] staceypark commented on #1118
pull request merged and closed.

[2020-03-06 20:02] #1118 closed

[2020-03-06 20:25] staceypark commented on #1074
@dlkibbe that's for taking the first stab at these. I've merged your pull requests.

As we discussed, this will now be handed off to @lzim to make sure the checklists are made consistent across the sessions to ensure fidelity with the theory of change.

[2020-03-06 20:56] staceypark commented on #830
We decided last week that we would have MTL 1.7 and 2.0.

For the MTL 2.0 models and model parameters:
1. Tom is updating the SP model (tbd Monday) #648
2. We need to generate a model parameters file that people can download with the MTL 2.0 files (See how we did MTL 1.7 here - https://github.com/lzim/mtl/tree/master/blue/mtl1.7_models). To create that model parameters file, we need a set of clini

[2020-03-07 01:34] #1114 closed

[2020-03-07 02:58] staceypark opened #1124 "4/23 TASK Splashpage User Guide Development"
on the mtl.how/data left hand side, there is a user guide for SplashPages.

Need to investigate and clean up as necessary

[2020-03-07 02:58] anthonycpichardo opened #1125 "Communicate Site 583"
Data at Site 583 seems to be missing values.

[2020-03-07 15:42] lzim commented on #1040
@staceypark

These dates are way too short.

I’m thinking something like “We will begin creating Team Folders in April.”

[2020-03-07 15:44] lzim commented on #1034
@ritahitching Great News, thanks!

[2020-03-07 17:14] jamesmrollins commented on #1046
@staceypark I don't have a release date yet for PROD.  Did you want this change to straight on through to PROD, but leave PLDR and Tutor behind?  Please advise.

[2020-03-07 21:52] lzim commented on #323
This should be linked to a manuscript and OSF project. We can talking about this at the coding meeting.

[2020-03-07 21:57] lzim commented on #694
Cross ref #78

[2020-03-08 16:05] lzim commented on #1033
@staceypark

Working on this now, but I’m assuming  this:

"mtl part 2 over data UI"

Is really:
 "mtl part 1 over data UI"
"mtl part 2 over team data"

Right?

[2020-03-08 16:52] lzim commented on #1052
Thanks @jamesmrollins

Sorry about any miscommunication, but real ask here is a Google Analytics account for all 3 webpages:
1. PROD - set up
2. DEMO - set up
3.  TEAM - not set up.

Thanks!

[2020-03-08 16:54] lzim commented on #943
@jamesmrollins

Can this be closed?

[2020-03-08 16:55] jamesmrollins commented on #1052
@lzim  WILCO!

[2020-03-08 16:59] jamesmrollins commented on #943
@lzim.  I set up a process to relate issues in GitHub to my hours tracking log. That way I can audit back to an approved original request or activity.  Certainly, open on-going administrative issues like this can nag us, but can we keep this one for me?  Thanks, James

[2020-03-08 17:01] lzim commented on #495
@staceypark

Are these team data items read to be closed or chunked out more?
Here’s my current list of related Maps and SOP tasks:
#495 Read.me Documentation updates.
#833 SOP Training Videos
#921 SOP Policy for Testing (not on OSF yet)
#1055 ZenHub - How to assign epic & Milestone
#1026 Documentation process

Still needed to set up SOP for:
- Community for Team PSD and other repos on GitHub (cod

[2020-03-08 17:03] lzim commented on #500
@staceypark and @jamesmrollins

Is this something that needs documentation in **document_teams**and coverage in the HQ admin training?

[2020-03-08 17:10] jamesmrollins commented on #500
@lzim I have covered group creation, end user upload and end user world assignment in the Epicenter Admin Training.  Since we don't do world-team-mapping.xlsx anymore, it has simplified this task.

[2020-03-08 17:12] lzim commented on #797
@staceypark
Hi, what’s going on this issue? I’m not sure I’m tracking it above.
But, I assigned it to **teams_sim** so that it’s not invisible to us!

[2020-03-08 17:22] lzim commented on #500
@jamesmrollins

Thanks! We may need to cover this with the facilitators again too, not just Rita and Jenn.
As, I’m not sure I’m tracking all of this and it will be helpful for facilitators to understand.

@staceypark from the title “Create documentation on how to suppress worlds.” I thought this was about how facilitators can show only the team the working with in their drop down, rather than the

[2020-03-08 17:24] lzim commented on #943
@jamesmrollins

Sounds like you’re saying #943 will just sit here?
Yes. We can keep it, if you need it.
I’ve taken it off **go_live.**

[2020-03-08 17:25] lzim commented on #1052
Thanks 👍🏽

[2020-03-08 17:31] lzim commented on #614
Cross-ref #692

[2020-03-08 17:31] #614 closed

[2020-03-08 17:31] lzim commented on #692
Cross-ref #614

[2020-03-08 17:32] lzim commented on #756
@staceypark

Is this being tracked int eh **document_tracker**?
I’ve added it to my list of things that should go in the expanded facilitator manual.

[2020-03-08 21:00] #1049 closed

[2020-03-09 03:17] lzim commented on #1033
@staceypark @lijenn and @ritahitching

## VAPOR Videos the same for MTL Red and Blue
### Title Slides in Weeks used in VAPOR Videos:
Posted here: https://github.com/lzim/teampsd/tree/master/resources/title_slides_weeks
- This decision was made so that the VAPOR videos included in the 24 pre/post emails was the same for _MTL Red_ and _MTL Blue_

## MTL Red Guides
###  R01 & IIR comparator RED GUIDE

[2020-03-09 04:10] lzim commented on #1033
Closing #1033 (see details above)

Cross-ref #987 - This blocked pre/post issues can proceed for the logos (videos still coming)

Guides using Red and Blue for #1050 and #1059 were already closed.

[2020-03-09 04:10] #1033 closed

[2020-03-09 04:13] lzim commented on #1054
@ritahitching

I can email you the account information tomorrow. I created the account and we need to set it up with PAVIR in ReqLogic to close this issue. Thanks!

[2020-03-09 04:16] lzim commented on #747
Hi @lijenn @branscombj and @staceypark

#47-61 mtl repo - COP Issues Q&A
- Once this initial "seeding" of Q&A is complete this probably needs an automatic action or something in Zenhub for tracking these?
- Can these be closed without disappearing them?
- For example, we will want to make sure that they come in as "New Issues" that get responded to in < 24 hours.
- Put them in a new ZenHub "MTL CO

[2020-03-09 04:25] lzim commented on #886
@jamesmrollins

Do you still need existing meeting time to gather requirements for this?
I added it to the release date section of "New Business" in tomorrow's workgroup leads meeting.

[2020-03-09 04:30] lzim commented on #830
@staceypark is this done?
There are couple unchecked boxes on the original issue card, but I see these on mtl.how 😅

[2020-03-09 04:41] lzim commented on #1020
@lijenn @staceypark @lijenn

This and #1070 is definitely priority epic! We will definitely be telling people to check this out on Tuesday.
At a minimum, I do think it makes sense to get the MTL Red and MTL Blue icons on mtl.how/demo.
Cross-ref #1065 - I can't tell what has and has not been done on this?

[2020-03-09 05:37] #1060 closed

[2020-03-09 05:49] lijenn commented on #1065
@ritahitching @lrollins33 I have updated the gifs on the slider at Prod for mtl.how/demo.
Please be sure to update that in your respective Demo version.

- Issue: Outdated gifs on the Demo Slider (also referenced in #1070)
Solution: Jennifer needs to recreate and upload the updated gif files in MTL Demo Prod's Slider's folder on Epicenter
For Rita and Lucy: Please download the updated gif files (s

[2020-03-09 15:36] staceypark commented on #1124
@anthonycpichardo I'm plating this to you. Tap me if you have questions though

[2020-03-09 15:49] staceypark commented on #747
From Workgroup Leads Meeting 2020/03/09:
Would we want several folks on the team to be point-persons for the mtl_how repo, meaning they would setup their notifications to receive alerts for all activity here?

[2020-03-09 15:58] ritahitching opened #1136 "3/9 Deadline Guidance on TeamPSD Move"
**TeamPSD Move**

1. TeamPSD move Friday March 13.
2. Collate emails from Craig Rose, Mary Kwan and Steve Woodward on instruction for labeling moving boxes, instructions for computing equipment etc.
3. Provide guidance by mid-day huddle 3/9

Estimate 1 hour

[2020-03-09 16:37] ritahitching commented on #1054
@lzim please email me your account log in details for Lucidchart (email and password).  I can order through my own Reqlogic account.

[2020-03-09 17:04] ritahitching commented on #1054
@lzim ReqLogic order placed.

[2020-03-09 17:16] anthonycpichardo commented on #1066
hey @lzim , when you have a moment can you check if you have "Site Usage" option in the settings gear on the Sharepoint site? Looks like you might need to be Site Owner to view this.

To view usage data, click the settings gear and click site usage.

[2020-03-09 17:21] anthonycpichardo commented on #1040
This has been completed.

[2020-03-09 17:23] ritahitching commented on #1065
@lijenn  thanks for the information
@jamesmrollins Uploaded the new files to Test Demo Slider and updated the files names for the sliders in the Admin panel. Please review and then I'll close this issue.

[2020-03-09 17:29] anthonycpichardo commented on #1036
@lzim @staceypark @anazariz

For this, we can update the page to show the Data refresh button, but it needs to be done individually per SplashChart, it is also being set from the SplashMothership, I can make the updates by hand this time, but we will need to modify the code for the future or it will be reintroduced

[2020-03-09 17:31] anthonycpichardo commented on #1124
Tapping you.

Do you want me to update this doc and make it useful or remove it from the sharepoint?

[2020-03-09 18:12] lzim commented on #1054
Great thanks @ritahitching

[2020-03-09 18:12] #1054 closed

[2020-03-09 18:27] lzim commented on #1065
@ritahitching I see that this is in the **"Review/AQ"** Pipeline, which is great!
But, was not assigned for review.

I've assigned @jamesmrollins and affixed the label for **Sim** if this is on his plate now to wrap up.

Thanks!

[2020-03-09 18:30] lzim commented on #1036
Okay, thanks @anthonycpichardo

Let's make sure this is on #626 and put in the **teams_sim** epic for when we propagate the splashpage next!

[2020-03-09 18:32] anthonycpichardo commented on #1036
Sounds good, I will take screen shots of the process to make changes to the web app.

[2020-03-09 18:37] lzim commented on #1124
@anthonycpichardo Tapping who? 🤣
Don't forget to mention someone.

I think you should work on the edits for a user guide, leaving the current guide at mtl.how/data.

Do you agree @staceypark ?

[2020-03-09 18:40] lijenn commented on #1020
@lzim Where would the MTL Red and Blue icons go exactly?

1) I was going to follow Jane's suggestion (see number 2 at the top post), but removing the MTL Live icon and replacing it with hyperlinked MTL Red and Blue icons to their corresponding guide would make it hard for people to find mtl.how

2) Keeping the MTL Live icon and also adding the hyperlinked MTL Red and Blue icons may seem a bit redu

[2020-03-09 18:43] anthonycpichardo commented on #1124
@lzim  woopsies. @staceypark and I spoke offline. We're all in agreement

[2020-03-09 18:45] lzim commented on #1020
These would go in the section where it says "There are four versions of _MTL_"
It should now read:

"There are five versions of _MTL_. Are you are at _MTL Demo_" [Note these need to be italicized"
- Then, there should be 5 icons, with _MTL Red_ and _MTL Blue_ replacing _MTL Live_. Make sense?

- I think you're misunderstanding @branscombj
- Please see my instructions above.
- Note these icons are

[2020-03-09 18:51] ritahitching commented on #1025
Matt   Moore | HQ: Rita
-- | --
Site | 506 Ann Arbor   VA Medical Center
Leadership | VISN   10 CMHO – Jesse Burgard, PhD
  | ACOS/MH –   Charles Surber, MD
Dates   | **Thurs 3/19 @11am Eastern (8am   Pacific)**

Theresa   Schmitz | HQ: Rita
-- | --
Site | 546BC Homestead**   VA Clinic
Leadership | VISN   8 CMHO - Carri-Ann Gibson
  | ACOS/MH   & BH Miami - Spencer Eth
Dates |  **Fri 3/13 @9:30am

[2020-03-09 18:55] lzim commented on #1025
@lijenn and @ritahitching

Can we please edit these posts to make them less identifiable?
There is no need to post this much information here.

An example of all you need is:
**Rita Scheduling
506 - Matt
Thurs 3/19 at 8AM Pacific**

I will be deleting any information not removed by our huddle.
Thanks!

[2020-03-09 19:28] lzim commented on #1024
@lijenn
Cross-ref my comment on #1025 - thanks!
🏂

[2020-03-09 19:44] lzim commented on #1040
@anthonycpichardo
Will you put "We will begin creating team folder in April 2020."

Thanks!

[2020-03-09 19:45] branscombj opened #1137 "Sim UI label fix"
@jamesmrollins We should remove the fixed word "Quarters" from next to the "Advance" drop-down menu in the Experiment Timeline section. We we have units next to each of the dropdown menu options (and one is not Qtrs).

It would (imo) also be nice to change the dropdown option "End" to read "2 Years" for consistency, and to put it at the bottom of the list even though it is the default - or list al

[2020-03-09 20:16] branscombj commented on #1020
@lzim is right about my 3 point above, @lijenn and I like her solution.

My point 2 above is regarding the Run Your Test section (screenshot below). The line with the MTL Live icon says "Click the icon to see the guides for the Modeling to Learn Live 12-session plan." I don't know if you want to change which icon goes there (@lzim ?), but it should probably link to mtl.how/blue, if not to blue S05

[2020-03-09 20:24] jamesmrollins commented on #1020
@branscombj @lijenn @lzim   Regarding Jane's suggestion,

[mtl.how icon, live link] All Modeling to Learn resources are available at mtl.how. Click [here ](url)to review the simulation cheatsheet.

We cannot provide hyperlinked text in the section of web page.  Only the graphic can be linked.

[2020-03-09 20:36] branscombj opened #1138 "Sim UI model diagram section header"
I tried to submit a bug report from the sim in Test but ran into 2 problems I can discuss in a different issue. The one here is that when I log in to the sim (my individual world in the Test environment, here), if I click a radio button by a module under "Start a new session" and then go back to "Join Current Session", the data file name does not appear in the main sim UI page diagram section head

[2020-03-09 20:47] lzim commented on #1020
Great! for the Icons only:
1. @jamesmrollins can you help with my guidance above about the "5 Versions" of _MTL?_ and swap out the "MTL Live" logo with the two "MTL Red" and "MTL Blue" logos.

Down below where the icons link to the following links @lijenn will do 2 and 3 below:

2. The current "MTL Live" logo will still point to mtl.how, so use the mtl.how logo instead https://github.com/lzim/team

[2020-03-09 21:10] jamesmrollins commented on #1020
@branscombj @lijenn @lzim  Yes, I will document and swap the mtl Live logo with mtl Red and mtl Blue logos. This should be done by Wednesday morning.  BTW, who has the Illustrator files for mtl blue and red?  I need .svg files for the website.   Since svg is vector graphic format, it does much better with responsive design.

[2020-03-09 21:35] anthonycpichardo commented on #1040
@lzim  happily!

Updating both "New Team Folder" and "Team Membership Change" and closing this issue =).

[2020-03-09 21:35] ritahitching opened #1139 "3/9 Template LucidChart TeamPSD Colors & Fonts"
** Template LucidChart TeamPSD Colors *

1. Login Lindsey account
2. Create Lucidchart template include
(i) full set of TeamPSD colors
(ii) myriad pro font.
3. Color located in shared drive in VHA style guide

Estimate 1 hour

[2020-03-09 21:59] branscombj commented on #775
@jamesmrollins Here is a revised table. It is not in track changes (I accepted all of your previous edits.) I highlighted in yellow anything I edited. I added a few notes in my voice in red font.

I changed which session guide to attach in some places and completed that last column.
For the videos, I put the full list of 5 links (one for each module) in the Video Links column at the first mention

[2020-03-09 21:59] jamesmrollins commented on #1020
@branscombj @lijenn @lzim  Will change as shown below.

@hirenp-waferwire  Please change mtl.how/DEMO as shown below. Use these .svg files for logos
  - mtl_how_video.svg
  - mtl_how_blue.svg
  - mtl_how_demo.svg
  - mtl_how_facilitate.svg
  - mtl_how_red.svg

Logos are available here [https://github.com/lzim/teampsd/tree/master/resources/logos](url)

![image](https://user-images.githubusercontent

[2020-03-09 22:08] anthonycpichardo commented on #1066
@lzim . As we saw today, with the activation of the Reporting we can now view usage via "Popularity Trends" and "Popularity and Search Reports" (Only you have access to this it seems).

There is additional data on the sharepoint page if you go to the "Most Popular Items" on the library toolbar.

If we want something a little more detailed we may need to do some research on what other webapps we ca

[2020-03-09 22:10] anthonycpichardo commented on #1125
Reached out to Matt regarding any potential data issues with this site, waiting for an update.

Will update this card with further details.

[2020-03-09 22:12] anthonycpichardo opened #1140 "4/17 TASK + Sharepoint Community"
Think through what we want to do with the Sharepoint community functionality and how it should be setup/moderated.

[2020-03-09 22:14] anthonycpichardo commented on #1140
@lzim @staceypark  created an issue for us to discuss what should be done with regards to handling the Community on Sharepoint.

FYI: When we added this, the sharepoint home page was changed. Just something to be mindful of as we explore the additional functionality that is offered to us.  I've corrected it back to the previous landing page.

[2020-03-09 22:38] lzim commented on #870
All these videos are posted at https://mtl.how/videos

Thanks @erinash 🥇

[2020-03-09 22:39] lzim commented on #870
@lijenn what's the difference between #870 and #987 are they duplicates?

I think so, so I'm closing this one.

[2020-03-09 22:42] jamesmrollins commented on #1137
@branscombj I hear make the changes as shown below.  Note: Default must be at top.

![image](https://user-images.githubusercontent.com/30132017/76263585-82209080-621c-11ea-9242-d1d2fb8e1b73.png)

[2020-03-09 22:45] lzim commented on #987
@lijenn and @ritahitching all the videos are up and #870 and #1033 are closed.

As a next step, It would be great to see a template for approval before you do too much work to create the 24 MTL Blue emails and the 24 MTL Red emails.

Thanks1

[2020-03-09 22:48] lzim commented on #1139
@ritahitching

Thanks for working on this!
Unfortunately, no, I don't see the template in Lucid Charts 😕

[2020-03-09 22:48] ritahitching commented on #1139
@lzim
I sent you a link to the Lucidchart template via your gmail account.
Follow the link to add the template to your account.
When you create a new document, it should offer you option to use a template. I'm happy to show you how if it's not clear in Lucidchart.
I'll close this ticket once I know you have been able to access the template.
thanks,
Rita

@staceypark @anthonycpichardo I sent you bo

[2020-03-09 22:49] lzim commented on #775
@jamesmrollins and @branscombj

Thanks to you both for your hard work on this!

[2020-03-09 22:53] lzim commented on #1020
I have AI for these files if you still need them @jamesmrollins just let me know.
Thanks!

[2020-03-09 23:08] ritahitching commented on #1139
@lzim please check your account one more time. It should be in there.
thanks,
Rita

[2020-03-09 23:12] ritahitching commented on #1136
Email Steve / Mary and confirm that the desk/tower details in the move spreadsheet is sufficient for the moving labels as to where computers and boxes should be moved to.

[2020-03-09 23:13] lzim commented on #1066
Hmm I don't see this:

I think it's okay to keep this open, but move to the icebox until we figure out what more we should do.

[2020-03-09 23:14] lzim commented on #1140
@anthonycpichardo and @staceypark

I made minor edits to the "Community" menu on the left hand side.

Are they published? What do you think?

[2020-03-09 23:15] ritahitching commented on #1058
@lzim the ReqLogic purchase order has been approved by PAVIR and submitted to Lucidchart.
Please confirm I can close this ticket.
thanks

[2020-03-09 23:18] anthonycpichardo commented on #1140
They are published and look good =). Excited to get smarter and help others.

[2020-03-09 23:19] anthonycpichardo commented on #1066
Okay sounds good! @lzim

If you're interested, I can show you the spot the internet says it should be in for the additional thing.

[2020-03-09 23:23] lzim commented on #1139
@ritahitching

Great, thanks it is there!
Later this week (no need for overtime) will you please update to include the Extended color palette we discussed in the huddle?
https://github.com/lzim/teampsd/blob/teampsd_style/colors.md

I've copied the list of Secondary Colors below.

VA Blue Green - #115E67; RGB 17, 95, 103

VA Evergreen - # 154734; RGB 22, 71, 52

VA Green - #598527; RGB 89, 133, 39

[2020-03-09 23:25] lzim commented on #1058
@ritahitching

This is the revision to your PeopleGoal for PAVIR. The other issue about ReqLogic for Lucid Chart I closed earlier today.

Please see your email tomorrow to wrap up the PeopleGoal task.

Thanks!

[2020-03-09 23:32] lzim commented on #1140
@anthonycpichardo

Not a priority tonight, but would be aweseome to figure out how to get an MTL Logo on there...
I couldn't figure it out.

[2020-03-09 23:33] lzim commented on #1140
Also...

Probably would be great to have at least the HQ team join the Community at mtl.how/data
@staceypark @anthonycpichardo @staceypark @lijenn

So, it doesn't look so lonely on there.

[2020-03-09 23:34] lzim commented on #1066
@anthonycpichardo maybe on Friday if we want to review progress on our data after the kickoff calls.

Otherwise, just pop this in the icebox 🍨 if you don't mind!

[2020-03-09 23:35] anthonycpichardo commented on #1140
@lzim  I think we can likely add a webpart for the image.

Yeah, I'll go ahead and join =). I imagine we can label ourselves for when we post as well.

Note: I'm quickly becoming a sharepoint wizard.

[2020-03-09 23:46] ritahitching commented on #1139
@lzim sure, happy to.

[2020-03-10 02:38] lzim commented on #1020
@jamesmrollins @lijenn @ritahitching @lrollins33

Hello Everyone, I wanted to alert you all that in anticipation of **go_live** tomorrow I updated the lead paragraph for _both_ MTL Demo and MTL Team.
- I understand that you have an assignment to make TEST consistent with PROD for Demo.
- Please use this language that is already in PROD.

Thanks! 💥

**MTL Demo now reads:**
Modeling to Learn is a na

[2020-03-10 02:39] lzim commented on #1035
Done and published

[2020-03-10 02:39] #1035 closed

[2020-03-10 02:39] lzim commented on #1042
Done and published

[2020-03-10 02:42] lzim commented on #1125
@anthonycpichardo

Since we emailed him.
I think we can close this unless Matt does have an update.

[2020-03-10 02:42] #1125 closed

[2020-03-10 03:42] lzim commented on #1140
🚀 sweet

[2020-03-10 04:40] lzim commented on #615
This was open for #559 **r01_protocol_impsci**
- Closing to review manuscript and then determine whether this needs further work.

[2020-03-10 04:40] #615 closed

[2020-03-10 04:42] lzim commented on #571
This issue cross-references seven other issues. It should have been documented on OSF adequate for use in manuscritp #559 **r01_protocol_impsci**
So, I'm closing it.

[2020-03-10 04:42] #571 closed

[2020-03-10 04:48] lzim commented on #798
@anthonycpichardo I just closed this issue as well as #615 and #571

(Note: GitHub is seeing this as a jessfroe mention, because it's in a manuscript card. But, it's really my edit).

I'll need to turn to #559 shortly for final review/edits/submission.
I'll keep track of this as a cross-reference there.
And, we can open a new issue (or re-open) if we need to.

FYI: @staceypark

[2020-03-10 04:48] #798 closed

[2020-03-10 04:55] lzim opened #1145 "3/10 + COP Lead Issue Card: Clean up the history on the card & Lock"
@staceypark

Tomorrow AM, would you be able to perhaps delete, re-post, re-pin, and re-lock this issue card on mtl.how? Like BEFORE THE NATIONAL KICK-OFF CALL, please 🙏

I could see all your edit history, which will be confusing to new GitHub users.
Then, I tried to unlock & edit, but made it worse 🤣

Thank you!

https://github.com/lzim/mtl/issues/47

[2020-03-10 04:56] lzim commented on #1145
@staceypark to be clearer.

The card itself with the community of practice guidelines looks great as is, it's just the edit history that I'd like to remove by re-creating the card.

Thanks!

[2020-03-10 05:06] lzim commented on #995
redundant - closing

[2020-03-10 05:06] #995 closed

[2020-03-10 05:09] lzim commented on #1079
@dlkibbe @lijenn @branscombj

Since **go_live** ends today, I'm moving this to **teams_data**.
But, since EES is asking to resolve post-tests questions this week, and we still need them to post videos to TMS ASAP. I'm hoping we can still do this one this week?
I've edited the due date above. Thanks!

[2020-03-10 05:12] lzim commented on #475
@staceypark That sounds like it's not for **go_live** then.
⛸

[2020-03-10 13:01] branscombj commented on #1137
@jamesmrollins great, except don’t add st (1st) etc.

[2020-03-10 14:36] lijenn commented on #1020
@ritahitching @lrollins33

Also wanted to let you both know to make the following changes within your Demo instances as well. These changes are also reflected in Prod already (see my screenshot)

1) The current "MTL Live" logo will still point to mtl.how. Change the MTL Live logo to the mtl.how logo instead (can be found here https://github.com/lzim/teampsd/blob/master/resources/logos/mtl_how.png)

[2020-03-10 14:57] staceypark commented on #1145
@lzim recreated, repinned, and relocked the new issue. unfortunately can't delete the old one, it's just in "closed". it's no longer pinned though so I think we should be fine

[2020-03-10 14:57] #1145 closed

[2020-03-10 15:09] anthonycpichardo commented on #1036
Manually Updated The Splash Pages to address the data refresh issue. Also outlined sites that are too large to be loaded into the sharepoint. Closing this  and moving any relevant details to #626

[2020-03-10 15:09] #1036 closed

[2020-03-10 15:12] ritahitching commented on #1139
@lzim
I updated the color template on Lucidchart to reflect all 11 colors.
I'm closing this issue.
thanks,

[2020-03-10 15:12] #1139 closed

[2020-03-10 15:12] anthonycpichardo commented on #626
The document needs to include the following knowledge: "we can update the splashpage to show the Data refresh button, but it needs to be done individually per SplashChart, it is also being set from the SplashMothership,  we will need to modify the code for the future or it will be reintroduced

Also we need to be monitoring sites that are too large. Sharepoint has 50 mb limit for worksheets, if a

[2020-03-10 15:13] #981 closed

[2020-03-10 15:17] #1040 closed

[2020-03-10 15:43] ritahitching commented on #1058
@lzim
I just sent you updated goals for 2020. thanks

[2020-03-10 15:58] lijenn commented on #1025
@ritahitching I just scheduled
583 - Matt
For: Thurs 3/19 at 9am Pacific

Will need to remove the tentative hold outs for the following in Lindsey's calendar:
Wed 3/11 at 6:30am Pacific
Fri 3/20 10am Pacific

Thanks!

[2020-03-10 16:40] jamesmrollins commented on #1137
@branscombj WILCO

![image](https://user-images.githubusercontent.com/30132017/76336333-16d5cd80-62b3-11ea-9c26-ca6dfb446687.png)

[2020-03-10 17:17] ritahitching commented on #1120
@staceypark @lijenn
I updated the pre and post emails for MTL Blue S1 - S12 with the new header logos.
I made a pull request #1146
branch: Rita 2020 03 10 pre post email headerlogo

[2020-03-10 17:25] #1056 closed

[2020-03-10 17:27] staceypark opened #1147 "3/19 + Change folder path for team_data_table"
When "Create Team Data Table" is selected, make the generated file automatically drop into the "team_data_table" folder for each team, instead of the data_ui folder

[2020-03-10 18:03] ritahitching commented on #1025
Done, thanks!
From: Jennifer Li <notifications@github.com>
Sent: Tuesday, March 10, 2020 8:59 AM
To: lzim/teampsd <teampsd@noreply.github.com>
Cc: Rita Hitching <RHitching@pavir.org>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [lzim/teampsd] Co-Planning Scheduling Sites (Rita) (#1025)

@ritahitching<https://github.com/ritahitching> I just scheduled
583 - Matt
For: Thurs 3/19 at 9

[2020-03-10 18:45] branscombj commented on #1079
**These are the edits needed for the Post-Tests.**
@dlk and I will check off as completed.

Overall feedback:
- [ ] 	Please make the questions and response choices shorter and less complicated. Particular sessions noted:
- Session 2: concerns about retention of information at the level of detail in some of the questions.
- Session 5 - Concerned that learners may have difficulty retaining the infor

[2020-03-10 19:24] ritahitching commented on #1058
@lzim I submitted the goals through the portal, thanks for your help.

[2020-03-10 19:28] ritahitching commented on #1136
@lzim @staceypark @lijenn @anthonycpichardo @anazariz
Please use the moving sheet to find your 'room number' for the Standard Moving Labels.

**Example:**
Division: MPD
From Bldg: 334
Room: C-127
To Bldg: 334
To Room: B239B-WS5
Contact: Rita Hitching / Lindsey Zimmerman

[2020-03-10 19:37] lrollins33 commented on #1020
@lijenn  @ritahitching  @jamesmrollins  I have made all updates to mtl demo (dev). It appears to be working with Stacey's cheatsheet and red/blue guides.

[2020-03-10 19:39] branscombj commented on #1020
Hi @lrollins33 ! Nice to meet you!!

[2020-03-10 19:46] lrollins33 commented on #1020
Hi @branscombj , Nice to meet you too. I am slowly getting the hang of things on GitHub and Epicenter.

[2020-03-10 20:59] dlkibbe commented on #206
@AnnHier @staceypark @branscombj
I was reviewing videos to edit post-tests. In the session 2 video, there is a pop-up that may need a minor edit in the FUTURE... the "Add all" phrase in the pop-up in this screen shot should probably be in quotes so the learner understands that aligns with a phrase on the screen.
![image](https://user-images.githubusercontent.com/31182258/76358705-40f9b080-62f0-11e

[2020-03-10 21:21] branscombj commented on #206
As you said, @dlkibbe , this goes in our list of things to consider in a future release. @lijenn or @staceypark is there an issue/card where we could put things we come across like this, that would show up in the "icebox" in our Zenhub view? Thanks!

[2020-03-10 21:22] AnnHier commented on #206
Thanks, @branscombj and @dlkibbe, noted, but I do like the idea of creating a new issue thread so I can keep track of these - thanks!

[2020-03-10 21:51] lzim opened #1148 "New Idea from Participatory Learning"
This is a test idea.  Please do not triage.</br></br></br></br></br>![image](https://s3.amazonaws.com/epicenter-asset/production/va/va-psd-test/1583877105744959853_img0.png) <br/>

[2020-03-10 22:13] lzim opened #1149 "New Like from Participatory Learning"
This is a test message.  Please do not triage.</br></br></br></br></br>![image](https://s3.amazonaws.com/epicenter-asset/production/va/va-psd-test/1583878377746562444_img0.png) <br/>

[2020-03-10 22:15] ritahitching opened #1150 "wk4: Reduce file size for gifs"
**Research options to zip gifs**

Research options to zip/reduce the size of gifs.
Estimate 2 hour.

[2020-03-10 22:15] #1149 closed

[2020-03-10 22:15] #1148 closed

[2020-03-10 22:17] jamesmrollins commented on #1052
@hirenp-waferwire let's get online together and set up the https://forio.com/app/va/va-psd-team/teampsd.html website for tracking on Google Analytics.

[2020-03-10 22:34] jamesmrollins commented on #1138
@hirenp-waferwire when we do the following use case, the model parameters file gets substituted, when it shouldn't.  Please investigate.

1.  User has a current session loaded with a given model parameters file.

![image](https://user-images.githubusercontent.com/30132017/76365347-4fda6600-62e4-11ea-9b43-730cb4224d93.png)

2.  User selects a new session and new model parameters file.

![image](htt

[2020-03-10 22:37] jamesmrollins commented on #886
I also think we should consider adding an Admin page functionality to this page, so we can add sections and adjust content.

[2020-03-10 22:42] lzim opened #1151 "New Issue from Participatory Learning"
This is a test message. Please do not triage.</br></br></br></br></br>![image](https://s3.amazonaws.com/epicenter-asset/production/va/va-psd-test/1583880150908258232_img0.jpg) <br/>

[2020-03-10 22:49] #1057 closed

[2020-03-10 23:09] staceypark commented on #830
doneeeeeee 😄 🎆 wahoo!

[2020-03-10 23:09] #830 closed

[2020-03-10 23:11] lijenn opened #1152 "SIM UI: Mixed Cases for File Names"
Does the SIM only take file names that are lower case?

If not, should we add to the notice here to warn user's that it is case-sensitive?
<img width="480" alt="Screen Shot 2020-03-10 at 4 09 22 PM" src="https://user-images.githubusercontent.com/59668647/76367200-9c747000-62e9-11ea-939e-e87f20a24930.png">

FYI @staceypark

[2020-03-10 23:14] #1151 closed

[2020-03-10 23:16] jamesmrollins commented on #1152
@lijenn The sim is NOT case sensitive. Case sensitivity is our convention, not a limitation of the software. It does, however, need to match the filename exactly!

[2020-03-10 23:20] lijenn commented on #1152
Got it, that answered our question. Will close the issue!

[2020-03-10 23:20] #1152 closed

[2020-03-10 23:24] anthonycpichardo commented on #1124
I've updated the User Guide section to link to an updated guide.

@staceypark @lzim please review and provide any feedback.

[2020-03-10 23:39] anthonycpichardo commented on #206
Hey @lzim the timestamp I was referring to during Wednesdays passover of the "Modeling To Learn - Quick Introduction" is 1:05.

Depending on the resolution to the above discussion this could maybe become a new issue card if needed. @staceypark @lijenn

[2020-03-11 04:51] anthonycpichardo commented on #667
Closing this ticket as it has already been resolved per @anazariz's research

[2020-03-11 04:51] #667 closed

[2020-03-11 05:46] anthonycpichardo commented on #1055
@staceypark Can you review the zenhub map on Lucid and provide feedback. 😀

[2020-03-11 14:35] branscombj commented on #1138
@jamesmrollins My use case was slightly different; see images below, using Chrome/VA Sim UI PROD. *Note that this same sequence in Chrome/VA Sim UI TEST - Slow produced CORRECT behavior for me.*

![image](https://user-images.githubusercontent.com/29778290/76428128-a5b21b00-6383-11ea-9962-1dde717bc8a5.png)

![image](https://user-images.githubusercontent.com/29778290/76428153-aba7fc00-6383-11ea-9991

[2020-03-11 15:19] ritahitching commented on #1136
@lzim @staceypark @lijenn @anthonycpichardo @anazariz
Good morning all. In preparation for our move please let me know:
1. how many boxes you have packed
2. other items you would like moved
3. any assistance you need

There is a moving spreadsheet on our shared drive where all the details will be recorded - look for folder labelled **move**.
thanks,
Rita

[2020-03-11 15:55] anazariz opened #1153 "4/26 + Task + File Size causes SharePoint issues + 1"
Create 1 year datasets (instead of 2) for the following Stations to prevent large file size issues in  splash folders:

659, 534, 516, 637, 589, 549, 671, 593, 600, 644, 565, 646, 691

[2020-03-11 15:57] staceypark commented on #1136
Can't believe we are really moving 😱 🎆
Thanks @ritahitching for taking point on this.

For the "Contact" name, I believe we should be putting our **own names (first & last)**, followed by the PI's initials and sequential numbers* after (i.e. LZ1, LZ2, LZ3, etc.) based on Craig's email.

*We should probably wait to number the boxes until we have everything packed.

[2020-03-11 16:38] staceypark commented on #1055
@anthonycpichardo some comments:
1. I believe we want to follow the template in that certain shapes should be certain colors.
2. Please include instructions for going to specific links. i.e. ask people to go to mtl.how/zenhub as a step
3. Write out the 9 clicks in step 3
4. "Per the latest huddle is my current issue the highest priority?" - Clarify this isn't the "high priority" pin, but rather **

[2020-03-11 16:51] anthonycpichardo opened #1154 "WAVE1+ Default Chart Sharepoint + 5"
The visualization on the splash page is not consistent between loads. Would like to be able set a default loading page to provide users with a consistent experience. Default page should be vizDiag

Need to triage and resolve this.

Test: Need to determine a good test case for validating that the default page is consistent (seems to work in 70% of cases). Will update this when I have a solution