[2020-04-15 18:08] lzim commented on #1240
@anazariz and @anthonycpichardo

- Can you please clarify using a checklist and specific dates how you will verify what this card describes?
For example, **who** by **when** will produce **what** for advance circulation and **verification** at which **existing workgroup meeting?**

[2020-04-15 18:10] staceypark commented on #813
I believe this was on @lijenn plate to review.
Jenn, if you've reviwed and it looks good to go, we can close it.

[2020-04-15 18:11] lzim commented on #1251
@anazariz

- I'm not sure this accurately captures what NDS can and cannot tell us.
- We'll double-check on this, but for now, I'm change the title from due 4/10 to reflect **wave1_teams**

[2020-04-15 18:13] lzim commented on #1249
@anazariz and @anthonycpichardo

I edited the title to reflect **wave1_teams**

[2020-04-15 18:22] ritahitching commented on #1219
@lijenn thanks for confirming - looks like you assigned me already 😄

[2020-04-15 18:28] lzim commented on #1150
@ritahitching

1. The .gifs are definitely not a bigger priority than the COVID-19 grants and updated compliance tasks. I have adjusted the **title**, **milestone,** and **epic** to accurate reflect May.
- _This is great, it means there's more capacity to help with higher priority **april** epic tasks._ 🧯
---
2. I'm not sure what your recommendations are from the group based on the details above.

[2020-04-15 18:35] staceypark opened #1340 "4/15 Microsoft Teams vs. Slack for TeamPSD"
@lzim

**Microsoft Teams**
Pros:
- Free version we are using seems to serve our team's needs fine
- Ability to record calls (once VA integrates)
- Seamlessly use VA MS Teams once the merge happens
- Integrates with all the other Microsoft apps we use as part of VA

Cons:
- Supports less app integrations than Stanford

**Stanford Enterprise Slack**
Pros:
- 800+ app integrations based on pricing tie

[2020-04-15 18:41] lzim commented on #1327
@lijenn @ritahitching I didn't see this come back through to Eric is this done and can this be closed?

[2020-04-15 18:48] lzim commented on #1176
@ritahitching

I've reviewed the **[pre](https://github.com/lzim/teampsd/blob/rita_2020_03_19_email_template_issue_1176/mtl_facilitate_workgroup/pre_post_emails/pre_emails/mtl_live_pre_session01_template.md)** and **[post](https://github.com/lzim/teampsd/blob/rita_2020_03_19_email_template_issue_1176/mtl_facilitate_workgroup/pre_post_emails/post_emails/mtl_live_pre_session01_template.md)**

- _Wha

[2020-04-15 18:57] lzim commented on #1340
@staceypark

Thanks for looking in to this and summarizing your findings.
I looked at it a bit before pinging you, and basically came to the same conclusion.

_I really appreciate how you documented this work. 🙌 Can we show the team as an example?_

[2020-04-15 19:02] ritahitching commented on #1150
@lzim thank you for the coaching.  Please see answers below.

- [ ] I agree. We have greater priorities than the gifs.
- [ ] As such, I just offered to take over #1294 and code the RedCap measures for the NCPTSD 10-item Coronavirus Stress measure and #1339 on th biosketches for the NIDA supplement.
- [ ] I believe in the SOP, it is Workgroup Leads that make decisions on moving an issue to another

[2020-04-15 19:09] lzim commented on #1258
@lijenn

Let's try to flesh out the requirements for this in the top of the issue.

[2020-04-15 19:14] lijenn commented on #1275
@branscombj @dlkibbe Hi Jane and Debbie! Sorry for the delay in this. The video buffering makes it so slow to review things quickly!

I had some questions while scoping out essential and crucial changes that should be addressed in these additional documents (I have all of the information and sessions compiled into 1 document for convenience for now, will need to separate them into separate documen

[2020-04-15 19:15] lzim commented on #396
Changed the assignees @branscombj and @dlkibbe as this was still assigned to Stacey and I, but we switched it to you two back in March (see above).

[2020-04-15 19:22] #1253 closed

[2020-04-15 19:37] ritahitching commented on #1176
@lzim
- [ ] Thanks for reviewing the [pre](https://github.com/lzim/teampsd/blob/rita_2020_03_19_email_template_issue_1176/mtl_facilitate_workgroup/pre_post_emails/pre_emails/mtl_live_pre_session01_template.md) and [post](https://github.com/lzim/teampsd/blob/rita_2020_03_19_email_template_issue_1176/mtl_facilitate_workgroup/pre_post_emails/post_emails/mtl_live_pre_session01_template.md)
- [ ] I don

[2020-04-15 19:44] ritahitching commented on #1294
Decisions from HQ meeting 4/15
- [ ] @lijenn to work on biosketches details located in TeamPSD folder
- [ ] @ritahitching to work on code RedCap using the NCPTSD 10-item Coronavirus Stress measure

FYI @lzim  @staceypark

[2020-04-15 20:06] ritahitching commented on #1192
**Team PSD Project Management**
- Org chart, who we are, what we do

**Team PSD Processes and Platforms**
- Specific processes and platforms
- e.g. Lucidmeeting etc.

**Team PSD Resources**
 - Additional information
- Sending an email

[2020-04-15 20:17] lzim commented on #1192
**@ritahitching discussed at #hqhuddle 4/15/2020**

**DECISIONS and NEXT STEPS:**
1. @ritahitching read carefully again to better understand how this **Team PSD Manual** is going to be organized (the upside down pyramid):
a. Need to get to a granular enough level that the link is matched to the correct column.
b. If/when there are questions, you can list out your rationale for where it would be lo

[2020-04-15 20:19] branscombj commented on #1258
**I see this as two projects:**
1. Finalize a standard training program for *MTL* Facilitate (by which I mean the curriculum itself; but also the additional pieces below)
2. Work with EES to get the program accredited for CEU (whether as a complete course or more likely by components)

**Additional parts to 1. Curriculum**
-    Eligibility - What are the requirements for becoming a *MTL* co-fac?
-

[2020-04-15 20:44] #1004 closed

[2020-04-15 21:01] #1340 closed

[2020-04-15 22:34] lzim commented on #921
**#921 Next Steps for **master_feature_card** template:**

**Key orienting question: To what extent the complexity .xlsm confers advantages over #1044 existing checklist knowledge and plain English?**

1. @lzim is interested in reviewing for language consistency with the feature_tracker

Preferred steps for each requirement: DEFINE, DESIGN (freeze) DEVELOP, TEST, PRODUCE

2. @anthonycpichardo will

[2020-04-15 23:00] lzim commented on #921
**DECIDED during 4/15/2020 Support Workgroup Meeting:**
#921 - "Lindsey, how do we want to handle versioning between the SIM and MTL?"

- Releases (aka Versions) have to be tracked carefully so we know what version of each wave of our trials learners received and because we need to fully document and train others before we release something to the field.

- Lindsey: Not sure what "Sim" and "_MTL_"

[2020-04-15 23:10] #1327 closed

[2020-04-16 12:39] branscombj commented on #1275
Hmm. Good question. Since we can't change the audio or pop-ups in the videos now, I think we're going to have to live with any emails from non-participants that come to MTL Help. We can try to reply to them from MTL All where appropriate. I don't think a "disclaimer" type message would be good (one that parses what the video says); but we should just use the MTL All email address and link to it wh

[2020-04-16 14:47] #813 closed

[2020-04-16 16:25] dlkibbe commented on #1162
@lijenn @branscombj
I've completed this action

[2020-04-16 16:35] lzim commented on #921
**Decisions made at **quant_workgroup** meeting on 4/16/2020:**

1. Edited the "issue" template (per #hqhuddle on 4/15/2020)
2. Edited the "feature" template for Team testing
3. Removed the "measurement" column of the **feature_tracker**
- [ ] @anthonycpichardo will remove reference to this in the SOP.
- [ ] @anthonycpichardo will make the remaining edits from 4/15/2020 **Support Workgroup Leads**

[2020-04-16 17:26] lzim commented on #1176
@ritahitching I look forward to you turning all of your "I don't knows" into well-considered and documented recommendations for consideration by the team on this issue, so that #1176 can move forward.

FYI: @lijenn

[2020-04-16 17:30] lzim commented on #1294
@ritahitching Please review my checklist above yours from yesterday's #hqhuddle. It clarifies the next steps required for making progress, which were all discussed during the huddle.

[2020-04-16 17:36] lzim commented on #1258
@branscombj Thanks for documenting your understanding of what we already clarified with Fawn & EES

@staceypark Will you please put what Jane added at the top of the issue and turn whatever needs to be in checklist form, into a checklist to be completed?

- We also need to add a VERIFY DATE in the Title for when we will review this in May.

Thanks!

[2020-04-16 17:39] lzim commented on #1275
@branscombj @lijenn @staceypark @dlkibbe

I think we can get all the emails from ESS for any TMS registered _MTL Video_ leaders and that could be included in a sub folder that we assign to folks from **hq_workgroup.**

We still may end up with some completely "_MTL_ for all" folks, but it should help with workflow and tracking support.

[2020-04-16 18:05] lijenn opened #1343 "r01_osf_registration"
r01_osf_registration: https://osf.io/registries/drafts/5f91b58f163eda00898ae4d7/metadata

## 1. Link to the document and add relevant team members to the card.
- [ ] Add the link the current draft of the documentation for the issue:

## 2. Link to issues that must be edited in the document in the **issue_tracker** and **feature_tracker.** _(use the # for the link to the issue)_
- [ ] Issue #1336 (

[2020-04-16 18:14] lijenn opened #1344 "r21_osf_registration"
r21_osf_registration
## 1. Link to the document and add relevant team members to the card.
- [ ] Add the link the current draft of the documentation for the issue:

## 2. Link to issues that must be edited in the document in the **issue_tracker** and **feature_tracker.** _(use the # for the link to the issue)_
- [ ] Issue #1337 (TBD: Register OSF Project)
- [ ] Issue #
- [ ] Issue #

## 3. Team Re

[2020-04-16 18:17] lijenn opened #1345 "iir_osf_registration"
iir_osf_registration: https://osf.io/registries/drafts/60182b2174d59d032a4de630/metadata

## 1. Link to the document and add relevant team members to the card.
- [ ] Add the link the current draft of the documentation for the issue:

## 2. Link to issues that must be edited in the document in the **issue_tracker** and **feature_tracker.** _(use the # for the link to the issue)_
- [ ] Issue #1338

[2020-04-16 18:54] staceypark commented on #1335
@ritahitching  none from me

[2020-04-16 19:05] staceypark commented on #622
@ritahitching
Rita this map still does not follow the flow chart template shapes and colors.
Quick check on shapes and colors - Can you tell me when the bright red pill is used? When is the dark red pentagon used?

FYI @lijenn

[2020-04-16 19:11] staceypark commented on #626
@anthonycpichardo can you update the due date on this and when you want my review?

[2020-04-16 19:15] staceypark commented on #1220
@jamesmrollins Thanks for moving this to the upcoming epic following the Monday WG Leads call.
Please make sure to also update the milestone and epic on the right-hand side.

[2020-04-16 19:50] #1331 closed

[2020-04-16 19:54] lzim commented on #1299
**Cross-ref #1023 - Bridging to CRM**
- Call scheduled for Friday 4/16 at 11AM w/Enterprise Cloud Computing

[2020-04-16 19:56] lzim commented on #1023
**Cross-ref #1299 - feature_req**
- Call scheduled for Friday 4/16 at 11AM w/Enterprise Cloud Computing w/@staceypark @anthonycpichardo @anazariz

[2020-04-16 20:22] lzim commented on #648
@TomRust @jamesmrollins

- Tom and I had some back-channel about this in the context of COVID-19.
- Tom, other than that I believe James is awaiting updates on you about changing to a different threshold than the 1% based on your testing. Is that right?

@branscombj @dlkibbe I think wait on documentation until we get an update from Tom.

[2020-04-16 20:26] lijenn commented on #1195
@branscombj Hi Jane! Any updates on the remaining unchecked issues? We could bring the remaining items up in the Monday WG morning.

Let's try to get a due date in the title as well. So far, our epic is ending on 4/24, but we may extend it.

[2020-04-16 20:33] #1334 closed

[2020-04-16 20:34] ritahitching commented on #1289
Create an issue card for work to be done to create the Short links and cost out the time and assign.

[2020-04-16 20:56] lzim commented on #607
**DECISION Re: #607 CT.GOV - **hq_workgroup** on 4/16/2020

@staceypark will adjust enrolling dates for both the R01 and the IIR to reflect 10/1 (post MTL COVID-19 module development)

[2020-04-16 21:09] ritahitching commented on #1335
Decisions from HQ 4/16 meeting
- **Keep** Lucidcalendar as it & new screen shot needed
- **Add**
- **Subj:** [tt064] Finalize HSRD & NIDA Grants for Submission
- **Announcement:**  Team PSD "All Hands" Meeting is scheduled for next week the 5th Tuesday 4/28.
- **Change Epic:** April epic ends Friday 4/24.

[2020-04-16 21:10] lzim commented on #1335
@ritahitching you are missing the second announcement from our **hq_workgroup** thanks!

Subj: [tt064] Finalize HSRD & NIDA COVID-19 Grants for Submission

Announcement: 

- Team PSD "All Hands" Meeting is scheduled for next week the 5th Tuesday 4/28.

- #559 The r01_protocol_impsci is being reviewed by co-Is on OSF https://osf.io/8pzxu/ 

Epic: April epic ends Friday 4/24.

[2020-04-16 21:28] lzim commented on #627
@anthonycpichardo

Changed the title to **wave1** instead of a 4/10 due date.

[2020-04-16 23:38] anthonycpichardo commented on #921
I've made the edits to the SOP and added the Design Review Development Policy and Process to the wiki. Ready to close this issue.

@lzim  @jamesmrollins  @staceypark  @anazariz

[2020-04-17 00:13] staceypark commented on #1339
@lzim  I've updated the above against Margaret's checklist.

Does the Human Subjects question apply to us? Maybe it does because of the COVID-related data? Does that count as "existing" since its evolving?

[2020-04-17 00:35] ritahitching commented on #1192
@anthonycpichardo please see updated cross table below.

**Need to decide on the following examples: should occur in more than one column:**
1. In [mtl_facilitate_workgroup](https://github.com/lzim/teampsd/tree/master/mtl_facilitate_workgroup) there are several files that are oriented to Facilitators  may be useful to Team PSD Processes and Platforms
- [ ] [glossary](https://github.com/lzim/teamps

[2020-04-17 14:37] lijenn commented on #1275
Guides that mentioned mtl.info and have been edited to mtl.help:
2.0
- [ ] Session 1
- [ ] Session 2

1.7
- [ ] Session 1 - update Lindsey and Stacey's email to mtl.help

[2020-04-17 16:21] anthonycpichardo commented on #1332
@lzim For this task I will need to email these files to my PAVIR/personal email before uploading due to the upload restrictions (and would continue needing to do so every time we wanted to push new changes). Is that okay with you or should we consider using the enterprise account to avoid this?

[2020-04-17 16:38] jamesmrollins commented on #1273
Engaged in troubleshooting with @lijenn and @ritahitching to determine cause of problem.

1.  Suspect cookies were preventing proper loading of screens in Edge and Chrome, pages load properly in Incognito mode.
2.  Cleared cookies and web elements from cache from the Chrome/Edge setting screens.
3.  CLOSED ALL BROWSER TABS and then opened a new tab.  Pages loaded properly. Suspect cookies do not c

[2020-04-17 16:40] lzim commented on #1332
@anthonycpichardo

Good question! Just to check:
- Is there something new?
- In the past, I never had an upload issue for files of this type.
- It was just adding files (like screenshots of bugs) to **Comments** that VA decided to block.

Generally though, yes, it will make sense to keep our a) R and SQL code,
b) code review procedures, and
c) _related discussions (like this one)_

In one of these

[2020-04-17 16:52] anthonycpichardo commented on #1332
Closing this issue to continue this discussion on MTL_Code. I've removed the estimate to not double count points.
I've tagged you all on the new issue.
@lzim @staceypark  @anazariz

[2020-04-17 16:52] #1332 closed

[2020-04-17 17:04] ritahitching commented on #1273
@jamesmrollins @lijenn thank you for working to resolve this bug. I'm closing this issue. thanks

[2020-04-17 17:04] #1273 closed

[2020-04-17 17:29] ritahitching commented on #1335
Closing this issue tt_report 064 ready to be sent.

[2020-04-17 17:29] #1335 closed

[2020-04-17 17:41] #1219 closed

[2020-04-17 17:54] ritahitching commented on #622
@staceypark thanks for feedback on colors.

## Answers:
I used your [prior map](https://www.lucidchart.com/documents/edit/e9f7a037-9b5a-491d-a2c2-644168377d5a/0_0) for guidance, from what I understand you used:
- [ ] bright red pill for creating / starting and ending a map
![image](https://user-images.githubusercontent.com/54862187/79598254-76847d00-8098-11ea-8599-17165c97cb54.png)
![image](https:

[2020-04-17 18:30] staceypark commented on #1299
**Summary from Friday 4/16 at 11AM w/Enterprise Cloud Computing**
We decided **not** to retire the current instances, but instead Reyes will try to pursue continued funding for the instances (support for current license instances cost $15000). With Ash on board, we think it will be useful to delegate Ash to explore/develop in the environment and take this further. In another year, at the next rene

[2020-04-17 18:31] anthonycpichardo commented on #1023
##Decisions from 4/16 Call with Enterprise Cloud Computing:
Enterprise Cloud Computing team will be our primary point of contact, spoke with Rey today.
- We have Rey's support to move forward and advocate for funding. We will also have Mimi as a partner to work with Ash on moving this forward.

- If we choose not to maintain our instance and "retire" it we will need to restart the process when we

[2020-04-17 18:49] anazariz commented on #1023
One additional point that I heard, Lindsey, as the Program Manager/Platform Owner, will be in charge of account provisioning (who gets access to what). She will delegate that task as necessary.

[2020-04-17 18:50] anthonycpichardo commented on #1281
@lzim @staceypark  can we verify the requirements piece outlined above? Thanks! =)

[2020-04-17 19:54] lzim commented on #1240
### Discussed at #hqhuddle 4/17/2020

**Cross-ref **mtl.how/bugs** (bug_tracker)**
#1238
#1153

**Cross-ref **mtl.how/documents** (documents_tracker)**
- **document_teams** - #531, #626, #627 (change to **may_epic**)
- **disseminate_scientists_va** - #544, #546

Goal would be to close the relevant bugs and documents associated with this take card.

[2020-04-17 19:56] ritahitching commented on #1176
@lzim Please see my recommendations below.

## **Recommendations**

- [ ] [Pre_email](https://github.com/lzim/teampsd/blob/rita_2020_03_19_email_template_issue_1176/mtl_facilitate_workgroup/pre_post_emails/pre_emails/mtl_live_pre_session01_template.md) and [post_email](https://github.com/lzim/teampsd/blob/rita_2020_03_19_email_template_issue_1176/mtl_facilitate_workgroup/pre_post_emails/post_email

[2020-04-17 20:17] staceypark commented on #622
@ritahitching before we turn to content changes on the map:

You confirm here that the bright red pill was used for the start/end of a map...

But then contradict this in your next statement that you used it to breakup the information. You *cannot* change the standardization of the template/legend to your own needs - **That defeats having a template and makes it confusing for everyone else. Please

[2020-04-17 20:20] lzim commented on #1275
Discussed the creation of a standard template for the _MTL Video_ documents at today's #hqhuddle:

- @lijenn plans to draft a template by COB Fri 4/17 Pacific.
- @branscombj and @dlkibbe Jenn is hoping to quickly review this template at the Monday morning 8AM Workgroup Leads meeting, hopefully you can take a peak on Monday morning before the meeting.

Happy Friday 🌴

[2020-04-17 20:28] lzim commented on #1339
@staceypark @anazariz @anthonycpichardo - Discussed at #hqhuddle 4/17/2020

In our COVID-19 adaptations we propose that the new _MTL_ Covid-19 module will be at the facilite or st3n Level.
- So, to update the Human Subjections **patients** and **provider** enrollment tables for Exploratory Aim and priority D. Simulate, Measure, Analyze

1.  **R01 24 facility st3ns** outpatient **patient** denomina

[2020-04-17 20:29] lzim commented on #1339
propo

[2020-04-17 20:36] lijenn opened #1347 "May Task: Co-I Biosketch NIDA Administrative Supplement"
From Friday 4/17 HQHuddle:
This card serves as a separate task to gather the remaining updated biosketches from the Co-Is based off of #1339

Reminder: Not needed for IIR, this is for the R01

@lzim @staceypark

[2020-04-17 20:43] ritahitching commented on #622
@staceypark thanks for edits.  I updated the map to reflect the feedback. thanks

[2020-04-17 20:58] lzim commented on #1192
Discussed at #hqhuddle on 4/17/2020

**@ritahitching Question: Are these files below so in-depth that they are "Resources?"**

**DECISION** related to the items below are that **Commonly used Team PSD Platforms** and are not particularly in-depth, therefore they stay in Column B.

[2020-04-17 21:09] ritahitching commented on #1192
Updates to the table, processes use by the majority of team members (ZenHub, GitHub, run meetings) belong to columns A, and more specific examples to be used in Column C.

[2020-04-17 22:35] anthonycpichardo commented on #1339
@lzim For the "outpatient patient" are we looking for the average # of encounters over the length of the data at a given site?

@staceypark tagging for visibility.

[2020-04-17 22:55] ritahitching commented on #1192
Team PSD Project Management | Team PSD Processes and Platforms | Team PSD Resources
-- | -- | --
Who does what and why | Parts of the SOP that describe the "how" of doing things | mtl.howdocuments document_team dissemintate_scientists
[Co-Investigator Workgroup meet monthly](http://mtl.how/team) | [Active Listening](https://github.com/lzim/teampsd/tree/master/resources/listening) | [Epicenter admi

[2020-04-17 23:36] lijenn commented on #1275
@branscombj @dlkibbe Here is a working draft of the template, let me know what you guys think! Have a great weekend!
[supplementary_draft_temp.pdf](https://github.com/lzim/teampsd/files/4495678/supplementary_draft_temp.pdf)

[2020-04-18 00:05] #607 closed

[2020-04-18 00:10] staceypark commented on #606
**DECISION Re: #608 CT.GOV - hq_workgroup on 4/16/2020

@staceypark will adjust enrolling dates for IIR to reflect delay with COVID, but still keep end date within expected timeline.

[2020-04-18 00:10] #606 closed

[2020-04-20 02:37] anthonycpichardo opened #1348 "Document - r01 DART Submission"
r01_dart_submission

## 1. Link to the document and add relevant team members to the card.
- [ ] Add the link the current draft of the documentation for the issue:

## 2. Link to issues that must be edited in the document in the **issue_tracker** and **feature_tracker.** _(use the # for the link to the issue)_
- [ ] Issue lzim/mtl_code#7
- [ ] Issue #
- [ ] Issue #

# Dart Request - 5 Page Submiss

[2020-04-20 02:38] anthonycpichardo opened #1349 "wk3 jun_epic Document - IIR DART Submission"
IIR_dart_submission

## 1. Link to the document and add relevant team members to the card.
- [ ] Add the link the current draft of the documentation for the issue:

## 2. Link to issues that must be edited in the document in the **issue_tracker** and **feature_tracker.** _(use the # for the link to the issue)_
- [ ] Issue lzim/mtl_code#7
- [ ] Issue #
- [ ] Issue #

# Dart Request - 5 Page Submiss

[2020-04-20 13:41] branscombj commented on #1275
Morning @dlkibbe  and @lijenn ! I like it!

Comments:

- What about a tag line that makes more clear what this Video Supplement document is, like "A quick guide to updates and improvements you may notice since *MTL* Video was recorded" - Then you could have a generic (see next comment) sub-statement that says "For all of the new features, please refer to the Learner See guide for this session at m

[2020-04-20 15:55] dlkibbe commented on #1044
[QuickTips v2.docx](https://github.com/lzim/teampsd/files/4504633/QuickTips.v2.docx)

@jamesmrollins attached is the next version of the Quick Tips file first developed by @branscombj
This file was also sent via email. Let us know if you have questions.

[2020-04-20 20:34] lzim commented on #886
@jamesmrollins and @lzim discussed this via teams today 4/20/20

- Tom and Lindsey are doing a talk that will walk through DEMO on Friday at 11AM Pacific, 2PM Eastern.

- It would be great if this is in TEST tomorrow, Tuesday 4/21, if tester could provide efficient feedback, in case this could move to PROD in team for the walk through.

- James said we could walk through DEMO in TEST on Friday, bu

[2020-04-20 20:41] branscombj commented on #886
@lzim No, I did not have testing this on my ⚫)))) radar (emoji improv). But can. is the idea that I should check it out in simUI TEST tomorrow and give feedback here?

@jamesmrollins @dlkibbe

[2020-04-20 21:56] jamesmrollins commented on #886
Hi @branscombj - it is not available on TEST yet and is overdue.  I am meeting with DEV tonight and will see where it is at.  I will provide an update tonight.  And thank you for volunteering to test - I will prepare the documentation.  BTW, I love the radar emoji!

[2020-04-20 22:43] dlkibbe commented on #886
@jamesmrollins @branscombj
Happy to test tomorrow late in the day or evening if its ready.

[2020-04-21 16:00] lijenn commented on #1275
Thank you @branscombj for this incredibly thoughtful and easy to follow feedback.

I've incorporated:
- [x] document tag-line
- [x] generic guide sub-statement
- [x] format it the best to my abilities
I tried to include existing TeamPSD MTL style by using the red arrows, but if that looks too distracting, I can just use a plain horizontal line.

In addition to getting to the referenced See Guide,

[2020-04-21 16:51] branscombj commented on #1275
@lijenn NICE!

I like the arrows as separators but I agree the bright red is a little distracting. If it would not be straying too far from *MTL* style to keep them as arrows but make them a fairly light gray, that might work? Or just gray bars.

The *MTL* logo at the top is a bit pixelated.

I think in print you can leave off the https:// of the mtl/how address (but include it in the hyperlink) -

[2020-04-21 18:13] jamesmrollins commented on #886
@dlkibbe @branscombj we should be ready for formal testing by tomorrow morning.  I have a few glaring errors to fix on the Admin Page.  I also need to populate the references and their associated hyperlink titles and URLs.  The More Info page is in TEST if you want a peek.

[2020-04-21 18:51] jamesmrollins commented on #886
**THIS IS A PROVISIONAL DOCUMENT - DO NOT START UNTIL THIS LABEL IS REMOVED**

### Testing and Validation Document

**Test/validate assignee:** @branscombj @lrollins33 @dlkibbe

**Test case document available here:**
https://github.com/lzim/teampsd/blob/quick_tips_webmaster/resources/training_guides/mtl_how_facilitate/mtl_more_info_webmaster/more_info_webmaster.md

**Please check off these require

[2020-04-21 18:53] #921 closed

[2020-04-21 19:41] branscombj opened #1350 "Bug - experiment naming & export"
First issue is just for facilitators to note. I do not think it requires a change. 2nd issue may be a bug. @lijenn I am not sure how to complete step 2 below.

1. In the Save Experiment section, the value range is independent of the variable selected - it does not reflect the actual range available for the chosen variable. Found this when I ran an experiment in PSY with all variables set to their

[2020-04-21 22:42] lzim commented on #1339
HI @anthonycpichardo and @staceypark

I apologize, I did not see this question come through, but this is quite time-sensitive as we need to finalize this submission ASAP this week.

Anthony, I pinged you on Teams in case a quick chat would help us resolve this faster. I'm not 100% that I understanding your question, but I believe the answer is, yes.

[2020-04-22 00:38] anthonycpichardo commented on #1192
**Bookdown First Draft Knit**
[index.zip](https://github.com/lzim/teampsd/files/4513146/index.zip)

The zip above contains the first draft of the Team PSD Bookdown.

Things to note:
- Bookdown only supports .MD or .RMD files. So any documentation we want to include needs to be in this format. Meaning any maps or anything else that is not currently in markdown that we would like to include will nee

[2020-04-22 15:23] lzim commented on #1339
From our Team chat on 4/22/20 - @anthonycpichardo and @staceypark

- The actual chart review will reflect total patients served by the facility between March and Sept 2020 (6 months of acute COVID-19 phase); this is the value needed for enrollment table.
- This would initialize a new basecase in the COVID-19 module that accounts for crisis standards of care for our 48 unique st3n (across both tria

[2020-04-22 15:40] staceypark commented on #622
@ritahitching I'm not seeing the update on the map template aka "template_teampsd"?

Remember, you created the template a while back as our standard template for all maps. The legend on this template already included the colors, which I mentioned above in number 1, and we want to add a fuller description of the shapes and meanings to make sure this standardized template is meaningful.

Can you mak

[2020-04-22 16:22] branscombj commented on #886
**MTL Guides Section**

Recommend
- Italicize _Modeling to Learn_ in header phrase
- Delete "(MTL)" in header phrase; just use it without prior definition in the sub-text (it's obvious, especially when italicized).
![image](https://user-images.githubusercontent.com/29778290/80006592-16744900-8493-11ea-9eeb-674836aa0db0.png)

Recommend
- Omit the first "guides" and make the 2nd "guides" black font.

[2020-04-22 16:23] lzim opened #1351 "8/21 task: Team PSD Weekly Tour & Email Pre-approval Policy for Adjusting Tour"
@ritahitching - via email on Wed 4/22/2020

- [x] 1. **Draft a section for the Team PSD Manual that includes the Team PSD weekly tour of duty.**
- The Team PSD weekly schedules are in the Team PSD > teampsd_schedule > "teampsd_weekly_schedule_2020_02_20.docx"
- They were last updated in February 2020, and could be updated again to reflect our **team_temp** check-ins, which started due to COVID-19,

[2020-04-22 16:27] lzim commented on #1192
Cross-ref #1351 - @ritahitching will add a) Team PSD weekly schedule to Column A, and b) Pre-approval email policy to Column C.

[2020-04-22 16:36] branscombj commented on #886
**MTL Links section**

Another reason to delete the "click to expand" verbiage - it says that even when you would click to minimize the open section:
![image](https://user-images.githubusercontent.com/29778290/80007670-94851f80-8494-11ea-866b-f2cb52a32428.png)

Should this be replaced with separate MTL Red and MTL Blue guides links?
![image](https://user-images.githubusercontent.com/29778290/80007

[2020-04-22 16:51] ritahitching commented on #622
@staceypark I updated the [teampsd template](https://www.lucidchart.com/documents#/templates?folder_id=home&browser=icon) with full color list and definition of shapes and their uses on Lucidchart.

[2020-04-22 16:53] lzim commented on #1195
@branscombj and @lijenn

I think this has cross-ref to #1220 and #784

[2020-04-22 16:56] lzim commented on #1289
@ritahitching @staceypark @lijenn

I'm having a hard time understanding this thread:

1. I see from @staceypark that these tasks should all be assigned to **wave1_teams** - So, I've edited the title to reflect that change.

2. But, I don't understand @ritahitching message from 6 days ago:

- @ritahitching  those, separate task cards were created and added to **wave1_teams** then shouldn't this car

[2020-04-22 17:00] lzim commented on #1023
Just to keep these together:
#1330
#1299
#1275
#1023

[2020-04-22 17:02] lzim commented on #1281
Yes, I think that the requirements at the top comment are accurate, but may not be fully complete.

I believe another task is to review the DART and ORD for the R21 to make sure that is all working properly too. Let's discuss at tomorrow's **quant_workgroup.**

@anthonycpichardo  Will you please add #1281 to the agenda tomorrow?

FYI: @anazariz

[2020-04-22 17:06] anthonycpichardo commented on #1281
@lzim  Sounds good, I will add it to the agenda

[2020-04-22 17:09] lzim commented on #1176
Thanks @ritahitching 👏

@branscombj @dlkibbe and @lijenn - Please note that this is not a priority for this week, as it's not on the **april_epic** and there are other more pressing priorities.

- But, will **facilitate_workgroup** folks please take the first step of reviewing Rita's recommendations regarding use of **bold**. The last version I reviewed had all bold, which meant nothing was bold.

[2020-04-22 17:10] lzim commented on #1347
@lijenn We met with PAVIR yesterday and we are done with this!

[2020-04-22 17:10] #1347 closed

[2020-04-22 17:11] lzim commented on #1044
- Thanks, @branscombj and y'all! 😸

[2020-04-22 17:12] lzim commented on #563
@swapmush I sent a message about this on **OSF.**

- We set a goal of getting this submitted next week.
- I couldn't tell where the tables of the readings, etc. were? So, I wondered if I was reviewing and out of date version.

[2020-04-22 17:20] lijenn commented on #1350
@branscombj Hm, I've never actually exported the data out before so I'm not too versed in how it should it show up outside of the SIM.

I tested it myself and I believe I am seeing all the run data?

The run data just doesn't show up under the "Current Run Decision Variables" title. If anything, that just seems like a general header for all the variables shown below.

I am seeing the run data bein

[2020-04-22 17:26] lzim commented on #1192
Found this YAML fieldguide @anthonycpichardo https://cran.r-project.org/web/packages/ymlthis/vignettes/yaml-fieldguide.html

Did you knit on Monday? Where do we check this out?

[2020-04-22 17:31] lzim commented on #1275
Great work on this @lijenn !!!

I really like what you've done. 🏅
- [ ] If this will be a .pdf, can we please use Myriad Pro, so that it is 100% consistent with our VA style guide? As long as you create the file on a non VA machine with Myriad Pro uploaded, it will be reflected in the .pdf.

- I agree with @branscombj about a) fixing the pixelation, although I see it more in the screenshots, not t

[2020-04-22 17:32] branscombj commented on #1350
Thanks, @lijenn ! I think I did get proper run data; it's the Current Run Decision Variables should show what variable sliders were adjusted for the experiment. They would be inputs, and not show up in a row with different values for each week.
@jamesmrollins Do you know if I'm doing something wrong or looking at the output wrong?
@dlkibbe fyi.

[2020-04-22 17:33] lrollins33 commented on #886
**Broken links in the MTL References section of the MOREINFO page**
@staceypark I don't have the resources to fix these. Who should be assigned to fix them?
Thanks
Lucy

Reference # | Message
----------------|-------------
18 | link to wrong paper
59 | 404 Page not Found
119 | 403 Forbidden
135 | 404 Error message, then takes you to https://case.edu/nursing/
149 | 404 Not Found
150 | blank page
17

[2020-04-22 17:33] lzim commented on #886
Thanks for the review @branscombj

**I approve this language change: "accessible behind VA firewall"**

I agree with this logic:  "because regardless of staff affiliation, those links won't work if you aren't behind the firewall."

[2020-04-22 17:35] lzim commented on #886
@ritahitching Can you help @lrollins33 find updated links for the 7 references?

@lrollins33 and @ritahitching - The Team PSD Zotero library should help answer this question.

[2020-04-22 17:36] jamesmrollins commented on #1350
Hi @branscombj , I'm not sure I understand the problem.  Are you saying the experiment variables are showing as different for each week?  If so, that would be a problem.  Could you please upload the .xlsx file in question to this thread so I can take a look?

[2020-04-22 17:38] jamesmrollins commented on #886
Hi @lzim , I checked Zotero and found issues there too.  I have a feeling these may have to be relinked by someone with access to stacks.

FYI @ritahitching @lrollins33

[2020-04-22 17:39] branscombj commented on #1350
Hi @jamesmrollins - Can you see in the 3 screenshots above (2 from me and one from @lijenn ) how there is nothing aftr the row heading "Current Run Decision Variables"? I confess that I did not enter any QHFD text, so I'm not surprised those are blank; but I did adjust experiment sliders at least in the one my excel screenshots are showing.

[2020-04-22 17:44] jamesmrollins commented on #1350
@branscombj @lijenn so you are in PROD, right?

[2020-04-22 17:49] jamesmrollins commented on #1350
@branscombj and @lijenn I think you need to scroll down further to see your experiment settings.  Perhaps we should just remove the line, "Current Run Decision Variables."

![image](https://user-images.githubusercontent.com/30132017/80015549-c68f8500-8486-11ea-9664-2aba6256de96.png)

[2020-04-22 17:52] branscombj commented on #1350
Ah, yes, I see. I thought in my dim memory that the settings showed up at the top, sort of the way they do in the Control Panel.

Yes, I think removing that line would be a good idea.

[2020-04-22 17:53] jamesmrollins commented on #1350
@branscombj @lijenn we could also move the experiment settings to the header, just say the word.

[2020-04-22 17:57] branscombj commented on #1350
Can just the altered variables and their settings be shown, and only once (not across all the weeks of the run)? If so, that would be my vote. But I feel I'm raising something that is outside the current Epic and don't want to derail your priority work!  I don't know if this issue has even been assigned to a kanban column?

[2020-04-22 17:59] lzim commented on #1192
@anthonycpichardo briefly touched base on Teams about this today 4/22/202

- I was able to open the index.zip .html file for the manual, but the TOC didn't hyperlink to the section of the bookdown, like I would expect.

- For next steps @anthonycpichardo is going to come up with a checklist of tasks to review and ask @lijenn and @ritahitching to help.

Thanks all! 🌺

[2020-04-22 18:01] jamesmrollins commented on #1350
I don't think removing each week's experiment setting values is a good idea.  We are currently running under the paradigm of a full 2-year run.  Eventually, we may start making 1 year course correction experiments where the value change would be reflected.

You are also correct, that if we change the export, we should put it into the process the proper way to account for the work.  I'm still shaki

[2020-04-22 18:12] branscombj commented on #1350
GOT IT re: Eventually, we may start making 1 year course correction experiments where the value change would be reflected.
Thanks for that reminder.

@lijenn , would you be able to triage this issue to where it needs to go in our workflow? I think it's now simply the bottom line question,

**Should we remove the header row that says "Current Run Decision Variables" from both the COPY run data outp

[2020-04-22 18:21] dlkibbe commented on #1350
Thanks for fyi'ing me on this @branscombj
I agree the phrase "Current Run Decision Variables" could be removed.
The titles in the p.s. would be logical to a learner in my opinion. I wonder about the **Experiment Settings** appearing at the bottom of the file vs. the top of the file so the learner instantly recognizes what they entered into the model but that's not really important.

[2020-04-22 18:22] branscombj commented on #1176
@ritahitching @lzim @dlkibbe

I agree with both of these. Consistent font size is easier to take in; and only bold the section headers. That goes for the content under At our Next MEeting too - do not bold steps 1 and 2 about login and VANTS. The  important thing is to point the reader's eye to where the key information is, then let them read it in plain font.

[2020-04-22 18:23] branscombj commented on #1350
I had the same thought, @dlkibbe .

[2020-04-22 18:25] dlkibbe commented on #1350
@jamesmrollins suggested the movement of settings to the header so I don't think my comment was too far off :-)

[2020-04-22 18:52] lijenn opened #1352 "July - Task: Renew NounPro via ReqLogic"
Noun Project (NounPro) is used to generate new icons when needed.
Lindsey's yearly annual subscription of $39.99 renews next week (Next payment is this Friday April 24th)

Task: Renew this on via ReqLogic - Edited by "lz" 4/22/20 to remove account information.
Also show Jen how this is done so she could pick up ReqLogic tasks if needed

[2020-04-22 19:05] ritahitching commented on #1351
@lzim
- [ ]  Draft of [Team PSD Weekly Tour & Email Pre-approval Policy for Adjusting Tour](https://github.com/lzim/teampsd/blob/rita_2020_04_22_weekly_tour_request_change/resources/training_guides/weekly_tour_email_preapproval_policy.md) for discussion and review.
- [ ] Headings:
- Team PSD Tour Work Schedule/Tour of Duty
- Team PSD Standing Meetings
- Team PSD Core Team Meetings
- Team PSD Proce

[2020-04-22 19:14] staceypark commented on #886
Thanks @jamesmrollins.
@ritahitching this should be in the "URL" section of the meta data for each reference in Zotero. Can you make sure both the link in Zotero is correct/updated and @lrollins33 has the links she needs as well?

[2020-04-22 19:23] staceypark commented on #1275
@lijenn
- I agree with @lzim and @branscombj that the screenshots are blurry. Is it possible also to make them brighter? They're quite grey for me, which I imagine will make it harder to read for some folks.
- Since these are session specific, I would even recommend linking directly to the session guide instead of just mtl.how/blue,

[2020-04-22 19:29] ritahitching opened #1353 "wk2 mar_epic: R01 Baseline Edits/Create short links to all projects on VA RedCap"
**Create and Update short links to all projects on VA RedCap**
Note: MTL Menu's short link needs to link to VA, not Stanford.
Cross ref #483

[2020-04-22 19:29] staceypark commented on #608
@staceypark
- OASC - waiting to hear back from Ella
- Union - in progress

@lzim
- DAP
-Slides

[2020-04-22 19:35] ritahitching commented on #1289
@lzim

- My note **Create an issue card for work to be done to create the Short links and cost out the time and assign** refers to creating an issue card to track the work of creating the shortlinks themselves (#1353 in wave1 epic).
- We discussed at the #hqhuddle 4/17  to create issue cards for work to be done associated with an issue, to make sure that people can protect the time to do work and

[2020-04-22 19:42] staceypark commented on #1237
done!

[2020-04-22 19:42] #1237 closed

[2020-04-22 19:53] ritahitching commented on #1191
@ritahitching
- Create a check list
- For features and issues
- Headers for each section
- Example for **features** and **issue cards**
- Include 9 clicks
- Issue title and due date
- Is it a task card ?
- Is the current epic and upcoming epic

[2020-04-22 19:55] lzim commented on #1339
#hqhuddle

Final steps to get these back to Margaret for upload this week.
GOAL: Elaine submits on Monday.

@staceypark
- [ ] Boden LOS
- [ ] Facilities
- [ ] Budget Justification
- [ ] Enrollment

@lzim
- [ ] aims
- [ ] plan
- [ ] references

[2020-04-22 20:13] lzim commented on #886
@jamesmrollins I'm not sure what you mean by "stacks"

[2020-04-22 20:15] jamesmrollins commented on #886
@lzim ye old library stacks. Meaning stacks of journals we used to dive into for research. Sorry for the archaic term.

[2020-04-22 20:21] ritahitching commented on #622
@ritahitching update make to include
VHA user name and VA email to log in to RedCap

[2020-04-22 20:26] staceypark commented on #1201
@lijenn We need to catch Frank Behrens on Skype to move this forward. Already created ticket on IT but it won't move forward anytime soon probably especially with COVID related pressures.

Ticket # is REQ2148924.

Please ask him to do the below for the MTL INFO inbox:
1. **Add** James Rollins (using James's VA email address, which you can find in the GAL). Make note to him that James' email addres

[2020-04-22 20:33] lzim commented on #1351
@ritahitching

## Team PSD Weekly Tour (Column A)

- This is a one-page view of all standing meetings, huddles, team time, and wellness breaks following my guidance above. It is already fully captured in Team PSD > teampsd_schedule > "teampsd_weekly_schedule_2020_02_20.docx" with the exception of the edits I mentioned above.
- [ ] Update **team_temp** - I believe this is the only change.
- We don'

[2020-04-22 20:48] ritahitching commented on #1176
@ritahitching Keep YAML headers  in .md needed to format documents but remove from .html

[2020-04-22 20:51] ritahitching commented on #1351
@ritahitching add a the TeamPSD Logo
- [ ] Leave request
- [ ] Team PSD daily tour
- [ ] Add MTL logo [here](https://github.com/lzim/teampsd/blob/master/resources/logos/team_psd_logo_sm.png)

[2020-04-22 21:15] branscombj commented on #1195
So I think it can be checked off here and subsumed there? I'm checking it off!

[2020-04-22 21:16] ritahitching commented on #886
@ritahitching this is a priority for Thursday 4/23 - will be needed by Friday for presentation.

[2020-04-22 21:27] branscombj commented on #1195
@lzim @lijenn @staceypark It looks to me like the pieces of this that are not completed within this issue are covered in other issues, so I'm going to go ahead and close this.

I do want to call attention to this file I created of all the output chart variables. I'm not sure where it needs to be stored, or when we might want to call on it, but we had wanted it at one point. I know that @dlkibbe an

[2020-04-22 21:27] #1195 closed

[2020-04-22 23:39] dlkibbe commented on #886
@jamesmrollins I've attached a review of the More Info content ment for your consideration. Take or leave as you see fit.
[More_info_page_copy review.docx](https://github.com/lzim/teampsd/files/4519443/More_info_page_copy.review.docx)
@branscombj  FYI

[2020-04-22 23:43] jamesmrollins commented on #886
Thanks @dlkibbe !  I will process these tonight.

[2020-04-23 00:29] jamesmrollins commented on #886
Hi @dlkibbe, after parsing through your feedback, I finally realized that you reviewed the design document, which was accepted and released into DEV last week. We are now making "small" adjustments to the web page in TEST ( https://forio.com/app/va/va-psd-test/moreinfo.html).

[2020-04-23 04:45] staceypark commented on #1247
submitted 4/22!

[2020-04-23 04:45] #1247 closed

[2020-04-23 06:37] swapmush commented on #563
@lzim Sorry for the late reply. I'm having trouble finding the file of the paper and documents with tables/materials we covered. I did not upload to OSF when I was working on them. When I find them and upload to OSF- if not, I will create another version. I will follow up either way.

[2020-04-23 12:28] dlkibbe commented on #886
@jamesmrollins @branscombj see feedback on the site noted in James' comment above.

Are we thinking that users will access more than 1 guide? I ask because of...:
1. MTL Guides in green box - should be singular "Guide"?
2. Last bullet - should be singular guide in "Use the map to determine which guides you should use"?

Use of asterisks in **Accessible behind VA firewall - bold or italics suggeste

[2020-04-23 13:58] branscombj commented on #886
Follow-up on @dlkibbe 's notes:

Plural is correct here because this is directing learners to which set of guides is appropriate for them, depending on whether they are in Red, Blue, or self-learning via Video.

We just decided on some different wording (see above approval by LZ) so the asterisks will go away.

[2020-04-23 15:12] lijenn commented on #1275
@staceypark @branscombj @lzim
Thank you for all the feedback on the template! Will try my best to reduce blurriness in the logos and screenshots and already have Myriad Pro installed.

- I was also thinking of directly linking Learners to the session guide instead of mtl.how/blue. However, the videos go through that process of getting to the exact guide. Only difference is that there is the blue a

[2020-04-23 15:26] jamesmrollins commented on #886
@dlkibbe @branscombj   See below.  The checks indicate I have either made the edit or the change is reflected in tonight's bug report.  I will discuss unchecked issues with @lzim in the Sim UI meeting later this morning.

 - [x]  Are we thinking that users will access more than 1 guide? I ask because of...:
      1. MTL Guides in green box - should be singular "Guide"? **OK AS-IS**
      2. Last b

[2020-04-23 15:35] ritahitching commented on #1352
FYI @lijenn
- [ ] ReqLogic purchase order made for Noun Project $39.99 made.
- [ ] Requisition #84950.
- [ ] Request to expedite purchase order made as current subsscription ends 4/24/2020.
- [ ] Email sent to PAVIR informing them of time sensitive nature of requisition.
- [ ] Will provide update once a response is received.

[2020-04-23 16:14] dlkibbe commented on #1275
Hi @lijenn - made a few comments in the WORD file. Agree that a direct link to session SEE guide is more efficient. There is one item in the word file about CC and MM and the learning mode that language needs to be corrected. I inserted a comment and a screenshot.
[mtl_video_supplementary_info dk.docx](https://github.com/lzim/teampsd/files/4523755/mtl_video_supplementary_info.dk.docx)

[2020-04-23 16:41] lijenn commented on #1275
@dlkibbe All of these edits are awesome and super helpful, thank you for the feedback!!

[2020-04-23 17:28] ritahitching commented on #886
@lrollins33
I'm updating the broken / incorrect links to the references.
- [ ] Will you please clarify where you found the references you mentioned?
- [ ] I looked in [mtl.how/refs](https://www.mtl.how/refs) - Modeling to Learn References - is this the correct location? I found 51 references in that library.
- [ ] How are you associating the reference number to the publication/author?
- [ ] When I

[2020-04-23 17:31] staceypark opened #1359 "4/27 Task: Comb through Blue Session 5-11 guides for use of the words "Patients""
Comb through and edit the MTL Blue Sessions 5-11 Learner & Facilitator guides for use of the word "Patients". This word should always be **plural, with no apostrophes (Patients)** instead of singular/with an apostrophe.

Since our models are of aggregate numbers, our stock & flow variables should all be plural.

Note: Cross-ref #1044 (Debbie identified the inconsistent use of "Patient's" versus "P

[2020-04-23 17:34] ritahitching commented on #1352
FYI @lijenn
- [ ] Response from Luanne  below
- [ ] Ask for decision at HQ Huddle

"_They are a new vendor for us and we will require paperwork to get them approved as our vendor.  It would be quicker if you can please pay for the order and get a reimbursement.  If you are in a hurry, you should do this. Each vendor differs.   Some are quick and some take a week, 2 weeks, longer…Shelter in place m

[2020-04-23 17:34] anthonycpichardo commented on #1140
Updated the Sharepoint Community with our COP guidelines. Changes have been published.

Closing this issue.

[2020-04-23 17:34] #1140 closed

[2020-04-23 17:35] lijenn commented on #1359
@staceypark @ritahitching  I can do this as I have edits that need to be made in the guides already in #1275, thanks!

[2020-04-23 17:51] ritahitching opened #1360 "June Task: Form for WRJ on TeamPSD COVID-19 associated research - HSRD grant & NIDA Supplement"
**1.Team PSD report that covers both the HSRD grant and the NIDA Supplement**

- [ ] Complete form **from WRJ** to **indicate TeamPSD COVID-19 associated research projects - HSRD grant and the NIDA Supplement**
- [ ] Copy of the form an template for OMHSP and additional information needed to complete the form is on shared drive
- [ ] Form needed by **4/24**
- [ ] Form to be sent to **Operations**

[2020-04-23 18:08] staceypark commented on #1339
@lzim
I've done the Human Subjects table for the patients. But the enrollment calculator for the providers one does not add up correctly. Wasn't able to find one that added up correctly within our folders.

Is there a copy on your computer you were using and/or when can I go look for this? I did some quick Google searching for VA HS enrollment calculator but didnt find one

[2020-04-23 18:14] anthonycpichardo commented on #1124
Updated the Splashpage User Guide available at mtl.how/data to include the splashpage controls.

Let me know what you think @staceypark. Ready to close if you approve

[2020-04-23 18:20] staceypark commented on #1255
@lijenn those should only be in the IIR and not R01. You can take them out I believe.

[2020-04-23 18:27] #1255 closed

[2020-04-23 18:31] ritahitching opened #1361 "4/24 Task: tt_report 065 week commencing April 27"
**Team PSD tt_repor 065**

- [x] tt_report 065 using new template
- [x] weekly announcement
- [x] subject line
- [x] Lucidmeeting updates
- [x] Contact Workgroup Leads for updates
- [x]  Add to agenda for review at Thursday's 4/23 HQ Meeting
- [x] Test formatting of email
- [x] To be in Team PSD members' inbox Monday April 27 by 8:00am to be used at Workgroup Leads meeting for

[2020-04-23 19:56] staceypark commented on #1192
@anthonycpichardo will convert this to a document card to sit in the "Open Documents" pipeline in ZenHub and create tasks cards cross-ref'ed to this main card.

[2020-04-23 20:25] branscombj commented on #1275
@lijenn

I think these are good points, and mtl red will be confusing to people doing mtl video without a facilitator. I suggest not sending them (from this document) to mtl.how, and also not linking to specific sessions. Two ideas:

![image](https://user-images.githubusercontent.com/29778290/80145218-d76ef200-857d-11ea-8233-445f4c77598a.png)
or
![image](https://user-images.githubusercontent.com/2

[2020-04-23 20:30] branscombj commented on #1275
@lijenn I also think the supplement for blue 01 needs to say (as the first update under the header above)

New! *MTL* update @ xx:xx (first mention of mtl.how): A second version of *Modeling to Learn* has been created, called *MTL* Red. *MTL* Video follows the 12-session plan, *MTL* Blue.

[2020-04-23 21:03] ritahitching opened #1362 "wk2 aug_epic: Story 1 standardize research workflow in teampsd manual"
*Create a .md and YAML Header Style guide for Manuscripts***

.md and YAML Header Style guides may also be helpful in OSF for specific types of Scientific Journals

## This guide would define:
- [ ] YAML header of the .md file
- [ ] Heading levels allowed
- [ ] Tables and Figures
- [ ] .csl citation language used for the manuscript
- [ ] Add to document_tracker disseminate_scientist_va column 
- [

[2020-04-23 21:05] anthonycpichardo opened #1363 "August - TASK Review Splashpage User Guide"
Review the user guide hosted on mtl.how/data for clarity and helpfulness.

The user guide should explain:
- [ ] Splash Page Controls
- [ ] How to Find Their Teams
- [ ] How to Access the community
- [ ] Overall navigation of the sharepoint site.

cross-ref #1124

[2020-04-23 21:09] branscombj commented on #1044
@jamesmrollins All the tips for those listed are uploaded. I checked everything off above, although I believe we altered a couple of the requirements about cycling-through pattern.
I think this can be closed.

[2020-04-23 21:16] ritahitching opened #1364 "8/7: Team PSD Bookdown Manual: Define standards for headers within .md files & checklist for standardizing format of .md files"
Hypotheses:
- Headers of the Bookdown Manual and additional Resources/Guides should include most crucial information to know first that is necessary for orientation to Team PSD and the 2.0 Process
- Week 2/3 MVP & Prototyping:
QIICS and newest onboarding members described that platforms such as MS Teams, GitHub, and the 2.0 process are either the most difficult to understand and/or needs better co

[2020-04-23 21:34] anthonycpichardo commented on #1153
@lzim
We updated the list of sites that should use 1 year of data because of their file size and the limitations on sharepoint. Unfortunately, **1 year of data was still large for facility 589.**

I need guidance on how we want to handle exceptions like this, do we want to continue to decrease by 1 month, 2 months, or 6 months until the file is less than 50 mbs?

I mentioned this to @branscombj du

[2020-04-23 21:37] ritahitching commented on #1361
@ritahitching Decision from HQ 4/23
- [ ] Announcement: Reminder of meetings Tuesday April 28
- All Hands
- Vapor
- [ ] No Lucidmeeting calendar changes expected

[2020-04-23 22:26] ritahitching commented on #1352
@ritahitching
FYI @lijenn
- [ ] Decision from HQ meeting 4/23 to let let renewal occur with current credit card and consider ReqLogic at a later time.
- [ ] Email Luanne to let her know.

[2020-04-23 22:27] jamesmrollins commented on #1044
Thanks @branscombj !!

[2020-04-23 22:29] ritahitching commented on #1360
@ritahitching
- [ ] Draft document for review attached to HQ meeting 4/23
- [ ] Updates will be provided once reviewed

[2020-04-23 22:33] lijenn opened #1365 "4/27 Task: Review MTL Video Supplementary Document Info."
Cross Ref #1275
@lzim @staceypark

Task: I have attached a word doc containing all the information I plan to put in these supplementary docs that will go by session. Please review to see if the content is clear or if there is anything you'd change or remove.

I have also included the differences mentioned in the 2.0 guides and have highlighted parts from that to indicate that they are also mention

[2020-04-23 22:40] anthonycpichardo opened #1366 "4/27 Task Create R Programming Style Guide"
Produce a markdown document that details the R style guide that Team PSD members will follow

https://github.com/lzim/teampsd/blob/master/resources/r/r_style_guide.md

[2020-04-23 22:41] anthonycpichardo opened #1367 "6/29 TASK Create SQL Style Guide"
Produce a markdown document detailing the SQL style guide that all Team PSD members will follow.

[2020-04-23 22:44] anthonycpichardo opened #1368 "4/20 TASK Create Bookdown First Draft"
Produce an Rproj to knit the first draft of the bookdown for team psd

[2020-04-23 22:45] anthonycpichardo commented on #1368
First draft has been produced. Cross-ref #1192

[2020-04-23 22:45] #1368 closed

[2020-04-23 22:48] anthonycpichardo opened #1369 "4/24 TASK Host Bookdown on Team PSD GH Repo"
Configure the bookdown project to be able to be hosted on the Team PSD and MTL GH Repos

cross-ref #1192

[2020-04-23 22:50] anthonycpichardo opened #1370 "7/10 Task Create SOP & Cheklist for using bookdown."
create an SOP & Checklist for using the RProject and Knitting the .Rmd

a. update the original manual resource using Pull Request

b. re-knit once the update is complete usign the RProject

[2020-04-23 22:51] staceypark commented on #687
Closing this as it is a duplicate to #563.

[2020-04-23 22:51] #687 closed

[2020-04-23 22:57] staceypark commented on #1201
@lijenn No need to reach out to Frank. IT has reached out to me that they are working on it.

[2020-04-23 23:15] lijenn commented on #1192
@anthonycpichardo markdown files of current lucidchart maps that were already in the repo have been made and can be found here: https://github.com/lzim/teampsd/tree/master/resources/maps/maps_markdown

[2020-04-23 23:19] anthonycpichardo commented on #1192
Hi! @lzim @staceypark @ritahitching @lijenn @anazariz @jamesmrollins @branscombj

Looking for ideas on how we should handle resources that would be great to include in the bookdown but are not easily added to a markdown document like html pages. I'm thinking about **mtl.how/team** in particular, but I imagine there could be a few other pieces of documentation with this fault.

My suggestion for a

[2020-04-24 02:08] lzim commented on #1362
Great job outlining this @ritahitching ! 👏

[2020-04-24 02:10] lzim commented on #1363
Great job creating this card @anthonycpichardo 👏

[2020-04-24 02:40] lzim commented on #1361
@ritahitching @lijenn and @staceypark

- Generally, **hq_workgroup** will be able to provide more effective feedback on this if you type out the **tt_template** (Cross-ref #1228) information for review _before or during_ the **#hqhuddle**
- It would be preferred if you could make recommendations in advance on GitHub🏆
- For example, with a little more time to consider it, I realized that posting _M

[2020-04-24 02:44] lzim commented on #1365
Thanks @lijenn

This is all looking really good!

I’m actually wondering if before the session by session part, we should talk about the major features in _MTL 2.0_ that are cross-cuttin
- [ ] tutor
- [ ] COP
- [ ] News
- [ ] More Info
- [ ] avatar

That sort of thing. It’s really helpful to know that those are there.
And, it makes this document more exciting.
What do you think, Jenn?

I’m going t

[2020-04-24 03:00] lzim commented on #1192
@anthonycpichardo - Are you proposing that we compile in a way that further orients beyond what **mtl.how/team** does already?

- Consistent with Column A goals of the manual, I think it is helpful to see everyone and their role by workgroup when you join Team PSD.
- But, unless it’s a super light lift 💪  I wouldn’t want to replicate something that is 100% redundant with what is already available

[2020-04-24 03:09] lzim commented on #1275
@lijenn

Cross-ref: #1365 about orienting to the exciting _MTL 2.0_ release first.
- I wonder if this is consistent with @branscombj’s comment:

- I agree that the general confusion about Blue/Red is best avoiding for a typical _MTL Video_ learner.
- However, I do think it’s nice to go straight to the _MTL Blue_ session guide, unless I’m misunderstanding Jane’s recommendation.

[2020-04-24 03:15] lzim commented on #563
Thanks @swapmush!
Following up on my email from earlier today. I’m hoping we can pick up with this during our #manuscriptmonday session.

@alballinger is going to help us get this out the door 🚪
FYI: @staceypark

[2020-04-24 03:47] lzim commented on #1289
Thanks @ritahitching !
- I couldn’t tell them apart based on the titles and details in the checklists, until I read this in your last comment above (Have I got it? 😃):

Since #1353 is blocking #1289, I added the **blocking dependency** following the SOP.

For a first step in this checklist and in #1289
- Does it make sense to create a template in the appropriate **master_document_card** for **RedC

[2020-04-24 03:53] lzim commented on #1176
@ritahitching  I just saw you last comment, and I’m just making sure that you do NOT “remove” the YAML from .md files, but simply identify the correct YAML code to **hide** the YAML header when they are knit as .html

[2020-04-24 03:57] lzim commented on #1339
@staceypark I made a comment about this on Teams. Let’s touch base tomorrow AM if you still need help.

[2020-04-24 04:04] lzim commented on #1364
Thanks @ritahitching and @lijenn

I edited the **title** according to the **SOP** and add the _MTL_ resource, in this case: **Team PSD Manual**

[2020-04-24 04:13] lzim commented on #1153
@anthonycpichardo  and @branscombj

Thanks! I’m thinking that in general, rather than have incremental 1 month reductions, we should:

- a) **standardize** it to something like 6 months, 12 months, 18 months and 24 months based on size.
- b) provide instruction on **opening in Excel** - that was the old instruction, is that still the case? Or, are we simply making it a size that fits on the BISL s

[2020-04-24 15:35] anthonycpichardo commented on #1192
Only if it's something we want to include in the bookdown. A URL to the page could be sufficient for people to access the information.

I agree that it is a fair chunk of work for not a lot of value gain relative to just having a link to the resource.

Open to hearing more ideas.

[2020-04-24 15:35] ritahitching commented on #886
@jamesmrollins
I updated the Zotero library & More Info page for the references below.

Reference # | More info | Zotero
----------------|-------------   |-------------
18 |  done |  done
59 | done |  done
119 | done |  done
135 | done |  done
149 | done |  done
150 | done |  done
179 |done |  done
181 | done |  done

FYI @staceypark @lzim @lrollins33

[2020-04-24 15:39] anthonycpichardo opened #1372 "WAVE1: feature_req Automate File Size Reduction of Splashpage Charts"
### Check off requirements to verify progress through feature_tracker.
- [ ] 1. **DEFINE in work_breakdown**
  - [ ] a. **what & why** - **written definitions of requirements** in a **numbered checklist** on the **master_feature_card.**
    - [ ] 1. Sharepoint Charts shall represent 2 years worth of data and be reduced in 6 month increments based on file size.
  - [ ] b. **date & who** -  **Verifi

[2020-04-24 15:42] anthonycpichardo commented on #1372
cross-ref #1153

[2020-04-24 15:47] anthonycpichardo commented on #1153
@lzim  This is the case currently. For example, 589 still has the option to "Open in Excel". The implementation you've described in A, would not have an Excel download by default but it could.

Would you like that as an option?

If we wanted to have an "Open in Excel" option for the full 2 years we would need to generate two separate spreadsheets for these corner cases. One that gets displayed and

[2020-04-24 16:13] lijenn commented on #1275
@lzim @branscombj

I think including the new features in MTL 2.0 mentioned in #1365 in Session 1 after this update statement would be a sufficient orientation and mention.

Just to make sure, by "MTL Blue session guide", we are talking about mtl.how/blue and not the actual specific SEE guide based by session right?

[2020-04-24 17:09] ritahitching commented on #1361
@ritahitching @lzim

- [ ] I updated the tt_065 to reflect
- subject line: **MTL Video is on TMS; All Hands Meeting Tues 4/28 at 9AM Pacific**
- announcements:  1. **MTL Video is available for free psychiatry, psychology, social work and nursing licensure credits on TMS - thanks to all the video “stars” and reviewers.** 2. **Team PSD All Hands Meeting Tues 4/28 at 9AM Pacific - Celebrate april_epi

[2020-04-24 17:09] #1361 closed

[2020-04-24 17:16] ritahitching commented on #1364
FYI @lijenn

Cross reference
- [ ] Issue #1192 Team PSD Manual
- [ ] Issue#1364 5/15 task Team PSD Bookdown Manual: Define header level standards & checklist for review of online resources

[2020-04-24 17:18] ritahitching commented on #1192
Cross referencing
- [ ] Issue#1364 Due 5/15 task Team PSD Bookdown Manual: Define header level standards & checklist for review of online resources
- [ ] Issue #1362 Due 5/15 Task: Create a .md and YAML Header Style guide for Manuscripts#1362

FYI @lijenn @staceypark @anthonycpichardo @lzim

[2020-04-24 17:19] ritahitching commented on #1362
Cross referencing
- [ ] Issue #1364 Due 5/15 task Team PSD Bookdown Manual: Define header level standards & checklist for review of online resources
- [ ] Issue #1192 Dur 5/15 Team PSD Manual

FYI @lijenn @staceypark @anthonycpichardo @lzim

[2020-04-24 19:49] lzim commented on #1220
**Discussed at #hqhuddle on 4/24/2020**

1. As we develop our _improved_ - "Master Crosswalk" process (Protocol)
2. Need to coordinate with cross-ref: #1367 (SQL Style Guide - Ash) and #1366 (R Style Guide - Anthony).

**Master Crosswalk Goal:** Is that standards are developed and every instance of a Team PSD or MTL variable instance, data definition, code base (e.g., interdependent .Rmd, data and

[2020-04-24 20:08] lijenn commented on #1275
HQ Huddle 4/24 decisions:
- Include directions to mtl.how/blue
- Include directions specific sessions since feedback from pilot reviews indicated trouble finding the see guides (all sessions will have a supplementary doc)
- Mention all the new 2.0 features in all of the docs for each session

FYI: @lzim

[2020-04-24 20:48] lijenn opened #1373 "4/27 Task: Team PSD Schedule - PAVIR timecards"
- [ ] Add the PAVIR timecard due dates for Team PSD PAVIR employees (only) Outlook Calendar
   - Employees complete the time card first
   - Lindsey then approves - get an alert for 24 hrs before it's due at both VA and Gmail emails

[2020-04-24 23:30] ritahitching commented on #1191
Hi All,
- [ ] I have a draft template for the [GitHub Documentation Checklist for Team PSD Manual](https://github.com/lzim/teampsd/blob/rita_2020_04_23_issue_1191/resources/training_guides/github/documentation_checklist_teampsd_manual.md) and I'd welcome your feedback.
thanks
@lzim @anthonycpichardo @staceypark @lijenn

[2020-04-25 01:16] staceypark commented on #608
@lzim
1. Union done.

2. Ella & I investigated the OASC further. It seems like there are two pieces that we've conflated. Based on criteria on the ORD [website](https://www.research.va.gov/resources/oasc.cfm):
a. OASC review -  We DO need this since we are surveying employees across 20+ VA medical centers). This wasn't on our JIT list from Geoff though.
b. OMB approval - We DO NOT need this since

[2020-04-25 03:36] staceypark commented on #1201
@jamesmrollins can you check your VA email account again? You should see the MTL Help inbox now.

[2020-04-25 04:13] staceypark commented on #1281
@anthonycpichardo reminder - We don't want milestone & epic data in master Feature cards or master Document cards, as these will create fake inflation in the ZenHub reports. I took it off for this one. Could you do the same for #1192.

[2020-04-25 04:48] staceypark commented on #622
@ritahitching I'm still not seeing where the template is. Can you link me directly to the document where you think the updated template is?

Also, please create a task card assigned to me for reviewing your work consistent with what we have been discussing at HQ huddles and reviewed again at the HQ workgroup meeting on 4/23.

[2020-04-25 16:56] lzim commented on #1153
Cool, thanks @anthonycpichardo I’ll close for us to handle this on #1372

[2020-04-25 16:56] #1153 closed

[2020-04-25 17:02] lzim commented on #1192
Discussed very briefly at #hqhuddle 4/24:

- Lindsey put two potential Org Chart examples that show could show how Team PSD members relate to one another across workgroups in our team Lucid Charts account.
- This would do something that the bios and workgroup breakdown at mtl.how/team does not.
- @anthonycpichardo is going to check it out.

[2020-04-27 14:45] jamesmrollins commented on #743
### Check off requirements to verify progress through feature_tracker.
- [ ] 1. It seems that more often than not, we want to include the text from any prior experiment that we're pulling up in the Experiments section. Should the inclusion of text from a prior experiment be the default (vs not-checked box).
  - [ ] a. Change the default of the "Include text" check box from unchecked to checked.

[2020-04-27 15:11] #1369 closed

[2020-04-27 15:21] anthonycpichardo commented on #610
Work for this being tracked on https://github.com/lzim/mtl_code/issues/7

[2020-04-27 15:29] staceypark commented on #886
4/27 WG Leads meeting decision:
@branscombj will close out review and finish checking off boxes

[2020-04-27 15:30] staceypark commented on #744
4/27 WG Leads meeting decision:
@jamesmrollins will provide @branscombj with a checklist to review and close this issue.

[2020-04-27 16:17] jamesmrollins commented on #744
##Test and Validation Document

**Test and validation assignee:** @branscombj

**Test case document available here:** No test case document is provided

**Please check off the requirements as they are validated:**

- [ ] 1.0 The Expanded Outputs control panel supports the comparison of up to 4 Sankey charts and bar charts for saved experiments (the current experiment and 3 alternatives).
   - [ ]

[2020-04-27 16:23] ritahitching opened #1374 "9/29: Review RedCap How to Map on LucidChart"
**Review RedCap How to Map on LucidChart**
Please review

@staceypark
- [ ]  RedCap How to Map on LucidChart - located [here](https://www.lucidchart.com/invitations/accept/baaa449c-2e9f-4ec5-af46-83ca80c4882f)
- [ ] I put a due date of 4/29 - but feel free to change
- [ ] I estimated a 1 for the review - but adjust accordingly
- [ ] Cross reference for details of the issue task on #622
- [ ] Lucid

[2020-04-27 16:24] ritahitching commented on #622
@staceypark good morning
- [ ] Lucidchart templates located [here](https://www.lucidchart.com/documents#/templates?folder_id=home) under **Presonal** section.
- [ ] MTL.how map template [here](https://www.lucidchart.com/invitations/accept/def64d0c-2bda-4124-a7a4-c465ba3cb006)
- [ ] TeamPSD Bug & Feature template [here](https://www.lucidchart.com/invitations/accept/b8afc818-1a38-46c6-b985-04fea3081

[2020-04-27 16:35] ritahitching commented on #1351
@staceypark please review the guide and accept the pull request in issue #1354 when you have time so I can can close this issue and update #1192.
thanks

[2020-04-27 17:13] branscombj commented on #744
@jamesmrollins Checklist point 1.50: For consistency with Control Panel and guides, please call the top Sankey chart "Current Experiment". (The only place 1 word is used is in the chart legends, where there's no room for 2, and there it's "Current".) Thanks!

![image](https://user-images.githubusercontent.com/29778290/80400030-35eee580-8888-11ea-8e6b-9cdf04a9dfc1.png)

[2020-04-27 17:18] branscombj commented on #744
@dlkibbe Would you be able to log in to the TEST version of the sim UI and try the new multi-run comparison feature in the CC, MM, AGG and SP modules, and check them off above if everything looks good? I already checked it in PSY.

[2020-04-27 17:31] ritahitching commented on #1373
@lijenn confirming the task: Using the timecard calendar that Payroll has set for 2020
- [ ] PAVIR calendar located in TeamPSD drive.
- [ ] Create calendar reminders for TeamPSD PAVIR  employees to submit their time cards 2 days prior due date.
- [ ]  Calendar reminder for Lindsey to approve the timecards based on PAVIR payroll.

[2020-04-27 17:33] lrollins33 commented on #886
@ritahitching
I checked the links for the references 18, 59, 119, 135, 149, 150, 179 and 181 on the MORE INFORMATION page and they all are working properly.

[2020-04-27 17:50] lijenn commented on #1373
@ritahitching I think that sounds right. Lindsey also wants her reminders at least 24 hours prior in advance as well.

I've also forwarded you the email that has the task and PAVIR calendar as well.

[2020-04-27 18:05] lijenn opened #1375 "5/20 Task: r21_vapor_ajcp - Cite Keys"
Use cite keys from Zotero to the .md manuscript file​

Cross ref: #697

[2020-04-27 18:55] dlkibbe opened #1376 "wk3: R01 Literature & Publishings Review"
R01 Manuscript - Literature and Publishing Review
Issue #559

1. Review for consistency with exemplar cluster randomized trial (CRT) (Look for the three PDF articles under Files)
2. Review Implementation Science guidelines on which sections need to be include and provide recommendations on what can be cut from our protocol based on this

[2020-04-27 19:01] dlkibbe commented on #1376
@staceypark what is the product that will help the authors best edit the journal manuscript? Do you want a word file with 2 sections: 1) recommendations to meet the journal guidance; 2) recommendations based on a review of the published journal articles?

[2020-04-27 19:16] ritahitching commented on #1373
@lijenn  I've completed this task, and will close the issue.
thanks,

[2020-04-27 19:16] #1373 closed

[2020-04-27 19:29] lijenn opened #1377 "r21_vapor_ajcp - Review and Add VAPOR context"
Lindsey will add a little more context of VAPOR and Modeling to Learn now & link to the videos.
Finish review and edits & hand off.

Cross Ref: #697

[2020-04-27 20:07] ritahitching opened #1378 "July Task: Checklist to Review GitHub Documentation Templates for Team PSD Manual"
- [ ] Create a checklist review GitHUb templates for **issues/Bugs** and **feature** cards.
- [ ] Link to the document [GitHub Documentation Checklist for Team PSD Manual](https://github.com/lzim/teampsd/blob/rita_2020_04_23_issue_1191/resources/training_guides/github/documentation_checklist_teampsd_manual.md)
- [ ] Cross reference  #1192 Team PSD Manual - list of all documents for review
- [ ] Cr

[2020-04-27 20:26] staceypark commented on #1201
James confirmed MTL Help.

[2020-04-27 20:26] #1201 closed

[2020-04-27 21:24] lijenn opened #1379 "wk1/2: r01_protocol_impsci - Review & Upload Supplementary materials"
Cross ref: #559

**Direct link to the additional_files.docx in OSF:  https://osf.io/cp65q/**

- [x] Explain in supplementary materials that we are using MTL Red (AF) vs. MTL Blue (PSD) language for the field, but keep to the "PSD vs. AF" language as is in the main protocol
- [x] Upload co-planning file templates to OSF with TeamPSD logos & branding (Myraid Pro, VA & MTL logos, etc.)
1. document mt

[2020-04-27 22:20] ritahitching commented on #1362
@ritahitching  Existing resources:
- [ ] [csl_styles](https://github.com/lzim/teampsd/edit/rita_2020_04_27_issue_1364/pubs_workgroup/csl_styles/README.md)

[2020-04-27 22:26] lzim commented on #1373
Hurray!!! Thanks @ritahitching  👏

[2020-04-27 22:41] lzim commented on #1364
@ritahitching and @lijenn

Hi 👋 Just checking to make sure that you know that my goal is that we'll have **Team PSD** specific rules (i.e., examples) for standardizing the **Team PSD Manual** as a book, to go with the generic descriptions of heading levels that @ritahitching posted above.
- The top has to be H1.

So, it might be something like

# H1: Team PSD Manual
## H2: Processes & Platforms
##

[2020-04-28 00:18] lzim commented on #1378
@ritahitching

Thanks! It looks like you 👀  identified a number of important things in your list! 😅
- I'd recommend that we look for ways to **simplify** and **streamline** 🔪

- **See my comment in 2 below about a) getting the flow maps done correctly first, then b) cross -walking with the checklist, so a Team PSD member knows exactly what to do.**
- Once those are done correctly, please delegate

[2020-04-28 00:23] lzim commented on #608
Thanks @staceypark I saw the email, you did a great job with that! 📬

[2020-04-28 00:27] lzim commented on #610
Thanks @anthonycpichardo

I had to head out from #hqhuddle to talk COVID-19 grant with Tom, but I wanted to make sure we keep this review moving.

Note, this key link from your comment goes in the top of the **master document card.**
This is consistent with the feedback you had when you joined, that we folks deviate from keep the key information at the top, things get kinda hectic. 🌪️  I've added

[2020-04-28 00:31] lzim commented on #1374
Cross-ref #1378

- @staceypark and @ritahitching Please see the **flow map** and **lucid chart** feedback that I provided on #1378.

Thanks! ⛵

---

[2020-04-28 00:35] lzim commented on #1375
Thanks @lijenn

I will send this to you ASAP!
I'm still working on it 🌻

[2020-04-28 00:38] lzim commented on #1376
Thanks @dlkibbe

- The two sections sound very helpful.
- I'm not sure what will be most digestible for co-Is (e.g., Word file, etc), but I do note we have to do this again, immediately after this one, for the VA IIR grant. 🤣

[2020-04-28 13:32] dlkibbe commented on #744
Working on it @branscombj

[2020-04-28 22:15] dlkibbe commented on #744
@jamesmrollins testing in MM model; when trying to save a sample run I found the Engagement Duration maximum number is 100 and in the data file I was using [583ge_wl_bhip_2019_04_14.xlsx] Engagement Duration (median) (wks) for AUD, DEP, OUD was 111, 136 and 182 weeks respectively. Should the max number be higher?

![image](https://user-images.githubusercontent.com/31182258/80542784-aa568100-897b-1

[2020-04-28 22:23] jamesmrollins commented on #744
Hi @dlkibbe .  It probably should, but the number range is not dynamic - it is hard coded.  We will likely have to put in a bug report and fix this.  Although, it would be good to get a better idea of the possible range of values that can occur in this variable. I think this is a separate issue from #744 and I will open a card up in the bug tracker to manage it.

[2020-04-28 22:32] jamesmrollins opened #1382 "Number Dropdown Scales in Experiment Variables and Save Dialogue Not Sufficient"
**1. Add description:**
The number scale in the Number dropdown, in certain Experiment Variables (such as Appointment Supply and Engagement Duration) and in the Save dialogue, in various modules, are not adequate to cover the possible range of values for the variable.  Currently, the number scale maximum in the Save Dialogue is 100.  The range of possible experimental values are from 0 to 200.  So

[2020-04-29 00:01] jamesmrollins commented on #744
Hi @branscombj - This has been corrected.

[2020-04-29 14:21] #1359 closed

[2020-04-29 15:01] lijenn commented on #1375
@lzim No problem! I believe I don't have access to the OSF for this paper either and I have requested access to it as well, thank you!

[2020-04-29 15:05] lijenn commented on #1162
@lzim Reminder to check if you can access your account, remember to use your VHA alias as the username :star:

[2020-04-29 16:36] dlkibbe commented on #1382
@jamesmrollins here is another example of this in Aggregate module. The appointment supply range from 0 to 200 does not encapsulate the Appointment Supply numbers in the team data table (i.e., Adj 207, MM 226 and Psy 560).
![image](https://user-images.githubusercontent.com/31182258/80621779-cb6bb000-8a15-11ea-9890-bb341b188ac8.png)

[2020-04-29 17:01] jamesmrollins commented on #1382
Hi @dlkibbe .  Would quote the Team Data filename in this thread so I can look it up?  Thanks, James

[2020-04-29 17:26] ritahitching commented on #1364
@lzim thanks for feedback - I created 2 tables for the **headers** for **Team PSD Manual** and **Team PSD Documentation**

FYI @lijenn

# Size of headers options

## Team PSD Manual

Header Size | Description | Markdown Code | When to use | Location | Number of instances
:-- | :-- | :-- | :-- | :-- | :--
H1 | Largest | # | Team PSD Manual | Top of document | 1 max
H2 | Medium | ## | Team PSD Proje

[2020-04-29 17:28] dlkibbe commented on #1382
@jamesmrollins  -- sorry its the only file I have in test!
583ge_wl_bhip_2019_04_14.xlsx

[2020-04-29 17:29] jamesmrollins commented on #1382
No worries @dlkibbe !  I'm glad we are discovering these issues now, versus after release 😁

[2020-04-29 18:00] anthonycpichardo opened #1385 "AUG Task : Review R Style Guide"
Review #1366 for clarity and completeness of the R Style Guide

- [ ] Style guide covers common use cases
- [ ] Style guide will create standard code if followed
- [ ] Style guide is easy to follow and understand

[2020-04-29 19:24] ritahitching commented on #1378
- [ ] 1. Focus on finalizing the LucidChart maps.
- [ ] 2. Then cross-walking with the LucidChart maps with the finalised checklists for the current drafts of the:
- [Checklist for GitHub Documentation - Issue/Bug and Feature Cards](https://github.com/lzim/teampsd/blob/rita_2020_04_23_issue_1191/resources/training_guides/github/documentation_checklist_teampsd_manual.md) will need updating.
- [Defi

[2020-04-29 21:33] ritahitching opened #1386 "5/1 Task: tt_report 066 week commencing May 4"
**Team PSD tt_repor 066**
@lzim @lijenn and @staceypark

I made some suggestions for the tt_065 report for week commencing May 4.  I'd welcome your ideas.

- [x] tt_report 066 using new [template](https://github.com/lzim/teampsd/issues/1228)
- [x] Suggested Subject Line:
**[tt_066] Celebrated finishing April Epic and planned May milestones**
- [x] Suggested Announcement:
**1. All Hands Meeting Tue

[2020-04-29 21:45] staceypark commented on #1374
@ritahitching  Thanks for your work to move this forward!

1. I think there is confusion about a "**template**" vs. "**map**".
A **template** is a sample document with standardized pre-formatting (font, colors, shapes) to use as a starting point for new documents of the same type.
A **map** is a document outlining the steps to a specific process, following the standard template format.

All of you

[2020-04-29 22:28] dlkibbe commented on #744
General Feedback: @jamesmrollins @branscombj
1. I have tested CC, MM, Agg & SP. In each, the 3 experiments plus the current simulation are visible.
2. If possible, Sankey tips should only appear in PSY module.
3. AGG Model - Review Rate, "i" information - the end parenthese is missing in... (pts/wk
4. MM - See screen shot - 94880.91 MM appointments seems excessive. Does the "i" information need a

[2020-04-29 22:48] lzim commented on #1192
**Team GitHub Repos**
**Cross-ref
#1192
#1220**

Lindsey will put this together with visual icons for **Team PSD Values** and **Team PSD Principles**.

It would be great to get a **Visual Map** that also shows how these go together.

**Team PSD Scientific Values** guide additional **Participatory** and **Open Science** principles:
- **Participatory Research** encourages us to **co-create our scien

[2020-04-29 22:48] lzim commented on #1220
**Team GitHub Repos**
**Cross-ref
#1192
#1220**

Lindsey will put this together with visual icons for **Team PSD Values** and **Team PSD Principles**.

It would be great to get a **Visual Map** that also shows how these go together.

**Team PSD Scientific Values** guide additional **Participatory** and **Open Science** principles:
- **Participatory Research** encourages us to **co-create our scien

[2020-04-29 23:22] lzim commented on #1220
Discussed at Support Workgroup Meetings on 4/29/2020

1. Talked about the interdependencies of the requirements above and the 4/24/20  #1367 (SQL Style Guide - Ash) and #1366 (R Style Guide - Anthony).
2. Lindsey added information about integrating with our GitHub Workflow and linked to #1192.
3. We considered "refactoring" or downstream corrections of all instances, which seemed like a new requir

[2020-04-29 23:37] lzim commented on #1220
BTW: Thanks to @anazariz for encouraging me to get the **Team PSD Manual** "**Project Management" (Column A)** information out there in terms of how/why we enlist the synthesized project management approaches we do. 🏆

- I'll create a .md for this information for editing/review, and ultimately knitting in the manual.
- This cross-walks with #1192, #921 and likely more... 📚

[2020-04-30 03:17] jamesmrollins commented on #744
Hi @dlkibbe.  Yes, 94K appointments does seem over the top.  But that is what the Vensim model is returning.  I don't think the VA has limits on appointments, since they can be booked way out, so that may be the true effect of unbridled appointment making.  Perhaps @TomRust can shed some light?

![image](https://user-images.githubusercontent.com/30132017/80668192-0d1c4b00-8a56-11ea-8792-b8583b8f0d

[2020-04-30 13:20] lzim commented on #1364
Morning @ritahitching @branscombj @dlkibbe @lijenn ☕

This doesn’t follow the TOC of #1192, unless you would like to make recommendations to further reorganize the manual for the team to consider (??). 📖
- Also, we confirmed in our SOP that recording this detail here in the TASK card is problematic for **verifying the #1192 requirements** for the **master document card** in one place.
- So, I will

[2020-04-30 13:21] lzim commented on #1192
Morning @ritahitching @branscombj @dlkibbe @lijenn ☕

This doesn’t follow the TOC of #1192, unless you would like to make recommendations to further reorganize the manual for the team to consider (??). 📖
- Also, we confirmed in our SOP that recording this detail here in the TASK card is problematic for **verifying the #1192 requirements** for the **master document card** in one place.
- So, I’m po

[2020-04-30 13:31] lzim commented on #1162
Thanks @lijenn I will!

[2020-04-30 13:48] dlkibbe commented on #559
@lzim I see your working early. Can you confirm the highlighted paper on OSF in the screenshot below is the latest version of the R01 manuscript?
![image](https://user-images.githubusercontent.com/31182258/80718143-c49d7580-8ac7-11ea-9a7a-0a7e1f697fce.png)

[2020-04-30 13:59] lzim commented on #1385
Following-up on dependencies across #1220, #1192, #1366, #1367, which we discussed at Support Workgroup Leads on 4/29/20

@anazariz and @anthonycpichardo
- The would need to be covered in our **Team PSD Manual** #1192 to train and support Team PSD members.
- Needs to consider our **Master Crosswalk Process Goal:** “...standards are developed and every instance of a Team PSD or MTL variable instanc

[2020-04-30 14:08] lzim commented on #1378
Yes, @ritahitching - This list of tasks looks good.
HOWEVER: To avoid rework, please cross-ref the notes I put on #1381, #1364, and #1192.
FYI: @staceypark @lijenn @branscombj @dlkibbe

The key idea across the issues is the **ORDER OF OPERATIONS**
- I would NOT continue doing these as unrelated discrete tasks.
- Rather, I would FINALIZE with Jane, Debbie and Jenn, the general principles that will

[2020-04-30 14:11] lzim commented on #1386
@ritahitching thanks for posting this in advance!

I’m thinking this is too bland! And perhaps not helpful enough to grab attention.

What specific celebrated accomplishments could we mention @staceypark and @lijenn ?

[2020-04-30 14:20] lzim commented on #1374
Thanks @staceypark 🔥
This is absolutely helpful for clarifying the issue here:

A **template** is a sample document with standardized pre-formatting (font, colors, shapes) to use as a starting point for new documents of the same type.
A **map** is a document outlining the steps to a specific process, following the standard template format.

- **Maps** are helpful visual learning aids that define h

[2020-04-30 14:45] lzim commented on #744
This is really interesting @dlkibbe
Yes, thank you for your thorough review! 🏆

@anazariz @anthonycpichardo and @staceypark
Let’s cross-ref this with #1374...and closed issue #1125

- In this instance Identified by Debbie the appointments value for MM is very large.
- However, this datafile in TEST for training the QIICS was for a HCS, _not a team_ so an observation outside the typical MM boundary

[2020-04-30 14:50] dlkibbe commented on #744
@jamesmrollins - One other item which may be obvious but wanted to be sure was noted when I was working in TEST, the range of values in the Experiments section red slider exceeded that of the values in the Save file function.

[2020-04-30 16:37] lijenn commented on #559
@dlkibbe @staceypark @lzim Yes that should be the latest version of the manuscript, thanks for checking in!

[2020-04-30 17:01] ritahitching commented on #1386
@ritahitching
- [ ] Draft tt_report added to Agenda for HQ meeting April 30

[2020-04-30 17:04] ritahitching commented on #1386
@staceypark @jamesmrollins @lijenn @anthonycpichardo @jessfroe

Hi All,
Do you have any anticipated:
- [ ] Calendar changes for week commencing May 4 and May 11
- [ ] Any announcements for the tt_report for next week
thanks,

[2020-04-30 17:36] ritahitching commented on #1351
@staceypark
I updated [Draft Team PSD Weekly Tour & Email Pre-approval Policy for Adjusting Tour](https://github.com/lzim/teampsd/blob/rita_2020_04_22_weekly_tour_request_change/resources/training_guides/weekly_tour_email_preapproval_policy.md) to reflect your feedback on pull request #1354

- [ ] 1. Rename Pavir file **EE 2017 Handbook.pdf** renamed **2017_employee_handbook_pavir**
- [ ] 2. Conve

[2020-04-30 18:09] ritahitching commented on #1364
So, @ritahitching using my example above, what would define the effective standard use of sub headers across all the documents in the Team PSD Manual.

# Size of headers options Team PSD Manual
Header Size  | Markdown Code | When to use | Location | Number of instances
:--  | :-- | :-- | :-- | :--
H1  | # | Team PSD Manual | Top of document | 1 max
H2  | ## | Team PSD Project Management  or Team P

[2020-04-30 18:47] lzim commented on #1386
It would be great to pull out some of the wins from the **All Hands** meeting on Tuesday.
For example:
- CRM?

What else?

[2020-04-30 18:53] lijenn commented on #1275
Thank you to everyone that helped with this, I have attached the .pdfs of the final version for all sessions.
[s1_final.pdf](https://github.com/lzim/teampsd/files/4560595/s1_final.pdf)
[s2_final.pdf](https://github.com/lzim/teampsd/files/4560596/s2_final.pdf)
[s3_final.pdf](https://github.com/lzim/teampsd/files/4560597/s3_final.pdf)
[s4_final.pdf](https://github.com/lzim/teampsd/files/4560598/s4_f

[2020-04-30 19:13] lzim commented on #1363
Re-assigning to @ritahitching. Thanks!

[2020-04-30 19:15] lzim commented on #1374
Re-assigning to @ritahitching, since it’s on her plate. thanks!

[2020-04-30 19:29] #1365 closed

[2020-04-30 19:41] anthonycpichardo commented on #1364
That is was I showed in my example above as well from 3 days ago, these 3 main section would likely H2 if the title “*Team PSD Manual” is H1.
NOTE: However, my question for @anthonycpichardo about this, is whether this list should actually all be H1 based on how the Bookdown knit works - can you let us know?
A. Project Management
B. Processes & Platforms
C. Resources

Hi @lzim @ritahitching @lijen

[2020-04-30 19:53] staceypark opened #1389 "wk4 task GMB graphics"
Use LucidChart (or R - based on what will be quickest) to update the below in TeamPSD style:
- [ ] hexagons
- [ ] bar charts
- [ ] table of hypotheses

Waiting on @lzim for confirmation on style.
See first three graphics here - https://osf.io/2ha6d/

[2020-04-30 19:56] staceypark opened #1390 "5/4 Task: GMB references"
For the GMB manuscript:

- [x]  Literature search: Update the Team PSD Zotero library --- Use 2016 Zimmerman et al., and R21 Grant to create a folder of r21_facilitate1_gmb refernces folder in TeamPSD library
- [x]  Create xlsx sheet cross-referencing the citekey to the full reference
- [x]  Produce the .bibtex file and include in working directory and YAML header
- [ ]  Identify .csl file for the

[2020-04-30 20:27] staceypark commented on #1351
@ritahitching Thanks for outlining your understanding and proposal of how this would work! 🎉

**You can do this in one of two ways. I would go with whatever is easiest for you.**
1. You can follow what you outlined, which is to separate the pull request for 1) file upload and 2) file editing

or...

2. You can do the 1) file upload and 2) file editing in one go. Notice the two sections I bolded &

[2020-04-30 21:02] ritahitching commented on #1364
Discussion HQ next steps
- [ ] Template on how to use headers for individual documents (e.g. see and say guide examples)
- [ ] Suggest possible consolidation of individual markdown files into chapters

[2020-05-01 00:01] ritahitching commented on #1364
# Team PSD Project Management￼
## Chapter 1: Learn About Team PSD
Explanation of Team PSD, principles, vision, mission, purpose, workgroups, members, roles, org chart,
### 1. 1 About Team PSD
- Guiding Principles
- Vision & Mission
- Org chart
### 1. 2 Team PSD Workgroups
- VAPOR
- EES
- Facilitation
- Co-investigators
- Qant
- Qual
###  1.3 Team PSD Collaboration
- NC-PTSD
- OMHSP
## Chapter 2: T

[2020-05-01 00:11] lzim commented on #1386
Hi @ritahitching and @staceypark @jamesmrollins @lijenn @anthonycpichardo and @jessfroe

Here’s what I see from **All Hands** 🙌

For the **april_epic:**
**hq_workgroup completed:**
- IIR Clinical Trials Registration
- IIR IRB Finished

**quant_workgroup completed:**
- Feature Template and Design Policy
- Phase 1 CRM Implementation

**sim_ui_workgroup completed:**
- More Info Page
- Quick Tips Scre

[2020-05-01 00:13] lzim commented on #559
- So true, lots of progress on Team PSD. Thanks @lijenn and @dlkibbe ! 💃

[2020-05-01 04:15] lzim commented on #1220
@jamesmrollins Is the algorithm diagram in LucidCharts?

I was thinking we could review it further with our insights from yesterday.

FYI: @anthonycpichardo @anazariz

[2020-05-01 14:45] lzim commented on #1220
Happy Friday **Support Workgroups!**
It’s **May!** 🌳 🌻 ⛰️ 🏖️

@staceypark
@jamesmrollins
@anazariz
@anthonycpichardo

**Great work to keep this moving forward!** 👏
- James’ work on the definitions and algorithm, and Ash and Anthony’s MVP really seemed to move us toward a more aligned team mental model.
THANK YOU 💯
- As team lead, here is our **summary and next steps** based on **Support Workgroup*

[2020-05-01 15:27] anthonycpichardo commented on #1220
@lzim
Ash and I reviewed the master crosswalk that is hosted on OSF when thinking through the parser.
Side note: currently, we aren't a part of whichever project the file is hosted on though and needed @jamesmrollins to send it to us. Can we get added to the project?

[2020-05-01 16:34] lzim commented on #1364
@ritahitching  @branscombj @dlkibbe @anthonycpichardo @staceypark
- I edited the title based on coaching from @lijenn that the key idea of defining standards for **_within_ the existing set of Team PSD manual .md files** would be clarifying.
- I think it will also really help to focus on producing the **_how to_ instructions for divvying up the .md files so folks can apply the standardization rule

[2020-05-01 17:18] jamesmrollins commented on #1220
@lzim @anazariz @anthonycpichardo
Its in there now . . .

[2020-05-01 18:01] branscombj commented on #886
Hi @staceypark @jamesmrollins @dlkibbe @ritahitching @lijenn I apologize that I did not close this issue before the end of April. I had checked off all the validation boxes and didn't realize it was for me to make the card disappear:)

[2020-05-01 18:01] #886 closed

[2020-05-01 18:37] staceypark commented on #886
Thanks @branscombj !

[2020-05-01 18:42] staceypark commented on #1386
@ritahitching Yes, I agree with @lzim. Would be great to put in some specific wins! It's very motivating for the team 🥳

Note - the May epic begins today **Friday 5/1** not Thursday

[2020-05-01 18:45] staceypark commented on #1386
Yes, I do have a change.
Looks like the #mm end dates next Monday.
I think we had not extended it to the full year in anticipation of many scheduling rearrangements needed when working with the teams. @lzim should I extend to say end of July, for now?

[2020-05-01 19:14] staceypark commented on #1289
@lzim @ritahitching
1. I'm not sure why this got assigned a May due date, given that this is part of wave1. We had discussed in the HQ huddle that it would be fine to pull things early out of the May epic if April items were done, but Wave1 items specifically do not need to be done until we start with teams.

2. Thanks Rita for trying to follow the SOP and make sure there are task cards for every

[2020-05-01 19:15] lzim commented on #886
Whoo hoo!! Yes, thanks Jane!

[2020-05-01 19:23] ritahitching commented on #1364
Hi All
@lzim @anthonycpichardo @anazariz @branscombj @dlkibbe @lijenn @staceypark

I'd appreciate your insightful thoughts and helpful ideas on the draft documents below defining how to use Level 1-5 headers in a standard way & the companion checklist for how to review existing resources.  Will you please review the following:

- [ ] Draft guide for all TeamPSD documents that defines how to use a

[2020-05-01 19:53] ritahitching opened #1391 "August - Due Review draft Form for WRJ on TeamPSD COVID-19 associated research - HSRD grant & NIDA Supplement"
**1. Review draft Form for WRJ on TeamPSD COVID-19 associated research - HSRD grant & NIDA Supplement**

@lzim Please review the draft form for WRJ on TeamPSD COVID-19 associated research - HSRD grant & NIDA Supplement available on shared TeamPSD folder
thanks,

Cross reference issue #1360

[2020-05-01 19:53] ritahitching commented on #1360
@ritahitching cross reference review #1360

[2020-05-01 20:01] lijenn commented on #1375
from hq huddle 5/1:
- @lzim Will upload word doc. in OSF
- Jenn will check in/out the doc to add in cite keys via Zotero extension

[2020-05-01 20:18] ritahitching commented on #1364
Questions:
What to do when we only have very scant content?
What to do when files only have images and no text??
Why is  YAML needed?

|Header|	Markdown code|	Use|	Reasoning |
| ------------- | ------------- |------------- | ------------- |
|YAML headers|Markdown|	Every document|	|
|H1	|.#.	  | Use for document title                     | |
|H2	|.##.	  | Use for document sub section headers

[2020-05-01 21:02] ritahitching commented on #1351
@staceypark Thank you for the guidance on file naming and merging to master - very helpful.
Please accept the new pull request made #1393.

[2020-05-01 21:24] ritahitching commented on #1386
@lzim  @staceypark @jamesmrollins @lijenn @anthonycpichardo and @jessfroe

Please confirm
- [ ] LucidMeetings extending #mm from May 11 until July 31 2020
- [ ] No other calendar changes
- [ ] Subject:
**[tt_066] Incredible achievements by TeamPSD Workgroups during April Epic**
- [ ] Announcement:
**1. Accomplishments by TeamPSD workgroups in April Epic**
- co_I: HSRD & NIDA COVID submission
- fac

[2020-05-01 21:26] ritahitching commented on #1378
@lzim please confirm I can move this issue to the May Epic?
thanks

[2020-05-01 21:27] ritahitching commented on #1374
@lzim please confirm I can move this issue to the May milestone &  Epic?
thanks

[2020-05-01 21:28] ritahitching commented on #1363
@lzim please confirm I can move this issue to the May milestone &  Epic?
thanks

[2020-05-01 21:28] ritahitching commented on #622
@lzim please confirm I can move this issue to the May milestone &  Epic?
thanks

[2020-05-01 23:04] lijenn commented on #1386
@ritahitching I like it, Rita! I think sim ui's biggest accomplishment could be the More Info page redesign though as it was a big 21 pointer :) !

[2020-05-01 23:19] staceypark commented on #1386
@ritahitching this seems great!

[2020-05-02 00:38] lzim commented on #1391
@ritahitching Whoa! thanks for assigning a review card, without it #1360 was invisible to me. 😅
- Within Team PSD is this in the grants folder? [Note: Chat me the location on Teams, if needed].

[2020-05-02 00:43] lzim commented on #1378
@ritahitching Yes, consistent with my “order of operations” instruction above, which we reviewed in the **hq_workgroup** meeting, #1364 is first priority. Then, once finalized, all the dependent issue cards can proceed according to the standardization rules.

[2020-05-02 00:47] lzim commented on #1374
@ritahitching Right, consistent with my “order of operations” instruction above, which we reviewed in the **hq_workgroup** meeting, #1364 is first priority. Then, once finalized, all the dependent issue cards can proceed according to the standardization rules.

[2020-05-02 00:48] lzim commented on #1363
@ritahitching Right, consistent with my “order of operations” instruction above, which we reviewed in the **hq_workgroup** meeting, #1364 is first priority. Then, once finalized, all the dependent issue cards can proceed according to the standardization rules.

[2020-05-02 00:52] lzim commented on #622
@ritahitching Yes, consistent with #1 from the **hq_workgroup** meeting and the **all_hands** meeting:  closing the open **document_tracker** cards and finishing the **Team PSD Manual** are our top cross-cutting **may_epic** priorities.

[2020-05-02 00:59] lzim commented on #1386
Hi @ritahitching! (thanks @staceypark and @lijenn for providing feedback)

Just out of curiosity, why remove some of the accomplishments listed above? They are all wins 🏆 for the month that the workgroups were proud of 🤔

[2020-05-03 00:26] ritahitching commented on #1386
@lzim I was trying to make the list look less long (!) but I'll revise and add all the wins.

[2020-05-04 02:59] jessfroe opened #1394 "apr_epic story 1: qual_workflow_maps"
Creation of flow maps to document and disseminate knowledge of qual_workgroup processes. LucidCharts will be used to create maps.

[2020-05-04 04:28] anthonycpichardo commented on #1248
Closing this issue as we have completed the primary analysis and reviewed during the 4/30 Quant wg meeting

R21 ORD research will be continued in mtl_code#9.

[2020-05-04 04:28] #1248 closed

[2020-05-04 05:06] anthonycpichardo commented on #1306
Duplicate of #1242 Closing

[2020-05-04 05:06] #1306 closed

[2020-05-04 05:19] anthonycpichardo opened #1395 "wk2 Task Create Data_ui_check"
Referencing #627

Create a checklist for the data_ui that will allow teammates to know how to use and troubleshoot any issues.

[2020-05-04 12:44] lzim commented on #1394
Thanks @jessfroe for starting this card!
🤗
I’ve removed the rest of **qual_workgroup** assignees, because I believe you’re the one working in this, right? We only want one responsible “assignee” and the label denote the workgroup “owner” making sure this gets done and isn’t blocking or blocked by anything else.

If this is the master **document_card** to track the requirements for the document, th

[2020-05-04 13:02] lzim commented on #1248
Morning @anthonycpichardo

I see that this is now on **mtl_code#9** but I’m confused by this comment, as I haven’t seen any updates on all the next steps identified during the 4/30 **quant_workgroup** meeting.

- Can we be sure to include all the next steps as a checklist of requirements to **mtl_code#9** so nothing falls through the cracks?

[2020-05-04 14:36] anazariz commented on #1385
@anthonycpichardo I completed reviewing #1366 (R Style Guide) for clarity and completeness and did not find any issues with the content.

[2020-05-04 19:59] ritahitching commented on #1386
Closing this issue, tt_report sent.

[2020-05-04 20:00] #1386 closed

[2020-05-04 20:03] ritahitching commented on #1360
@ritahitching Moved issue to May Epic.

[2020-05-04 20:04] ritahitching commented on #1351
@ritahitching Moved issue to May Epic.

[2020-05-04 20:05] ritahitching commented on #1191
@ritahitching Moved issue to May Epic.

[2020-05-05 20:52] lijenn commented on #1394
@jessfroe I apologize for the late response! You had some great questions in the email that I'd love to answer here so it's easier to keep track of :)!

1. Should a general issue card be triaged in the document_tracker?
Let's define what you meant by general issue card.
- Yes - If you meant that it is a card that will contain and track **all the tasks** needed to be completed (let's call this the

[2020-05-07 19:34] ritahitching opened #1397 "5/8 Task: tt_report 067 week commencing May 11"
**Team PSD tt_repor 067**

@lzim  @staceypark @lijenn
I made some suggestions for the tt_067 report for week commencing May 11.  I'd welcome your ideas.

- [x] tt_report 067 using new [template](https://github.com/lzim/teampsd/blob/master/resources/training_guides/emails_outlook/tt_teampsd.md)
- [x] Suggested Subject Line:
- [x] [tt_067] Team PSD 2.0
- [x] Suggested Announcement: Team PSD 2.0 and

[2020-05-07 19:36] ritahitching commented on #1397
Hi All,
@jamesmrollins @anthonycpichardo @lijenn @staceypark @jessfroe
Any calendar or other updates/announcements for the tt_report please?
thanks

[2020-05-08 21:45] ritahitching commented on #1397
@ritahitching
**Subject:
**Announcement:**
TeamPSD 2.0 members have been attending a continuous improvement, integration and design thinking workshop to improve the transparency of our work and to make greater contributions to open science.

[2020-05-11 23:01] ritahitching commented on #1397
Sent tt_report_067 will close this issue ticket.

[2020-05-11 23:01] #1397 closed

[2020-05-11 23:04] ritahitching opened #1398 "10/2 Task MVP of LucidChart and GitHub"
**MVP of LucidChart and GitHub**
@ritahitching
@lzim  please confirm I got your task correctly:

- [ ] Test ability to build on existing LucidChart knowledge by adding integration to GitHub forked TeamPSD repo
- [ ] Think of the average use - don't use pro account
- [ ] Test if I can teach my self - link GitHub forked repo and LucidChart

Also consolidate the persona details.

[2020-05-12 02:21] ritahitching commented on #1398
# Update on MVP - GitHub and LucidChart Integration
@lzim

## Using Free Account
1. Set up a basic / free account just to test out mvp
2. Went to market place found GitHub app integration
3. Prompted to sign in to GitHub account
4. Can only use my own repos
5. Unable to sync to LZ teampsd or mtl
6. Use forked ritahitching/teampsd_hitching_sandbox - although out of date
7. Received confirmation tha

[2020-05-12 15:08] lijenn opened #1401 "July Task: GH Actions w/ Markdownlint"
~~Prototype the GH action extension, Stylelint with Reviewdog (https://github.com/marketplace/actions/run-stylelint-with-reviewdog)~~

Possible suggestions extensions to look into:
- https://github.com/remarkjs/remark and https://github.com/remarkjs/remark-lint
- https://github.com/marketplace/actions/remark-action
--> I had trouble implementing these, was successful with Markdownlint for GH Actio

[2020-05-12 20:09] lzim commented on #1394
- Define our repository with code while people learn how to build out a repo.
- We'll build tests for our standards, then throw new things against the tests.
- Remove reliance on team huddles.
- Define a "CSS" like style on every file on the repo conforms to.
- Define the data dictionary for the flow of data from CDW through to the model or to R.
- Automated documentation of changes.
- Triage and

[2020-05-13 15:04] lijenn commented on #1401
Day 1:
- Trying to implement the GH Action extension itself.
- How does the yml file works (understanding the syntax of the file).
- How to incorporate the piece of the extension in the syntax.
- Seems like the extension is working, documentation mentions that the Stylelint [rules](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/configure.md#rules)

- Implement the build runs wi

[2020-05-13 18:26] lzim commented on #1401
love how you added a blocker for #1192 @lijenn ! ❤️

[2020-05-14 02:27] ritahitching commented on #1398
@lzim Update:
- [ ] I integrated GitHub into TeamPSD Lucidchart using @lzim credentials
- [ ] I was able  integrate GitHub and Lucid chart - see [here](https://github.com/ritahitching/hitching_sandbox_training/issues/1)
- [ ] The user needs to be within own repo to be able to paste the published link provided by LucidChart into an issue / pull request on Github for the LucidChart map to display
-

[2020-05-14 19:39] ritahitching opened #1410 "5/8 Task: tt_report 068 week commencing May 18"
**Team PSD tt_repor 068**

@lzim  @staceypark @lijenn
I made some suggestions for the tt_068 report for week commencing May 18.  I'd welcome your ideas.

- [x] tt_report 068 using new [template](https://github.com/lzim/teampsd/blob/master/resources/training_guides/emails_outlook/tt_teampsd.md)
- [x] Suggested Updates tt-068
**Subject Line:** [tt_068] Team PSD 2.0 Continuous Integration Continues &

[2020-05-14 19:39] ritahitching commented on #1410
Hi All,
@jamesmrollins @anthonycpichardo @lijenn @staceypark @jessfroe
Any calendar or other updates/announcements for the tt_report for week commencing May 18 please?
thanks

[2020-05-15 00:22] lzim commented on #1410
@ritahitching

I think we need it to be a more exciting update 🚀
Any ideas about how to frame it so that folks will really read it?
🧐

Thanks for working on this!

FYI: @lijenn @staceypark

[2020-05-15 04:28] ritahitching commented on #1398
https://app.lucidchart.com/documents/view/812cb945-f81e-4178-bbb4-b0a2dd8ad3dc/tHc0TqO34ce3

[2020-05-15 04:30] ritahitching commented on #1398
https://app.lucidchart.com/documents/view/fa2b9266-2561-426b-9008-408aa46a3969

[2020-05-15 04:33] ritahitching commented on #1398
https://app.lucidchart.com/documents/view/7e6f6c3f-b276-4d32-b6af-8ff1194d5a3a

[2020-05-15 04:48] ritahitching commented on #1398
https://app.lucidchart.com/documents/view/7e6f6c3f-b276-4d32-b6af-8ff1194d5a3a

[2020-05-15 13:50] lzim commented on #1398
@ritahitching

The main things missing here from our **Team PSD 2.0 Design Thinking** instructions are **clear user-centered hypotheses guiding each step of MVP learning/development to avoid rework** (our _pareto_ or _80/20 principle_).
- _What assumptions about **user pain points** are you testing with each prototyping step related to Lucid Chart and GitHub integration?_

A **mental model** shift

[2020-05-15 20:26] ritahitching commented on #1410
@lzim how about:

**Announcement:**
- Week 2 of Continuous Integration(CI) Continues: Team PSD has developed 4 CI prototypes based on 7 personas:

**CI Prototypes for GitHub Integration:**
1. Video Library
2. LucidCharts
3. Vensim Model
4. Markdownlint

**Personas:**
1. busy_forward_thinking
2. fast_learner_need_for_transparency
3. independent_guidance_when_needed
4. integration_language_expert
5.

[2020-05-18 15:24] lzim commented on #1410
Thanks @ritahitching

- Do you have a photo and bio for David?
If not, let's wait to announce/welcome him until you do have those.
If you do have both the photo and bio, then please do include in subject and announcements.

For subject and announcement, let's keep this simple as folks
Subject: Scaling the Team PSD workflow!
Announcement: Team PSD is working on a reboot "Team PSD 2.0" to better sca

[2020-05-18 16:35] ritahitching commented on #1410
tt_report sent - will close this issue.
David asked for bio and photo.

[2020-05-18 16:35] #1410 closed

[2020-05-18 20:20] ritahitching commented on #1398
@ritahitching  updates [here](https://github.com/ritahitching/teampsd_hitching_sandbox/blob/master/resources/design/lucidchart/lucidchart_github_mvp.md)

[2020-05-21 23:17] ritahitching opened #1414 "5/22 Task: tt_report 069 week commencing May 26"
**Team PSD tt_report 069**

@lzim  @staceypark @lijenn
I made some suggestions for the tt_069 report for week commencing May 26.  I'd welcome your ideas.

- [x] tt_report 069 using new [template](https://github.com/lzim/teampsd/blob/master/resources/training_guides/emails_outlook/tt_teampsd.md)
- [x] Suggested Updates tt-069
**Subject Line:** [tt_069] Welcome Dr. Ngendahimana & Team PSD 2.0 Contin

[2020-05-21 23:18] ritahitching commented on #1414
Hi All,
Any updates for next week's tt_report for the week commencing May 26 please?
best, Rita
@jamesmrollins  @jessfroe @anthonycpichardo @staceypark @lijenn

[2020-05-21 23:21] ritahitching opened #1415 "5/26 Add Data Scientist to TeamPSD website"
**Add Data Scientist to TeamPSD website**

- [x] Ask David for Bio and photo
- [x] Update  TeamPSD website

[2020-05-22 12:58] lzim commented on #1414
Hi @ritahitching! 😊

Thanks for making some proposals for the team to consider.

Let’s wait until next week to announce David. We have 3 other major things and it’s a short week:

Subject: Memorial Day (Mon), All Hands (Tues), may_epic & Team PSD 2.0 workshop to wrap-up (Fri)

Announcements:

1. **Memorial Day (Mon 5/25)** We pause to honor those who died while serving in our military.
2. **All Ha

[2020-05-22 23:07] ritahitching commented on #1414
@lzim thanks for the confirmation - I'll update the tt_report.

[2020-05-28 21:59] ritahitching commented on #1414
Closing this issue as tt_report was sent earlier in the week.

[2020-05-28 21:59] #1414 closed

[2020-05-28 22:24] ritahitching opened #1418 "5/29 Task: tt_report 070 week commencing June 1"
**Team PSD tt_report 070**

@lzim
Hi All:
I made some suggestions for the tt_070 report for week commencing June 1.  I'd welcome your
feedback.

@jamesmrollins @anthonycpichardo @jessfroe  @staceypark @lijenn

- [x] tt_report 070 using new [template](https://github.com/lzim/teampsd/blob/master/resources/training_guides/emails_outlook/tt_teampsd.md)
- [ ] Suggested Updates tt_070
**Subject Line**
[

[2020-05-29 17:54] ritahitching commented on #1415
@ritahitching
- [ ] received Bio and photo
- [ ] headshot upload
- [ ] bio upload

[2020-05-29 18:17] ritahitching commented on #1415
@ritahitching details updated to epicenter and photo sent.

[2020-06-01 15:37] ritahitching commented on #1418
Proposed announcement:
- Welcome Dr. David Ngendahimana
- Workgroup Achievements
(i) HQ: IIR IRB submitted & approved
(ii) Co-i/Manuscript: R21 VAPOR manuscript & Mentee manuscript close to submit
(iii) Quant: Prototype of R & SQL Integrations that can be used to improve data review
(iv) Sim: Prototype Vensim Model & Forio Epicenter Continuous Integration and GitHub & (v) (v) Epicenter bridge movi

[2020-06-01 18:22] ritahitching commented on #1418
tt_070 report sent - close issue

[2020-06-01 18:22] #1418 closed

[2020-06-01 18:23] jamesmrollins commented on #1333
@hirenp-waferwire  Please see below for instructions related to adding sub-section expand functionality to the More Information Page.  Thank you, James.

Add expand functionality to the "Modeling to Learn Sections" section as shown below:

![image](https://user-images.githubusercontent.com/30132017/83440554-fa50b980-a3f9-11ea-8a02-02292d41a0b8.png)

Add expand functionality the "Modeling to Learn

[2020-06-04 16:27] lijenn commented on #1192
Update:
TeamPSD Bookdown is undergoing a prototype version through GH Actions.
Discussion is through Teams in the design_teampsd_2.0 channel.

[2020-06-05 15:28] ritahitching commented on #1415
Closing this issue - updates made.
thank you @jamesmrollins
fyi @lzim

![image](https://user-images.githubusercontent.com/54862187/83894681-79016b80-a706-11ea-83a4-c551b7d5e0dc.png)

![image](https://user-images.githubusercontent.com/54862187/83894717-8585c400-a706-11ea-9fc2-b227274ff339.png)

[2020-06-05 15:28] #1415 closed

[2020-06-05 16:05] ritahitching opened #1419 "6/5Task: tt_report 071 week commencing June 8"
**Team PSD tt_report 071**

@lzim
Hi All:
I made some suggestions for the tt_071 report for week commencing June 8.  I'd welcome your
feedback.

**Any updates for next week's tt_report (6/8)** @jamesmrollins @anthonycpichardo @jessfroe  @staceypark @lijenn?

- [x] tt_report 071 using new [template](https://github.com/lzim/teampsd/blob/master/resources/training_guides/emails_outlook/tt_teampsd.md)

[2020-06-05 16:34] lzim commented on #1419
@ritahitching @staceypark @lijenn

**First**, I'd like to help with coaching consistent with **_all Team PSD email subject lines._** Make people want to open the email within <30 characters (often we use _"We decided...")._ To open it, they need to see something that calls to them that they should open it.

This original Subject Line will be 100% uninterpretable among 80% of the recipients of the

[2020-06-05 20:26] lijenn commented on #1419
@ritahitching
For **2. June Epic Priorities by Workgroup**
- **facilitate_workgroup** 1) EES & QIIC Personas, 2) Test & review MVPs/prototypes

The **follow-up with the QIICS** will either be next Wednesday 6/10 or the following Wednesday after next week 6/17 as schedules may shift some QIICS. I will touch base when when this is finalized and in Lucid.

[2020-06-05 21:24] ritahitching commented on #933
Closing this issue as Data Scientist has been hired.
fyi @lzim

[2020-06-05 21:24] #933 closed

[2020-06-05 22:49] dlounsbu commented on #1022
From: Hitching, Rita M. <Rita.Hitching@va.gov>
Sent: Friday, June 05, 2020 6:06 PM
To: david lounsbury <david.lounsbury@einsteinmed.org>
Subject: RE: Emailing: Copy of revise Healing Communities Study budget 8 22 19.xlsx

Hi David,
Thank you for letting me know.
I’ll keep a record of the computer monitor you want, and I’ll order & ship it to you when we place the order for the equipment needed by

[2020-06-06 01:04] ritahitching commented on #1419
@lijenn please let me know once a date with the QIICs is finalized. thank you

[2020-06-08 15:35] ritahitching commented on #1021
@ritahitching update
David L. has provided guidance on his preferred type of monitor - TeamPSD file is shared drive requisitions_qiics_cameras_documents updated

[2020-06-08 15:41] ritahitching commented on #1022
@ritahitching update
@lijenn FYI
David L. has provided guidance on his preferred type of monitor - TeamPSD file is shared drive requisitions_qiics_cameras_documents updated

[2020-06-08 15:43] ritahitching commented on #1419
@ritahitching closing this issue as tt_report sent

[2020-06-08 15:43] #1419 closed

[2020-06-08 20:14] ritahitching commented on #1034
@lijenn FIY
I'll forward you the email of the person I have leased with to get the previous hotspot and add it to the thread on Teams.

[2020-06-08 21:12] ritahitching commented on #872
@lijenn just FYI main contact is Steve Woodward - details will be on relationship list.

[2020-06-08 21:16] ritahitching commented on #1231
@lijenn FYI
Current list is in the shared drive in file teampsd_orientation.

[2020-06-08 21:17] ritahitching commented on #1025
@lijenn FYI VISN details

[2020-06-08 22:49] lzim commented on #1034
Hi @ritahitching @lijenn @staceypark!

Rita, please add this issue # and details to the hq thread on the hq_workgroup channel.

Also, please keep Stacey and I in the loop, we don’t want the sole responsibility to fall to one person. We’ll want to support this transition as a team. Thanks! ⛹🏻‍♀️

[2020-06-08 22:51] lzim commented on #872
I think we can close this issue.

[2020-06-08 22:52] #872 closed

[2020-06-09 22:45] lijenn opened #1421 "6/12 Task: WG Leads Update GH & ZenHub"
Decision from Team Time 6/9:

- Workgroups will update GitHub in week 2, but we will NOT meeting unless it's to get a key R21 task done.
- Week 2: Full-speed ahead on R21 across many workgroups...
- week 3: "Root" MVPs...using workgroups, existing workgroup meetings.
- **Next Steps for developing our Strategy (feasibility)**:
   - For anything substantive, let's **increasingly use GitHub primarily

[2020-06-09 23:08] lijenn opened #1422 "wk4: lzim/mtl Repo Design"
**Hypotheses:**
Purpose:
The purpose of this repo is to aid facilitators, learners and community researchers to find information about  Modeling to Learn. The repo also provides actions that automate time-consuming editing tasks such as find and replace, style and language standardization.

**Task:**
We want to redesign the repo to be better suited to it's purpose, while also thinking about other

[2020-06-09 23:12] lijenn opened #1423 "July Task: TeamPSD 2.0 Organization Flow Map"
See Team PSD 2.0 organization flow map here:
https://app.lucidchart.com/documents/edit/d2399f12-a16c-439d-9d3d-7e7410633ea5/0_0

**Assumptions/Hypothesis:**
Repos are organized to  
a) reduce total number of repos
 b) based on whether they share a CI workflow
c) account for compliance issues d) integrate w/ZenHub

 Final List of 7 Repositories: 
1. lzim/teampsd (Public)  #1436
2. lzim/mtl (Public)

[2020-06-09 23:24] lijenn opened #1424 "July Task: lzim/research Repo Design (formerly lzim/mtl_code)"
From Team Time 6/9:

Task: Think early and often about potential dependencies and delegation, raise awareness early while working on the redesign of the following repo's structures:
 **lzim/mtl_code (Anthony)**

**Week 2 "root" MVPs**
- (#1423) Team PSD 2.0 org chart map (HQ)
- (#1422 & # #1424) Repo design map (HQ mtl & teampsd (); Quant mtl_code...VA Enterprise vs. non-VA GH; Research vs. Operat

[2020-06-09 23:24] lijenn opened #1425 "August Task: Git/GH Desktop & Github workflow map MVP"
**Repo Hypothesis:**
Repos are organized to  
a) reduce total number of repos
 b) based on whether they share a CI workflow
c) account for compliance issues d) integrate w/ZenHub

 Final List of 7 Repositories: 
1. lzim/teampsd (Public)  #1436
2. lzim/mtl (Public)  #1422
3. "va/mtl" (GH Enterprise) (operations pipeline) 
4. lzim/research (formerly lzim/mtl_code) (Private)  #1424
5. "va/research" (

[2020-06-10 14:46] lijenn opened #1426 "wk1 Task: MS Teams workflow + Citrix Guide"
**Hypotheses:**
- All of Team PSD and partners need better orientation to our main communication platform, MS Teams, as a part of #1192 TeamPSD 2.0 Manual Bookdown.
- Concerns: Need to list out issues and dependencies related to TeamPSD using the MS Teams Free ver. which has some different features from VA Teams which our VA partners use to develop Whys & How for the guide.
- VA Teams Timeline:
Ph

[2020-06-10 14:50] lijenn opened #1427 "August Task: GH Desktop Prototype"
From Team Time 6/9:
Develop a GH Desktop Training Prototype for the team.

Edit: Video prototype of Refactoring Files using Atom and Github Desktop can be found here:
https://youtu.be/vFtAVDEWG2s.

[2020-06-12 18:47] ritahitching opened #1428 "6/12Task: tt_report 072 week commencing June 15"
**Team PSD tt_report 072**

@lzim
Hi All:
Suggestions for the tt_072 report for week commencing June 15 below, I'd welcome your
feedback or ideas.

**Any updates for next week's tt_report (6/15)** @jamesmrollins @anthonycpichardo @jessfroe  @staceypark @lijenn?

- [x] tt_report 072 using new [template](https://github.com/lzim/teampsd/blob/master/resources/training_guides/emails_outlook/tt_teampsd.

[2020-06-16 17:55] anthonycpichardo opened #1429 "7/30 + "TASK": Split Pipeline Data Lineage"
Review and provide feedback on the end to end data lineage prototype available at [supplemental.md](https://github.com/anazariz/teampsd/blob/master/resources/design/SQL_and_R/supplemental.md).

Hypothesis: MVP replaces "temp tables" in the existing codebase with "views" and "stored procedures." will increase transparency in the end to end data pipelines.

[2020-06-16 18:07] anthonycpichardo commented on #1429
We are assuming that folks are familiar with and comfortable using Github. GitHub is a platform for version control.

Do folks need any training on how to set up their accounts and navigate the platform?

Github vs Github Enterprise

Github is publically available at github.com and allows the creation of public and private repositories. Through our IRB we are able to store our research code using

[2020-06-17 02:20] lzim commented on #648
@TomRust
I just wanted to quickly ping to see if you are able to post the model, and hypotheses for the users you want to review it.
I know your attention will be focused elsewhere (or maybe already is?) - let us know.
Thanks!

[2020-06-17 15:51] TomRust commented on #648
Hi all!  @lzim @jamesmrollins @branscombj @dlkibbe  @staceypark

Just trying to close this issue before I’m in newborn-land.  I’d like feedback on a prototype from both James and some facilitators that addresses the three issues raised at the top of this issue thread.  Unfortunately, the prototype is just a Vensim model, so I guess the only thing to for facilitators to test is the description of t

[2020-06-17 15:54] TomRust commented on #648
Address part 1 (from top of issue thread): The symptom % is now hard-coded to be a 50/50 split, which means that we're defining "high symptom" as the any patient that has greater than average symptoms, and "low symptom" as less than average symptoms. Up to now, we've been defining high and low symptom by where a patient transfers to (e.g., a patient who steps up is labeled "high symptom"), and the

[2020-06-17 16:12] TomRust commented on #648
Address issues #3: I included a “parameter scrub” logic that uses a "threshold for inclusion" based on whether or not a parameter is based on >2% of either total HRF or no-HRF care episodes (across all the clinics the team selected).

Use case to test by facilitators @dlkibbe @branscombj --
End-user: I’m in session 5, reviewing how all my patients’ data are used to customize the sim.  My team data

[2020-06-17 16:30] TomRust commented on #648
Finally, issue part 2, about modifying team data "floors" and Time to Detect:

I haven't made any model changes about this part, but could very easily.  I think we should get rid of the floors, but wanted to run it by you all first.  Here is a discussion of the details:

**1) Do we keep “floors” for Time to Improve and Engagement Duration before Step Up/Down?**
- The floors and the new “parameter

[2020-06-17 19:48] staceypark commented on #608
Tracking here that our last email with the HSRD JIT team confirms the below that we only need to submit for OASC review (not OMB).

@lzim @lijenn

[2020-06-17 22:13] staceypark commented on #608
### JIT List

#### Done
- [ ] Input project in RDIS
- [ ] PI Assurance
- [ ] Background info for OMB exempt consideration (**does not apply to us**)

#### In Progress
- [ ] Quad chart - Stacey
- [ ] revised budget justification - Lindsey
- [ ] summary budget table - Lindsey

#### Needs Lindsey review (Stacey drafted these)
- [ ] Data analysis plan
- [ ] Data analysis plan supporting documentation

[2020-06-17 22:14] lzim commented on #608
@staceypark @lijenn

Key:
- [x] Means totally done, either send to Geoff, or handled by ORD.
- [ ] Something remans to be done.

**List of "Done"**
- [X] IRB - Done; Send approval letter
- [X] CT.gov - Done; In ART
- [X] PI Assurance - Done; LZ signed and completed in Team PSD folder
- [X] ACOS/R - Does Geoff do this for us? I think we don't have to do this.
- [X] R & D Committee Approval - Meetin

[2020-06-18 18:39] ritahitching commented on #1428
close issues as tt_report sent.

[2020-06-18 18:39] #1428 closed

[2020-06-18 18:50] staceypark commented on #1390
closing because this is done.
csl file cannot be indicated as target journal for submission has not been decided on.

[2020-06-18 18:50] #1390 closed

[2020-06-18 19:03] lijenn commented on #1375
Closing as cite keys were added. If there ends up being additional citations, I will re-open. Thank you!

[2020-06-18 22:53] anthonycpichardo commented on #1425
Proposed Repo Design:
GH Enterprise Repos | Github.com Repos
---------------------|--------------------
**Modeling To Learn** - This would store the operations code that we use to support teams | **mtl_code (private)** - *I don't believe there is any mtl code that we would want to access out of the domain?* This repo would also contain the model files and other resources used on the sim platform.

[2020-06-19 14:50] jamesmrollins commented on #1425
@anthonycpichardo I think this is a great idea!  In fact, we (DEV and I) was going to propose a Sim UI repo design next week, that would help us develop an industry standard CI/CD for Epicenter. This would build on progress we've made with automating the Vensim conversion and update process.

[2020-06-19 17:36] ritahitching commented on #1231
@lijenn I recommend keeping this issue open as more usernames will need to be added in future.

[2020-06-19 17:38] ritahitching commented on #1034
@lijenn there is no current need for an additional WiFi but if the need returns I provided you with the contact details for Mary Thornton at Pavir.

[2020-06-19 17:40] ritahitching commented on #1021
@lijenn the list of requests for additional IT equipment is on the shared drive with postal address details for each QIIC.
I recommend keeping this issue open.

[2020-06-19 17:44] ritahitching commented on #1025
@lijenn you already know the status of our efforts to reach out to the VISNs and the bandwidth of each QIIC..
I recommend consolidating this issue with yours #1024 or keeping it open.

[2020-06-19 17:47] ritahitching commented on #1022
@lijenn the list of requests for additional IT equipment is on the shared drive with postal address details for each QIIC. It is associated with #1021
I recommend keeping this issue open.

[2020-06-19 18:00] ritahitching commented on #1290
@lijenn this is issue is blocked by the #1192 and the MVP process.
I recommend we keep this issue open.

[2020-06-19 18:01] ritahitching commented on #1176
@lijenn this is issue is blocked by the #1192 and the MVP process.
If you read the thread you will find inks to the most current drafts of the email templates.
I recommend we keep this issue open.

[2020-06-19 18:01] ritahitching commented on #1293
@lijenn this is issue is blocked by the #1192 and the MVP process.
If you read the thread you will find inks to the most current drafts of the email templates.
I recommend we keep this issue open.

[2020-06-19 18:02] ritahitching commented on #1289
@lijenn this is issue is blocked by the #1192 and the MVP process.
If you read the thread you will find details of the links that need to be created.
I recommend we keep this issue open.

[2020-06-19 18:04] ritahitching commented on #1353
@lijenn this is issue is blocked by the #1192 and the MVP process.
If you read the thread you will find details of the links that need to be created.
I recommend we keep this issue open.

[2020-06-19 18:08] ritahitching commented on #1363
@lijenn @anthonycpichardo
I have not reviewed the Splashpage User Guide; it was blocked by #1192 but its @anthonycpichardo issue and not for me to decide if it should be closed.

[2020-06-19 18:12] ritahitching commented on #1352
@lijenn the decision to move the  NounProject subscription via ReqLogic was delayed until 2021 due to Covid.
It makes sense to keep a note that the purchase does need to be made through ReqLogic but this issue can likely be closed.

[2020-06-19 18:14] ritahitching commented on #1150
@lijenn this is issue is blocked by the #1192 and the MVP process.
If you read the thread you will find recommended suggestions on the choice of file compression.  No decisions were made.
I recommend we keep this issue open.

[2020-06-19 18:15] ritahitching commented on #1374
@lijenn this is issue is blocked by the #1192 and the MVP process.
If you read the thread you will find links to LucidChart and the most current flowmap.
I recommend we keep this issue open.

[2020-06-19 18:15] ritahitching commented on #1378
@lijenn this is issue is blocked by the #1192 and the MVP process.
I recommend we keep this issue open.

[2020-06-19 18:16] ritahitching commented on #1362
@lijenn this is issue is blocked by the #1192 and the MVP process.
I recommend we keep this issue open.

[2020-06-19 18:36] ritahitching commented on #1360
@lijenn I believe this task can be closed.

[2020-06-19 18:38] ritahitching commented on #1191
@lijenn this is issue is blocked by the #1192 and the MVP process.
I recommend we keep this issue open.

[2020-06-19 18:38] ritahitching commented on #1364
@lijenn this is issue is blocked by the #1192 and the MVP process.
I recommend we keep this issue open.

[2020-06-19 18:41] ritahitching commented on #1398
Detailed Documentation Second Stories

Do you see any places where moving forward independently could have been more aligned with the team or integrated better when you were done?

Yes, I should have check in earlier in the map process. I wanted to present the work finalized, and would have saved time and effort and solution by that was better.  It’s ok to show a work in process, fearful in the pa

[2020-06-19 18:51] ritahitching commented on #1398
Updated on MVP

1.  LucidChart Account holder and the GitHub Account Repo have to be the same
2. Lucid Chart functions on GitHubby way of pull requests or issues, not markdown files.

**Organization of LucidChart**
Feedback from users recommending organizing LucidChart into folders

Stacey: I like the idea of the workgroup folders as well, especially since our lzim/teampsd GitHub repository is org

[2020-06-19 18:53] ritahitching commented on #1398
**Comparison of instructions**
Feedback from users that compare guides for webpage for integration of LucidChart & GitHub https://lucidchart.zendesk.com/hc/en-us/articles/360021365711-The-Lucidchart-Connector-for-GitHub OR https://www.lucidchart.com/pages/integrations/github

James: Reviewed the two links - they are very consistent with the guidance you had provided for loading the APP into my Git

[2020-06-19 18:56] ritahitching commented on #1398
**Generating a Preset Library of Colors  Shapes for Flowmaps**

Feedback from users:
Jess:  **Explanation** of meaning of flowmap shapes to be incorporate into a template would be useful.
Basic principles guide:
https://www.lucidchart.com/pages/flowchart-symbols-meaning-explained

**Video** on how to create first diagram helpful
https://lucidchart.zendesk.com/hc/en-us/articles/115005888706-Video-C

[2020-06-19 19:40] ritahitching commented on #1398
**Feedback from New MVP Templates**
- Most recent iteration of the LucidChart MVP which is summarized as a flow map TeamPSD MVP https://app.lucidchart.com/documents/view/aa7dfa66-4d3d-43df-b350-db1a349f9a8d
- Commensurate  **How to make a flowmap**
https://app.lucidchart.com/documents/view/72f63de5-f3aa-453a-bbe8-a137e980836f
- Template **TeamPSD Core Flowmap Template** https://app.lucidchart.com/

[2020-06-19 20:03] ritahitching commented on #1398
Repo Documentation

Main Folder [LucidChart](https://github.com/ritahitching/teampsd_hitching_sandbox/tree/master/resources/design/lucidchart)

[LucidChartConnector](https://github.com/ritahitching/teampsd_hitching_sandbox/tree/master/resources/design/lucidchart/how_to_add_lucidchart_connector)

[LucidChart Templates] (https://github.com/ritahitching/teampsd_hitching_sandbox/blob/master/resources/

[2020-06-19 20:34] lzim commented on #1021
@ritahitching

Where is this purchase list in the Team PSD folder?

FYI @staceypark  and @lijenn

[2020-06-19 21:05] lzim commented on #1425
Cross-ref Teams > design_teampsd_2.0 Channel

- Please comb for our prior Teams conversations about this. I searched for "repo"
- I found several of our discussions deciding to **finalize our repository design** as our next steps over the last month.
- I will pull in a few here, but it would be great for folks to make sure nothing is missed.

**5/21 - "teampsd2.0_week3_mvp_hypotheses started"**
**

[2020-06-19 21:21] lzim commented on #1176
@lijenn @anthonycpichardo
- If this is blocked re: Team PSD manual #1192, can you help make sure it is appropriate indicated as such using ZenHub "blocking?"

[2020-06-19 22:43] ritahitching commented on #1021
File is called **requisitions_qiics_cameras_monitor** under **pavir_expenses** folder

[2020-06-22 15:23] #1375 closed

[2020-06-22 15:29] anthonycpichardo commented on #1424
Related to #1425. Adding blocking dependency

[2020-06-22 18:50] jamesmrollins commented on #1425
@anthonycpichardo @anazariz @lijenn @staceypark @branscombj  as promised.  Below is our proposal for the Sim UI CI/CD pipeline.  FYSA @hirenp-waferwire

## 1. Current Process
Currently Team PSD is using GitHub to manage all source code, documents etc. for version control system of same. We are using only one branch i.e. “Master” branch to manage versioning of all kinds of documents/code.

The diag

[2020-06-22 20:29] dlkibbe commented on #1425
Hi @jamesmrollins - a couple of quick questions since I've been out of the loop with dad:
1. CI/CD Process - please define CI/CD for me
2. relative to your comment under CD auto code deployment, "the branch owner of the respective branch..." -- can you explain scenarios in which there will be different "branch owners?

[2020-06-22 22:34] #625 closed

[2020-06-22 22:40] jamesmrollins opened #1430 "NOV: Set Up Sim UI Repository"
### Check off requirements to verify progress through feature_tracker.
- [X] 1. Hypothesis:

  1. Organizing model and Sim UI code repository in accordance with Agile industry standards will enable other coders to quickly orient and contribute to the repository.
  2. Automating processes such as code and model deployments will reduce user touch points directly within multiple Epicenter projects.

[2020-06-22 22:54] jamesmrollins commented on #1425
Hi @dlkibbe .

1.  CI/CD means continuous integration and continuous deployment or delivery. This means that development activities such as coding are being merged to a shared mainline several times per day.  Continuous Deployment means the code is tested, verified and deployed to its point-of-use as a continuous process.
2. The branch owner would be the person who has authority to push the code b

[2020-06-22 22:55] anthonycpichardo commented on #1425
@dlkibbe  From [SAFe](https://www.scaledagileframework.com/continuous-delivery-pipeline/) :

[2020-06-22 22:59] dlkibbe commented on #1425
Thanks @jamesmrollins and @anthonycpichardo for these explanations. Greatly appreciated.

[2020-06-24 17:32] lijenn commented on #1423
Currently editing lists here:

[2020-06-24 19:46] lijenn commented on #1425
w/ @staceypark
@lzim @anthonycpichardo @jamesmrollins @dlkibbe @branscombj @dkngenda @anazariz

We wanted to heck out some assumptions & proposals:
1. Not only is GH the "hub" but teampsd repo specifically is the hub.
2. All workgroups will be using GH to some extent (See James's proposal for SIM UI Repo).
3. We will put everything on the master branch (meaning any previous use of branches for org

[2020-06-24 21:58] anthonycpichardo opened #1431 "July Task: Transcribe Lucid Meetings"
**Meetings to be transcribed.**

Meeting | Date | Link | Topic
-- | -- | -- | --
Quant Workgroup | 2019/01/24 | https://meet.lucidmeetings.com/meeting/206114 | R21 matched comparator
EBPharm Randomization Discussion **(no audio)** | 2019/01/31 | https://meet.lucidmeetings.com/meeting/206586 | EBPharm Randomization
Quant Workgroup | 2019/02/22 | https://meet.lucidmeetings.com/meeting/206582 | R01 i

[2020-06-24 22:57] jamesmrollins commented on #1425
@lijenn I am a little concerned about the ability to standardize, non-standard processes.  In other words, if we organize functionally how will the flows work when we engage in functions with perhaps different information needs and process steps?  In my proposal for a separate Sim UI repo above, its task purpose would be for updating and maintaining the Sim UI as it is expressed in Epicenter throu

[2020-06-25 00:12] lijenn commented on #1425
@jamesmrollins
**Functions & Standardization:**
Hmm, I think the concern about about functions should be first thought through #1423 (TeamPSD 2.0 Organizational Flow map) as it should represent the structural flow of our team. Regarding functions with a non-standard process or requiring different needs and steps, I believe that would still be alright as it could be classified as a specific niche w

[2020-06-25 01:10] dlounsbu commented on #1423
What is my LucidChart ID? How will I use LucidChart, as co-faciliator and a co-I on the Qual workgroup?

[2020-06-25 15:15] lijenn commented on #1423
@dlounsbu David, the team has made the inclusion of needing a platform to be able to create flow maps and charts as these help visualize processes that may otherwise be "unseen" within the team. We have a team account and I can forward you & @branscombj the details!

We have begun to use LucidCharts for its ability to create these intricate processes as it includes a lot of functions like custom t

[2020-06-25 16:59] jamesmrollins commented on #1425
Hi @lijenn,  Thanks for responding to my feedback.

Regarding Functions and Standardization:

**I agree** that we should understand what our functions are, how they are dependent and what standard processes are used to update them.  I also hear (read) you saying that your scope is limited to the Team PSD repository.  I am perhaps overly sensitive to my own needs and am concerned with being constra

[2020-06-25 18:01] lijenn commented on #1425
@jamesmrollins You got it! I'm a bit limited to seeing how other repo structures could look like.
Thanks for the reminder of the [Dept. of Veterans GitHub Organization](https://github.com/department-of-veterans-affairs)!
This definitely helped as I was playing around with making a test organization, but had some trouble with seeing how it would look with more members and repos.

@lzim @staceypark

[2020-06-25 18:04] anthonycpichardo commented on #1423
My vote is for List 1 for the same reasons that James documented on Teams where prototype 1 seems to match our functional alignments most closely.

[2020-06-25 18:08] anthonycpichardo commented on #1425
@lijenn I think you're aware but making it clear that the exception to this rule would be the GH-Pages

[2020-06-25 18:11] anthonycpichardo commented on #1425
I share a similar concern that if force a standard folder structure for the repos it could cause limitations depending on how one-size-fit-all we make it.

As you mentioned I think if we can decide on what repos we need and how they're broken up then we can determine a structure that makes sense and is consistent across repos.

[2020-06-25 18:22] jamesmrollins commented on #1425
@lijenn @anthonycpichardo
I will have to dig into "GitHub Organization."  I'm not familiar with that yet. Do you have an info link?

Pursuant to Anthony's comment, the Sim UI WG folder has no where near the information it would have if used for actual development activities.  Take a look at [https://github.com/jamesmrollins/psychtools](url)  for an example of how we have organized a similar web pr

[2020-06-25 18:23] anthonycpichardo commented on #1425
Heres a link @jamesmrollins  [Github Organizations](https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/about-organizations)

[2020-06-25 18:26] jamesmrollins commented on #1425
Oh!  🙄 I can be such a silly boy!  That's what I was sharing with @lijenn above with the VA Organization repositories.

[2020-06-25 18:41] lijenn commented on #1425
Haha! @jamesmrollins I also found these videos to be helpful in setting up an organizations or just understandings GH Organization and Teams a bit better:
1) [Setting up an Organization](https://www.youtube.com/watch?v=SUu6cmcC-3A) (slightly outdated, but still carries some of the steps needed)
2) [Quick GH Overview on Organizations & Teams](https://www.youtube.com/watch?v=MpRQ3uucPaM&ab_channel=G

[2020-06-25 19:06] dlkibbe commented on #1425
@jamesmrollins just curious as I read through all this exchange, @lijenn had asked above, "do you have a specific example in mind for a function with non-standard processes?" For my education do you have an example from past experience with MTL work?

[2020-06-25 20:14] jamesmrollins commented on #1425
Hi @dlkibbe - I mistakenly got the impression that we were going to standardize processes, that support functions, so they all operated the same within all of the functions.  That would be difficult if not impossible, with the differences between the functions and their related task steps supported processes.

[2020-06-27 17:51] branscombj commented on #1423
Here is my mental model for _Modeling to Learn_:

**Human Resources**
- Support staff - hiring, onboarding, management
- Facilitators - selection, training, supervision
- Interns - selection, training, mentorship
- Partners - engagement, relationship management (other than teams currently participating in _MTL_)

**Financial Resources**
- Grant writing/development
- Grants management and reporting

[2020-06-27 18:13] branscombj commented on #1423
I'm shakier on who's meant by these categories of people and their responsibilities, but here's a stab at cross-walking them with the above:

**Human   Resources** | HQ | Qual | Quant | Sim | Facilitate | Co-I
---| -- | -- | -- | -- | -- | --
Support staff   - hiring, onboarding, management | X |   |   |   |   |  
Facilitators -   selection, training, supervision |   |   |   |   | X |  
Interns -

[2020-06-29 15:31] dkngenda commented on #1424
I found [this](https://learn-the-web.algonquindesign.ca/courses/web-dev-6/github-project-setup/) link quite informative on best practices for setting up team git repos.

[2020-06-29 16:25] dkngenda commented on #1424
@anthonycpichardo, below are my GitHub use cases I can think of now. I'll update the list if I think of something else

-	Access research data and related metadata.
-	Review code (with documentation) used for production of research data.
-	Document analyses I am working on, pull requests and store results.
-	Share prototypes (including R code) I am working and track/respond to comments from review

[2020-06-29 16:52] anazariz commented on #1424
**Use Case (Data Engineer):**

 1. Repo will be used for version control of:
     1. Script Source Code
     2. Table and View Definitions
     3. Stored Procedures and Functions
2. Repo will be used for meta data management:
Field:
    1. Name
    2. Description
    3. History
3. Repo will be used for StTM (Source to Target Mapping) 4 columns:
    1. Source Table/Field
    2. Transformation
    3

[2020-06-29 19:30] anthonycpichardo commented on #1424
Needs (Data Analyst)
1. Central platform for:
  1. R & SQL Code
  2. Technical Specs
  3. Analysis and Documentation
2. Repo will handle version control
3. Repo will run test cases
4. Repo will support issue and bug triage
5. Repo will facilitate requirement documents and project proposals

[2020-07-01 16:45] dlkibbe commented on #1364
@lijenn @branscombj and @dlkibbe reviewed the David Anson rules list. We have listed below the rules that would likely need to be included in the Markdown Linter. Let us know your thoughts. Thanks.
MD004
MD005
MD007
MD009
MD010
MD011
MD012
MD018
MD019
MD020
MD021
MD022
MD023
MD024
MD025
MD026
MD027
MD028
MD029
MD030
MD032
MD033
MD034
MD035
MD036
MD037
MD039
MD042
MD044
MD045
MD047

[2020-07-01 17:42] anthonycpichardo commented on #1424
Automation Tests:
R Linter for style guide
Style Conformation for manuscripts

[2020-07-06 02:41] jamesmrollins opened #1432 "Create an Action for CI/CD of Model Documents and Files for Sci Community Participation"
### Check off requirements to verify progress through feature_tracker.
- [x] 1. **DEFINE in work_breakdown**
  - [x] a.

**HYPOTHESIS**
-  A CI/CD action that will provide automated services to produce SDM-DOCs and XMILE compatible model files to the MTL Demo page will provide scientific transparency and usefulness to users in the scientific community, who want to build on Team PSD's work.

**ASSU

[2020-07-06 02:48] jamesmrollins opened #1433 "Task: Link Vensim Experiment Variable Min/Max Values to Sim UI Experiment Sliders"
### Check off requirements to verify progress through feature_tracker.
- [ ] 1. **DEFINE in work_breakdown**
  - [ ] a. The current min/max values that limit the slider range in the Experiments Section are hard-coded.  If a range of values needs to be changed, it must be done at the code level.  This modification sets min/max values within the .mdl file, and the Sim UI code will auto-update.  What

[2020-07-06 02:59] jamesmrollins opened #1434 "Install SmartLook User Analysis Cookies on MTL Web Pages"
### Check off requirements to verify progress through feature_tracker.
- [x] 1. **DEFINE in work_breakdown**
  - [x] a. We need analytics that help us understand how the users are interacting with our various web pages.  Google analytics tells us which pages are being used, but do not provide sufficient details in how the moves around the page and clicks on object on the page.  We intend to set up

[2020-07-06 18:26] jamesmrollins commented on #1423
As a result of our 7/6 meeting we decided:

_We will use as few repositories as is possible, to reduce the aperture for mistakes and complexity and promote scalability.  Repositories are defined by workflow, not workgroup, to promote standardization of testing and CI/CD actions._

[2020-07-07 03:28] #1333 closed

[2020-07-07 03:29] #1044 closed

[2020-07-07 03:31] #744 closed

[2020-07-07 03:32] #643 closed

[2020-07-07 03:32] #834 closed

[2020-07-07 03:32] #905 closed

[2020-07-07 03:32] #812 closed

[2020-07-07 03:32] #803 closed

[2020-07-07 03:33] #786 closed

[2020-07-07 03:34] #785 closed

[2020-07-07 03:46] jamesmrollins opened #1435 "Develop Team Data CD - Epicenter Sim UI Drop Down Update Action"
### Check off requirements to verify progress through feature_tracker.
- [X] 1. Hypothesis:

  1. This Action will automate the process of adding a team data file to Epicenter and updating the drop down menu in on the Home page of the Sim UI. The file adding process will be managed from the SharePoint end by the end user with no touch points needed by admin from back end Epicenter (see #2 below).

[2020-07-07 17:28] #1366 closed

[2020-07-07 17:28] #1385 closed

[2020-07-07 22:42] jamesmrollins commented on #648
@TomRust @dlkibbe @branscombj  please see the mock ups and responses to Tom's questions below:

**ANSWER:** Yes.  The illustration below shows that line removed.

**ANSWERS:**
Regarding #1 - Mock-ups are shown below.
Regarding #2 - An exclamation point inside a red circle icon is shown by all flagged values.  When the user clicks the red icon, a pop up with explanation text is presented.
Regarding

[2020-07-08 12:01] branscombj commented on #648
Am I understanding this correctly: The values with exclamation points would always be zeroes?

[2020-07-08 15:12] jamesmrollins commented on #648
Hi @branscombj , yes, correct.  If the Team Data value does not meet the 2% threshold, a zero gets passed from the variable to all the other variables with which it is connected.  Therefore, if the variable is multiplied in the downstream relationship, the product will be zero.  However, if associated with a user-defined variable (slider), then the slider value would be reflected in the calculatio

[2020-07-08 20:52] staceypark commented on #1423
@jamesmrollins btw for the url you added, for the hyperlink to actually work, the address needs to be within the parentheses as well - [text displayed](actual url to the site)

[2020-07-08 20:59] anthonycpichardo commented on #1423
Also, I thought the final decision was the 6 repos outlined on the lucidchart?

Sorry, if I misunderstood something there.

[2020-07-08 21:15] staceypark commented on #1423
Good question... @jamesmrollins where did you get 4?

[2020-07-08 21:57] jamesmrollins commented on #1423
@staceypark @anthonycpichardo  I was gisting notes, so likely something I heard.  I didn't reconcile the notes with the diagram.

I see the following repositories in the diagram:
1.  VA/Team Data
2. lzim/mtl (to contain the SIM UI and Model resources)
3. lzim/teampsd
4. lzim/mtl_code (to be renamed)

I see the following trackers in the diagram:
1.  team_tracker (in lzim/teampsd)
2.  manuscript_tra

[2020-07-08 23:09] lijenn commented on #1364
Thanks Debbie & Jane for those rules!

**1. While looking through the rules, I noticed the majority actually relate more to how we use Markdown as a team.**

For example, MD039 - Spaces inside link text:
It is linting for this spaces within the brackets of texts being used for hyperlinks.

It would lint for anyone that uses Markdown hyperlinks like this:
` [ Google ](https://www.google.com/) ` tur

[2020-07-09 13:13] branscombj commented on #1364
@lijenn  I think @dlkibbe and i were assuming that those were not optional styles but required code for producing the given formatting, so the linter would find incomplete coding instances.

[2020-07-09 17:05] lijenn commented on #1364
@branscombj @dlkibbe No worries! I just realized how it might sound that way in the documentation of the rules.md for the linter...

I ended up testing some of the rules (I just copied the coding instance they mentioned in the rules into a github comment just to see the output by previewing it) and some rules with the **Rationale** (it's the section that comes at the very end of each rule) **sayin

[2020-07-10 23:23] lijenn commented on #1421
Closing to reflect July epic, thanks!

[2020-07-10 23:24] #1421 closed

[2020-07-13 20:49] lijenn commented on #1422
**From Discuss Repository Design and Workflow Proposals Call on 7/13:**

**- Regarding Folder Structure :**
1. Do the learners need to have a need to see the standard folders (fonts, images, .github, etc.)?
2. The standard folders don't contribute to learning.
3. There is a lot of visual clutter - when a busy learner navigates to the page, they may be put off.
4. Can we put the "utilities" under a

[2020-07-13 21:27] lijenn opened #1436 "wk2: lzim/teampsd Repo Design"
**Hypothesis/Purpose Questions:** (see 1st comment below for proposals)
- How will the folder structure look like?
   - Manual Resources for guides will be moved into the GH-Pages branch due to #1192 TeamPSD Manual for Bookdown
   - Other resources will continue to live in the Resources folder where they make sense
   - Could use Jane's table from [here](https://github.com/lzim/teampsd/issues/1423

[2020-07-14 17:30] staceypark opened #1437 "WK 1 : 2/17 qual - authorship app prior_work categories input into app"
@lzim I kept the categories from the meeting yesterday and reviewed the ones we previously had on OSF. The additional ones are "checkboxes" instead of "bullets".

Could you review and just check off the boxes of any additional we should keep? Then, I'll ping WG leads on this issue as well for them to work on this in their meetings next week.

Here are the links.
ICJME: http://www.icmje.org/recomme

[2020-07-14 18:56] lzim commented on #1422
Thanks for posting these comments @lijenn

I think that posting this feedback early and often is critical 😺, because I see that there were a number of **assumptions that could pull us out-of-sync with our Team PSD CI workflow user pain points for lzim/mtl**

Here is my **asynchronous PI user feedback for week 2 prototyping** - my guidance for next steps is also on Teams.

**Bottom Line:** The reco

[2020-07-14 22:08] lijenn commented on #1192
Hi @anthonycpichardo,
I've complied a list of all possible resources to be included in the TeamPSD 2.0 Manual Bookdown to be moved from the Resources folder into the GH-pages branch.

I've separated files into a list for **resources** and **training guides**.
Note: training guides are located within the resources folder.

I've included the **folder that the file(s) is in** as that could bring some

[2020-07-15 15:46] lijenn commented on #1436
Working Draft lzim/teampsd Repo Folder Structure

Branches:
- Master: Up to date version of files live in this branch
- gh-pages: bookdown resources go here

Root Folders:
- readme.md - will be main page you see on the repo explaining what the repo has and how they work
- .gitignore - for temp files you want to ignore
- license.md - outlines what can and cannot be done with our code (there are dif

[2020-07-15 19:11] staceypark commented on #1436
@lijenn @staceypark are proposing the below.
@lzim @anthonycpichardo @branscombj @dlkibbe @dlounsbu @jamesmrollins

### Hypotheses
1. TeamPSD repo should focus on TeamPSD workflow and helping individual members understand how to work effectively
2. Easier to "google" in the Bookdown search function than to try to learn how the repo structure works. There will also be a chapter structure for those

[2020-07-15 23:13] anthonycpichardo opened #1439 "7/16 + Task End to End Data Lineage STTM Prototype"
Problem Statement - What is the most effective way to show the end to end data flow?

Hypothesis:

As a user having an STTM that represents our data flow through a database accessible from R Studio and SSMS and on Github via XML would enable me to understand the data lineage and answer any question I may have about it's transformations.

Assumptions:

We need to be able to view transformations acr

[2020-07-15 23:21] anthonycpichardo opened #1440 "Oct Epic + "Task": Style guides for R, MD, and SQL"
**1. Description:**
Compile the style guides that Team PSD will be following.

Style Guides:
.md - GH, OSF standards
.R - tidyverse
.sql - VA example Jodie's repo

[2020-07-15 23:25] anthonycpichardo opened #1441 "Task Create R Linter"
**1. Description:**
Create R Linter action to ensure that style guide #1440 is being followed.

[2020-07-15 23:27] anthonycpichardo opened #1442 "Task SQL Linter Action"
1. Description:
Create SQL Linter action to ensure that style guide #1440 is being followed.

[2020-07-15 23:35] anthonycpichardo opened #1443 "TASK Test Coverage and Execution platform"
Assess platforms to execute test cases and view code coverage of our R, SQL, and MD files.

Needs:
- To be Developed-

[2020-07-15 23:38] anthonycpichardo opened #1444 "CD for Splash Page Updates"
Automated deployment of the splash page updates monthly.

[2020-07-16 15:19] lijenn opened #1445 "July 7/20 Task: EES LucidMeetings Training Facilitators"
Look through LucidMeetings for meetings where EES Facilitator Training was discussed with Fawn.
(edit: Seems like the previous EES lead for this Casey unless it changed to Fawn)

Title | Date | Meeting Link
-- | -- | --
EES MTL Facilitate meeting   with Casey | Nov. 7 2019 | https://meet.lucidmeetings.com/meeting/229539
EES & MTL   FY20 | Oct. 3 2019 | https://meet.lucidmeetings.com/meeting/228596

[2020-07-16 17:43] lijenn commented on #1440
- Standard Markdown Usage (Not all Markdown applications support these elements, such as OSF where the context is based on research/manuscript writing. For example, a task/check list would render or be relevant in a manuscript.)
   - [Markdown Syntax CheatSheet for Basic & Extended Syntax](https://www.markdownguide.org/cheat-sheet/#extended-syntax)

- Markdown for OSF
![image](https://user-images.

[2020-07-17 13:40] lzim commented on #1339
This was submitted on 7/1 to NIDA!

[2020-07-17 13:40] #1339 closed

[2020-07-17 13:41] lzim commented on #1367
@anthonycpichardo  @anazariz

As we have clarified through the **july_epic:**
We will use OMHSP and VA SQL Style Guides to integrate with existing standards for SQL style.

[2020-07-17 13:57] lzim commented on #1281
**quant_workgroup:**
@anazariz @anthonycpichardo @dkngenda @staceypark @lijenn

Let's keep track of who exactly is doing what across what appear to be MANY related issue tasks:
- Can we come on Monday with updated **due_date** that follow our **Team PSD week 3 MVP user testing schedule?**
- Can we be sure that the **dependencies** are tracked accordingly?
- Can we make sure that right **MVP assign

[2020-07-17 13:59] lzim commented on #1424
@anazariz @anthonycpichardo @dkngenda @lijenn @staceypark

Decisions made during the **july_epic:**
1. Renamed to lzim/research
2. Will use Tidyverse Style guide for R.

- Anthony has prototypes, what are the issue dependencies?
- Let's track those carefully for **week 3 8AM Monday Workgroup Leads meeting** next week

#1281 R21 Data Model for Tests of Specific Aims
#1439 STTM
#1422 lzim/research
#

[2020-07-17 14:19] #1360 closed

[2020-07-17 14:23] lzim commented on #1440
Hi All
@lijenn @anthonycpichardo @staceypark

I know we're using:
- VA/OMSHP SQL Style
- Tidyverse R Style

But, as we are trying to get clearer and clearer about .md

In addition to @lijenn's resources above, I see this **makefile:** https://osf.io/zw7bx/?ref=9e7e78b9d3c5e1849b5be7faa6d8eecf32063a40

I want us to keep our "key stroke automation" and "google for yourself" goals in mind.
**_Meaning

[2020-07-17 14:33] lijenn commented on #1364
#1192 TeamPSD 2.0 Manual

1. Introduction
Rationale: Introduce the purpose of this manual, explain who it is for, what purpose does it serve, why it is here, & what is here. Could essentially be the README.md file.

2. TeamPSD SOP/Guiding Principles
Rationale: Understanding team governing rules and values come first to set a tone for the team and workflow.

3. Team PSD Team/Workgroups
Rationale: O

[2020-07-17 18:08] lijenn commented on #1440
Style guides needed for .md:
- vignettes
- training guides/resources (applies to both bookdown-related resources or not)
- see/say guides
- osf wiki for manuscripts
(will update list to include more .md related documents)

[2020-07-17 19:15] lzim commented on #1445
Hi @lijenn

We want to plan QIIC communications about the week 3 MVP user testing.
Let's try to get this to Kelly by COB Monday.

FYI: @branscombj  and @dlkibbe

Happy Friday!! 🏖️

[2020-07-17 19:58] anthonycpichardo commented on #1429
This work is being continued in #1439

Closing.

[2020-07-17 19:58] #1429 closed

[2020-07-17 20:06] anthonycpichardo commented on #1425
[Branching design](https://medium.com/@sairamkrish/git-branching-strategy-for-true-continuous-delivery-eade4435b57e)

Linking this proposal to this issue card.

@lzim @jamesmrollins @staceypark @lijenn @dlkibbe

User-centered MVP Hypothesis: Does this branching structure support the workflows that exist for our various workgroups?

Across our different repositories does this methodology hold? If n

[2020-07-17 20:08] anthonycpichardo commented on #1367
This no longer needs to be created as we are using the OMHSP Style guide.

closing

[2020-07-17 20:08] #1367 closed

[2020-07-17 22:53] jamesmrollins commented on #1246
### Hypothesis:
1.  The Team PSD Web Page is inflexible and its sections and sub-sections cannot be dynamically changed or reordered by the user.  As needs change, the web page becomes increasingly out-of-date. For example, the biographies section needs to have a new sub-section called "Team PSD Alumni" to put retired teammates.
2.  A Web Master must navigate four platforms to upload a simple phot

[2020-07-20 15:12] dkngenda commented on #1437
@lzim @staceypark I have now uploaded the updated app which can be found [here](https://dkn18.shinyapps.io/authorship_app-3/). Looking forward to testing this with users and getting more user feedback this week!

[2020-07-20 16:12] anthonycpichardo commented on #1425
From Lindsey: Sharing a link is a great way to "fail fast and cheap" with your User-Centered Hypothesis.
I'm guessing that this is yours...
User-centered MVP Hypothesis: This existing online training will be effective for users to understand and set up branching (i.e., from the existing online community of trainings available for free for many open standards, in other words trainings Team PSD does

[2020-07-20 16:58] lzim commented on #1437
Discussed at **hq_workgroup**

- "Elemental" - "substantive contribution to the science" - "authorship"
- "Support" - "acknowledgement"

- Contributions are evaluated based on their function in the progress of the team's science (i.e., tests of specific aims).
e.g., Stakeholders to come up with the problem definitions address in the models. The primary scientific approach that was funded.
- Some c

[2020-07-20 21:16] jamesmrollins commented on #1425
@anthonycpichardo Thanks for sharing this with me.

-  **BLUF:**  I agree this is the way we should go.
-  Sim UI Workgroup was proposing a straight up trunk design.  But using a feature branch versus using a dev branch appears to be an effective modification to better manage concurrent features.
-  There are project management benefits as well as a way to create a holding pattern for features as

[2020-07-20 21:17] dkngenda commented on #1192
@lijenn  As a new team psd member, these are some of the questions (in no particular order) that I think would be helpful to team PSD onboarding

 -  How do I know which meetings to attend, or which meetings my team members are attending (i.e how do I access team PSD central calendar).
- Which repositories will I be primarily contributing to ? Is there a general overview of how each repo contribut

[2020-07-20 22:43] anazariz commented on #1425
@anthonycpichardo I'm aligned with the "feature branch" model (including the one with the dev lane) proposed in the [link]( https://medium.com/@sairamkrish/git-branching-strategy-for-true-continuous-delivery-eade4435b57e ) you cited. In fact, at Blue Shield we used a similar model using SVN, with a few more "Feature" lanes. A couple of items that could also be included in these models are the data

[2020-07-21 22:36] dkngenda commented on #1425
@anthonycpichardo this was a great read, thanks for sharing!

- For those of us who will be using R for considerable part of our work, do we need a standardized workflow for creating branches, pulling request and pushing commits to the upstream branch on github through Rstudio? . My experience has been, and I might be wrong, that this entire process and accompanying documentation cannot be done en

[2020-07-22 04:15] anthonycpichardo commented on #1425
@dkngenda You can definitely do all of this through R Studio in terms of checking in code if you'd like to. There's also tools like Git (using the command-line) and Github Desktop that will also facilitate the workflow.

[R Studio Github Processes](https://aberdeenstudygroup.github.io/studyGroup/lessons/SG-T1-GitHubVersionControl/VersionControl/)

[2020-07-22 17:00] dkngenda commented on #1425
@anthonycpichardo Thanks for sharing! I have been using [this](https://happygitwithr.com/upstream-changes.html) workflow to implement branching. I think the workflow proposed in what you shared is simpler. The main difference I think is that I usually create branches from within R studio instead of GitHub and set what my upstream git repository is through command-line.

[2020-07-22 18:29] anthonycpichardo commented on #1425
Building on this discussion @lzim @jamesmrollins @staceypark @lijenn @anazariz @dkngenda.

[SAFe (the Agile framework used at the VA) CI/CD Quality](https://www.scaledagileframework.com/built-in-quality/) describes how we can flow from environment to environment (branch to branch) as we're developing and the kinds of work and tests that would take place in each stage.

Take a look, let me know wha

[2020-07-23 15:59] anthonycpichardo opened #1449 "apr_epic story 1: Document NDS Approval Process"
Document Process once badge is received, the...
	NDS request/approve for the individual team member Lindsey approves, then the additional entity.
	NDS also approves team resources like our CDW workgroups, but Lindsey also approves all of these.

[2020-07-23 23:35] lijenn commented on #1445
@lzim @staceypark I've updated the list of lucid meetings in the top card, let me know what else I can help with.
Thank you! :relaxed:

[2020-07-27 13:54] lijenn opened #1450 "wk3: Markdown Linter Action + Features (Facilitate MVP w/ #648 SP)"
**User-centered hypothesis:** The workflow orients these users to how to contribute a .md file to the repo.

- MVP (will test whether they can do this on their own):
.MD formatting with the linter folded in the branching strategy in front of
 Next user group: Jane and Debbie, David N.

Need to get the MVPs in front of a larger group of users still in july_epic if we hope to set up tests in august_

[2020-07-27 18:47] lzim opened #1451 "BUG - Stock values and Rate dial values do not zoom when the text does"
Uneven font size when +/- to zoom in/out.<br/><br/><br/><br/><br/>![image](https://s3.amazonaws.com/epicenter-asset/production/va/va-psd-sim/1595875664952621432_img0.png) <br/>

[2020-07-27 20:54] jamesmrollins commented on #1450
Hi @hirenp-waferwire .  Please see below for protected branch, status and actions needed for the repository located here [jamesmrollins/mtl](https://github.com/jamesmrollins/mtl).  **Please note this a forked repository that is connected to lzim/mtl. Use care when merging branches.**

### Please provide the following:

**Background:**  We are using a multiple feature, standard branch topology for

[2020-07-28 22:40] staceypark commented on #1437
Dicussed at **vapor_workgroup meeting** 7/28
Combining user feedback from Ren and SWS, we are considering creating an
- "Advisory board" authorship category to include our Co-I's and current/past VAPOR board members for their scientific contributions and support in grant writing and analysis

[2020-07-28 22:40] staceypark commented on #1437
**Facilitate & EES** - @branscombj @dlkibbe
**Qual** - @teampsdkathryn @dlounsbu @jessfroe @swapmush

Following @branscombj's user feedback, @dkngenda has updated the [authorship_app](https://mtl.how/authorship) to be able to cue up previously assigned contributions by manuscript by contributor. To use this function effectively, we'd like for each workgroup to fill out prior contribution details f

[2020-07-29 19:31] anazariz commented on #1439
## **STTM (Source to Target Mapping) MVP**

**Users:**

 1. **Power Users:** PI, Data Scientist, Data Engineer, Data Analyst - May need to interact with, configure and query the system.
**Means of engagement** – SSMS, R/RStudio/MD, GitHub
 2. **Non-Power Users:** May need just the output - not engage with/configure the system directly
**Means of engagement** – GitHub/RStudio Shiny App/MD/XML

**Ho

[2020-07-30 14:08] dkngenda opened #1455 "Build tests for R21 R code"

[2020-07-30 19:02] lijenn commented on #1450
Hi @branscombj @dlkibbe @dkngenda!

Please help @jamesmrollins and I expand the current list of needs for editing/adding to markdown files:
1. "Check for broken links"
2. "Spell Check for typos"
3. "Check the font/style"
4. Refactoring (Changing "Aggregate Module" into "Team Module")

Some questions to help guide you while thinking of your wishlist/needs that could be automated:
Note: Don't worry

[2020-07-30 19:58] branscombj commented on #1450
@lijenn @jamesmrollins @dkngenda @dlkibbe

5. Measurement Based Stepped Care and Suicide Prevention [**and**, not **for**] is one specific instance.
6. It would be great for the linter to check that we use exactly the same verbiage to both name and describe a whole long list of terms (team challenge/priority): variables, resources (including "resources" itself - do we sometimes say "tools"?), conc

[2020-07-31 21:13] anthonycpichardo commented on #1370
duplicate of #1364 closing

[2020-07-31 21:13] #1370 closed

[2020-07-31 21:14] anthonycpichardo commented on #674
Currently validating data then xbar charts can be generated.

[2020-07-31 21:18] anthonycpichardo commented on #1424
Repo has been renamed and branches cleaned up--ready to follow new process. Manual for lzim/research will be tracked using : https://github.com/lzim/research/issues/24

[2020-07-31 21:18] #1424 closed

[2020-07-31 21:22] anthonycpichardo commented on #1439
Front end code will be developed and tracked via https://github.com/lzim/research/issues/21

[2020-07-31 21:34] anthonycpichardo commented on #1431
Meetings have been transcribed. Thank you!
[transcriptions available here](https://teams.microsoft.com/_#/files/quant_workgroup?threadId=19%3A8a722a9e9022450f8ffb3fb20982431b%40thread.tacv2&ctx=channel&context=quant_wg_data_definition_audio_transcripts&rootfolder=%252Fsites%252FTeamPSD-VeteransHealthAdministration%252FShared%2520Documents%252Fquant_workgroup%252Fquant_wg_data_definition_audio_tran

[2020-07-31 21:34] #1431 closed

[2020-07-31 21:45] #1445 closed

[2020-07-31 22:08] #1124 closed

[2020-07-31 22:10] anthonycpichardo commented on #626
Update splashpage guide to reflect style guide changes

[2020-07-31 22:32] lzim commented on #1252
Funded by NCPTSD!

[2020-07-31 22:32] #1252 closed

[2020-07-31 22:36] lzim commented on #610
I believe this is done, right?
Now we're just waiting on VINCI to finalize the ORD_R21 build?

@anthonycpichardo @staceypark

[2020-07-31 22:58] anazariz opened #1457 "8/31 Task: CRM Initial Work - Placeholder"
This is a placeholder for the initial work on feature #1299 (CRM Implementation). Currently the amount of work needed is not  known. Additional Task tickets will be created as the amount of work is better understood.

[2020-07-31 23:08] anthonycpichardo opened #1458 "8/20: R21 Source to Target Mapping"
### Check off requirements to verify progress through feature_tracker.
- [ ] 1. **DEFINE in work_breakdown**
  - [ ] a. **what & why** - **written definitions of requirements** in a **numbered checklist** on the **master_feature_card.**
  - [ ] b. **date & who** -  **Verified** requirement definitions an **existing team meeting.**

  Task Cards:
  #1439 Initial Prototype for STTM
---
- [ ] 2. **DE

[2020-07-31 23:10] anthonycpichardo commented on #1439
R21 Backend development will be tracked in Feature #1458

[2020-07-31 23:10] #1439 closed

[2020-07-31 23:29] lijenn commented on #1378
Closing as this is contains outdated work.

[2020-07-31 23:29] #1378 closed

[2020-07-31 23:46] lijenn commented on #1352
Closing as next 2021 payment cycle will be reimbursed via check request or get paperwork to Luanne earlier. Jenn will add a reminder in Outlook calendar.

[2020-07-31 23:46] #1352 closed

[2020-08-01 03:04] dlkibbe commented on #1450
@lijenn @branscombj @jamesmrollins
Tried to answer Jenn's questions below:

**1. What else are you currently doing via brute force and unable to do with a keystroke?**

-Uniformity in formatting - bullets vs. numbers; bold vs. italic vs. regular font; indents, spacing
-Updating the header (date & name updated when changes are made to a file) - I think you've already discussed the format and proces

[2020-08-01 15:49] branscombj commented on #1450
@dlkibbe @lijenn @lzim
I especially love this suggestion for tailoring team-specific guides or checklists for co-facilitators prior to each session!

[2020-08-03 01:35] lijenn commented on #1191
Closed due to outdated work.

[2020-08-03 01:35] #1191 closed

[2020-08-03 01:46] lijenn commented on #1401
Moved to #1450 for SIM UI & Dev team to help with CI Workflow.

[2020-08-03 01:46] #1401 closed

[2020-08-03 02:31] lijenn commented on #1423
Closing as flow map was created and repos/purposes were finalized.

[2020-08-03 02:31] #1423 closed

[2020-08-03 17:13] lijenn commented on #1426
@lzim @staceypark @jamesmrollins @anthonycpichardo @anazariz @dkngenda

Hi Team! Last Friday, we discussed of trying to access our VA teams by trying to add our VA Teams Account to our Free teampsd_vha Teams Organization to link up these 2 accounts and see how that would work. This morning, we discovered features and bugs related to the Meeting Notes function.

I will need help collecting any **is

[2020-08-03 17:53] jamesmrollins commented on #1450
@branscombj @dkibbe and @lijenn **(FYI** @hirenp-waferwire)  Below are my hypothesis of features you would like, if possible, to help automate your editing tasks.

### Hypothesis

1.  A feature that would ensure the correct spelling, and the correct and consistent use of words and word phrases across all documents in a given repository in accordance with a given glossary of terms.

2.  A feature t

[2020-08-03 18:06] branscombj commented on #1450
@jamesmrollins That looks like it captures it to me!
@dlkibbe @lijenn Do you see anything he missed?

[2020-08-03 18:42] lijenn commented on #1450
@jamesmrollins This may be difficult to find, but a **feature or GH Action to compress .gif and/or image files within markdown files without reducing the quality** (Use case: #1150)

Not directly related to Facilitate, but the feature may still be helpful if it exists:
**Feature or GitHub Action that can convert pdfs or powerpoint files into a markdown file?**
This could be useful for a Bookdown M

[2020-08-03 19:01] jamesmrollins commented on #1450
@branscombj @lijenn @dlkibbe I added Jenn's requests to the main hypothesis thread above.  Thanks, James

[2020-08-03 19:26] dlkibbe commented on #1450
@jamesmrollins @branscombj @lijenn

Three other things come to mind:
1. Will the see and say (and possibly other) files contain hyperlinks to cheat sheets? If so, we want to be sure the language int he cheat sheet matches that of the directions in the say file.
2. Sessions say guides and say guide checklists were created. Is there anyway to review them "automatically" so that if we update a say gu

[2020-08-03 20:33] staceypark commented on #1437
8/3 #mm meeting w/ @branscombj @dlkibbe @dlounsbu
1. Debbie & Jane will post a draft of the Facilitate & EES weights by the end of week.
2. David will bring the authorship_app to the qual workgroup meeting on Wed 8am Pacific / 11am Eastern.

[2020-08-04 03:28] jamesmrollins commented on #1441
@dkngenda here is a copy of our discussion notes from this afternoon:

In the absence of a user-persona, I asked David questions regarding him as an "R code" user:

1.  How would you characterize your comfort level, learning new things on a computer? Depending on the software - feels very comfortable picking up new things on the computer. Technically oriented.  Like to have instruction with new th

[2020-08-04 03:30] jamesmrollins commented on #1441
### Hypothesis

1.  A feature that provide an action to automatically create a feature branch for a code update, automatically open the pull request, and notify reviewers.

[2020-08-04 04:02] jamesmrollins commented on #1442
@anazariz @anthonycpichardo @dkngenda    @hirenp-waferwire FYI

Below is a summary of a discussion regarding pain points associated with _protecting_ and managing SQL and related data:

1.  There are only production databases.  There are no concurrent DEV or TEST environment databases.  Therefore, it is impossible to test scripts and other SQL objects on other than a production database as there i

[2020-08-04 04:21] jamesmrollins commented on #1442
@anazariz @anthonycpichardo @dkngenda @hirenp-waferwire FYI

Below are some hypothesis which may help the pain points listed above:

### Hypothesis

1. Desires an action that manages branch creation, reviewer notifications, file protection/naming, and deployment of scripts from GitHub to SQL Enterprise system.
2.  Desires an action that names an SQL script file with a _TEST extension, when merging

[2020-08-04 04:25] jamesmrollins commented on #1450
@branscombj @lijenn @dlkibbe I added item 2 from Debbie's list to the Hypothesis above.  I didn't add 1 or 3 as it may already be covered in the hypothesis.  However, they both may be useful tests of the hypothesis once we get to the MVP.

[2020-08-04 18:40] anazariz commented on #1442
## Database CD/CD

**Architecture**

As we have access to a single database (per production or each research project), our CD/CD processes must create a virtual dev/test/prod environment using a single database. One way to achieve this is shown below. Each **Major Area** is discussed below.

![image](https://user-images.githubusercontent.com/39805164/89331129-1a913480-d646-11ea-8d88-73b6e244e592.p

[2020-08-05 15:30] dlounsbu commented on #1437
Qualitative
-- Systems Thinking Codebook
-- MTL Fidelity Codebook
-- CFIR Codebook

 codebook developer
 coder
 programmer rqda
 qualitative/design procedures
** We could do these 4 tasks by codebook? Or is that overkill

[2020-08-05 16:42] teampsdkathryn commented on #1437
David, I am fine with sub-dividing these tasks by codebook especially since some codebooks require input from multiple staff while others may come from one person. Best Regards, Kathryn

From: David W Lounsbury <notifications@github.com>
Sent: Wednesday, August 5, 2020 8:31 AM
To: lzim/teampsd <teampsd@noreply.github.com>
Cc: Azevedo, Kathryn J. <Kathryn.Azevedo@va.gov>; Mention <mention@noreply.g

[2020-08-05 21:58] jamesmrollins commented on #1442
-  Need more bridging between users' pain points and what is proposed above.
-  Need to integrate R workflows with SQL dependencies and visa versa
-  Would be good to describe the review process, perhaps with a mtl workflow diagram (algorithm).

[2020-08-05 22:55] staceypark commented on #1435
Two things to add to the above:
1. The file adding process will ideally be managed from the SharePoint end by the end user with no touch points needed by admin from back end Epicenter.
2. In case of any possible corruption or errors, I think there should still be some backend way to "fix" things either by way of SharePoint or Epicenter. Whichever makes more sense for possible bugs that could pop u

[2020-08-06 00:20] staceypark opened #1460 "TBD mtl.how/team photo management"
### Check off requirements to verify progress through feature_tracker.
- [ ] 1. **DEFINE in work_breakdown**
  - [ ] a. Add photo management system in Epicenter admin for mtl.how/team in the same section that we currently update our bios in. Currently, James is the only person managing the photos to adhere to the needs of the system. We would like an automatic system (think like Facebook or Instag

[2020-08-06 02:39] jamesmrollins commented on #1460
Hi @staceypark :  I have already documented this in #1246.  Can we use that or at least reference it here?

[2020-08-06 02:43] jamesmrollins commented on #1435
Hi @staceypark - Thank you for the feedback.  I will add in your number 1 above.

Regarding the quote bellow- Can you go into a little more detail please?  What do you mean by a "Backend way to "Fix" things?

[2020-08-06 05:20] jamesmrollins commented on #1450
@lijenn do you have a specific set of rules you want to use for the Markdown linter?  We are attempting to adjust the configuration of the linter, but wanted to know if there is a rule base we could use to check it out.

Thanks, James

[2020-08-06 06:17] anthonycpichardo commented on #1441
@jamesmrollins these all look good. I would add that for Assumption 1, I wouldn't only use the command line. Both Github Desktop and Rstudio have git support through GUIs that I would use in some cases.

[2020-08-06 06:22] anthonycpichardo commented on #1442
@jamesmrollins Your assumptions and hypothesis above reflect my pain points. I believe your assumptions all hold true for me.

Side note: It would also be great for the linters or other actions to perform analysis on the code for security vulnerabilities. This would be something that would be useful throughout our codebase. Especially places with external users.

[2020-08-06 06:23] jamesmrollins commented on #1441
Thanks for staying up to review this @anthonycpichardo.  I will adjust the assumption to incorporate your feedback.  When we implement the action, it will take it cue from the commit.  So it really doesn't matter from what client or web based platform you use.

[2020-08-06 06:26] jamesmrollins commented on #1442
Thanks @anthonycpichardo for your feedback.  With regard to vulnerabilities, it would be good to investigate what actions are available (there will likely be a few) and decide which we will implement.

[2020-08-06 06:26] anthonycpichardo commented on #1443
Anthony's needs for this are :
- a platform and workflow that will allow users to execute their test cases and view results/logs.
- test coverage both at the project and repository levels
- tests are run automatically based on triggers (push, merge, etc.)

[2020-08-06 06:29] jamesmrollins commented on #1442
@anazariz @anthonycpichardo  my DEV team  @hirenp-waferwire would like to meet with you to discuss this action.  There are several concerns they have where they would appreciate direct access to you as SMEs.  They are 13.5 hours ahead, but are willing to meet at a time convenient for us - perhaps first thing in the morning?

[2020-08-06 13:47] lijenn commented on #1450
@jamesmrollins We had a list of potential rules documented [here in 1364](https://github.com/lzim/teampsd/issues/1364#issuecomment-652530030) from the linter, [Markdownlint by David Anson,](https://github.com/DavidAnson/markdownlint) I got to work back in May.

**Problem:** I think we may have some nuances based on the different types of needs for the markdown linter due to differing style guide n

[2020-08-06 15:22] dkngenda commented on #1441
@jamesmrollins These look good to me also!

[2020-08-06 15:41] staceypark commented on #1450
@lzim user feedback:
It is important to use strategies and tools that will scale and last without need for high level dev maintenance long term. Not that we don't want to specify our specific rules/needs, but we don't want to use strategies that are niche.

[2020-08-06 16:04] staceypark commented on #1442
@lzim user feedback from 8/6 sim_ui meeting:
This Linter should consider both R & SQL. We've learned over the past 3 months that these need to be considered jointly rather than a laser focus on one or the other.

A meeting between TeamPSD quant team + James' dev team may be useful. Be sure to include all of Lindsey, David N., Ash, Anthony, and Stacey.

We should also consult with Jodie's team on t

[2020-08-06 16:37] lzim commented on #1441
@jamesmrollins

Cross-ref:
#1441
#1442
#1443

**FYI:**
@anthonycpichardo
@anazariz
@dkngenda
@staceypark

- **quant_workgroup** -  **R Notebook** (.rmd) SQL and R code can both be run.
from 8/6/2020 **Support Workgroup Leads"

**Team PSD GitHub Code review must be baked into our GitHub/ZenHub workflows.**
- R Notebook code annotations managed directly in GitHub or is managed in the R Studio IDE.
-

[2020-08-06 16:41] staceypark commented on #1460
closing since duplicated in #1246.

[2020-08-06 16:41] #1460 closed

[2020-08-06 17:48] dlkibbe commented on #1437
@branscombj @staceypark @lijenn
Instructions:
-Review the sub categories above in the first comment of the thread under your workgroup headings.
-If there are any scientific/research contributions that you feel are missing, add them. For questions on what constitutes a scientific or research contribution, please refer to the ICJME link at the top.
-List out all the team members who have contribute

[2020-08-06 17:48] dlkibbe commented on #1437
**MTL Live**
-- Learning Objectives
-- See Guides
-- Say Guides
-- Say Checklists
-- Pre- & Post-Checklists (meeting prep & debrief)
-- Email communication between meetings
-- Fidelity Checklists
-- Theory of Change (_does this belong here_?)

**MTL Video**
-- Accreditation
-- Creation/Recording of Videos
-- Pop-up message editing
-- Integration of VAPOR video content

MTL Live & Video learning ob

[2020-08-06 17:53] dlkibbe commented on #1437
**MTL Video**
-- Accreditation
-- Creation/Recording of Videos
-- Pop-up message editing
-- Integration of VAPOR video content

MTL Live & Video learning objectives & pre/post test
MTL Live & Video EES documentation
MTL Video facilitation, review, annotation
MTL Video recording, editing
MTL Facilitate LO, pre/post, EES documentation

[2020-08-06 19:12] lzim commented on #1281
Discussed today re: #1441 #1442 #1443

[2020-08-06 20:54] #1391 closed

[2020-08-06 23:37] staceypark commented on #608
@lzim just these 3 left now?
- [ ]  Budget/Justification
- [ ]  DAP and/or DSMB
- [ ] Quad Chart/Slide

[2020-08-06 23:40] staceypark commented on #610
@lzim @anthonycpichardo is the build finished? Or is that the thing we're having the date issues with...

[2020-08-07 01:02] staceypark commented on #833
@lzim @anthonycpichardo @lijenn
I feel like we developed different recording processes via the TeamPSD 2.0 process for user feedback as well as Zoom meeting recordings for quant videos all on YT. I think this can be closed.

[2020-08-07 01:02] #833 closed

[2020-08-07 01:05] staceypark commented on #1351
@anthonycpichardo merged all these changes last week. This documentation will need updating with our new flex/compress changes and schedule, which we can create a new card for as we get things solidified.

this particular task I believe can be closed.
@lzim @lijenn

[2020-08-07 01:05] #1351 closed

[2020-08-07 01:23] lijenn commented on #1294
From 8/3 8am WG Leads, identified work was done. Closing the card.

[2020-08-07 01:23] #1294 closed

[2020-08-07 18:14] jamesmrollins commented on #1441
Hi @lijenn @branscombj @dlkibbe !  Below is a prototype workflow to help us visualize how we could use GitHub actions in our markdown file creation and editing process.

https://app.lucidchart.com/invitations/accept/5a66143a-2b90-4d78-8f13-cc9d319de998

[2020-08-07 18:21] jamesmrollins commented on #1450
Hi @branscombj @dlkibbe @lijenn!  Below is a visual prototype to help us see an editing process that uses GitHub CI/CD actions.  Your feedback is encouraged.  Thanks James.

[Lucidchart](https://app.lucidchart.com/invitations/accept/b5954dba-ac47-40ba-8a42-499fa471b91d)

[2020-08-10 14:54] anthonycpichardo commented on #610
@lzim @staceypark This is done now.

Closing

[2020-08-10 14:54] #610 closed

[2020-08-10 17:15] lijenn commented on #1258
8AM WG Leads 8/10:
- Move to icebox as we need to pick back MTL with the field in September.
- Kelly M. had 2-3 mentors that could participate in becoming co-facilitators.

[2020-08-10 17:17] lijenn commented on #1041
8AM WG Leads 8/10:
- Have an HQ member keep an eye on this (I can do it since I was in previous contact with Public Affairs)
- Send Lindsey the video requirements to get MTL videos up on VA YouTube

[2020-08-10 17:21] lijenn commented on #1277
8AM WG Leads 8/10:
- Don't discuss with QIICS yet until maybe September depending on where MTL Fidelity will live (maybe team_tracker repo #841)

[2020-08-10 17:23] lijenn commented on #1329
8AM WG Leads 8/10:
- We can develop a MVP prototype of the documentation just so we can have something to work off of, but we should keep in mind and check in with CRM dependencies when changes are needed.

[2020-08-10 17:27] lijenn commented on #1299
8AM WG Leads 8/10:
- Review @anazariz's prototype and #841 team_tracker due to dependencies at Support WG meeting.
- Record the meeting as a MVP prototype for people missing at the Support WG and to orient those that will need to use it and can identify pain points and feedback for it.

[2020-08-10 18:18] lijenn commented on #1450
Hi @branscombj @dlkibbe! Please let us know if you have any issues understanding the MVP Lucidcharts map that James produced to show the process of the Markdown Linter and how it would work on lzim/mtl.

I know Jane will not be with us at tomorrow's Facilitate Workgroup meeting so let's see if we can address and immediate concerns asynchronously before we meet with Debbie tomorrow so we're better

[2020-08-10 18:40] branscombj commented on #1450
Hi @lijenn - I have reviewed @jamesmrollins 's flowchart. I might need some spoon-feeding to get it and be able to answer your questions. @dlkibbe If it's clearer to you, go for it!

As an aside, I experience a funky process trying to open the Lucidchart. The link takes me to a Create and Account page, which I have to get kicked through to find a Login page. Not a big deal for me, but could be for

[2020-08-10 18:58] lijenn commented on #1450
Thanks @branscombj! If that's the case, I'll see if I can simplify/redefine parts of the process's flow and language for it to look more clear and relevant to you and Debbie, probably by tying it back in with #648 at the least.

And thanks for notice about Lucidcharts! I'll keep this mind when we get the documentation up.
Please let me know if you both need the Team PSD login for it since you'll b

[2020-08-10 21:56] #1005 closed

[2020-08-10 21:58] #1301 closed

[2020-08-11 00:09] dlkibbe commented on #1450
@lijenn can you re-send me an invitation to Lucid charts or was I supposed to use LZ's log-in?
![image](https://user-images.githubusercontent.com/31182258/89843041-61e75b80-db45-11ea-8b06-2943c6204cc3.png)

[2020-08-11 00:14] lijenn commented on #1450
@dlkibbe I've re-updated the link to not require an invitation, please sign in with LZ's log-in :)

[2020-08-11 00:30] #1302 closed

[2020-08-11 20:00] anazariz commented on #1299
## CRM Phase I Refresher

**Below are two methods for handling incoming emails into the MTL Help and MTL Info Shared Exchange Mailboxes will be discussed.**

Methods:
 1. Using Microsoft Outlook only
 2. Using Microsoft Excel

## Method 1 - Using Microsoft Outlook only

Both the Facilitator and the MTL staff must have access to both Shared Exchange mailboxes. This can be verified by logging into y

[2020-08-12 22:56] lijenn commented on #1299
Question/feature to bring up to Special Forces:
Could we automate pre/post emails to go out using Dynamics?
The 'Delayed Delivery' send function in Outlook itself is not really reliable/unresponsive based on how we used it with the tt-reports.
If we could set up the pre/post emails to actually go out on time by themselves, that'd take the cognitive load off of having to remember to do it.

[2020-08-13 19:03] anthonycpichardo commented on #1427
This is done. Closing

[2020-08-13 19:03] #1427 closed

[2020-08-13 19:06] anthonycpichardo commented on #1425
@jamesmrollins  created these maps which describe the workflow:
https://app.lucidchart.com/documents/edit/17ed93aa-32e9-4a80-a0b6-de154e9978d4/rnyBtdhHAlzYp
https://app.lucidchart.com/documents/edit/47d3b943-e731-4520-8715-a115a3a51d54/FyfyXcmCcLBTD
Closing

[2020-08-13 19:06] #1425 closed

[2020-08-13 19:57] #918 closed

[2020-08-13 20:18] anthonycpichardo commented on #1363
@anazariz This document just needs to be reviewed at mtl.how/data

[2020-08-13 23:12] anthonycpichardo opened #1462 "8/21 Update SplashPage Check"
Review splashpage check file and make any changes so that it conforms to Team PSD 2.0 Standards

body of work for #626

[2020-08-14 21:44] staceypark commented on #608
Pending budget finalizations!

[2020-08-14 21:48] staceypark commented on #1437
@dlounsbu @teampsdkathryn @jessfroe @swapmush
Are there any further updates from the qual workgroup on the authorship app? I'm happy to join the qual meeting next week if need be.

[2020-08-14 22:35] lzim commented on #608
@staceypark Done!

[2020-08-14 22:35] #608 closed

[2020-08-16 15:03] dlounsbu commented on #1437
https://github.com/lzim/teampsd/issues/1437#issuecomment-669261512

Link above shows where Katheryn and I ended our discussion of this matter.

To simplify qualitative workgroup EFFORT CATEGORIES for any QUALITATIVE MANUSCRIPT, I am proposing:

EFFORT CATEGORIES (for any qual manuscript):
- (20%) qualitative/design procedures (includes code book development, RQDA setup/management)
- (20%) qualitat

[2020-08-17 15:20] anthonycpichardo opened #1466 "Session 2 & 3 Data UI Guide Updates"
Update the session 2 & 3 see/say guides as well as any cheatsheets regarding the Data_UI documentation

[2020-08-17 15:21] anthonycpichardo opened #1467 "Session 2 & 3 Splashpage Guide Updates"
Review the see and say guides. cheatsheets  both on github and on sharepoint for consistency with current TeamPSD standards and changes.

[2020-08-19 14:59] branscombj opened #1469 "wk3 aug_epic: Say Guide BUG: missing image in blue 02 say file"
**1. Add description:**
There is an icon missing or broken link to an image file in the "Done" at the top of the [S02 say file for Blue](https://github.com/lzim/mtl/blob/master/blue/session02/s02_facilitator/mtl_session02_say.md):

<< Paste screenshots here>>

**2. Click on the right:**
i. **Pipelines** - prioritize in a TeamPSD (& Workgroup) pipeline
ii. **Assignee** - assign to an individual tea

[2020-08-20 20:40] lijenn opened #1470 "August Task: Shortlinks to the TeamPSD & MTL Manual"
Task: Come up with shortlinks that are easy to remember and intuitive for everyone that would need to use the manuals.

**Team PSD Manual:**
**mtl.how/teampsd_manual** or **mtl.how/team_manual** may make sense for the TeamPSD manual.

**MTL Manual:**
**mtl.how/manual** would make the most sense since the base of the shortlink is already mtl.how.

What do you think @dlkibbe @branscombj @dlounsbu @j

[2020-08-20 21:13] branscombj commented on #1470
@lijenn

I think it has to include PSD - team is too ubiquitous these days. So yes to teampsd_manual or I'm also ok with run-ons: **mtl.how/teampsdmanual**

Yes, this makes sense to me.

[2020-08-23 15:24] branscombj opened #1472 "TeamPSD photos for archive"
I'm cleaning up my iCloud storage and would like to put these somewhere in case they're of interest for the history books ;-).

[2018_Nov_MTL_Video_Shoot.zip](https://github.com/lzim/teampsd/files/5114172/2018_Nov_MTL_Video_Shoot.zip)
[2018_Sept_MTL_Facilitate_Pilot.zip](https://github.com/lzim/teampsd/files/5114175/2018_Sept_MTL_Facilitate_Pilot.zip)

@staceypark @lijenn @dlkibbe @dlounsbu @lzim

[2020-08-23 18:59] anthonycpichardo commented on #1467
lzim/mtl#125

[2020-08-23 18:59] anthonycpichardo commented on #1466
lzim/mtl#125

[2020-08-23 19:17] anthonycpichardo commented on #1462
will be uploaded to mtl_operations and ready for review 8/24

[2020-08-23 19:25] anthonycpichardo commented on #1457
Special forces team has COVID constraints and has put this project on hold. Moving to icebox

[2020-08-24 14:08] #787 closed

[2020-08-24 14:08] #788 closed

[2020-08-24 14:09] #789 closed

[2020-08-25 03:39] anthonycpichardo commented on #675
This changes refer to the data changes needed when prepping data for R01_IIR. Moving to epic backlog until we resolve r21.

[2020-08-26 19:24] staceypark commented on #814
@lzim

[2020-08-26 19:26] staceypark commented on #814
@lzim FYI @lijenn
Is it important in our programming of the measures to RedCap that:
1. The measures appear in a certain order?
2. The measures appear as one long survey versus you finish measure 1 > links to measure 2 > links to measure3?

[2020-08-27 16:03] lijenn commented on #1470
Shortlinks are now at https://mtl.how/teampsd_manual and https://mtl.how/manual.
Thanks everyone :)!